<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>忘記密碼｜臺銀人壽經代專區</title>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n1 inlineBlock float-left">保單網路服務<span class="colorBlue">忘記密碼</span></div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </header>
    <section class="grey fullContent">
        <div class="container bg3 box-border no-borderTop">
            <ul class="step">
                <li class="step1 active col-xs-4">
                    <span class="mobile">步驟 </span> 1<span class="hid1">. 輸入用戶名稱</span>
                </li>
                <li class="step2 col-xs-4">
                    <span class="mobile">步驟 </span> 2<span class="hid1">. 輸入驗證碼</span>
                </li>
                <li class="step3 col-xs-4">
                    <span class="mobile">步驟 </span> 3<span class="hid1">. 設定新密碼</span>
                </li>
            </ul>
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 mobile-panel h300" style="z-index: 999;">
                <div class="cert1">
                    <h2>請輸入用戶名稱</h2>
                    <input type="text" class="form-control" id="InputAccount" placeholder="如忘記用戶名稱，請聯絡客服中心" autocomplete="off" />
                </div>
                
                <div class="form-group" style="margin: 16px 4px 0 0;">
					<label for="inputPassword3" class="control-label">驗證碼</label>
					<div class="">
						<input type="text" name="validateCode" id="validateCode" autocomplete="off" placeholder="輸入驗證碼" class="form-control  float-left w70p" style="width:50%" maxlength="4" />
						&nbsp;&nbsp;&nbsp;
						<img id="validateImage" th:src="'data:image/png;base64, ' + ${validateImageBase64}" style="height:33px;cursor:pointer;" alt="點擊圖片重新讀取驗証碼"></img>
					</div>
				</div>
            </div>
			
            <div class="col-md-12 two-buttons">
                <a href="login">
                    <button id="deny" class="btn-signup">取消
                    </button>
                </a>
                <a>
	                <button id="goNext" class="go btn-signup">下一步
	                </button>
                </a>
                <div hidden="true">
                    <button id="go" class="btn-signup" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-container-deleteConfirm">下一步</button>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/footer"></footer>


    <div class="modal fade in" id="modal-container-deleteConfirm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content lock-up">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body apply2 center1 grey2">
                    <h3>系統將發送驗證碼</h3>
                    <p class="item360 text-center" style="margin:auto">
                        按下確定後，系統將發送驗證碼至您的手機，請在手機簡訊中查閱驗證碼
                    </p>
                    <p class="marginTop20">
                        <a href="#">
                            <button class="btn-login lock2" id="deny" data-dismiss="modal">取消</button>
                        </a>
                        <a href="#">
                            <button id="sendAuthentication" class="btn-login lock2">確定</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/script"/>
    
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		$('#goNext').click(function(){
			if(!$('#InputAccount').val()){
	    		//openAlert("請輸入帳號");
	   			openAlert($('#E0012').val());
	    		return;
	    	}

	    	if ($('#validateCode').val() == '') {
				//openAlert('請輸入圖形驗證碼');
				openAlert($('#E0008').val());
				return false;
			}

	    	var userVo = JSON.stringify
	    	({ 
	    		'userId'       : $('#InputAccount').val(),
            	'validateCode' : $('#validateCode').val()
	    	});

	    	$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				url : "/eservice/register/getUserByAccount",
				data : userVo,
				success : function(response) {
					console.log(response);
					if(response.resultMsg != ""){
						openAlert(response.resultMsg);
						return;
					}
					$("#go").trigger('click');
				},
				error : function() {
					openAlert('error!')
				}
	    	});
		});

		$('#sendAuthentication').click(function(){
	    	$('#modal-container-deleteConfirm').modal('hide');
	    	popupLoading();
	    	$.ajax({
				type : 'POST',
				//contentType : 'application/json',
				dataType : 'json',
				url : "/eservice/sendAuthentication",
				data : {
					authenticationType:"forget"
				},
				success : function(response) {
					if(response.result == 'SUCCESS'){
						window.location.href = "/eservice/password2";
					} else{
						openAlert(response.resultMsg);
						removeLoading();
					}
				},
				error : function() {
					openAlert('error!')
			    	removeLoading();
				}
	    	});
		});
		
		var validateImageUrl = /*[[@{/getVerify}]]*/;
		$('#validateImage').click(function() {
			this.src = validateImageUrl + '?r=' + Math.random();
		});
		$('#validateImage').click();

	});
	
	function reloadValidateImage() {
		$('#validateImage').click();
	}

	setInterval ("reloadValidateImage()", 60000 * 10);
	
    /*]]>*/
	</script>

</body>

</html>