<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>開通註冊帳號｜臺銀人壽經代支援系統</title>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n1 inlineBlock float-left">經代支援系統<span class="colorBlue">忘記密碼</span></div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </header>
    <section class="grey fullContent">
        <div class="container bg3 box-border">
            <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
                <div class="activated">
                    <figure><img src="img/check1.png" alt="check"/></figure>
                    <h2>密碼已變更成功！</h2>
                    <p>下次登入請使用新密碼！</p>
                </div>
            </div>
            <div class="col-md-12 center1">
                <a href="login">
                    <button id="go" class="btn-form btn-signup">回首頁重新登入
                    </button>
                </a>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>