<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>忘記密碼｜經代專區</title>
    <style>
    .popover > .popover-content {
        padding: 9px 14px;
    }
    
    .popover > .popover-content > .title,
    .popover > .popover-title {
        background: #f7f7f7;
    }
    </style>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n1 inlineBlock float-left">經代專區<span class="colorBlue">忘記密碼</span></div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </header>
    <section class="grey fullContent">
        <div class="container bg3 box-border no-borderTop">
            <ul class="step">
                <li class="step1 col-xs-4">
                    <span class="mobile">步驟 </span> 1<span class="hid1">. 輸入用戶名稱</span>
                </li>
                <li class="step2 active col-xs-4">
                    <span class="mobile">步驟 </span> 2<span class="hid1">. 輸入驗證碼</span>
                </li>
                <li class="step3 col-xs-4">
                    <span class="mobile">步驟 </span> 3<span class="hid1">. 設定新密碼</span>
                </li>
            </ul>
            <div class="col-sm-6 col-sm-offset-3 mobile-panel">
                <th:block th:replace="fragments/sendSMS"/>
            </div>
            <div class="col-md-12 two-buttons">
                <a href="password1">
                    <button id="deny" class="btn-signup">上一步
                    </button>
                </a>
                <a href="#">
                    <button class="go btn-signup" style="background-color: #CC7A00" onclick="checkAuthentication()">下一步
                    </button>
                </a>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/footer"></footer>
    <th:block th:replace="fragments/script"/>
    <script>
    function checkAuthentication(){
    	var data = {
    		authenticationType : "forget",
    		authenticationNum : $("#InputCert1").val()
    	}
    	$.ajax({
    		type : 'POST',
    		contentType : 'application/json',
    		url : "register/checkAuthentication",
    		data : JSON.stringify(data),
    		success : function(response) {
    			if(response.resultMsg != ""){
    				openAlert(response.resultMsg);
					return;
				}
    			window.location.href = "password3";
    		},error : function() {
    			openAlert('error!');
    		}
    	});
    }
    </script>
</body>

</html>