<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>減少保險金額｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">申請減少保險金額</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 申請減少保險金額
			</div>
			<div class="">
				<ul class="step">
					
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 輸入保險金額</span>
					</li>
					<li class="step3 active col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3 loan1">
				<h2>請確認資料並輸入驗證碼</h2>
				<div class="check-title">原保險金額</div>
				<div class=" grey2">
					<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack" id="policyTable">
						<thead>
							<tr class="table2 orange2">
								<th class="text-left item180" scope="col" data-tablesaw-sortable-col="保單號碼" data-tablesaw-priority="persist">保單號碼</th>
								<th class="text-left" scope="col" data-tablesaw-sortable-col="險種名稱" data-tablesaw-priority="">險種名稱</th>
								<th class="text-left" scope="col" data-tablesaw-sortable-col="契約種類" data-tablesaw-priority="">契約種類</th>
								<th class="text-right" scope="col" data-tablesaw-sortable-col="原始保額 " data-tablesaw-priority="">原始保額</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${transReducePolicyVo !=null and transReducePolicyVo.transReducePolicyDtlList != null}">
								<th:block th:each="vo : ${transReducePolicyVo.transReducePolicyDtlList}">
									<tr>
										<td class="text-left">
											<th:block th:text="${vo.policyNo}"/>
										</td>
										<td class="text-left">
											<th:block th:text="${vo.productName}"/>
										</td>
										<td class="text-left">
											<th:block th:text="${vo.contractType}"/>
										</td>
										<td class="text-right">
											<th:block th:text="${vo.contractAmountOld != null}
												? ${#numbers.formatDecimal(vo.contractAmountOld, 0, 'DEFAULT', 0, 'COMMA')}
												: '&nbsp;'"/>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="center1 ptop30"><img src="img/arrow-down.png" id="img-trans"/>
				</div>
				<div class="check-title">申請後保險金額</div>
				<div class=" grey2">
					<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
						<thead>
							<tr class="table2 orange2">
								<th class="text-left item180" scope="col" data-tablesaw-sortable-col="保單號碼" data-tablesaw-priority="persist">保單號碼</th>
								<th class="text-left" scope="col" data-tablesaw-sortable-col="險種名稱" data-tablesaw-priority="">險種名稱</th>
								<th class="text-left" scope="col" data-tablesaw-sortable-col="契約種類" data-tablesaw-priority="">契約種類</th>
								<th class="text-right" scope="col" data-tablesaw-sortable-col="欲變更保險金額" data-tablesaw-priority="">欲變更保險金額</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${transReducePolicyVo !=null and transReducePolicyVo.transReducePolicyDtlList != null}">
								<th:block th:each="vo : ${transReducePolicyVo.transReducePolicyDtlList}">
									<tr>
										<td class="text-left">
											<th:block th:text="${vo.policyNo}"/>
										</td>
										<td class="text-left">
											<th:block th:text="${vo.productName}"/>
										</td>
										<td class="text-left">
											<th:block th:text="${vo.contractType}"/>
										</td>
										<td style="font-size:22px;color:blue;" class="text-right">
											<th:block th:text="${vo.contractAmount != null}
												? ${#numbers.formatDecimal(vo.contractAmount, 0, 'DEFAULT', 0, 'COMMA')}
												: '&nbsp;'"/>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
				<th:block th:replace="fragments/sendSMS"/>
				<div class="col-md-12 two-buttons">
					<button id="deny" class="btn-signup">上一步</button>
					<button id="go" class="btn-signup">確認送出</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = {};
		formData.policyNoList = /*[[${transReducePolicyVo.policyNoList}]]*/;
		formData.transReducePolicyDtlJsonData = /*[[${transReducePolicyVo.transReducePolicyDtlJsonData}]]*/;
	
		$(function() {
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/paymentReduce2}]]*/, formData);
			});
			
			// 確認送出
			$('#go').click(function() {
				if ($('#InputCert1').val() == '') {
					/* openAlert("請輸入驗證碼"); */
					openAlert($('#E0071').val());
					return false;
				}
				
				formData.authenticationNum = $('#InputCert1').val();
				postWithFormData(/*[[@{/paymentReduceSuccess}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>