<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>開通註冊帳號｜臺銀人壽保單網路服務</title>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n0 inlineBlock float-left">保單網路服務<span class="colorBlue">&nbsp;加入會員</span></div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </header>
    <section class="grey fullContent">
        <div class="container bg3 box-border">
            <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
                <div class="activated">
                    <figure><img src="img/check1.png" alt="check"/></figure>
                    <h2>會員帳號已申請成功！</h2>
                    <p>下次登入請使用您設定的用戶名稱與密碼！</p>
                </div>
            </div>
            <div class="col-md-12 center1">
                <a href="/eservice/login">
                    <button id="go" class="btn-form btn-signup">回首頁重新登入</button>
                </a>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/footer"></footer>
    
    <th:block th:replace="fragments/script"/>
   
    <!-- script src="plugin/jquery-1.11.3.min.js"></script>
    <script src="plugin/jquery.placeholder.min.js"></script>
    <script src="plugin/detectmobilebrowser_jquery.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/Chart.js"></script>
    <script src="plugin/bootstrap.min.js"></script>
    <script src="plugin/scrollbar.js"></script>
    <script src="js/popover.js"></script -->
    
    <script>
    $(function(){
        $('input, textarea').placeholder();
    });
    </script>
</body>

</html>