<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>更改基本資料｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更基本資料</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更基本資料
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 active col-xs-6">
						1<span class="hid1">. 變更資料</span>
					</li>
					<li class="step3 col-xs-6">
						2<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請輸入欲變更的基本資料</h2>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">姓名：</div>
					<div class="col-sm-8">
						<th:block th:if="${loginUserType eq 'member'}">
							<th:block th:if="${session.USER_DETAIL == null}">
								<th:block th:text="${session.LOGIN_USER_ID}"/>
							</th:block>
							<th:block th:if="${session.USER_DETAIL != null}">
							    <th:block th:switch="${session.USER_DETAIL.userNameBase64 == ''}">
								    <th:block th:case="false">
									    <img th:width="${session.USER_DETAIL.userNameBase64 != null} ? ${#strings.length(session.USER_DETAIL.userNameBase64) * 20}" height="23px" th:src="|data:image/svg+xml;base64, ${session.USER_DETAIL.userNameBase64}|" />
								    </th:block>
									<th:block th:case="true">
									    <th:block th:text="${session.USER_DETAIL.userName}"/>
									</th:block>
							    </th:block>
							</th:block>
						</th:block>
						
						<th:block th:if="${loginUserType eq 'admin'}">
							<span>內部人員帳號</span>
						</th:block>
						
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">手機號碼：</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="col-sm-9" id="mobile" WORDING_NA101
							th:placeholder="範例：0987654321" maxlength="10"
							data-validation="mobile"
							th:value="${transCustInfoVo != null} ? ${transCustInfoVo.mobileOld}"/>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2"> 電子信箱：</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="col-sm-9" id="email" maxlength="100"
							placeholder="範例：test@gmail.com" 
							data-validation="optionalRequiredOne::#mobile,#email::手機號碼、電子信箱必須至少輸入一項|mail"
							th:value="${transCustInfoVo != null} ? ${transCustInfoVo.emailOld}"/>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-5 col-sm-offset-2">
						<label>線上申請進度通知方式：</label>
					</div>
					<div class="col-sm-2">
						<i>
							<div id="smsFlagDiv" class="check-box" th:classappend="${#strings.equals(transCustInfoVo.smsFlagOld,'1')} ? 'checkedBox'">
								<i>
									<th:block th:if="${#strings.equals(transCustInfoVo.smsFlagOld,'0')}">
										<input type="checkbox" id="smsFlag" value="0"/>
									</th:block>
									<th:block th:if="${#strings.equals(transCustInfoVo.smsFlagOld,'1')}">
										<input type="checkbox" id="smsFlag" value="1" checked="checked"/>
									</th:block>
								</i>
							</div>
						</i><span id="smsFlagText" style="cursor: pointer;">手機簡訊</span>
					</div>
					<div class="col-sm-2">
						<i>
							<div id="mailFlagDiv" class="check-box" th:classappend="${#strings.equals(transCustInfoVo.mailFlagOld,'1')} ? 'checkedBox'">
								<i>
									<th:block th:if="${#strings.equals(transCustInfoVo.mailFlagOld,'0')}">
										<input type="checkbox" id="mailFlag" value="0"/>
									</th:block>
									<th:block th:if="${#strings.equals(transCustInfoVo.mailFlagOld,'1')}">
										<input type="checkbox" id="mailFlag" value="1" checked="checked"/>
									</th:block>
								</i>
							</div>
						</i><span id="mailFlagText" style="cursor: pointer;">電子郵件</span>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="wht">
						<p class="text-ps">※本功能變更之手機號碼或電子信箱僅提供線上申請時取得一次性驗證碼及通知用，並非更新保單所留存的個人資料，若您需更新保單資料請下載申請書後郵寄或臨櫃申請。</p>
						<p style="margin: 10px 0 0 0;"><a href="https://www.twfhclife.com.tw/wp-content/uploads/%E4%BF%9D%E9%9A%AA%E5%A5%91%E7%B4%84%E5%85%A7%E5%AE%B9%E8%AE%8A%E6%9B%B4%E7%94%B3%E8%AB%8B%E6%9B%B8.pdf" target="_blank"><i class="fas fa-download"></i> 下載契約變更申請書</a></p>
                    	<p style="margin: 10px 0 0 0;"><a href="https://www.twfhclife.com.tw/wp-content/uploads/%E5%A1%AB%E5%AF%AB%E7%AF%84%E4%BE%8B1.pdf" target="_blank"><i class="fas fa-download"></i> 填寫範例</a></p>
					</div>
				</div>
				<th:block th:if="${loginUserType != 'member'}">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="wht">
							<p class="text-ps" style="font-weight:60">※欲開啟更多功能使用權限，請<a href="changeMember" class="orange-link underline" style="font-size:14px">升級保戶會員</a></p>
						</div>
					</div>
				</th:block>
				<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_NA101'] != null} 
					? ${session.PAGE_WORDING['WORDING_NA101'].parameterValue}"/>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a href="apply1">
						<button id="deny" class="btn-signup">取消</button>
					</a>
					<button id="go" class="btn-signup">下一步</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script src="js/eservice/form.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCustInfoVo}]]*/;
		$(function() {
			$('div.mystyle3').validation();
			
			// 點選checkbox 變更value
			$('div.check-box').click(function() {
				if ($(this).hasClass('checkedBox')) {
					$(this).find('input[type=checkbox]').val('1');
				} else {
					$(this).find('input[type=checkbox]').val('0');
				}
			});
			
			// 點選文字自動勾選
			$('#smsFlagText').click(function() {
				$('#smsFlagDiv').click();
			});
			$('#mailFlagText').click(function() {
				$('#mailFlagDiv').click();
			});
			
			$('#go').click(function() {
				if (!$('div.mystyle3').valid()) {
					return false;
				}
				
				// 檢查是否有修改資料
				var isUpdate = false;
				if ($('#mobile').val() != emptyIfNull(formData.mobileOld)) {
					isUpdate = true;
				}
				if ($('#email').val() != emptyIfNull(formData.emailOld)) {
					isUpdate = true;
				}
				if ($('#smsFlag').val() != emptyIfNull(formData.smsFlagOld)) {
					isUpdate = true;
					if($('#smsFlag').val() == '1' && $('#mobile').val() == ''){
						/* openAlert('請輸入手機號碼'); */
						openAlert($('#E0064').val());
						return false;
					}
				}
				if ($('#mailFlag').val() != emptyIfNull(formData.mailFlagOld)) {
					isUpdate = true;
					if($('#mailFlag').val() == '1' && $('#email').val() == ''){
						/* openAlert('請輸入電子信箱'); */
						openAlert($('#E0065').val());
						return false;
					}
				}
				if (!isUpdate) {
					/* openAlert('必須至少要有一項修改!'); */
					openAlert($('#E0066').val());
					return false;
				}
				
				formData.mobile = $('#mobile').val();
				formData.email = $('#email').val();
				formData.smsFlag = $('#smsFlag').val();
				formData.mailFlag = $('#mailFlag').val();
				
				postWithFormData(/*[[@{/changeInfo2}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>