<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<div class="col-sm-12 hid-title2">
					<th:block th:if="${session.USER_DETAIL == null}">
						<th:block th:text="${session.LOGIN_USER_ID}"/>
					</th:block>
					<th:block th:if="${session.USER_DETAIL != null}">
						<th:block th:text="${session.USER_DETAIL.userName}"/>
					</th:block>
				</div>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">申請編號</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.transNum}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">被保險人身分證字號</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.idno}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">被保險人姓名</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.name}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">性別</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.sex}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">出生年月日</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.birdate}"/></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div class="col-sm-12 hid-title3">
	<i class="fas fa-chevron-down fa orange"></i>
</div>
<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">身故原因</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.conName}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">身故日期</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.condate}"/></td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">通知日期與時間</th>
							<td><th:block th:text="${transDnsDetail != null} ? ${transDnsDetail.createDate}"/></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>