<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>保單進度及照會管理｜臺銀人壽經代專區</title>
    <link rel="shortcut icon" href="assets/img/favor-icon.png">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/atlantis.css" rel="stylesheet">
    <link href="assets/css/icon.css" rel="stylesheet">
    <link href="assets/css/layout.css" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="stylesheet" href="assets/css/bootstrap-icons.css">

    <link rel="stylesheet" href="assets/css/tablesaw.stackonly.css">
    
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">保單進度及照會管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="caseInquiry.html">案件進度查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left">
				                    <div class="my1 marginTop20">
				                        <p class="pull-left visible-xs">
				                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
				                        </p>
				                        <i class="foo-business_7 foo-2x hidden-xs"></i> 增值分紅養老壽險
				                        <span class=""></span><span class="insuranceID_pc">(1450009053)</span>
				                        <div class="dropdown pull-right r30">
				                        	<a class="nav-link" href="caseInquiry.html" style="color: #FFFFFF;">回保單查詢結果清單</a>
				                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				                                <i class="hidden-xs r31">其他保單</i>
				                                <i class="foo-down-dir r32"></i>
				                            </button>
				                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">慶福還本終生保險 
				                        (AD30000598)</a></li>
				                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">鴻福還本終身壽險 
				                        (3110109193)</a></li>
				                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">臺銀人壽長富人生利率變動型年金保險 
				                        (UC70000001)</a></li>
				                            </ul>
				                        </div>
				                        <div class="insuranceID_phone">(UC70000001)</div>
				                    </div>
				                    <div class="list col-md-12">
				                        <div class="box-border">
				                        	<a href="caselisting1.html">
				                                <div class="col-xs-4 folder active">案件進度</div>
				                            </a>
				                            <a href="caselisting2.html">
				                                <div class="col-xs-4 folder">保單資訊</div>
				                            </a>
				                            <a href="caselisting3.html">
				                                <div class="col-xs-4 folder ">照會資訊</div>
				                            </a>
				
				                            <div class="mobile-toggle-panel  marginTop60">
				                                <div class="row">
				                                    <div class="col-sm-12">
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">保單號碼</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單號碼</b> <span class="mobile-span">1450009053</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">申請日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">申請日期</b> <span class="mobile-span">2021/08/23</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">受理日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">受理日期</b> <span class="mobile-span">2021/09/23</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">受理單位</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">受理單位</b> <span class="mobile-span">臺銀人壽</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">代理人代號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">代理人代號</b> <span class="mobile-span">WWA144180006</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">案件關卡狀態</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">案件關卡狀態</b> <span class="mobile-span">核保作業</span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">被保險人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人</b> <span class="mobile-span">陳文倫</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">要保險人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保險人</b> <span class="mobile-span">陳文倫</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">被保險人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人身分證號</b> <span class="mobile-span">A123456789</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">要保險人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保險人身分證號</b> <span class="mobile-span">A123456789</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">契約狀態</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">契約狀態</b> <span class="mobile-span">有效</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"></th>
				                                                        <td><b class="tablesaw-cell-label mobile-b"></b> <span class="mobile-span">&nbsp;</span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                    </div>
				                                </div>
				                                <div class="clearfix"></div>
				                            </div>
				          
				                         </div>
				                        <div class="ps-area">
				                            <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
				                            </p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

</div>
<!--   Core JS Files   -->
	<script src="assets/js/core/jquery-1.11.3.min.js"></script>
	<script src="assets/js/core/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	
	<script src="assets/js/demo.js"></script>
	<!-- jQuery UI -->
	<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Chart JS -->
	<script src="assets/js/plugin/chart.js/chart.min.js"></script>
   <!-- tablesaw -->
	<script src="assets/js/atlantis.js"></script>
	<script src="assets/js/tablesaw.stackonly.js"></script>
	<!--popover-->
	<script src="assets/js/scrollbar.js"></script>
	<script src="assets/js/popover.js"></script>
	<!--menu-->
	<script src="assets/js/offcanvas.js"></script>
	<script src="assets/js/according.js"></script>
</body>

</html>
