<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <th:block th:replace="fragments/head"/>
    <link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
    <div th:replace="fragments/header :: top"></div>
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
        <div class="content">
            <div class="page-inner">
                <div class="mt-2 mb-4">
                    <ul class="breadcrumb detail1">
                        <li>
                            <a href="#">案件管理 </a> <i class="fa fa-angle-right fa-lg ble"></i>
                        </li>
                        <li class="active">
                            <a href="caseInquiry.html">保單進度及照會查詢</a>
                        </li>
                    </ul>
                </div>
                <div class="row mb-4" style="padding: 0 15px">
                    <!---->
                    <div class="grey listing1 fullContent">
                        <div class="bg3 list1">
                            <div class="mycigna3 listing-area">
                                <div class="row-offcanvas row-offcanvas-left">
                                    <div class="my1 marginTop20">
                                        <p class="pull-left visible-xs">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"
                                                    id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
                                        </p>
                                        <i class="foo-business_7 foo-2x hidden-xs"></i>
                                        <th:block th:text="${vo.policyType}"></th:block>
                                    </div>
                                    <div class="list col-md-12">
                                        <div class="box-border">
                                            <a th:onclick="'javascript:postPolicyListType(\'caselisting1\',\'' + ${policyNo} + '\');'">
                                                <div class="col-xs-4 folder">案件進度</div>
                                            </a>
                                            <a th:onclick="'javascript:postPolicyListType(\'caselisting2\',\'' + ${policyNo} + '\');'">
                                                <div class="col-xs-4 folder active">保單資訊</div>
                                            </a>
                                            <a th:onclick="'javascript:postPolicyListType(\'caselisting3\',\'' + ${policyNo} + '\');'">
                                                <div class="col-xs-4 folder ">照會內容</div>
                                            </a>

                                            <div class="mobile-toggle-panel">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6 nopd all-left-list">
                                                            <table class="tablesaw tablesaw-stack no-border wht col-table"
                                                                   data-tablesaw-mode="stack">
                                                                <tbody>
                                                                <tr class="noEvent borderTop">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="persist">險種名稱
                                                                    </th>
                                                                    <td><b class="tablesaw-cell-label mobile-b">險種名稱</b>
                                                                        <span class="mobile-span"
                                                                              th:text="${vo.policyType != null && #strings.trim(vo.policyType) != '' ? vo.policyType : '&nbsp;'}"></span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="1">受理編號
                                                                    </th>
                                                                    <td>
                                                                        <b class="tablesaw-cell-label mobile-b">受理編號</b>
                                                                        <span class="mobile-span"
                                                                              th:text="${vo.accDocNo != null && #strings.trim(vo.accDocNo) != '' ? vo.accDocNo : '&nbsp;'}"></span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="3">首期保費
                                                                    </th>
                                                                    <td>
                                                                        <b class="tablesaw-cell-label mobile-b">首期保費</b>
                                                                        <span class="mobile-span" th:text="${vo.prmeNewOldSW != null && #strings.trim(vo.prmeNewOldSW) != '' ? vo.prmeNewOldSW : '&nbsp;'}"></span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="4">繳別
                                                                    </th>
                                                                    <td><b class="tablesaw-cell-label mobile-b">繳別</b>
                                                                        <span class="mobile-span"
                                                                              th:text="${(vo.payType != null && #strings.trim(vo.payType) != '' ) ? session.SYSTEM_PARAMETER['PAYMODE_TYPE'][vo.payType].parameterValue : ''}"></span></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-6 nopd all-left-list">
                                                            <table class="tablesaw tablesaw-stack no-border wht col-table"
                                                                   data-tablesaw-mode="stack">
                                                                <tbody>
                                                                <tr class="noEvent borderTop">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="persist">保單號碼
                                                                    </th>
                                                                    <td>
                                                                        <b class="tablesaw-cell-label mobile-b">保單號碼</b>
                                                                        <span class="mobile-span" th:text="${vo.policyNo != null && #strings.trim(vo.policyNo) != '' ? vo.policyNo : '&nbsp;'}"></span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="1">保額
                                                                    </th>
                                                                    <td><b class="tablesaw-cell-label mobile-b">保額</b>
                                                                        <span class="mobile-span" th:text="${vo.PolicyAmountNTD != null && #strings.trim(vo.PolicyAmountNTD) != '' ? vo.PolicyAmountNTD : '&nbsp;'}"></span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="2">繳費方式
                                                                    </th>
                                                                    <td>
                                                                        <b class="tablesaw-cell-label mobile-b">繳費方式</b>
                                                                        <span class="mobile-span">
                                                                            <th:block th:if="${vo.paymentMode=='3'}">郵局劃撥</th:block>
                                                                            <th:block th:if="${vo.paymentMode=='A'}">銀行(郵局)轉帳</th:block>
                                                                            <th:block th:if="${vo.paymentMode=='H'}">信用卡</th:block>
                                                                            <th:block th:if="${vo.paymentMode=='Y'}">匯款</th:block>
                                                                            <th:block th:if="${vo.paymentMode == null || #strings.trim(vo.paymentMode) == ''}">&nbsp;</th:block>
                                                                        </span></td>
                                                                </tr>
                                                                <tr class="noEvent">
                                                                    <th class="hid1 hid2" scope="col"
                                                                        data-tablesaw-sortable-col
                                                                        data-tablesaw-priority="4"></th>
                                                                    <td><b class="tablesaw-cell-label mobile-b"> </b>
                                                                        <span class="mobile-span">&nbsp;</span></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>


                                            <!-- <div class="ps-area">
                                                <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
                                                </p>
                                            </div> -->

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <!--要保人-->
                                                    <div class="tb3 top0 mobile-toggle" data-toggle="true">
                                                        <i class="fa hid2 foo-angle-down mobile"></i>
                                                        <i class="fa foo-angle-up hid1"></i> 要保人
                                                    </div>
                                                    <div class="mobile-toggle-panel toggle-hide">
                                                        <table class="tablesaw tablesaw-stack no-border wht col-table"
                                                               data-tablesaw-mode="stack">
                                                            <tbody>
                                                            <tr class="noEvent borderTop">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="persist">姓名
                                                                </th>
                                                                <td><b class="tablesaw-cell-label mobile-b">姓名</b>
                                                                    <span class="mobile-span" th:text="${vo.appName != null && #strings.trim(vo.appName) != '' ? vo.appName : '&nbsp;'}"></span></td>
                                                            </tr>
                                                            <tr class="noEvent">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="1">身分證字號
                                                                </th>
                                                                <td>
                                                                    <b class="tablesaw-cell-label mobile-b">身分證字號</b>
                                                                    <span class="mobile-span" th:text="${vo.appId != null && #strings.trim(vo.appId) != '' ? vo.appId : '&nbsp;'}"></span></td>
                                                            </tr>
                                                            <tr class="noEvent">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="3">生日
                                                                </th>
                                                                <td><b class="tablesaw-cell-label mobile-b">生日</b>
                                                                    <span class="mobile-span" th:text="${vo.appBirth != null && #strings.trim(vo.appBirth) != '' ? vo.appBirth : '&nbsp;'}"></span></td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <!--END 要保人-->
                                                    <div class="tb3 top0 mobile-toggle" data-toggle="true">
                                                        <i class="fa hid2 foo-angle-down mobile"></i>
                                                        <i class="fa foo-angle-up hid1"></i> 被保險人
                                                    </div>
                                                    <div class="mobile-toggle-panel toggle-hide">
                                                        <table class="tablesaw tablesaw-stack no-border wht col-table"
                                                               data-tablesaw-mode="stack">
                                                            <tbody>
                                                            <tr class="noEvent borderTop">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="persist">姓名
                                                                </th>
                                                                <td><b class="tablesaw-cell-label mobile-b">姓名</b>
                                                                    <span class="mobile-span" th:text="${vo.insName != null && #strings.trim(vo.insName) != '' ? vo.insName : '&nbsp;'}"></span></td>
                                                            </tr>
                                                            <tr class="noEvent">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="1">身分證字號
                                                                </th>
                                                                <td>
                                                                    <b class="tablesaw-cell-label mobile-b">身分證字號</b>
                                                                    <span class="mobile-span" th:text="${vo.insId != null && #strings.trim(vo.insId) != '' ? vo.insId : '&nbsp;'}"></span></td>
                                                            </tr>
                                                            <tr class="noEvent">
                                                                <th class="hid1 hid2" scope="col"
                                                                    data-tablesaw-sortable-col
                                                                    data-tablesaw-priority="3">生日
                                                                </th>
                                                                <td><b class="tablesaw-cell-label mobile-b">生日</b>
                                                                    <span class="mobile-span" th:text="${vo.insBirth != null && #strings.trim(vo.insBirth) != '' ? vo.insBirth : '&nbsp;'}"></span></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mobile-toggle-panel toggle-hide">
                                                <table class="tablesaw tablesaw-stack wht table4row"
                                                       data-tablesaw-mode="stack">

                                                    <tbody>
                                                    <tr class="h65 noEvent">

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="ps-area">
                                            <p class="text-ps">
                                                ※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer"></footer>
</body>

</html>
