<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
	<link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">案件管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="caseQuery">保單進度及照會查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left" >
				                    <div class="my1 marginTop20" style="font-weight: 600;">
				                        <p class="pull-left visible-xs">
				                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
				                        </p>
				                        <i class="foo-business_7 foo-2x hidden-xs"></i>
										<th:block th:text="${policyName}"></th:block>
										<div class="dropdown pull-right r30">
											<th:block th:if="${parentUrl == 'personalCaseListing1'}">
												<a class="btn-return" href="returnDashboard">回送件列表</a>
											</th:block>
											<th:block th:if="${parentUrl == 'caselisting1'}">
												<a class="btn-return" href="returnCase">回案件進度查詢</a>
											</th:block>
										</div>
				                    </div>
				                    <div class="list col-md-12">
				                        <div class="box-border">
											<a th:onclick="'javascript:postCaseListing(\'caselisting1\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
												<div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder">案件進度</div>
											</a>
											<a th:onclick="'javascript:postCaseListing(\'caselisting2\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
												<div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder ">保單資訊</div>
											</a>
											<a th:onclick="'javascript:postCaseListing(\'caselisting3\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
												<div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder active">照會內容</div>
											</a>
				                         <!-- 照會清單-->
				                           
				                            <div class="tb3 top0 mobile-toggle" data-toggle="true" style="font-weight: 600;">
				                                <i class="fa hid2 foo-angle-down mobile"></i>
				                                <i class="fa foo-angle-up hid1"></i> 照會清單
				                            </div>
				                            <div class="mobile-toggle-panel toggle-hide">
				                                <table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
				                                    <thead>
				                                        <tr class="table2 noEvent">
				                                            <th scope="col" class="text-left item300">序號</th>
				                                            <th scope="col" class="item300">要保人</th>
				                                            <th scope="col" class="item300">被保險人</th>
				                                            <th scope="col" class="item360">照會日期</th>
				                                            <th scope="col" class="item360">主約險種</th>
				                                            <th scope="col" class="item300">照會狀態</th>
				                                            <th scope="col" class="item300">照會單</th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                        <tr class="h65 noEvent" th:each="vo,voStat : ${list}">
				                                            <td class="table3" th:text="${voStat.index + 1}"></td>
				                                            <td class="table3" th:text="${vo.appName}"></td>
				                                            <td class="table3" th:text="${vo.insName}"></td>
				                                            <td class="table3" th:text="${vo.printDate}"></td>
				                                            <td class="table3" th:text="${vo.policyType}"></td>
				                                            <td class="table3" >
																<th:block th:if="${vo.noteVerifyResult == '0' || vo.noteVerifyResult == 'R'}">核保中</th:block>
																<th:block th:if="${vo.noteVerifyResult == 'V'}">照會中</th:block>
															</td>
				                                            <td class="table3"><i class="bi bi-journal-richtext" th:onclick="'window.open(\'notePdf?policyNo=' + ${policyNo} + '&noteKey=' + ${vo.mainKey} +  '\')'"></i></td>
				                                        </tr>
				                                    </tbody>
				                                </table>
				                            </div>
				                        </div>
				                        <div class="ps-area">
				                            <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
				                            </p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
<script>
	function postCaseListing(actionUrl, policyNo, policyName, parentUrl) {
		popupLoading();
		var policyForm = $('<form>');
		$(policyForm).attr("action", actionUrl);
		$(policyForm).attr("method", "POST");

		var inputPolicyNo = $('<input>').attr('type', 'hidden').attr('name', 'policyNo').val(policyNo);
		$(policyForm).append($(inputPolicyNo));

		var inputpolicyName = $('<input>').attr('type', 'hidden').attr('name', 'policyName').val(policyName);
		$(policyForm).append($(inputpolicyName));

		var inputParentUrl = $('<input>').attr('type', 'hidden').attr('name', 'parentUrl').val(parentUrl);
		$(policyForm).append($(inputParentUrl));

		policyForm.appendTo(document.body)
		$(policyForm).submit();
	}
</script>
</body>

</html>
