<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <th:block th:replace="fragments/head"/>
    <link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
    <div th:replace="fragments/header :: top"></div>
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
        <div class="content">
            <div class="page-inner">
                <div class="mt-2 mb-4">
                    <ul class="breadcrumb detail1">
                        <li>
                            <a href="#">保單進度及照會管理 </a> <i class="fa fa-angle-right fa-lg ble"></i>
                        </li>
                        <li class="active">
                            <a href="javascript:;">案件進度查詢</a>
                        </li>
                    </ul>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title tb3" id="titleList" style="font-weight: bold;">
                                        <i class="foo-business_15 foo-2x"></i>查詢條件
                                    </div>
                                </div>
                            </div>
                            <div class="card-body clearfix bg3" style="padding: 0;">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <form id="caseFormSearch" class="form-horizontal clearfix" role="form">
                                        <div class="col-sm-6 clearfix">
                                            <div class="form-group">
                                                <label class="col-sm-3"> 保單號碼 </label>
                                                <div class="col-sm-9">
                                                    <input th:value="${queryCase.policyNo}" name="policyNo" type="text" placeholder="輸入欲查詢的保單號碼"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 要保人姓名 </label>
                                                <div class="col-sm-9">
                                                    <input th:value="${queryCase.lipmName}" name="lipmName" type="text" placeholder="輸入欲查詢的要保人姓名"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 被保險人姓名 </label>
                                                <div class="col-sm-9">
                                                    <input th:value="${queryCase.lipiName}" name="lipiName" type="text" placeholder="輸入欲查詢的被保險人姓名"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <th:block th:if="${role == 3  || role == 4 || role == 5} ">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="parentDepSelect"> 通路別  </label>
                                                    <div class="col-sm-9">
                                                        <select id="parentDepSelect" name="parentDepSelect" class="form-control"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="branchIdSelect"> 分支機構  </label>
                                                    <div class="col-sm-9">
                                                        <select  id="branchIdSelect" name="branchIdSelect" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                        <div class="col-sm-6 clearfix">
                                            <div class="form-group">
                                                <label class="col-sm-3"> 案件狀態 </label>
                                                <div class="col-sm-9">
                                                    <select name="caseStatus" class="form-control">
                                                        <option value=""></option>
                                                        <option th:attr="selected=${queryCase.caseStatus  == '1' ? true : false}" value="1">受理中</option>
                                                        <option th:attr="selected=${queryCase.caseStatus  == '2' ? true : false}" value="2">核保中</option>
                                                        <option th:attr="selected=${queryCase.caseStatus  == '3' ? true : false}" value="3">覆核中</option>
                                                        <option th:attr="selected=${queryCase.caseStatus  == '4' ? true : false}" value="4">核保完成</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 要保人身分證號 </label>
                                                <div class="col-sm-9">
                                                    <input th:value="${queryCase.lipmId}" name="lipmId" type="text" placeholder="輸入欲查詢的要保人身分證號"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 被保人身分證號 </label>
                                                <div class="col-sm-9">
                                                    <input th:value="${queryCase.lipiId}" name="lipiId" type="text" placeholder="輸入欲查詢的被保險人身分證號"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-5 col-md-7">
                                                <button class="btn btn-info" type="button"
                                                        onclick="queryDataByPage(1)">
                                                    <i class="my-icon fa fa-check bigger-110"></i>
                                                    查詢
                                                </button>
                                                <input type="reset" style="display:none;">
                                                <button class="btn" id="clearBtn">
                                                    <i class="my-icon fa fa-undo bigger-110"></i>
                                                    重新輸入
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- PAGE CONTENT ENDS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body clearfix" style="padding: 0;">
                                <div class="my1" style="margin-bottom:0; font-weight: 600;">
                                    <i class="foo-business_23 foo-lg"></i> 查詢結果清單 <span
                                        class="my2b">共 <span id="caseCount">0</span> 張</span>
                                </div>
                                <div class=" ">

                                    <table class="tablesaw tablesaw-stack">
                                        <thead>
                                        <tr class="table2">
                                            <th class="text-left item300">保單號碼</th>
                                            <th scope="col" class="item360">要保人</th>
                                            <th scope="col" class="item400">被保險人</th>
                                            <th scope="col" class="item500">主約險種</th>
                                            <th scope="col" class="item450">受理日期</th>
                                            <th scope="col" class="item450">案件狀態</th>
                                        </tr>
                                        </thead>
                                        <tbody id="caseContent"></tbody>
                                    </table>
                                    <div class="col-md-12 wht box-border no-borderTop">
                                        <div class="col-md-12" style="text-align:center;">
                                            <nav>
                                                <ul class="pagination center1">
                                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一頁</span></a></li>
                                                    <li class=""><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                    <li class="disabled"><a href="#" aria-label="next"><span aria-hidden="true">下一頁</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/header :: loadingModal"></div>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/eservice/policy-pagebar.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
        var levelStateMap = []
        var status = [[${queryCase.caseStatus}]]
        var status1 = ['150000P','200000S','230000S','250000P','300000P','300500P','300500S','301000S','301500P','302000P','302500P','303000P']
		var status2 = ['350500S', '351000S', '351500S', '352000S', '400000S', '450000S', '500000P', '500500P', '501011P', '501012P', '501500P', '600500P']
		var status3 = ['550500P', '550505P', '550510P', '550515P', '550520P']
		var status4 = ['601500S', '602000S', '602500S']
		$(function(){
		    var autoQuery = [[${autoQuery}]]

            var deptParentList = [[${deptParentList}]]
            var queryCase = [[${queryCase}]]

            if(deptParentList != null ) {
                var optHtml = '<option value="">請選擇部門...</option>';
                $.each(deptParentList,function(i, obj){
                    optHtml += ('<option value="' + obj.depId + '">' + obj.depName + '</option>');
                })
                $('#parentDepSelect').html(optHtml);
            }

            $('#parentDepSelect').on('change', function() {
                getBranchList(autoQuery);
            });


            if (autoQuery) {
                $('#parentDepSelect').val(queryCase.parentDep);
                getBranchList(autoQuery);
                queryDataByPage(1)
            }
			$("#clearBtn").click(function(){
			     event.preventDefault(),
		         event.stopPropagation();
<!--		         $.post(/*[[@{/clearCaseSearch}]]*/)-->
		         resetAll()
			})
		})

        function getBranchList(autoQuery) {
            var role = [[${role}]]
            var queryCase = [[${queryCase}]]
            $("#branchIdSelect").empty();
            $("#branchIdSelect").append('<option checked value="">請選擇分支機構</option>');
            if ($('#parentDepSelect').val() != null && $('#parentDepSelect').val() != '') {
                var formData = {
                    depId: $('#parentDepSelect').val(),
                    role: role
                };
                $.ajax({
                    url: /*[[@{jd/common/branchList}]]*/,
                    contentType: 'application/json',
                    type: "POST",
                    async: false,
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (response.result == 'SUCCESS'){
                            if (response.resultData.length >0){
                                for (var i = 0; i < response.resultData.length; i++) {
                                    var option = "<option value='" + response.resultData[i].branchId + "'>" +  response.resultData[i].depName + "</option>";
                                    $("#branchIdSelect").append(option);
                                }
                            }

                            if(autoQuery){
                                $("#branchIdSelect").val(queryCase.branchId);
                            }
                        }else {
                            alertMsg('系統發生錯誤');
                        }
                    }
                });
            }
        }

		function resetAll() {
            $("#caseFormSearch").find('input[type=text],select,input[type=hidden]').each(function() {
                $(this).val('');
            });
        }

		function levelStateStr(levelState) {
			result = '-'
			if (status1.indexOf(levelState) != -1) {
				result = '受理中'
			} else if (status2.indexOf(levelState) != -1) {
				result = '核保中'
			} else if (status3.indexOf(levelState) != -1) {
				result = '覆核中'
			} else if (status4.indexOf(levelState) != -1) {
				result = '核保完成'
			}
			return result
		}

		function queryDataByPage(pageNum) {
		    policyNo = $("input[name='policyNo']").val()
		    lipmName = $("input[name='lipmName']").val()
		    lipmId = $("input[name='lipmId']").val()
		    lipiName = $("input[name='lipiName']").val()
		    lipiId = $("input[name='lipiId']").val()
		    caseStatus = $("select[name='caseStatus'] option:selected").val()
            parentDepSelect = $("select[name='parentDepSelect'] option:selected").val()
            branchIdSelect = $("select[name='branchIdSelect'] option:selected").val()

            var role = [[${role}]]

		    if ((
                    (policyNo == null || policyNo == '') &&  (lipmName == null || lipmName == '') &&
		            (lipmId == null || lipmId == '') && (lipiName == null || lipiName == '') &&
                    (lipiId == null || lipiId == '') && (caseStatus == null || caseStatus == '') &&
                    (role == 3  || role == 4 || role == 5) &&
                    (parentDepSelect == null || parentDepSelect == '')
                ) || (
                    (policyNo == null || policyNo == '') &&  (lipmName == null || lipmName == '') &&
                    (lipmId == null || lipmId == '') && (lipiName == null || lipiName == '') &&
                    (lipiId == null || lipiId == '') && (caseStatus == null || caseStatus == '') &&
                    (role != 3  && role != 4 && role != 5)
                )
            ) {
                 openAlert('請至少輸入一個查詢條件!')
                 return
            }
            showLoadingModal();
			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				url : /*[[@{/caseList}]]*/,
				data: JSON.stringify({
					policyNo: $("input[name='policyNo']").val(),
					lipmName: $("input[name='lipmName']").val(),
					lipmId: $("input[name='lipmId']").val(),
					lipiName: $("input[name='lipiName']").val(),
					lipiId: $("input[name='lipiId']").val(),
					caseStatus: $("[name='caseStatus']").val(),
                    parentDep: parentDepSelect,
                    branchId: branchIdSelect,
					pageNum: pageNum
				}),
				success : function(response) {
					if(response.result == "SUCCESS"){
						html = ''
						$("#caseCount").text(response.resultData.totalRow)
						response.resultData.rows.forEach(function(item, index){
								html += "<tr onclick=\"javascript:postPolicyListType('caselisting1', '" + item.policyNo + "')\">" +
										'<td class="table3">' + item.policyNo  +'</td>' +
										'<td class="table3">'+ item.appName +'</td>' +
										'<td class="table3">' + item.insName +'</td>' +
										'<td class="table3">' + (item.policyType ? item.policyType : '') +'</td>' +
										'<td class="table3">' + (item.tBSubmitDate ? item.tBSubmitDate : '-' )  +'</td>' +
										'<td class="table3">' + levelStateStr(item.bPMCurrentTak) +'</td>' +
									'</tr>'
							});
						$("#caseContent").html(html)
					}
					$('.pagination').html(getPolicyPageBarHtml(response.resultData))
                    hideLoadingModal();
				},
				error : function() {
					openAlert('error!')
                    hideLoadingModal();
				}
	    	});
		}
/*]]>*/
</script>
</body>
</html>
