<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
	<link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">案件管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="caseInquiry.html">保單進度及照會查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left">
				                    <div class="my1 marginTop20">
				                        <p class="pull-left visible-xs">
				                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
				                        </p>
				                        <i class="foo-business_7 foo-2x hidden-xs"></i> <th:block th:text="${vo.policyType}"></th:block>
				                        <span class=""></span><span class="insuranceID_pc"></span>
				                        <div class="dropdown pull-right r30">
				                        	<a class="btn-return" href="policy-inquiry.html">回保單查詢結果清單</a>
				                        </div>
				                    </div>
				                    <div class="list col-md-12">
				                        <div class="box-border">
				                        	<a th:onclick="'javascript:postPolicyListType(\'caselisting1\',\'' + ${policyNo} + '\');'">
				                                <div class="col-xs-4 folder active">案件進度</div>
				                            </a>
				                            <a th:onclick="'javascript:postPolicyListType(\'caselisting2\',\'' + ${policyNo} + '\');'">
				                                <div class="col-xs-4 folder">保單資訊</div>
				                            </a>
				                            <a th:onclick="'javascript:postPolicyListType(\'caselisting3\',\'' + ${policyNo} + '\');'">
				                                <div class="col-xs-4 folder ">照會內容</div>
				                            </a>
				
				                            <div class="mobile-toggle-panel  marginTop60">
				                                <div class="row">
				                                    <div class="col-sm-12">
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">保單號碼</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單號碼</b> <span class="mobile-span" th:text="${vo.policyNo}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">申請日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">申請日期</b> <span class="mobile-span" th:text="${vo.applyDate}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">受理日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">受理日期</b> <span class="mobile-span" th:text="${vo.tBSubmitDate}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">案件狀態</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">案件狀態</b> <span class="mobile-span">
																			<th:block th:if="${vo.noteStatus == '0'}">
																				未覆核
																			</th:block>
																			<th:block th:if="${vo.noteStatus == 'V'}">
																				核可
																			</th:block>
																			<th:block th:if="${vo.noteStatus == 'R'}">
																				退件
																			</th:block>
																		</span></td>
				                                                    </tr>
<!--																	 <tr class="noEvent">-->
<!--				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">契約狀態</th>-->
<!--				                                                        <td><b class="tablesaw-cell-label mobile-b">契約狀態</b> <span class="mobile-span">有效</span></td>-->
<!--				                                                    </tr>-->
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">保單出單日</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單出單日</b> <span class="mobile-span" th:text="${vo.printDate}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">匯款日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">匯款日期</b> <span class="mobile-span" th:text="${vo.transPayDate}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">核印結果</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b" ></b> <span class="mobile-span" th:text="${vo.stampResult}">&nbsp;</span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">要保人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保人</b> <span class="mobile-span" th:text="${vo.appName}">陳文倫</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">被保險人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人</b> <span class="mobile-span" th:text="${vo.insName}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">要保人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保人身分證號</b> <span class="mobile-span" th:text="${vo.appId}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">被保險人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人身分證號</b> <span class="mobile-span" th:text="${vo.insId}"></span></td>
				                                                    </tr>
<!--																	<tr class="noEvent">-->
<!--				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">結案方式</th>-->
<!--				                                                        <td><b class="tablesaw-cell-label mobile-b" th:text="${vo.policyActiveDate}">結案方式</b> <span class="mobile-span">&nbsp;</span></td>-->
<!--				                                                    </tr>-->
				                                                   <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">保單生效日</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單生效日</b> <span class="mobile-span" th:text="${vo.policyActiveDate}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">核保員</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">核保員</b> <span class="mobile-span" th:text="${vo.manager}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">核保結果</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">核保結果</b> <span class="mobile-span" th:text="${vo.reviewResult}"></span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                    </div>
				                                </div>
				                                <div class="clearfix"></div>
				                            </div>
				          
				                         </div>
				                        <div class="ps-area">
				                            <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
				                            </p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
