<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <th:block th:replace="fragments/head"/>
    <link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
    <div th:replace="fragments/header :: top"></div>
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
        <div class="content">
            <div class="page-inner">
                <div class="mt-2 mb-4">
                    <ul class="breadcrumb detail1">
                        <li>
                            <a href="#">保單進度及照會管理 </a> <i class="fa fa-angle-right fa-lg ble"></i>
                        </li>
                        <li class="active">
                            <a href="javascript:;">案件進度查詢</a>
                        </li>
                    </ul>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title tb3" id="titleList">
                                        <i class="foo-business_15 foo-2x"></i>查詢條件
                                    </div>
                                </div>
                            </div>
                            <div class="card-body clearfix bg3" style="padding: 0;">

                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <form class="form-horizontal clearfix" role="form">
                                        <div class="col-sm-6 clearfix">
                                            <div class="form-group">
                                                <label class="col-sm-3"> 保單號碼 </label>
                                                <div class="col-sm-9">
                                                    <input name="policyNo" type="text" placeholder="輸入欲查詢的保單號碼"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 要保人姓名 </label>
                                                <div class="col-sm-9">
                                                    <input name="lipmName" type="text" placeholder="輸入欲查詢的要保人姓名"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 被保險人姓名 </label>
                                                <div class="col-sm-9">
                                                    <input name="lipiName" type="text" placeholder="輸入欲查詢的被保險人姓名"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 clearfix">
                                            <div class="form-group">
                                                <label class="col-sm-3"> 案件狀態 </label>
                                                <div class="col-sm-9">
                                                    <select name="caseStatus" class="form-control">
                                                        <option value=""></option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 要保人身分證號 </label>
                                                <div class="col-sm-9">
                                                    <input name="lipmId" type="text" placeholder="輸入欲查詢的要保人身分證號"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 no-padding-right"> 被保人身分證號 </label>
                                                <div class="col-sm-9">
                                                    <input name="lipiId" type="text" placeholder="輸入欲查詢的被保險人身分證號"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-5 col-md-7">
                                                <button class="btn btn-info" type="button"
                                                        onclick="search()">
                                                    <i class="my-icon fa fa-check bigger-110"></i>
                                                    查詢
                                                </button>
                                                <button class="btn" type="reset">
                                                    <i class="my-icon fa fa-undo bigger-110"></i>
                                                    重新輸入
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- PAGE CONTENT ENDS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body clearfix" style="padding: 0;">
                                <div class="my1" style="margin-bottom:0">
                                    <i class="foo-business_23 foo-lg"></i> 查詢結果清單 <span
                                        class="my2b">共 <span id="caseCount">0</span> 張</span>
                                </div>
                                <div class=" ">

                                    <table class="tablesaw tablesaw-stack">
                                        <thead>
                                        <tr class="table2">
                                            <th class="text-left item300">保單號碼</th>
                                            <th scope="col" class="item360">要保人</th>
                                            <th scope="col" class="item400">被保險人</th>
                                            <th scope="col" class="item500">主約險種</th>
                                            <th scope="col" class="item450">受理日期</th>
                                            <th scope="col" class="item450">案件狀態</th>
                                        </tr>
                                        </thead>
                                        <tbody id="caseContent"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loadingModal" backdrop="static" keyboard="false">
    <div class="progress progress-striped active" style="z-index: 20000; position: absolute; left: 50%; top: 50%; width:32px; height:32px; background: border-box;">
        <img th:src="@{/plugin/loading-modal/ajax-loader.gif}"/>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
        var levelStateMap = []
		$(function(){
			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/getLevelStates}]]*/,
				success : function(response) {
					if(response.result == "SUCCESS"){
						response.resultData.forEach(function(item, index){
						    $("[name='caseStatus']").append("<option value=\""  + item.KEY +  "\">" + item.VALUE + "</option>")
							levelStateMap.push({
								label: item.VALUE,
								value: item.KEY
							})
						})
					}
				}
			})
		})

		function levelStateStr(levelState) {
			result = ''
			levelStateMap.forEach(function(item,index){
				if (item.value == levelState) {
					result = item.label
				}
			})
			return result
		}

		function search() {
		    policyNo = $("input[name='policyNo']").val()
		    lipmName = $("input[name='lipmName']").val()
		    lipmId = $("input[name='lipmId']").val()
		    lipiName = $("input[name='lipiName']").val()
		    lipiId = $("input[name='lipiId']").val()
		    caseStatus = $("[name='caseStatus']").val()
		    if ((policyNo == null || policyNo == '') &&  (lipmName == null || lipmName == '') &&
		        (lipmId == null || lipmId == '') && (lipiName == null || lipiName == '') &&
                (lipiId == null || lipiId == '') && (caseStatus == null || caseStatus == '')) {
                 openAlert('請至少輸入一個查詢條件!')
                 return
            }
            $('#loadingModal').modal('show')
			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				url : /*[[@{/caseList}]]*/,
				data: JSON.stringify({
					policyNo: $("input[name='policyNo']").val(),
					lipmName: $("input[name='lipmName']").val(),
					lipmId: $("input[name='lipmId']").val(),
					lipiName: $("input[name='lipiName']").val(),
					lipiId: $("input[name='lipiId']").val(),
					caseStatus: $("[name='caseStatus']").val(),
				}),
				success : function(response) {
					if(response.result == "SUCCESS"){
						html = ''
						$("#caseCount").text(response.resultData.length)
						response.resultData.forEach(function(item, index){
								html += "<tr onclick=\"javascript:postPolicyListType('caselisting1', '" + item.policyNo + "')\">" +
										'<td class="table3">' + item.policyNo  +'</td>' +
										'<td class="hid1 hid2">'+ item.appName +'</td>' +
										'<td class="hid1 hid2">' + item.insName +'</td>' +
										'<td class="hid1 hid2">' + (item.policyType ? item.policyType : '') +'</td>' +
										'<td class="hid1 hid2 enThin">' + item.tBSubmitDate +'</td>' +
										'<td class="hid1 hid2">' + levelStateStr(item.bPMCurrentTak) +'</td>' +
									'</tr>'
							});
						$("#caseContent").html(html)
					}
					$('#loadingModal').modal('hide')
				},
				error : function() {
					openAlert('error!')
					$('#loadingModal').modal('hide')
				}
	    	});
		}
/*]]>*/
</script>
</body>
</html>
