<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
	<link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">案件管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="caseQuery">保單進度及照會查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left">
				                    <div class="my1 marginTop20">
				                        <p class="pull-left visible-xs">
				                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
				                        </p>
				                        <i class="foo-business_7 foo-2x hidden-xs"></i>
										<th:block th:text="${list.size() > 0 ? list.get(0).policyType : ''}"></th:block>
				                    </div>
				                    <div class="list col-md-12">
				                        <div class="box-border">
											<a th:onclick="'javascript:postPolicyListType(\'caselisting1\',\'' + ${policyNo} + '\');'">
												<div class="col-xs-4 folder">案件進度</div>
											</a>
											<a th:onclick="'javascript:postPolicyListType(\'caselisting2\',\'' + ${policyNo} + '\');'">
												<div class="col-xs-4 folder">保單資訊</div>
											</a>
											<a th:onclick="'javascript:postPolicyListType(\'caselisting3\',\'' + ${policyNo} + '\');'">
												<div class="col-xs-4 folder active">照會內容</div>
											</a>
				                         <!-- 照會清單-->
				                           
				                            <div class="tb3 top0 mobile-toggle" data-toggle="true">
				                                <i class="fa hid2 foo-angle-down mobile"></i>
				                                <i class="fa foo-angle-up hid1"></i> 照會清單
				                            </div>
				                            <div class="mobile-toggle-panel toggle-hide">
				                                <table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
				                                    <thead>
				                                        <tr class="table2 noEvent">
				                                            <th scope="col" class="text-left item300">序號</th>
				                                            <th scope="col" class="item300">要保人</th>
				                                            <th scope="col" class="item300">被保險人</th>
				                                            <th scope="col" class="item360">照會日期</th>
				                                            <th scope="col" class="item360">主約險種</th>
				                                            <th scope="col" class="item300">照會狀態</th>
				                                            
				                                            <th scope="col" class="item300">照會單</th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                        <tr class="h65 noEvent" th:each="vo : ${list}">
				                                            <td class="text-left" th:text="${vo.mainKey}"></td>
				                                            <td th:text="${vo.appName}"></td>
				                                            <td th:text="${vo.insName}"></td>
				                                            <td th:text="${vo.printDate}"></td>
				                                            <td th:text="${vo.policyType}"></td>
				                                            <td>
																<th:block th:if="${vo.noteVerifyResult == '0' || vo.noteVerifyResult == 'R'}">核保中</th:block>
																<th:block th:if="${vo.noteVerifyResult == 'V'}">照會中</th:block>
															</td>
				                                            <td><i class="bi bi-journal-richtext" th:onclick="'window.open(\'notePdf?policyNo=' + ${policyNo} + '\')'"></i></td>
				                                        </tr>
				                                    </tbody>
				                                </table>
				                            </div>
				                        </div>
				                        <div class="ps-area">
				                            <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
				                            </p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
</body>

</html>
