<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
	<link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">案件管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="caseQuery">保單進度及照會查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left">
				                    <div class="my1 marginTop20" style="font-weight: 600;">
				                        <p class="pull-left visible-xs">
				                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
				                        </p>
				                        <i class="foo-business_7 foo-2x hidden-xs"></i> <th:block th:text="${policyName}"></th:block>
										<div class="dropdown pull-right r30">
											<th:block th:if="${parentUrl == 'personalCaseListing1'}">
												<a class="btn-return" href="returnDashboard">回送件列表</a>
											</th:block>
											<th:block th:if="${parentUrl == 'caselisting1'}">
												<a class="btn-return" href="returnCase">回案件進度查詢</a>
											</th:block>
										</div>
				                    </div>
				                    <div class="list col-md-12">
				                        <div class="box-border">
				                        	<a th:onclick="'javascript:postCaseListing(\'caselisting1\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
				                                <div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder active">案件進度</div>
				                            </a>
				                            <a th:onclick="'javascript:postCaseListing(\'caselisting2\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
				                                <div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder">保單資訊</div>
				                            </a>
				                            <a th:onclick="'javascript:postCaseListing(\'caselisting3\',\'' + ${policyNo} + '\', \'' + ${policyName} + '\',\''  +  ${parentUrl} + '\');'">
				                                <div style="font-size:17px; font-weight: 600;" class="col-xs-4 folder ">照會內容</div>
				                            </a>
				
				                            <div class="mobile-toggle-panel  marginTop60">
				                                <div class="row">
				                                    <div class="col-sm-12">
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">保單號碼</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單號碼</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.policyNo != null && #strings.trim(vo.policyNo) != '' ? vo.policyNo : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">申請日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">申請日期</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.applyDate != null && #strings.trim(vo.applyDate) != '' ? vo.applyDate : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">受理日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">受理日期</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.tBSubmitDate != null && #strings.trim(vo.tBSubmitDate) != '' ? vo.tBSubmitDate : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">案件狀態</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">案件狀態</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;">
																				<th:block th:if="${vo.noteStatus == '150000P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '200000S'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '230000S'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '250000P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '300000P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '300500P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '300500S'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '301000S'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '301500P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '302000P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '302500P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '303000P'}">受理中</th:block>
																				<th:block th:if="${vo.noteStatus == '350500S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '351000S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '351500S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '352000S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '400000S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '450000S'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '500000P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '500500P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '501011P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '501012P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '501500P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '600500P'}">核保中</th:block>
																				<th:block th:if="${vo.noteStatus == '550500P'}">覆核中</th:block>
																				<th:block th:if="${vo.noteStatus == '550505P'}">覆核中</th:block>
																				<th:block th:if="${vo.noteStatus == '550510P'}">覆核中</th:block>
																				<th:block th:if="${vo.noteStatus == '550515P'}">覆核中</th:block>
																				<th:block th:if="${vo.noteStatus == '550520P'}">覆核中</th:block>
																				<th:block th:if="${vo.noteStatus == '601500S'}">核保完成</th:block>
																				<th:block th:if="${vo.noteStatus == '602000S'}">核保完成</th:block>
																				<th:block th:if="${vo.noteStatus == '602500S'}">核保完成</th:block>
																				<th:block th:if="${vo.noteStatus == null || #strings.trim(vo.noteStatus) == ''}">-</th:block>
																		</span></td>
				                                                    </tr>
<!--																	 <tr class="noEvent">-->
<!--				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">契約狀態</th>-->
<!--				                                                        <td><b class="tablesaw-cell-label mobile-b">契約狀態</b> <span class="mobile-span">有效</span></td>-->
<!--				                                                    </tr>-->
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">保單出單日</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單出單日</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.printDate != null && #strings.trim(vo.printDate) != '' ? vo.printDate : '-'}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">匯款日期</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">匯款日期</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.transPayDate != null && #strings.trim(vo.transPayDate) != '' ? vo.transPayDate: '-'}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">核印結果</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b" ></b>
																			<span class="mobile-span" style="font-size:16px; font-weight: 600;" >
																				<th:block th:if="${vo.stampResult == 'Y'}">核印完成</th:block>
																				<th:block th:if="${vo.stampResult == 'N'}">未完成</th:block>
																				<th:block th:if="${vo.stampResult == null || #strings.trim(vo.stampResult) == ''}">-</th:block>
																			</span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                        <div class="col-sm-6 nopd all-left-list">
				                                            <table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
				                                                <tbody>
				                                                    <tr class="noEvent borderTop">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">要保人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保人</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.appName != null && #strings.trim(vo.appName) != '' ? vo.appName : '-'}">陳文倫</span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">被保險人</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.insName != null && #strings.trim(vo.insName) != '' ? vo.insName : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">要保人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">要保人身分證號</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.appId != null && #strings.trim(vo.appId) != '' ? vo.appId : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">被保險人身分證號</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">被保險人身分證號</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.insId != null && #strings.trim(vo.insId) != '' ? vo.insId : '-'}"></span></td>
				                                                    </tr>
<!--																	<tr class="noEvent">-->
<!--				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">結案方式</th>-->
<!--				                                                        <td><b class="tablesaw-cell-label mobile-b" th:text="${vo.policyActiveDate}">結案方式</b> <span class="mobile-span">-</span></td>-->
<!--				                                                    </tr>-->
				                                                   <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">保單生效日</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">保單生效日</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.policyActiveDate != null && #strings.trim(vo.policyActiveDate) != '' ? vo.policyActiveDate : '-'}"></span></td>
				                                                    </tr>
																	<tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">核保員</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">核保員</b> <span class="mobile-span" style="font-size:16px; font-weight: 600;" th:text="${vo.manager != null && #strings.trim(vo.manager) != '' ? vo.manager : '-'}"></span></td>
				                                                    </tr>
				                                                    <tr class="noEvent">
				                                                        <th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">核保結果</th>
				                                                        <td><b class="tablesaw-cell-label mobile-b">核保結果</b>
																			<span class="mobile-span" style="font-size:16px; font-weight: 600;" >
																				<th:block th:if="${vo.noteStatus == '601500S' or vo.noteStatus == '602000S' or vo.noteStatus == '602500S'}">
																					<th:block th:if="${vo.reviewResult == 'A1'}">核保通過</th:block>
																					<th:block th:if="${vo.reviewResult == 'C1'}">退保(撤銷要保)</th:block>
																					<th:block th:if="${vo.reviewResult == 'D1'}">延保</th:block>
																					<th:block th:if="${vo.reviewResult == 'N1'}">退保(照會逾期退件)</th:block>
																					<th:block th:if="${vo.reviewResult == 'N2'}">批註說明</th:block>
																					<th:block th:if="${vo.reviewResult == 'R1'}">拒保</th:block>
																					<th:block th:if="${vo.reviewResult == '5'}">承保</th:block>
																					<th:block th:if="${vo.reviewResult == '9'}">不予承保</th:block>
																					<th:block th:if="${vo.reviewResult == null || #strings.trim(vo.reviewResult) == ''}">-</th:block>
																				</th:block>
																			</span></td>
				                                                    </tr>
				                                                </tbody>
				                                            </table>
				                                        </div>
				                                    </div>
				                                </div>
				                                <div class="clearfix"></div>
				                            </div>
				          
				                         </div>
				                        <div class="ps-area">
				                            <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
				                            </p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>
<script>
	function postCaseListing(actionUrl, policyNo, policyName,parentUrl) {
		popupLoading();
		var policyForm = $('<form>');
		$(policyForm).attr("action", actionUrl);
		$(policyForm).attr("method", "POST");

		var inputPolicyNo = $('<input>').attr('type', 'hidden').attr('name', 'policyNo').val(policyNo);
		$(policyForm).append($(inputPolicyNo));

		var inputpolicyName = $('<input>').attr('type', 'hidden').attr('name', 'policyName').val(policyName);
		$(policyForm).append($(inputpolicyName));

		var inputParentUrl = $('<input>').attr('type', 'hidden').attr('name', 'parentUrl').val(parentUrl);
		$(policyForm).append($(inputParentUrl));

		policyForm.appendTo(document.body)
		$(policyForm).submit();
	}
</script>
</body>
</html>
