<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.web.dao.MessageDao">

	<resultMap id="MessageMap" type="com.twfhclife.eservice.web.model.MessageVo" >
		<result column="ID" property="id"/>
		<result column="TITLE" property="title"/>
		<result column="MSG" property="msg"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="USER_ID" property="userId"/>
		<result column="NOTIFY_TIME" property="notifyTime"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TITLE,MSG,STATUS,CREATE_DATE,USER_ID,NOTIFY_TIME
	</sql>

	<sql id="Where_Case">
		WHERE USER_ID = #{userId} AND NOTIFY_TIME &lt;= #{date}
		<if test="vo.notifyStartSearchTime != null and vo.notifyEndSearchTime != null">
			AND NOTIFY_TIME between #{vo.notifyStartSearchTime} and DATEADD(day, 1, #{vo.notifyEndSearchTime})
		</if>
		<if test="vo.status != null">
			AND STATUS = #{vo.status}
		</if>
	</sql>
	
	<select id="getMessages" resultMap="MessageMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE_JD.DBO.MESSAGE
			<include refid="Where_Case"></include>
		ORDER BY STATUS, NOTIFY_TIME DESC
	</select>

	<select id="getNotRead" resultType="int">
		SELECT
		COUNT(1) AS AMOUNT
		FROM (
		SELECT
		<include refid="Base_Column_List" />
		FROM
		ESERVICE_JD.DBO.MESSAGE
			WHERE USER_ID = #{userId} AND STATUS = '1'
		) t
	</select>

	<update id="readMsg">
		UPDATE ESERVICE_JD.DBO.MESSAGE SET STATUS = '2' WHERE ID = #{id}
	</update>
</mapper>