<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.web.dao.MessageDao">

	<resultMap id="MessageMap" type="com.twfhclife.eservice.web.model.MessageVo" >
		<result column="ID" property="id"/>
		<result column="TITLE" property="title"/>
		<result column="MSG" property="msg"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="USER_ID" property="userId"/>
		<result column="NOTIFY_TIME" property="notifyTime"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TITLE,MSG,STATUS,CREATE_DATE,USER_ID,NOTIFY_TIME
	</sql>
	
	<select id="getMessages" resultMap="MessageMap">
		SELECT *
		FROM (
		SELECT
		ROW_NUMBER() OVER (ORDER BY CREATE_DATE) AS ROW_NUM
		,A.*
		FROM (
			SELECT
				<include refid="Base_Column_List" />
			FROM
				ESERVICE_JD.DBO.MESSAGE
				WHERE USER_ID = #{userId}
				AND NOTIFY_TIME &lt;= SYSDATETIME()
		) A
		) B
		WHERE
		B.ROW_NUM <![CDATA[<=]]> #{vo.pageNum} * #{vo.pageSize}
		AND B.ROW_NUM <![CDATA[>]]> (#{vo.pageNum} - 1) * #{vo.pageSize}
	</select>

	<select id="getMessagesTotal" resultType="int">
		SELECT
		COUNT(1) AS AMOUNT
		FROM (
		SELECT
			<include refid="Base_Column_List" />
			FROM
			ESERVICE_JD.DBO.MESSAGE
			WHERE USER_ID = #{userId}
			AND NOTIFY_TIME &lt;= SYSDATETIME()
			AND STATUS = '1'
		) t
	</select>
</mapper>