<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.jd.web.dao.OptionDao">

	<select id="getLevelStates" resultType="map">
		SELECT
		a.PARAMETER_CODE AS "KEY"
		,a.PARAMETER_NAME AS "VALUE"
		FROM ESERVICE_ADM.DBO.PARAMETER a
		JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b ON a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
		WHERE 1 = 1
		AND a.SYSTEM_ID = b.SYSTEM_ID
		AND a.STATUS = b.STATUS
		AND b.STATUS = 1
		AND b.SYSTEM_ID = 'eservice_jd'
		AND b.CATEGORY_CODE = 'JDZQ_LEVEL_STATES_CATEGORY'
		ORDER BY a.SORT_NO
	</select>

	<select id="getPayModeList" resultType="map">
			SELECT
			a.PARAMETER_CODE AS "KEY"
			,a.PARAMETER_NAME AS "VALUE"
			FROM ESERVICE_ADM.DBO.PARAMETER a
			JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b ON a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
			WHERE 1 = 1
			AND a.SYSTEM_ID = b.SYSTEM_ID
			AND a.STATUS = b.STATUS
			AND b.STATUS = 1
			AND b.SYSTEM_ID = 'eservice'
			AND b.CATEGORY_CODE = 'PAYMODE_TYPE'
			ORDER BY a.SORT_NO
	</select>

	<select id="getTransactionCodeList" resultType="hashmap" parameterType="string">
		SELECT
		a.PARAMETER_CODE AS "KEY"
		,a.PARAMETER_NAME AS "VALUE"
		FROM ESERVICE_ADM.DBO.PARAMETER a
		JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b ON a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
		WHERE 1 = 1
		AND a.SYSTEM_ID = b.SYSTEM_ID
		AND a.STATUS = b.STATUS
		AND b.STATUS = 1
		AND b.SYSTEM_ID = 'eservice'
		AND b.CATEGORY_CODE = #{categoryCode}
		ORDER BY
		a.SORT_NO
	</select>

	<select id="getBankList" resultType="hashmap">
		SELECT
		BANK_ID AS "KEY", BANK_NAME AS "VALUE"
		FROM
		ESERVICE_JD.DBO.BANK_INFO
		WHERE BRANCH_ID = 'root'
		AND DISPLAY = 'Y'
		ORDER BY BANK_ID
	</select>

</mapper>