<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.web.dao.UsersDao">
	<resultMap id="UsersMap" type="com.twfhclife.eservice.web.model.UsersVo">
		<result column="user_id" property="userId" />
		<result column="roc_id" property="rocId" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="login_fail_count" property="loginFailCount" />
		<result column="last_chang_password_date" property="lastChangPasswordDate" />
		<result column="sms_flag" property="smsFlag" />
		<result column="mail_flag" property="mailFlag" />
		<result column="fb_id" property="fbId" />
		<result column="moica_id" property="moicaId" />
		<result column="user_type" property="userType" />
		<result column="create_date" property="createDate" />
		<result column="create_user" property="createUser" />
		<result column="username" property="userName" />
		<result column="encrypted_pwd" property="password" />
		<result column="online_flag" property="onlineFlag"/>
		<result column="status" property="status"/>
		<result column="CLAUSE_FLAG" property="clauseFlag"/>
		<result column="LOGIN_TIME" property="loginTime"/>
	</resultMap>
	
	<sql id="User_Column_List">
		u.user_id,u.roc_id,ESERVICE_JD.DBO.FN_DEBASE64(u.mobile) mobile,ESERVICE_JD.DBO.FN_DEBASE64(u.email) email,u.login_fail_count,u.last_chang_password_date,
		u.sms_flag,u.mail_flag,u.fb_id,u.moica_id,u.user_type,u.create_date,u.create_user, u.user_name username,
		u.online_flag, u.login_fail_count, u.status, u.LOGIN_TIME, u.CLAUSE_FLAG
	</sql>

	<select id="getUserByRocId" resultMap="UsersMap" parameterType="java.lang.String">
		SELECT TOP 1
		    <include refid="User_Column_List" />
		FROM
			ESERVICE_JD.DBO.USERS u
		WHERE
		    u.roc_id = #{rocId}
	</select>
	
	<insert id="createUser" parameterType="com.twfhclife.eservice.web.model.UsersVo">
		insert into
		ESERVICE_JD.DBO.USERS
		(user_id,
		roc_id,
		mobile,
		email,
		login_fail_count,
		last_chang_password_date,
		sms_flag,
		mail_flag,
		user_type,
		create_date,
		create_user) 
		VALUES (
		lower(#{vo.userId,jdbcType=VARCHAR}),
		#{vo.rocId,jdbcType=VARCHAR},
		ESERVICE_JD.DBO.FN_ENBASE64(#{vo.mobile,jdbcType=VARCHAR}),
		ESERVICE_JD.DBO.FN_ENBASE64(#{vo.email,jdbcType=VARCHAR}),
		0,
		getdate(),
		#{vo.smsFlag,jdbcType=VARCHAR},
		#{vo.mailFlag,jdbcType=VARCHAR},
		#{vo.userType,jdbcType=VARCHAR},
		getdate(),
		#{vo.userId,jdbcType=VARCHAR}
		)
	</insert>

	<select id="getUserByAccount" resultMap="UsersMap" parameterType="java.lang.String">
		SELECT 
			<include refid="User_Column_List" />
		FROM
		ESERVICE_JD.DBO.USERS u
		WHERE
			LOWER(u.USER_ID) = LOWER(#{account})
	</select>
	
	<update id="updatePassword" parameterType="java.lang.String">
		update ESERVICE_JD.DBO.USERS set
		last_chang_password_date = getdate(),
		LOGIN_FAIL_COUNT = 0, LOGIN_TIME = SYSDATETIME()
		where lower(user_id) = lower(#{account})
	</update>

	<update id="changePassword" parameterType="java.lang.String">
		update ESERVICE_JD.DBO.USERS set
		last_chang_password_date = getdate(),
		clause_flag = 'Y'
		where lower(user_id) = lower(#{account})
	</update>

	
	<update id="updateUserType" parameterType="java.lang.String">
		update ESERVICE_JD.DBO.USERS set
		user_type = #{userType}
		where lower(user_id) = lower(#{account})
	</update>
	
	<!-- 變更基本資料 -->
	<update id="updateCustInfo">
		UPDATE ESERVICE_JD.DBO.USERS
		<set>
			<if test="usersVo.mobile != null and usersVo.mobile != ''"> MOBILE = ESERVICE_JD.DBO.FN_ENBASE64(#{usersVo.mobile}), </if>
			<if test="usersVo.email != null and usersVo.email != ''"> EMAIL = ESERVICE_JD.DBO.FN_ENBASE64(#{usersVo.email}), </if>
			<if test="usersVo.smsFlag != null and usersVo.smsFlag != ''"> SMS_FLAG = #{usersVo.smsFlag}, </if>
			<if test="usersVo.mailFlag != null and usersVo.mailFlag != ''"> MAIL_FLAG = #{usersVo.mailFlag}, </if>
			<if test="usersVo.loginFailCount != null"> LOGIN_FAIL_COUNT = #{usersVo.loginFailCount}, </if>
			<if test="usersVo.status != null"> status = #{usersVo.status}, </if>
		</set>
		WHERE
			LOWER(USER_ID) = LOWER(#{usersVo.userId})
	</update>

	<insert id="createUserTerm" parameterType="com.twfhclife.eservice.web.model.UserTermVo">
		INSERT INTO ESERVICE_JD.DBO.USER_TERM
		(ID, USER_ID, TERM_NAME, ACCEPT_DATE, MEMO) 
		VALUES 
		(
			NEWID(),
			#{vo.userId,jdbcType=VARCHAR},
			#{vo.termName,jdbcType=VARCHAR},
			#{vo.acceptDate,jdbcType=TIMESTAMP},
			#{vo.memo,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="checkOldSystemUser" resultType="java.lang.Integer" parameterType="java.lang.String">
	   SELECT 
	       count(*) as data_count 
       FROM
		ESERVICE_JD.DBO.MEMBERS
	   WHERE 
	       MEMBERS_ID=#{rocId} 
	     AND ESERVICE_JD.DBO.FN_DEBASE64(MEMBERS_PASSWORD)=#{password}
	</select>

	<!-- 變更基本資料 -->
	<update id="updateOnlineFlagY">
		UPDATE ESERVICE_JD.DBO.USERS
			set online_flag = 'Y'
		WHERE
			LOWER(USER_ID) = LOWER(#{userId})
	</update>

	<update id="incLoginFailCount">
		UPDATE ESERVICE_JD.DBO.USERS
		SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT +1
		WHERE LOWER(USER_ID) = LOWER(#{userId})
	</update>

	<update id="updateLoginSuccess">
		UPDATE ESERVICE_JD.DBO.USERS
		SET LOGIN_FAIL_COUNT = 0, LOGIN_TIME = SYSDATETIME(), STATUS = 'enable'
		WHERE LOWER(USER_ID) = LOWER(#{userId})
	</update>
</mapper>