<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.jd.web.dao.UsersDao">
	<resultMap id="UsersMap" type="com.twfhclife.jd.web.model.UsersVo">
		<result column="user_id" property="userId" />
		<result column="roc_id" property="rocId" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="login_fail_count" property="loginFailCount" />
		<result column="last_chang_password_date" property="lastChangPasswordDate" />
		<result column="sms_flag" property="smsFlag" />
		<result column="mail_flag" property="mailFlag" />
		<result column="fb_id" property="fbId" />
		<result column="moica_id" property="moicaId" />
		<result column="user_type" property="userType" />
		<result column="create_date" property="createDate" />
		<result column="create_user" property="createUser" />
		<result column="username" property="userName" />
		<result column="encrypted_pwd" property="password" />
		<result column="online_flag" property="onlineFlag"/>
		<result column="status" property="status"/>
		<result column="CLAUSE_FLAG" property="clauseFlag"/>
		<result column="LOGIN_TIME" property="loginTime"/>
		<result column="BRANCH_ID" property="branchId"/>
	</resultMap>
	
	<sql id="User_Column_List">
		u.user_id,u.roc_id,ESERVICE_JD.DBO.FN_DEBASE64(u.mobile) mobile,ESERVICE_JD.DBO.FN_DEBASE64(u.email) email,u.login_fail_count,u.last_chang_password_date,
		u.sms_flag,u.mail_flag,u.fb_id,u.moica_id,u.user_type,u.create_date,u.create_user, u.user_name username,
		u.online_flag, u.login_fail_count, u.status, u.LOGIN_TIME, u.CLAUSE_FLAG
	</sql>

	<select id="getUserByAccount" resultMap="UsersMap" parameterType="java.lang.String">
		SELECT 
			<include refid="User_Column_List" />
		FROM
		ESERVICE_JD.DBO.USERS u
		WHERE
			LOWER(u.USER_ID) = LOWER(#{account})
	</select>
	
	<update id="updatePassword" parameterType="java.lang.String">
		update ESERVICE_JD.DBO.USERS set
		last_chang_password_date = getdate(),
		LOGIN_FAIL_COUNT = 0, LOGIN_TIME = SYSDATETIME()
		<if test="enable != null and enable != ''">
			, STATUS = #{enable}
		</if>
		where lower(user_id) = lower(#{account})
	</update>

	<update id="changePassword" parameterType="java.lang.String">
		update ESERVICE_JD.DBO.USERS set
		last_chang_password_date = getdate(),
		clause_flag = 'Y'
		where lower(user_id) = lower(#{account})
	</update>

	
	<!-- 變更基本資料 -->
	<update id="updateCustInfo">
		UPDATE ESERVICE_JD.DBO.USERS
		<set>
			<if test="usersVo.mobile != null and usersVo.mobile != ''"> MOBILE = ESERVICE_JD.DBO.FN_ENBASE64(#{usersVo.mobile}), </if>
			<if test="usersVo.email != null and usersVo.email != ''"> EMAIL = ESERVICE_JD.DBO.FN_ENBASE64(#{usersVo.email}), </if>
			<if test="usersVo.smsFlag != null and usersVo.smsFlag != ''"> SMS_FLAG = #{usersVo.smsFlag}, </if>
			<if test="usersVo.mailFlag != null and usersVo.mailFlag != ''"> MAIL_FLAG = #{usersVo.mailFlag}, </if>
			<if test="usersVo.loginFailCount != null"> LOGIN_FAIL_COUNT = #{usersVo.loginFailCount}, </if>
			<if test="usersVo.status != null"> status = #{usersVo.status}, </if>
		</set>
		WHERE
			LOWER(USER_ID) = LOWER(#{usersVo.userId})
	</update>

	<insert id="createUserTerm" parameterType="com.twfhclife.jd.web.model.UserTermVo">
		INSERT INTO ESERVICE_JD.DBO.USER_TERM
		(ID, USER_ID, TERM_NAME, ACCEPT_DATE, MEMO) 
		VALUES 
		(
			NEWID(),
			#{vo.userId,jdbcType=VARCHAR},
			#{vo.termName,jdbcType=VARCHAR},
			#{vo.acceptDate,jdbcType=TIMESTAMP},
			#{vo.memo,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="checkOldSystemUser" resultType="java.lang.Integer" parameterType="java.lang.String">
	   SELECT 
	       count(*) as data_count 
       FROM
		ESERVICE_JD.DBO.MEMBERS
	   WHERE 
	       MEMBERS_ID=#{rocId} 
	     AND ESERVICE_JD.DBO.FN_DEBASE64(MEMBERS_PASSWORD)=#{password}
	</select>

	<!-- 變更基本資料 -->
	<update id="updateOnlineFlagY">
		UPDATE ESERVICE_JD.DBO.USERS
			set online_flag = 'Y'
		WHERE
			LOWER(USER_ID) = LOWER(#{userId})
	</update>

	<update id="incLoginFailCount">
		UPDATE ESERVICE_JD.DBO.USERS
		SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT +1
		WHERE LOWER(USER_ID) = LOWER(#{userId})
	</update>

	<update id="updateLoginSuccess">
		UPDATE ESERVICE_JD.DBO.USERS
		SET LOGIN_FAIL_COUNT = 0, LOGIN_TIME = SYSDATETIME()
		WHERE LOWER(USER_ID) = LOWER(#{userId})
	</update>

	<select id="checkUserRole" resultType="int">
		SELECT TOP 1
			CASE R.DIV_ROLE_ID
				WHEN 'IC_PERSONNEL' then 4
				WHEN 'CHANNEL_LEADER' then 3
				WHEN 'BRANCH_LEADER' then 2
				WHEN 'GENERAL_PERSONNEL' then 1
				WHEN 'ADMINISTRATOR' then 5
			ELSE 1 END
		FROM ESERVICE_ADM.DBO.USER_ENTITY U
			INNER JOIN ESERVICE_ADM.DBO.USER_ROLE UR ON U.ID = UR.USER_ID
			INNER JOIN ESERVICE_ADM.DBO.ROLE R ON UR.ROLE_ID = R.ROLE_ID
			WHERE U.ID = #{userId} ORDER BY CHARINDEX(R.DIV_ROLE_ID, 'ADMINISTRATOR,IC_PERSONNEL,CHANNEL_LEADER,BRANCH_LEADER,GENERAL_PERSONNEL')
	</select>

	<select id="getCaseQueryBySupervisor" resultType="com.twfhclife.jd.web.model.PermQueryVo">
		SELECT DISTINCT UD.BRANCH_ID branchCode, D.BRANCH_ID agentCode
			FROM
			ESERVICE_JD.DBO.USER_DEPARTMENT UD
			INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON UD.DEP_ID = D.DEP_ID
		WHERE UD.USER_ID = #{userId} AND D.BRANCH_ID IS NOT NULL
	</select>

	<select id="getCaseQueryByPassageWay" resultType="com.twfhclife.jd.web.model.PermQueryVo">
		SELECT DISTINCT D.BRANCH_ID agentCode
		FROM
		ESERVICE_JD.DBO.USER_DEPARTMENT UD
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON UD.DEP_ID = D.DEP_ID
		WHERE UD.USER_ID = #{userId} AND D.BRANCH_ID IS NOT NULL
	</select>

	<select id="getCaseQueryByIc" resultType="com.twfhclife.jd.web.model.PermQueryVo">
		SELECT DISTINCT D.BRANCH_ID agentCode, UD.BRANCH_ID branchCode FROM
		ESERVICE_JD.DBO.USER_IC UD
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON D.DEP_ID = UD.DEP_ID COLLATE database_default
		WHERE UD.USER_ID = #{userId} AND UD.BRANCH_ID IS NOT NULL
		UNION ALL
		SELECT DISTINCT D.BRANCH_ID agentCode, '' branchCode FROM
		ESERVICE_JD.DBO.USER_IC UD
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON D.DEP_ID = UD.DEP_ID COLLATE database_default
		WHERE UD.USER_ID = #{userId} AND UD.BRANCH_ID IS NULL
	</select>

	<select id="getCaseQueryByUser" resultType="com.twfhclife.jd.web.model.PermQueryVo">
		SELECT DISTINCT U.LOGIN_SIZE serialNum, UD.BRANCH_ID branchCode,D1.BRANCH_ID agentCode  FROM
		ESERVICE_ADM.DBO.USER_ENTITY UE
		INNER JOIN ESERVICE_JD.DBO.USER_DEPARTMENT UD ON UE.ID = UD.USER_ID COLLATE database_default
		INNER JOIN ESERVICE_JD.DBO.USERS U ON UE.USERNAME = U.USER_ID COLLATE database_default
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D1 ON UD.DEP_ID = D1.DEP_ID COLLATE database_default
		WHERE UE.ID = #{userId}
	</select>

	<select id="getUserBySaleId" resultMap="UsersMap">
		SELECT ue.ID user_id, ESERVICE_JD.DBO.FN_DEBASE64(u.email) email, UD.BRANCH_ID
		FROM
		ESERVICE_JD.DBO.USERS u
		INNER JOIN ESERVICE_ADM.DBO.USER_ENTITY UE ON UE.USERNAME = U.USER_ID COLLATE database_default AND UE.REALM_ID = 'elife_jdzq'
		INNER JOIN ESERVICE_JD.DBO.USER_DEPARTMENT UD ON UE.ID = UD.USER_ID
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON UD.DEP_ID = D.DEP_ID
		WHERE
			u.LOGIN_SIZE = #{saleId}
		<if test="agentCode == '869'.toString()">
			AND D.BRANCH_ID = concat(#{agentCode}, #{agentBranchM})
		</if>
		<if test="agentCode != '869'.toString()">
			AND D.BRANCH_ID = #{agentCode}
		</if>
	</select>

	<select id="getBranchLeaders" resultMap="UsersMap">
		SELECT ue.ID user_id, ESERVICE_JD.DBO.FN_DEBASE64(u.email) email
		FROM
		ESERVICE_JD.DBO.USERS u
		INNER JOIN ESERVICE_ADM.DBO.USER_ENTITY UE ON UE.USERNAME = U.USER_ID COLLATE database_default AND UE.REALM_ID = 'elife_jdzq'
		INNER JOIN ESERVICE_JD.DBO.USER_DEPARTMENT UD ON UE.ID = UD.USER_ID
		INNER JOIN ESERVICE_JD.DBO.DEPARTMENT D ON UD.DEP_ID = D.DEP_ID
		INNER JOIN ESERVICE_ADM.DBO.USER_ROLE UR ON UR.USER_ID = UE.ID
		INNER JOIN ESERVICE_ADM.DBO.ROLE R ON UR.ROLE_ID = R.ROLE_ID
		<where>
			<if test="agentCode == '869'.toString()">
				AND D.BRANCH_ID = concat(#{agentCode}, #{agentBranchM})
			</if>
			<if test="agentCode != '869'.toString()">
				AND D.BRANCH_ID = #{agentCode}
			</if>
			AND UD.BRANCH_ID = #{branchCode}
		</where>
	</select>

</mapper>