<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更繳別｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="electronicForm1">電子表單通知服務</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">
					<span th:text = "${electronicTitle}"> </span>
					</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i>
				<span th:text = "${electronicTitle}"> </span>
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-6">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step3 active col-xs-6">
						2<span class="hid1">. 資料確認</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
			<th:block th:if ="${electronicFormStatus eq 'application'}">
				<h2  style="color: red ">*如需修改EMail，請至「線上申請」->「保全類別」->「聯絡資料變更暨保全聯盟鏈」變更電子郵件信箱</h2>
			</th:block>
				<div class="loan1">
					<label class="col-sm-10 col-sm-offset-2 enNormal"> <th:block
							th:each="vo : ${electronicFormVo.clopmdaVo}">
							<div>
								<label style="margin-right: 20px"> <span>保單 : </span> <th:block
										th:text="${vo.lipmInsuNo}" />
								</label> <label style="margin-bottom: 10px"> <span>電子郵件 :
								</span> <th:block th:text="${vo.pmdaApplicantEmail}" />
								</label>
							</div>
						</th:block>
					</label>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-8 col-md-offset-2 ptop30">
					<div class="divider divider88"></div>
					<p class="center1 gray">請輸入驗證碼以完成申請</p>
					<th:block th:replace="fragments/sendSMS"/>
					<div class="marginTop25"></div>
					<div class="col-md-12 two-buttons">
						<a href="apply1">
							<button type="button" id="deny" class="btn-signup">取消</button>
						</a>
						<button type="button" id="go" class="btn-signup">確認送出</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:src="@{/plugin/jquery.base64.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = [[${electronicFormVo}]];
		formData.clopmdaVo = /*[[${electronicFormVo.clopmdaVo}]]*/;
		$(function() {
			// 確認送出
			$('#go').click(function() {
				if ($('#InputCert1').val() == '') {
					openAlert("請輸入驗證碼"); 
					return false;
				}
				formData.authenticationNum = $('#InputCert1').val();
				postWithFormData(/*[[@{/electronicFormSuccess}]]*/, formData);
			});		
		});	
	/*]]>*/
	</script>
</body>

</html>