<div class="table-detail">
	<div class="row">
		<div class="space visible-xs"></div>
		<div class="panel panel-default profile-user-info">
			<div class="panel-heading">※ 要保人聯絡資訊</div>
			<div class="panel-body clear1">
				<div class="mycigna3">
					<div class="col-md-12 detailPolicy">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-xs-4">要保人姓名：</label>
								<div class="col-xs-8" th:text="${userElectronic.NAME}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">住家電話：</label>
								<div class="col-xs-8" th:text="${userElectronic.LIPM_TEL_H}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">公司電話：</label>
								<div class="col-xs-8" th:text="${userElectronic.LIPM_TEL_O}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">行動電話：</label>
								<div class="col-xs-8" th:text="${userElectronic.MOBILE}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">電子信箱：</label>
								<div class="col-xs-8" th:text="${userElectronic.EMAIL}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">要保人住所(戶籍)地址：</label>
								<div class="col-xs-8" th:text="${userElectronic.LIPM_ADDR}"></div>
							</div>
							<div class="form-group">
								<label class="col-xs-4">收費(通訊)地址：</label>
								<div class="col-xs-8" th:text="${userElectronic.LIPM_CHAR_ADDR}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
