<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.jdzq.dao.JdzqDao">

    <resultMap id="CaseMap" type="com.twfhclife.eservice.web.model.CaseVo">
        <result column="user_id" property="userId" />
        <result column="roc_id" property="rocId" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="login_fail_count" property="loginFailCount" />
        <result column="last_chang_password_date" property="lastChangPasswordDate" />
        <result column="sms_flag" property="smsFlag" />
        <result column="mail_flag" property="mailFlag" />
        <result column="fb_id" property="fbId" />
        <result column="moica_id" property="moicaId" />
        <result column="user_type" property="userType" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="username" property="userName" />
        <result column="encrypted_pwd" property="password" />
        <result column="online_flag" property="onlineFlag"/>
        <result column="status" property="status"/>
        <result column="CLAUSE_FLAG" property="clauseFlag"/>
        <result column="LOGIN_TIME" property="loginTime"/>
    </resultMap>

    <select id="getCaseList" resultMap="CaseMap">

    </select>
</mapper>