<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>解約申請書套印｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">解約</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 解約申請書套印
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 填寫匯款帳號</span>
					</li>
					<li class="step3 active col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認資料</h2>
				<div class="col-md-8 col-md-offset-2 form-result">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3">要保人：</label>
							<div class="col-sm-9">
								<th:block th:text="${proposer}"/>
							</div>
						</div>
						<div class="form-group">
							<label for="productID123" class="col-sm-3">解約保單：</label>
							<th:block th:each="policyNo, rowStat : ${transCancelContractVo.policyNoList}">
								<div id="productID123" class="col-sm-9">
									<th:block th:each="map : ${session.USER_PRODUCT_NAME_LIST}">
										<th:block th:if="${map['POLICY_NO'] eq policyNo}">
											<th:block th:text="${map['PRODUCT_NAME']}"/><span class="enSmall">(<th:block th:text="${policyNo}"/>)</span>
										</th:block>
									</th:block>
								</div>
							</th:block>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3">給付方式：</label>
							<div class="col-sm-9">匯入要保人帳戶</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3">匯款銀行：</label>
							<div class="col-sm-9">
								<th:block th:text="${transCancelContractVo.bankName}"/><th:block th:text="${transCancelContractVo.branchName}"/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3">匯款帳號：</label>
							<div class="col-sm-9">
								<th:block th:text="${transCancelContractVo.accountNo}"/>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-10 col-md-offset-1 two-buttons">
					<button id="deny" class="btn-signup">上一步</button>
					<button id="go" class="btn-signup">確認送出</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCancelContractVo}]]*/;
		$(function() {
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/cancelContract2}]]*/, formData);
			});
			
			// 下載PDF
			$('#go').click(function() {
				var url = '/eservice/downloadCancelContractPDF?' + $.param(formData);
				url = url.replace(/%5B/g, '').replace(/%5D/g, '');
				window.open(url);
			});
		});
	/*]]>*/
	</script>
</body>

</html>