<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>未來保費投資標的與分配比例｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">未來保費投資標的與分配比例</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 未來保費投資標的與分配比例
			</div>
			<div class="">
				<ul class="step">
					<li class="step1  col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2  col-xs-3">
						2<span class="hid1">. 接受條款</span>
					</li>
					<li class="step3b  active col-xs-3">
						3<span class="hid1">. 修改標的與百分比</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 確認資料與密碼</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3 listing-area">
				<h2>設定新投資標的比例</h2>
				<div class="loan1">
					<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
						<thead>
							<div class="tb3 top0">
								<i class="fas fa-chevron-down"></i> 請輸入新投資比例
								<span class="pull-right colorBlack">投資風險屬性：<span class="colorBlue">
									<th:block th:text="${riskLevel}" />
								</span></span>
							</div>

							<tr class="table2">
								<th class="text-left item180" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">單位數<br><span class="enSmall displayNone">A</span></th>
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">最近匯率<br><span class="enSmall">(匯率日)</span></th>
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">單位淨值<br><span class="enSmall displayNone">(台幣B/原幣D<br>/淨值日)</span><span class="enSmall">(淨值日)</span></th>
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="3">變更前分配比例</th>
							</tr>
						</thead>
						<tbody id="itbody">
						</tbody>
					</table>
					<div class="check-title">新投資標的比例</div>
					<div class="plus-list">
						<div class="col-sm-6">新投資標的</div>
						<div class="col-sm-3"></div>
						<div class="col-sm-3">變更後分配比例</div>
					</div>

					<div class="check-body grey2">
						<div id="fundContent">
						</div>

						<div class="check-list2 center1">
							<button class="btn-login invst2btn" id="add-check-list"    onclick="addInvestment()"><i class="fa fa-plus-circle fa-lg"></i> 新增投資標的</button>
						</div>

						<div class="invst2total"> 總百分比 : <span id="percent">0</span> %</div>

						<div class="statement1 wht">
							<p class="text-ps">備註：</p>
							<ol class="text-ps" id="remark">
								<li>若您的投資風險屬性為保守型，您可選擇保守型的基金RR1~RR2。</li>
								<li>若您的投資風險屬性為穩健型，您可選擇保守型及穩健型的基金RR1~RR4。</li>
								<li>若您的投資風險屬性為積極型型，您可選擇保守型、穩健型及積極型型的基金RR1~RR5。</li>
								<li>為確保保險商品符合您的投資能力及風險性，投資風險屬性若有變更，本公司將以您最新的風險屬性作為名下所有保單日後變更的評估依據。</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 two-buttons">
				<a><button id="deny" class="btn-signup">上一步</i></button></a>
				<a><button id="go" class="btn-signup">下一步</i></button></a>
			</div>
		</div>
		<input type="hidden" id="policyNo" name="policyNo" th:value="${transInvestmentVo.policyNo}"/>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var percent = 0
		function addInvestment(){
			var item = '<div class="check-list2 newfund" id="investment_template">'
              +'<div style="width: 100%;display: inline-block;">'
                           +'<div class="col-sm-2">'
                           +' <div class="selector-box">'
                           +'  <select name="companysItem" class="selector">'

					   	$(companysItems).each(function(index, e){
					   		 if (e != null) {
								  item = item + '<option'
								  item = item +  ' value="' + e.VALUE +  '"> ' + e.KEY + '</option>'
							  }
						})

                        item = item +' </select>'
                         +'</div>'
                         +' </div>'
                         +' <div class="col-sm-2">'
                         +'  <div class="selector-box">'
                         +'    <select name="currencysItem" class="selector">'

						 $(currencysItems).each(function(index, e){
							 if (e != null) {
								  item = item + '<option'
								  item = item +  ' value="' + e.VALUE +  '"> ' + e.KEY + '</option>'
							  }
						 })

						  item = item + '    </select>'
						  +'  </div>'
						  +' </div>'
						  +'</div>'
						  +'<div class="col-sm-6">'
						  +'   <div class="selector-box">'
						  +'     <select class="selector" name="invSelect">'

						$(newInvestments).each(function(index, e){
							item += '<option invtName="' + e.invtName + '" value="' + e.invtNo +  '"> ' + e.invtName +' <span>(' + e.invtNo + ')</span></option>'
						})

						item = item +'</select>'
                         +'  </div>'
                         +' </div>'
                         +'       <div class="col-sm-3"><a target="_blank" name="toUri" href="#" class="inv2">我要瞭解基金內容</a></div>'
                         +'       <div class="col-sm-2"><input type="number" name="ratio" class="col-sm-10" value="' + limit.ratioMinSize +'">%</div>'
                         +'       <div class="col-sm-1">'
						 +'       	<a class="btn-cancel" onclick="removeInvestmentList(this)">删除</a>'
						 +'       </div>'
                         +'       <div class="clearfix"></div>'
                         +' </div> '

    		$('#fundContent').append(filterAndRestItems($(item)));
    		reComputePercent()
    	}

		function addOwnInvestment(oRow){
    		$('#fundContent').append(
			'<div class="check-list2 newfund" id="investment_template">'
              +'<div style="width: 100%;display: inline-block;">'
              			 +'<input type="hidden" name="invtNo" value="' + oRow.invtNo + '">'
                         +'<div class="col-sm-6">'
                         +'<div class="selector-box">'
                         +'<select class="selector" name="invSelect" disabled="disabled">'
                         +'<option invtName="' + oRow.invtName + '" value="' + oRow.invtNo +  '"> ' + oRow.invtName +' <span>(' + oRow.invtNo + ')</span></option>'
                         +'</select>'
                         +'</div>'
                         +'</div>'
                         +'<div class="col-sm-3"><a target="_blank" href="' + 'http://10.7.168.94/webex/investmentnetvalue/main/' + oRow.invtNo + '" class="inv2">我要瞭解基金內容</a></div>'
                         +'<div class="col-sm-2"><input type="number" name="ratio" class="col-sm-10" value="' + oRow.ratio + '">%</div>'
                         +'<div class="col-sm-1">'
						 +'</div>'
                         +'<div class="clearfix"></div>'
                       	 +'</div> '
    		);
    	}

    	function removeInvestmentList(obj){
    		$(obj).parent().parent('.newfund').remove()
    		reComputePercent()
    	}

		$(function(){
		    var html = ''
			$([[${investments}]]).each(function(index, vo){
				html += "<tr class=\"h65 noEvent\">"
				html += "<td class=\"text-left\"><b class=\"tablesaw-cell-label\">投資標的</b><span class=\"tablesaw-cell-content\"><p>" + vo.invtName +"<p class=\"enSmall\">(" + vo.invtNo + ")</p></span></td>"
				html += "<td><b class=\"tablesaw-cell-label\">單位數<span class=\"enSmall displayNone\">A</span></b><span class=\"tablesaw-cell-content\">" + showNetUnits(vo) + "</span></td>"
				html += "<td><b class=\"tablesaw-cell-label\">最近匯率<span class=\"enSmall\">(匯率日)</span></b><span class=\"tablesaw-cell-content\">" + showRateBuy(vo) + "</span></td>"
				html += "<td><b class=\"tablesaw-cell-label\">單位淨值<span class=\"enSmall displayNone\">(台幣B/原幣D<br>/淨值日)</span></b><span class=\"tablesaw-cell-content\">" + showNetValueDate(vo) + "</span></td>"
				html += "<td><b class=\"tablesaw-cell-label\">變更前分配比例</b><span class=\"tablesaw-cell-content\">" + showRatio(vo) + "</span></td>"
				html += "</tr>"
				addOwnInvestment(vo)
			})
			reComputePercent()
			$("#itbody").html(html)

			//備註
			var transformationRemark = /*[[${transformationRemark}]]*/;
			if (transformationRemark!= undefined && transformationRemark != null && transformationRemark != ''){
				$("#remark").html(transformationRemark);
			}

			// 上一步事件
			$('#deny').click(function() {
				let formData = {};
				formData.policyNo = $('#policyNo').val();
				postWithFormData(/*[[@{/investment2}]]*/, formData);
			});

			//点击下一步
			$('#go').click(function() {

				if (percent != 100) {
					openAlert("總百分比必須爲100%");
					return
				}

				var formData = {};
				formData.policyNo = $('#policyNo').val();
				var newObj = []

				let finalRatio = 0
				let check = true
				let validRepetition = []
				$("#fundContent").children().each(function(index, e) {
					let sel = $(e).find("[name='invSelect'] option:selected")
					if (sel.size() == 0) {
						openAlert("請選擇有效基金！");
						check = false
						return
					}
					if (validRepetition.indexOf(sel.val()) != -1) {
						openAlert("重復的基金！");
						check = false
						return
					}
					validRepetition.push(sel.val())
					let ratio = $(e).find("input[name='ratio']").val()
					finalRatio += parseInt(ratio)
					newObj.push({"invtName": sel.attr("invtName"), "invtNo": sel.val(), "ratio": ratio, "policyNo": [[${transInvestmentVo.policyNo}]]})
				})

				if (check == false) {
					return
				}

				let ownObj = []
				$([[${investments}]]).each(function(index, e){
					ownObj.push({invtName: e.invtName , invtNo: e.invtNo, ratio: e.ratio, policyNo: [[${transInvestmentVo.policyNo}]]})
				})

				formData.investments = JSON.stringify(ownObj)
				formData.newInvestments = JSON.stringify(newObj)
				postWithFormData(/*[[@{/investment4}]]*/, formData);

			});

			//搜索选项
			initSearchItems()
			//根据保单号，持有基金查询可转入基金
			initNewInvestments()
			//初始化保单分配比例
			initInvestmentLimit()

			//公司选项变更
			$("body").on('change', "[name='companysItem']", function(){
				filterAndRestItems($(this).parent().parent().parent().parent())
			})

			//币别选项变更
			$("body").on('change', "[name='currencysItem']", function(){
				filterAndRestItems($(this).parent().parent().parent().parent())
			})

			//基金选项变更
			$("body").on('change', "[name='invSelect']", function(){
				$(this).parent().parent().parent().parent().find("[name='toUri']").attr("href", [[${uri}]] + $(this).val())
			})

			$("body").on('change', "input[name='ratio']", function(){
				if (!checkDecimal($(this).val())) {
					openAlert("只允許輸入數值整數！")
					$(this).val(limit.ratioMinSize)
					return
				}
				if ($(this).val() < limit.ratioMinSize || $(this).val() > limit.ratioMaxSize) {
					$(this).val(limit.ratioMinSize)
					openAlert("比例必須在" + limit.ratioMinSize + "-" + limit.ratioMaxSize + "之間！",)
					return
				}
				reComputePercent()
			})
		})

	// 單位數
	function showNetUnits(oRow) {
		var netUnits = oRow.safpNetUnits;
		return '<span class="point">' + formatNumber(netUnits, 2) + '</span>'
	}

	function formatDate(dt) {
		try {
			var formattedDate = new Date(dt);
			var d = formattedDate.getDate();
			var m =  formattedDate.getMonth();
			m += 1;  // JavaScript months are 0-11
			var y = formattedDate.getFullYear();
			return y + "/" + m + "/" + d;
		} catch (e) {
			return "";
		}
	}

	// 參考淨值/日期
	function showNetValueDate(oRow) {
		return '<p>' + formatNumber(oRow.netValueSell, 2) + '<i class="my5">' + oRow.invtExchCurr + '</i></p><span class="enSmall">' + formatDate(oRow.netValueDate) + '</span>'
	}

	// 投资占比
	function showRatio(oRow) {
		return '<p class="marginTop26"> ' + oRow.ratio +'%</p>'
	}

	//汇率
	function showRateBuy(oRow) {
		var html = '';
		if (oRow.invtExchCurr == 'NTD') {
			html += '<p>1.00</p>';
		} else {
			html += '<p>' + formatNumber(oRow.exchRateBuy, 4) +'</p>';
		}
		html += '<span>' + formatDate(oRow.exchRateDate) + '</span>';
		return html;
	}

	var newInvestments = []
	function initNewInvestments() {
		let ownInvtNos = []
		$([[${investments}]]).each(function(index, e){
			ownInvtNos.push({invtNo: e.invtNo})
		})
		let data = {policyNo: $("#policyNo").val(), ownInvestments: ownInvtNos}
		$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/getNewInvestments}]]*/,
				async: false,
				data : JSON.stringify(data),
				success : function(response) {
					if(response.result == "ERROR") {
						openAlert(response.resultMsg);
					} else {
						newInvestments = response.resultData
					}
				},
				error : function() {
					openAlert($('#E0018').val());
				}
			});
	}

	var companysItems = []
	var currencysItems = []
	function initSearchItems() {
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : /*[[@{/getInvestmentSearchItem}]]*/,
			data : JSON.stringify({policyNo: [[${transInvestmentVo.policyNo}]]}),
			async: false,
			success : function(response) {
				if(response.result == "ERROR") {
					openAlert(response.resultMsg);
				} else {
					companysItems = response.resultData.companys
					currencysItems = response.resultData.currencys
				}
			},
			error : function() {
				openAlert($('#E0018').val());
			}
		});
	}

	var limit = {
		ratioMinSize: 10,
		ratioMaxSize: 100
	}

	function initInvestmentLimit() {
		$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/investmentRatioSizeLimit}]]*/,
				async: false,
				data : JSON.stringify({policyNo: [[${transInvestmentVo.policyNo}]]}),
				success : function(response) {
					if(response.result == "ERROR") {
						openAlert(response.resultMsg);
					} else {
						limit = response.resultData
					}
				},
				error : function() {
					openAlert($('#E0018').val());
				}
			});
	}

	function reComputePercent() {
		let tmp = 0
		$("#fundContent").children().each(function(index, e) {
			tmp += parseInt($(e).find("input[name='ratio']").val())
		})
		percent = tmp
		$("#percent").text(percent)
	}

	function filterAndRestItems(vm) {
		arr = $(newInvestments).filter(function(index, e) {
            return e.company == $(vm).find("[name='companysItem'] option:selected").val()
        }).filter(
			function(index, e) {
				return e.invtExchCurr == $(vm).find("[name='currencysItem'] option:selected").val()
			}
        )

		let html = ''
		var isFirst = true
		$(arr).each(function(index, e){
			html += '<option invtName="' + e.invtName + '" value="' + e.invtNo +  '"> ' + e.invtName +' <span>(' + e.invtNo + ')</span></option>'
			if (isFirst) {
				$(vm).find("[name='toUri']").attr("href", [[${uri}]] + e.invtNo)
				isFirst = false
			}
		})
		$(vm).find("[name='invSelect']").html(html)
		return $(vm)
	}

	function checkDecimal(str) {
            var re1 =/^[0-9]+(\.[0-9]{n})?$/;
            if(!re1.test(str))
             {
                return false
             }
             return true;
        }
	</script>
</body>

</html>