<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>未來保費投資標的與分配比例｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">未來保費投資標的與分配比例</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 未來保費投資標的與分配比例
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 active col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-3">
						2<span class="hid1">. 接受條款</span>
					</li>
					<li class="step3b col-xs-3">
						3<span class="hid1">. 修改標的與百分比</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 確認資料與密碼</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇欲未來保費投資標的與分配比例的保單</h2>
				<div class="loan1">
					<p class="noteinvst1">投資風險屬性：<span><th:block th:text="${riskLevel}" /></span></p>
					<table th:replace="fragments/applyPolicyList :: table12 (choseType='radio')"></table>
					<div class="statement1 wht">
						<p class="text-ps">備註：</p>
						<ol class="text-ps" id="remark">
							<li> 變額萬能壽險保單：如於15:00前提出申請，則是當日為申請生效日，遇時則視為次一工作日為申請之生效日。</li>
							<li>此次變更將於下一期應繳保費日生效，續期保費將依照本次指定之標的項目及百分比投資</li>
							<li>目前僅開放要保人與被保險人為同一人之保單於網路變更保單資料。</li>
							<li>若您的投資風險屬性為保守型，您可選擇保守型的基金RR1~RR2</li>
							<li>若您的投資風險屬性為穩健型，您可選擇穩健型的基金RR1~RR4</li>
							<li>若您的投資風險屬性為穩健型，您可選擇穩健型的基金RR1~RR5</li>
							<li>為確保保險商品符合您的投資能力及風險屬性，投資風險屬性若有變更，本公司將以您最新風險屬性作為名下所有保單日後變更的評估依據</li>
						</ol>
					</div>

				</div>
				<div class="col-md-12 two-buttons">
					<a href="apply1">
						<button id="deny" class="btn-signup">取消</button>
					</a>
					<a>
					    <button id="go" class="btn-signup">同意並進行變更</button>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	 $(function() {
		$('#go').click(function() {
			// 檢核是否有選一筆資料
			if ($('input[name="chosePolicy"]:checked').val() == null) {
				/* openAlert("請選擇一筆保單"); */
				openAlert($('#E0038').val());
				return false;
			}

			var formData = {};
			formData.policyNo = $('input[name="chosePolicy"]:checked').val();
			postWithFormData(/*[[@{/investment2}]]*/, formData);
		});

		var transformationRemark = /*[[${transformationRemark}]]*/;
		if (transformationRemark!= undefined && transformationRemark != null && transformationRemark != ''){
			$("#remark").html(transformationRemark);
		}
	});
	/*]]>*/
	</script>
</body>

</html>