<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更信用卡效期｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更信用卡有效年月</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更信用卡有效年月
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-4">
						2<span class="hid1">. 設定信用卡效期</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請設定信用卡有效期限</h2>
				<div class="loan1">
					<div class="">
						<label for="checkBox12" class="col-sm-10 col-sm-offset-2 enNormal">保單號碼： 
							<span class="colorBlack">
								<th:block th:if="${transCreditCardDateVo != null}">
									<th:block th:each="policyNo : ${transCreditCardDateVo.policyNoList}">
										<th:block th:text="${policyNo}"/>
									</th:block>
								</th:block>
							</span>
						</label>
					</div>
					<div class="col-sm-8 col-sm-offset-2 grey2 ptop30 greyBox">
						<div class="check-list3 ">
							<label for="" class="col-sm-3">付款人：</label>
							<p type="text" class="col-sm-9"> <span id="payer" class="colorBlack"><th:block th:text="${policyPayerVo != null} ? ${policyPayerVo.payerName}"/></span></p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-3">支付工具：</label>
							<p type="text" class="col-sm-9"><span class="colorBlack">信用卡</span></p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-3">信用卡卡號：</label>
							<div class="col-sm-9">
								<span id="account" class="colorBlack"><th:block th:text="${policyPayerVo != null} ? ${policyPayerVo.acctNumber}"/></span>
							</div>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-3 lineHigh32">有效期限：</label>
							<div class="col-sm-9">
								<div class="selector-box col-sm-3">
									<select class="selector" id="month">
										<option th:each="month : ${monthList}"											
											th:value="${month}" 											
											th:utext="${month}"
											th:selected="${month eq transCreditCardDateVo.validYyOld}"/>
									</select>
								</div>
								<div class="col-sm-1 lineHigh32">/</div>
								<div class="selector-box col-sm-3">
									<select class="selector" id="year">
										<option th:each="year : ${yearList}"
											th:value="${year}"
											th:utext="${year}"
											th:selected="${year eq transCreditCardDateVo.validMmOld}"/>
									</select>
								</div>
								<div class="col-sm-2 lineHigh32 colorGray">(MM/YY)</div>
							</div>
							<br/>
							<br/>
							<br/>
							<br/>
							<div class="redWord textCenter">
							<!-- <div style="color:#ff5050"> -->
								信用卡卡號變更，請重新填寫信用卡繳付保險費授權書
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_01702'] != null} 
				? ${session.PAGE_WORDING['WORDING_01702'].parameterValue}"/>
			<div class="col-md-12 two-buttons">
				<a href="paymentCardDate1">
					<button id="deny" class="btn-signup">上一步</button>
				</a>
				<th:block th:if="${loginUserType eq 'member'}">
					<button id="go" class="btn-signup">下一步</button>
				</th:block>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<!--  權限警告 -->
	<div class="modal fade in" id="modal-container-payment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 center1 grey2">
					<div style="padding:20px 10px">
						欲變更付款人
					</div>
					<p style="width:500px;margin:auto">
						請下載<a href="http://www.twfhclife.com.tw/PDF/e-form.pdf" target="_blank" class="underline">信用卡付款委託書</a>，填寫完後傳真：02-27845218 或郵寄臺銀人壽：(10682)台北市大安區敦化南路二段 69 號 2 ~ 8 樓
					</p>
					<p>
						<a>
							<button class="btn-login lock2" data-dismiss="modal" aria-label="Close">確定</button>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 權限警告 end -->

	<!--  信用卡卡號 -->
	<div class="modal fade in" id="modal-container-payment-credit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 center1 grey2">
					<div style="padding:20px 10px">
						欲變更信用卡卡號 
					</div>
					<p style="width:500px;margin:auto">
						請下載<a href="#" target="_blank" class="underline">信用卡付款委託書</a>，填寫完後傳真：02-77261875 或郵寄臺銀人壽：台北市100中正區中華路一段39號6樓
					</p>
					<p>
						<a>
							<button class="btn-login lock2" data-dismiss="modal" aria-label="Close">確定</button>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 信用卡卡號 end -->
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCreditCardDateVo}]]*/;
		$(function(){
			// 下一步事件
			$('#go').click(function() {
				formData.validMm =  $('#month').val();
				formData.validYy =  $('#year').val();
				postWithFormData(/*[[@{/paymentCardDate3}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>