<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.policy.dao.RcdcChangeDao">

	<resultMap id="RcdcChangeMap" type="com.twfhclife.eservice.policy.model.RcdcChangeVo" >
		<result column="RCDC_INSU_NO" property="policyNo"/>
		<result column="RCDC_DELIVERY_AGEN_CODE" property="deliveryAgenCode"/>
		<result column="RCDC_CHAN_ITEM" property="changeItem"/>
		<result column="RCDC_ACC_DATE" property="accDate"/>
		<result column="RCDC_PROC_MK" property="procMk"/>
		<result column="SORT_NO" property="sortNo"/>
	</resultMap>
	
	<!-- 取得保單契約變更查詢結果(根據保單號碼) -->
	<select id="findByPolicyNo" resultMap="RcdcChangeMap" parameterType="java.lang.String">
		SELECT
			RCDC_INSU_NO, RCDC_DELIVERY_AGEN_CODE, RCDC_CHAN_ITEM, RCDC_ACC_DATE, RCDC_PROC_MK, SORT_NO
		FROM
			ESERVICE.DBO.LIRCDC
		WHERE 
			RCDC_INSU_NO = #{policyNo}
		ORDER BY SORT_NO
	</select>
	

</mapper>