<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.onlineChange.dao.TransContactInfoDao">

	<resultMap id="TransContactInfoMap" type="com.twfhclife.eservice.onlineChange.model.TransContactInfoVo" >
		<result column="ID" property="id"/>
		<result column="TRANS_NUM" property="transNum"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TRANS_NUM
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="transContactInfoVo.id != null"> AND ID = #{transContactInfoVo.id} </if>
			<if test="transContactInfoVo.transNum != null and transContactInfoVo.transNum != ''"> AND TRANS_NUM = #{transContactInfoVo.transNum} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND ID = #{transContactInfoVo.id}
		</where>
	</sql>
	
	<!-- 取得變更保單聯絡資料主檔查詢結果 -->
	<select id="getTransContactInfo" resultMap="TransContactInfoMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_CONTACT_INFO
		<include refid="whereClause" />
	</select>
	
	<!-- 取得下一筆序號 -->
	<select id="getNextTransContactInfoId" resultType="BigDecimal">
		select NEXT VALUE for TRANS_CONTACT_INFO_SEQ as TRANS_CONTACT_INFO_ID_SEQ;
	</select>
	
	<!-- 變更保單聯絡資料主檔-新增 -->
	<insert id="insertTransContactInfo">
		INSERT INTO ESERVICE.DBO.TRANS_CONTACT_INFO
		(
			<include refid="Base_Column_List" />,BATCH_ID,CASE_ID
		)
		VALUES
		(
			#{transContactInfoVo.id, jdbcType=NUMERIC},
			#{transContactInfoVo.transNum, jdbcType=VARCHAR},
			#{transContactInfoVo.batchId, jdbcType=FLOAT},
			#{transContactInfoVo.caseId, jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectTransContactInfoFileDatasId" resultType="java.lang.Float">
		select 		NEXT VALUE for CONTACT_INFO_FILEDATAS_SEQ as FDID
	</select>
	<update id="updateTransContactInfoFileDatasFileBase64" parameterType="com.twfhclife.eservice.onlineChange.model.ContactInfoFileDataVo">
		update
		ESERVICE.DBO.TRANS_CONTACT_INFO_FILEDATAS
		set  FILE_BASE64.WRITE(#{vo.fileBase64, jdbcType=VARCHAR},0,null)
		where FD_ID =#{vo.fdId}
	</update>
	<insert id="addTransContactInfoFileDatas" parameterType="com.twfhclife.alliance.model.ContactInfoFileDataVo">
		INSERT INTO
		ESERVICE.DBO.TRANS_CONTACT_INFO_FILEDATAS
		(FD_ID,CONTACT_SEQ_ID,NOTIFY_SEQ_ID,MSG,FILE_ID,SIZE,TYPE,FILE_NAME,FILE_STATUS,PATH,FILE_BASE64,RFE_ID,UPDATE_MSG_DATE,CREATE_DATE)
		VALUES
		(
		#{vo.fdId,  jdbcType=FLOAT},
		#{vo.contactSeqId,  jdbcType=FLOAT},
		#{vo.notifySeqId, jdbcType=FLOAT},
		#{vo.msg, jdbcType=VARCHAR},
		#{vo.fileId, jdbcType=VARCHAR},
		#{vo.size, jdbcType=VARCHAR},
		#{vo.type, jdbcType=VARCHAR},
		#{vo.fileName, jdbcType=VARCHAR},
		#{vo.fileStatus, jdbcType=VARCHAR},
		#{vo.path, jdbcType=VARCHAR},
		'',
		#{vo.rfeId, jdbcType=FLOAT},
		#{vo.updateMsgDate},
		#{vo.createDate}
		)
	</insert>

	<update id="updateFileBase64ByFileId" parameterType="com.twfhclife.eservice.onlineChange.model.TransContactInfoFileDataVo">
		update ESERVICE.DBO.TRANS_CONTACT_INFO_FILEDATAS
		   set FILE_BASE64.WRITE(#{vo.fileBase64},0,null)
		 where FILE_ID = #{vo.fileId}
	</update>
	
	<update id="updateTransContactInfoCaseId"  >
		update ESERVICE.DBO.TRANS_CONTACT_INFO
		set CASE_ID=#{caseId, jdbcType=VARCHAR}
		where TRANS_NUM = #{transNum, jdbcType=VARCHAR}
	</update>
	
	<select id="getTransContactInfoTransNumByBatchId"  resultType="string"  parameterType="java.lang.Float" >
		SELECT  TRANS_NUM  from   ESERVICE.DBO.TRANS_CONTACT_INFO   where  BATCH_ID=#{batchId}
	</select>
</mapper>