<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<title>臺銀人壽旅平險</title>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/layout.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/tablesaw.stackonly.css"/>
<link rel="shortcut icon" href="img/favor-icon.png"/>
<link rel="stylesheet" href="css/scrollbar.css" type="text/css"/>
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/custom.css}"/>
<style>
.checkbox, .radio {
    margin-top: 0px; 
}
.radio.inline .radio-btn {
    margin: 2px 4px 0px 0px;
}
</style>
</head>
<body>
	<div th:replace="fragments/header :: top"></div>
	<header>
		<div class="container">
			<div class="row">
				<th:block th:replace="fragments/logo"/>
				<div class="n1 inlineBlock float-left">旅行平安險試算與申請</div>
			</div>
		</div>
	</header>
	<section class="grey applyInner beneficiary2 fullContent">
		<div class="container bg3 box-border listing-area">
			<div class="">
				<ul class="step">
					<li class="step1 active col-xs-3">1<span class="hid1">.
							輸入旅平險申請資料</span>
					</li>
					<li class="step2 col-xs-3">2<span class="hid1">. 選擇您的方案</span>
					</li>
					<li class="step3b col-xs-3">3<span class="hid1">.
							輸入保單資料</span>
					</li>
					<li class="step4 col-xs-3">4<span class="hid1">. 確認保單資料</span>
					</li>
				</ul>
			</div>

			<div class="mystyle3">
				<h2 style="padding-bottom: 10px; color: #078B37; font-size: 26px;">輸入旅平險申請資料</h2>

				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>旅遊地點：</label>
					</div>
					<div class="col-sm-7">
						<div class="radio inline">
                        	<label>
                            	<div class="radio-btn checkedRadio">
                            		<i>
                            			<input type="radio" name="travelDestType" id="travelDestType0" value="1" checked="checked" onclick="$('#orid').attr('disabled', true);$('#orid').addClass('disabled');$('#orid')[0].selectedIndex = 0"/>
                            		</i>
                            	</div> 國內(臺、澎、金、馬) 
                            </label>
                        </div>
                        <div class="radio inline">
                        	<label>
                        		<div class="radio-btn">
                        			<i>
                        				<input type="radio" name="travelDestType" id="travelDestType1" value="2" onclick="$('#orid').attr('disabled', false);$('#orid').removeClass('disabled');" />
                        			</i>
                        		</div> 國外
                            </label>
                        </div>
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>地點：</label>
					</div>
					<div class="col-sm-7">
						<input type="text" class="col-sm-7" id="foreignTravelDest" data-validation="required">
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>出發時間：</label>
					</div>
					<div class="col-sm-7">
						<div class="item150" style="float: left; margin-right: 5px">
							<input type='text' class="item150" id='datetimepicker1' data-validation="date" readonly />
						</div>
						<div class="item50" style="float: left; margin-right: 5px">
							<input type='text' class="item50" value="00" 
								id='datetimepicker2' data-validation="optionalRequired::#datetimepicker1::請輸入完整的出發時間" />
						</div>
						<div class="item50" style="float: left; margin-right: 5px">
							時
						</div>
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>返抵時間：</label>
					</div>
					<div class="col-sm-7">
						<div class="item150" style="float: left; margin-right: 5px">
							<input type='text' class="item150" id='datetimepicker3' data-validation="date" readonly />
						</div>
						<div class="item50" style="float: left; margin-right: 5px">
							<input type='text' class="item50" value="00" id='datetimepicker4' data-validation="optionalRequired::#datetimepicker3::請輸入完整的返抵時間" />
						</div>
						<div class="item100" style="float: left; margin-right: 5px">
							時:共 <input type='text' class="item50" id='days' readonly />天
						</div>
					</div>
				</div>
				<!-- 
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>受益人地址：</label>
					</div>
					<div class="col-sm-7">
						<div class="item80" style="float: left; margin-right: 4px">
							<div class="selector-box">
								<select class="selector" id="cityOption"><option value="">請選擇</option><option value="1">基隆市</option><option value="2">臺北市</option><option value="3">新北市</option><option value="4">桃園市</option><option value="5">新竹市</option><option value="6">新竹縣</option><option value="7">苗栗縣</option><option value="8">臺中市</option><option value="9">彰化縣</option><option value="10">南投縣</option><option value="11">雲林縣</option><option value="12">嘉義市</option><option value="13">嘉義縣</option><option value="14">臺南市</option><option value="15">高雄市</option><option value="16">屏東縣</option><option value="17">臺東縣</option><option value="18">花蓮縣</option><option value="19">宜蘭縣</option><option value="20">澎湖縣</option><option value="21">金門縣</option><option value="22">連江縣</option></select>
							</div>
						</div>
						<div class="item80" style="float: left; margin-right: 4px">
							<div class="selector-box">
								<select class="selector" id="regionOption"><option value="">請選擇</option></select>
							</div>
						</div>
						<div class="item250" style="float: left;">
							<input class="item250" data-validation="optionalRequired::#cityOption,#regionOption,#beneficiaryAddress3::請輸入完整地址" id="beneficiaryAddress3" placeholder="請輸入所在路、巷、號、樓層" type="text">
						</div>
					</div>
				</div>
				-->
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>被保人生日：</label>
					</div>
					<div class="col-sm-7">
						<div class="item150" style="float: left; margin-right: 5px">
							<input type='text' class="item150" id='datetimepicker5' data-validation="required|date" readonly />
						</div>
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>保險金額：</label>
					</div>
					<div class="col-sm-7">
						<div class="item250">
							<div class="selector-box">
								<select name="travelVo.tripaddVo.addid" id="addid">
									<option value="20">20萬元</option>
									<option value="40">40萬元</option>
									<option value="60">60萬元</option>
									<option value="80">80萬元</option>
									<option value="100">100萬元</option>
									<option value="120">120萬元</option>
									<option value="140">140萬元</option>
									<option value="160">160萬元</option>
									<option value="180">180萬元</option>
									<option value="200">200萬元</option>
									<option value="300">300萬元</option>
									<option value="400">400萬元</option>
									<option value="500">500萬元</option>
									<option value="600">600萬元</option>
									<option value="700">700萬元</option>
									<option value="800">800萬元</option>
									<option value="900">900萬元</option>
									<option value="1000">1000萬元</option>
									<option value="1100">1100萬元</option>
									<option value="1200">1200萬元</option>
									<option value="1300">1300萬元</option>
									<option value="1400">1400萬元</option>
									<option value="1500">1500萬元</option>
									<option value="1600">1600萬元</option>
									<option value="1700">1700萬元</option>
									<option value="1800">1800萬元</option>
									<option value="1900">1900萬元</option>
									<option value="2000">2000萬元</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>意外傷害醫療給付：</label>
					</div>
					<div class="col-sm-7">
						<div class="item250">
							<div class="selector-box">
								<select name="travelVo.tripaddVo.tripmr.mrid" id="mrid">
									<option value="0">不附加</option>
									<option value="2">2萬元</option>
									<option value="4">4萬元</option>
									<option value="6">6萬元</option>
									<option value="8">8萬元</option>
									<option value="10">10萬元</option>
									<option value="12">12萬元</option>
									<option value="14">14萬元</option>
									<option value="16">16萬元</option>
									<option value="18">18萬元</option>
									<option value="20">20萬元</option>
									<option value="30">30萬元</option>
									<option value="40">40萬元</option>
									<option value="50">50萬元</option>
									<option value="60">60萬元</option>
									<option value="70">70萬元</option>
									<option value="80">80萬元</option>
									<option value="90">90萬元</option>
									<option value="100">100萬元</option>
									<option value="110">110萬元</option>
									<option value="120">120萬元</option>
									<option value="130">130萬元</option>
									<option value="140">140萬元</option>
									<option value="150">150萬元</option>
									<option value="160">160萬元</option>
									<option value="170">170萬元</option>
									<option value="180">180萬元</option>
									<option value="190">190萬元</option>
									<option value="200">200萬元</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="change1">
					<div class="col-sm-3 col-sm-offset-2">
						<label>海外突發疾病醫療給付：</label>
					</div>
					<div class="col-sm-7">
						<div class="item250">
							<div class="selector-box">
								<select name="travelVo.tripaddVo.tripod.orid" id="orid">
									<option value="0">不附加</option>
									<option value="10">10萬元</option>
									<option value="12">12萬元</option>
									<option value="14">14萬元</option>
									<option value="16">16萬元</option>
									<option value="18">18萬元</option>
									<option value="20">20萬元</option>
									<option value="30">30萬元</option>
									<option value="40">40萬元</option>
									<option value="50">50萬元</option>
									<option value="60">60萬元</option>
									<option value="70">70萬元</option>
									<option value="80">80萬元</option>
									<option value="90">90萬元</option>
									<option value="100">100萬元</option>
									<option value="110">110萬元</option>
									<option value="120">120萬元</option>
									<option value="130">130萬元</option>
									<option value="140">140萬元</option>
									<option value="150">150萬元</option>
									<option value="160">160萬元</option>
									<option value="170">170萬元</option>
									<option value="180">180萬元</option>
									<option value="190">190萬元</option>
									<option value="200">200萬元</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="change1">
					<th:block th:utext="${travelPolicyNote}"/>
					<!-- div class="col-sm-7 col-sm-offset-4">
						<p class="text-ps">備註：</p>
						<ol class="text-ps">
							<li>意外傷害醫療給付：未滿15足歲，最高為保險金額之70%；15足歲~80歲，最高為保險金額之40%
								(不超過200萬)</li>
							<li>海外突發疾病醫療給付：未滿15足歲，最高為保險金額之70%；15足歲~80歲，最高為保險金額之40%
								(不超過200萬)</li>
							<li>意外傷害醫療＋海外突發疾病醫療給付：未滿15足歲，最高為保險金額之70%；15足歲~80歲，最高為保險金額之40%
								(不超過200萬)</li>
						</ol>
					</div -->
				</div>
			</div>
			<div class="col-md-12 two-buttons">
				<a href="#" onclick="window.close();">
					<button id="deny" class="btn-signup">取消</button>
				</a> <a href="#">
					<button id="go" class="btn-signup">我要試算</button>
				</a>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script" />
	<script src="js/travelPolicy/moment.js"></script>
	<script src="js/eservice/form.js"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
        var travelPolicyMsg = /*[[${travelPolicyMsg}]]*/;
		$(function(){
			// 地址下拉選單
			//var cityUrl = /*[[@{/getCityList}]]*/;
			//var regionUrl = /*[[@{/getRegionList}]]*/;
			//eserviceOption.cityRegion('#cityOption', cityUrl, '#regionOption', regionUrl);
			//eserviceOption.empty('#roadOption', '請選擇');
			
			var beginDate = /*[[${beginDate}]]*/;
			if (beginDate != '') {
				$('#datetimepicker1').val(beginDate);
			}
			var beginTime = /*[[${beginTime}]]*/;
			if (beginTime != '') {
				$('#datetimepicker2').val(beginTime);
			}
			var endDate = /*[[${endDate}]]*/;
			if (endDate != '') {
				$('#datetimepicker3').val(endDate);
			}
			var endTime = /*[[${endTime}]]*/;
			if (endTime != '') {
				$('#datetimepicker4').val(endTime);
			}
			var birthday = /*[[${birthday}]]*/;
			if (birthday != '') {
				$('#datetimepicker5').val(birthday.split('T')[0].replace(/-/g, "/"));
			}
			var days = /*[[${days}]]*/;
			if (days != '') {
				$('#days').val(days);
			}
			var destType = /*[[${destType}]]*/;
			if (destType != '') {
				if ('國內' == destType) {
					$('#travelDestType0').click();
				} else {
					$('#travelDestType1').click();
				}
			}
			var destDesc = /*[[${destDesc}]]*/;
			if (destDesc != '') {
				$('#foreignTravelDest').val(destDesc);
			}
			var adid = /*[[${adid}]]*/;
			if (adid != '') {
				$('#addid').val(adid);
			}
			var mrid = /*[[${mrid}]]*/;
			if (mrid != '') {
				$('#mrid').val(mrid);
			}
			var orid = /*[[${orid}]]*/;
			if (orid != '') {
				$('#orid').val(orid);
			}
			
			if(travelPolicyMsg != ""){
				openAlert(travelPolicyMsg);
				return false;
			}
			
			$('div.mystyle3').validation();
			
			$('#go').click(function() {
				if(!$("div.mystyle3").valid()){
	    			return false;
				}else{
					//保險天數不能大於180
					var days = $("#days").val();
					if (days > 180) {
						/* openAlert("保險天數不能大於180天"); */
						openAlert($('#E0090').val());
						return false;
					}
					//計算歲數
					var bir = $("#datetimepicker5").val()
					if (bir == '') {
						openAlert('請輸入被保人生日');
						return false;
					}
					var birthdayDate= new Date(bir);
					var now = new Date();
					var age = now.getFullYear() - birthdayDate.getFullYear();
					var mon = now.getMonth() - birthdayDate.getMonth();
					
					if (mon < 0 || (mon === 0 && birthdayDate.getDate() < now.getDate())) {
				        age--;
				    }
					
					//保費選擇狀況
					var addid = $("#addid").val();
					var els = 0;
					var elsStr = "";
					console.log(age);
					if(age < 15){
						els = addid * 0.7;
						elsStr = "70%";
					}else if(15 <= age && age <= 80){
						els = addid * 0.4;
						elsStr = "40%";
					}else{
						/* openAlert("最高投保年齡不能超過八十歲!"); */
						openAlert($('#E0091').val());
						return false;
					}
					
					if (age < 15 && addid > 200) {
						/* openAlert("保險金額輸入錯誤，未滿15足歲：最高承保新台幣 200 萬元"); */
						openAlert($('#E0092').val());
						return false;
					}
					
					if (age >= 15 && age <= 20 && addid > 1000) {
						/* openAlert("保險金額輸入錯誤，15足歲以上~20歲：最高承保新台幣1,000 萬元"); */
						openAlert($('#E0127').val());
						return false;
					}
					
					if (age >= 21 && age <= 65 && addid > 2000) {
						/* openAlert("保險金額輸入錯誤，21歲以上~65歲：最高承保新台幣2,000 萬元"); */
						openAlert($('#E0128').val());
						return false;
					}
					
					if (age >= 66 && age <= 70 && addid > 1000) {
						/* openAlert("保險金額輸入錯誤，66歲以上~70歲：最高承保新台幣1,000 萬元"); */
						openAlert($('#E0129').val());
						return false;
					}
					
					if (age >= 71 && age <= 75 && addid > 500) {
						/* openAlert("保險金額輸入錯誤，71歲以上~75歲：最高承保新台幣500 萬元"); */
						openAlert($('#E0130').val());
						return false;
					}
					
					if (age >= 76 && age <= 80 && addid > 400) {
						/* openAlert("保險金額輸入錯誤，76歲以上~80歲：最高承保新台幣400 萬元"); */
						openAlert($('#E0131').val());
						return false;
					}
					
					if($("#mrid").val() > els){
						/* openAlert("意外傷害醫療給付金額不可超過保費之"+elsStr); */
						openAlert($('#E0093').val() + elsStr);
						return false;
					}
					
					if($("#orid").val() > els){
						/* openAlert("海外突發疾病醫療給付金額不可超過保費之"+elsStr); */
						openAlert($('#E0094').val() + elsStr);
						return false;
					}
					
					//試算目前先跳過
					//將資料儲存下來
					
					var travelDest = "";
					
					if($("input[name=travelDestType]:checked").val() == "1"){
						travelDest = "國內";
					}else{
						travelDest = "國外";
					}
	
					var travelPolicy = {
						travelDestType : travelDest,
						travelDest : $("#foreignTravelDest").val(),
						beginDate : $('#datetimepicker1').val(),
						beginTime : $('#datetimepicker2').val(),
						endDate : $('#datetimepicker3').val(),
						endTime : $('#datetimepicker4').val(),
						insured : {
							birthday : $('#datetimepicker5').val().replace(/\//g, "\-")
						},
						travelPlan :{
							age : age,
							addid : $("#addid").val(),
							mrid : $("#mrid").val(),
							orid : $("#orid").val()
						}
					}
					var params = {
		                	name : 'travelPolicy',
		                	value : JSON.stringify(travelPolicy)
		            };
					var paramArray = [];
		        	paramArray.push(params);
					postWithParams(/*[[@{/travelPolicy2}]]*/, paramArray);
					
				}
			});
			
		});
	
		$("#option-droup-demo").chosen({
	    	allow_single_deselect:true, 
	    	search_contains: true
	    });

		$('#datetimepicker1').datepicker({
			changeMonth : true,
			changeYear : true,
			minDate : new Date(),
			yearRange: 'c-0:c+2',
			onSelect: function(selected) {
		    	$("#datetimepicker3").datepicker("option","minDate", selected);
		    	showDate();
		    },
			dateFormat : 'yy/mm/dd'
		});
		$('#datetimepicker2').datetimepicker({
			format : "HH"
		});
		$('#datetimepicker3').datepicker({
			changeMonth : true,
			changeYear : true,
			minDate : new Date(),
			yearRange: 'c-0:c+2',
			dateFormat : 'yy/mm/dd',
			onSelect: function(selected) {
		    	showDate();
		    }
		});
		$('#datetimepicker4').datetimepicker({
			format : "HH"
		});
		$('#datetimepicker5').datepicker({
			changeMonth : true,
			changeYear : true,
			maxDate : new Date(),
			yearRange: 'c-80:c+80',
			dateFormat : 'yy/mm/dd'
		});
		
		function showDate() {
			if ($('#datetimepicker1').val() != '' && $('#datetimepicker3').val() != '') {
				var start = $("#datetimepicker1").datepicker("getDate");
		        var end = $("#datetimepicker3").datepicker("getDate");
		        var days = (end - start) / (1000 * 60 * 60 * 24) + 1;
		        $("#days").val(days);
			}
		}

		$('#orid').attr('disabled', true);
		$('#orid').addClass("disabled");
	/*]]>*/
	</script>
</body>

</html>