<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<title>臺銀人壽旅平險</title>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/icon.css" rel="stylesheet"/>
<link href="css/layout2.css" rel="stylesheet"/>
<link href="css/tablesaw.stackonly.css" rel="stylesheet" />
<link href="img/favor-icon.png" rel="shortcut icon"/>
<link href="css/scrollbar.css" rel="stylesheet" type="text/css"/>
<link href="css/general.css" rel="Stylesheet"/>
<style>
.container {
    padding: 0px 0px 0px 0px;
}
.step li {
    padding: 6px 12px 8px 20px;
}
.change2 {
    width: 90%;
    margin: 0 6%;
    padding: 5px 0 10px;
    display: inline-block;
}
.conditionTerm .tab_content {
    height: 300px;
    overflow-y: scroll;
}
</style>
</head>

<body onsubmit="popupLoading()">
	<div th:replace="fragments/header :: top"></div>
	<header>
		<div class="container">
			<div class="row">
				<th:block th:replace="fragments/logo"/>
				<div class="n1 inlineBlock float-left">旅行平安險試算與申請</div>
			</div>
		</div>
	</header>
	<section class="grey applyInner fullContent">
		<div class="container bg3 box-border listing-area">
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">1<span class="hid1">.
							輸入旅平險申請資料</span>
					</li>
					<li class="step2 active col-xs-3">2<span class="hid1">.
							選擇您的方案</span>
					</li>
					<li class="step3b col-xs-3">3<span class="hid1">.
							輸入保單資料</span>
					</li>
					<li class="step4 col-xs-3">4<span class="hid1">. 確認保單資料</span>
					</li>
				</ul>
			</div>
			<input type="hidden" id="userPlanType" th:value="${travelPolicy.planType}"/>
			<div class="mystyle3">
				<br />
				<h2 style="padding-bottom: 10px; color: #078B37; font-size: 26px;">選擇您的方案</h2>
				<h2>保險期間：<th:block th:text="${travelPolicy.beginDate}"/> ~ <th:block th:text="${travelPolicy.endDate}"/> 共<th:block th:text="${travelPolicy.travelDay}"/>天</h2>
				<div class="change2">
					<div class="packageHead row">
					<th:block th:each="plan, rowStat : ${travelPlans}">
						<div class="packageHeadContent m-4 s-4 x-4" th:id="p+${plan.planType}" onclick="">
							<div class="packageTitle" onclick=""><th:block th:text="${plan.planTypeStr}"/></div>
							<div class="packagePrice" onclick="">
								<span class="before">NTD</span> <th:block th:text="${plan.premium}"/><span class="after">
								</span>
							</div>
						</div>
					</th:block>	
					</div>

					<div class="packageBody row">
					
						<th:block th:each="plan, rowStat : ${travelPlans}">
							<div class="packageBodyContent m-4 s-12 x-12" th:id="c+${plan.planType}" onclick="" style="display: block;">
								<ul>
									<li class="noArrow">保障內容<span>
									<th:block th:if="${plan.age >= 15}" >
										15歲以上
									</th:block>
									<th:block th:unless="${plan.age >= 15}" >
										15歲以下
									</th:block>
									</span></li>
									<li>意外身故或殘廢保險金<span><th:block th:text="${#numbers.formatDecimal(plan.addid, 0, 'DEFAULT', 0, 'COMMA')}"/>萬 / <th:block th:text="${#numbers.formatDecimal(plan.addidPremium, 0, 'DEFAULT', 0, 'COMMA')}"/>元</span></li>
									<li>意外傷害醫療給付保險金<span><th:block th:text="${#numbers.formatDecimal(plan.mrid, 0, 'DEFAULT', 0, 'COMMA')}"/>萬 / <th:block th:text="${#numbers.formatDecimal(plan.mridPremium, 0, 'DEFAULT', 0, 'COMMA')}"/>元</span></li>
									<li>海外突發疾病醫療保險金<span><th:block th:text="${#numbers.formatDecimal(plan.orid, 0, 'DEFAULT', 0, 'COMMA')}"/>萬 / <th:block th:text="${#numbers.formatDecimal(plan.oridPremium, 0, 'DEFAULT', 0, 'COMMA')}"/>元</span></li>
									<li>意外傷害醫療＋海外突發疾病醫療給付：未滿15足歲，最高為保險金額之70%；15足歲~80歲，最高為保險金額之40% (不超過200萬)</li>
								</ul>
								<input type="button" class="btn btnChoosePackage" id="btn1"
									th:value="${plan.planTypeStr}+保費：+${plan.premium}" onclick="" />
							</div>
						</th:block>
					</div>

					<div class="btn-checkbox m-12 s-12 x-12">
						<input type="checkbox" id="haveRead" name="CKP2HR" onclick="acceptTerm(this.checked);" /> 
						<label for="haveRead"> 
							<i class="far fa-square fa-lg" id="chkitem1"></i>
							<i class="far fa-check-square fa-lg" id="chkitem2"></i> 
							我已閱讀並同意下述個資告知、聲明事項及投保須知，並同意臺銀人壽將開始蒐集與處理我的個人資料。
						</label>
					</div>

					<!-- Terms -->
					<div class="conditionTerm">
						<ul id="tab" class="list-unstyled">
							<li class="x-12 active"><a href="#">個人資料蒐集、處理、利用告知事項</a></li>
							<li class="x-12"><a href="#">要保書填寫說明</a></li>
							<li class="x-12"><a href="#">傷害保險投保人須知</a></li>
							<li class="x-12"><a href="#">旅平險暨傷害醫療保險給付附加條款</a></li>
							<li class="x-12"><a href="#">海外突發疾病醫療給付附加條款</a></li>
						</ul>
						<div class="clear"></div>
						<div class="tab_content" style="display: none;">
							<th:block th:replace="frontstage/onlineChange/travelPolicy/term1"/>
						</div>						
						<div class="tab_content" style="display: none;">
							<th:block th:replace="frontstage/onlineChange/travelPolicy/term2"/>
						</div>						
						<div class="tab_content" style="display: none;">
							<th:block th:replace="frontstage/onlineChange/travelPolicy/term3"/>
						</div>
						<div class="tab_content" style="display: none;">
							<th:block th:replace="frontstage/onlineChange/travelPolicy/term4"/>
						</div>
						<div class="tab_content" style="display: none;">
							<th:block th:replace="frontstage/onlineChange/travelPolicy/term5"/>
						</div>
						
					</div>
				</div>


				<!-- container -->
				<div id="ContentPlaceHolder1_dvP201" class="hide">
					<input name="ctl00$ContentPlaceHolder1$txtP2DAYS" type="text"
						id="ContentPlaceHolder1_txtP2DAYS" /> <input
						name="ctl00$ContentPlaceHolder1$txtP2AREA" type="text"
						id="ContentPlaceHolder1_txtP2AREA" /> <input
						name="ctl00$ContentPlaceHolder1$txtP2TKIND" type="text"
						id="ContentPlaceHolder1_txtP2TKIND" /> <input
						name="ctl00$ContentPlaceHolder1$txtP2AMT" type="text"
						id="ContentPlaceHolder1_txtP2AMT" /> <input
						name="ctl00$ContentPlaceHolder1$txtP2TOTPREM" type="text"
						id="ContentPlaceHolder1_txtP2TOTPREM" />
				</div>

				<div class="col-md-12 two-buttons">
					<a>
						<button id="deny" class="btn-signup">上一步</button>
					</a> <a href="#">
						<button id="goNext" class="btn-signup" disabled>下一步</button>
					</a>
				</div>
			</div>
			<form method="post" action="travelPolicy3.html" id="form1"></form>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<script src="plugin/jquery-1.11.3.min.js"></script>
    <script src="plugin/jquery.placeholder.min.js"></script>
    <script src="plugin/detectmobilebrowser_jquery.js"></script>
    <script src="plugin/bootstrap.min.js"></script>
    <script src="plugin/scrollbar.js"></script>
    <script src="js/eservice/form.js"></script>
    <script src="js/travelpolicytab.js"></script>
    <script src="js/tablepand.js"></script>
    <script src="plugin/loading-modal/loading-modal.js"></script>
    <script th:src="@{/fontawesome-free-5.1.1-web/js/regular.js}"></script>
    <script th:src="@{/fontawesome-free-5.1.1-web/js/fontawesome.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('.tab_content h2').on('click',function(){
			  if ($(this).parent().find('input[type="checkbox"]').prop('checked')){
				  $(this).parent().find('input[type="checkbox"]').prop('checked','');
			  }
			  else{
				$(this).parent().find('input[type="checkbox"]').prop('checked','checked');
			  }
		 });

		
		var theForm = document.forms['form1'];
		if (!theForm) {
			theForm = document.form1;
		}
		
		// 預設 Active
		$(window).load(function () {
			$('#p'+$("#userPlanType").val()).click();
		});
		
		// 更改相對的欄位
		var cList = ['#c1', '#c2', '#c3', '#c4'];
		var pList = ['#p1', '#p2', '#p3', '#p4'];
		
		function showAll(element, index, array) {
			console.log("showAll");
			$(element).show();
		}
		function hideAll(element, index, array) {
			$(element).hide();
		}

		function bindClickCallback(element, index, array) {
			$(element).bind('click', { p: cList[index], c: pList[index] }, function (event) {
				var data = event.data;
				$("#userPlanType").val(data.p);
				pcClicked(data.p, data.c);
			});
		}
		cList.forEach(bindClickCallback);
		pList.forEach(bindClickCallback);

		function pcClicked(p, c) {
			//console.log("pcclicked");
			$('.packageHeadContent').removeClass('active');
			$('.packageBodyContent').removeClass('active');
			$(p).addClass('active');
			$(c).addClass('active');
			var windowWidth = $(window).width();
			if (windowWidth <= 991) {
				cList.forEach(hideAll);
				$(p).show();
			}
		}
		
		function acceptTerm(checked) {
			if (checked == true) {
				$('#goNext').attr('disabled', false);
				$('#goNext').addClass('go');
	    		$('#chkitem1').hide();
	    		$('#chkitem2').show();
			} else {
				$('#goNext').attr('disabled', true);
				$('#goNext').removeClass('go');
	    		$('#chkitem1').show();
	    		$('#chkitem2').hide();
			}
		}
		
		$("#goNext").click(function(){
			if($('input[id="haveRead"]:checked').size() == 0){
				/* openAlert("請勾選是否已閱讀並同意相關事項"); */
				openAlert($('#E0095').val());
				return;
			}
			
			var travelPolicy = /*[[${travelPolicy}]]*/;
			var travelPlans = /*[[${travelPlans}]]*/;

			var type = $("#userPlanType").val().replace("#c","");
			travelPolicy.planType = type;
			
			var planNo = 0;
			$.each(travelPlans, function(i, plan) {
				if(plan.planType === type){
					planNo = i;
				}
			});
			
			travelPolicy.travelPlan = travelPlans[planNo];
			
			var params = {
                	name : 'travelPolicy',
                	value : JSON.stringify(travelPolicy)
            };
			
			var paramArray = [];
        	paramArray.push(params);
			postWithParams(/*[[@{/travelPolicy3}]]*/, paramArray);
			
		});

		$("#deny").click(function(){			
			var travelPolicy = /*[[${travelPolicy}]]*/;
			var beginDate = travelPolicy.beginDate;
			var beginTime = travelPolicy.beginTime;
			var endDate = travelPolicy.endDate;
			var endTime = travelPolicy.endTime;
			var birthday = travelPolicy.insured.birthday.split('T')[0].replace(/-/g, "/");		    
			var days = travelPolicy.travelDay;
			var destType = travelPolicy.travelDestType;
			var destDesc = travelPolicy.travelDest;
			var adid = travelPolicy.travelPlan.addid;
			var mrid = travelPolicy.travelPlan.mrid;
			var orid = travelPolicy.travelPlan.orid;
			
			var params = '?beginDate=' + beginDate + '&beginTime=' + beginTime + '&endDate=' + endDate + '&endTime=' + endTime
			 + '&birthday=' + birthday + '&days=' + days + '&destType=' + destType + '&destDesc=' + destDesc + '&adid=' + adid
			 + '&mrid=' + mrid + '&orid=' + orid;
			window.location.href='travelPolicy1' + params;
			
		});
		/*]]>*/
    $('#chkitem2').hide();
	</script>

</body>

</html>