<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">申請項目：</th>
							<td>
								<th:block th:text="${transRenewReduceVo != null and transRenewReduceVo.transType != null and session.SYSTEM_PARAMETER['RENEW_REDUCE_TYPE'][transRenewReduceVo.transType] != null} 
									? ${session.SYSTEM_PARAMETER['RENEW_REDUCE_TYPE'][transRenewReduceVo.transType].parameterValue}"/>
							</td>
						</tr>
						<tr class="">
							<th class="hid-th w40p">保單：</th>
							<td>
								<th:block th:if="${transRenewReduceVo != null}">
									<th:block th:each="policyNo : ${transRenewReduceVo.policyNoList}">
										<th:block th:each="map : ${session.USER_PRODUCT_NAME_LIST}">
											<th:block th:if="${map['POLICY_NO'] eq policyNo}">
												<th:block th:text="${map['PRODUCT_NAME']}"/>(<th:block th:text="${policyNo}"/>)
											</th:block>
										</th:block>
									</th:block>
								</th:block>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>