<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>補發保單｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">補發保單</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 補發保單
			</div>
			<div class="">
				<ul class="step">
				<li class="step1 col-xs-4">
					1<span class="hid1">. 選擇保單</span>
				</li>
				<li class="step2 active col-xs-4">
					2<span class="hid1">. 設定寄送地址</span>
				</li>
				<li class="step3 col-xs-4">
					3<span class="hid1">. 確認資料</span>
				</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>設定寄送地址</h2>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">戶籍地址：</label>
					</div>
					<div class="col-sm-8">
						<th:block th:text="${addr}"/>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">收費地址：</label>
					</div>
					<div class="col-sm-8">
						<th:block th:text="${charAddr}"/>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">收件人：</label>
					</div>
					<div class="col-sm-8">
						<input type="text" id="resendName" name="resendName" class="col-sm-9" 
							data-validation="required"
							style="padding: 6px 12px;line-height: 1em;" />
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">聯絡電話：</label>
					</div>
					<div class="col-sm-8">
						<input type="text" id="resendTel" name="resendTel"class="col-sm-9" maxlength="10"
							 placeholder="範例:0223456789" data-validation="required|telphone2"
							style="padding: 6px 12px;line-height: 1em;" />
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">收件地址：</label>
					</div>
					<div class="col-sm-8">
						<th:block th:replace="fragments/address"/>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a href="policyResend1">
						<button id="deny" class="btn-signup">上一步</button>
					</a>
					<th:block th:if="${loginUserType eq 'member'}">
						<button id="go" class="btn-signup">下一步</button>
					</th:block>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transResendPolicyVo}]]*/;
		$(function() {
			$('div.mystyle3').validation();
			
			// 下一步事件
			$('#go').click(function() {
				if(!$("div.mystyle3").valid()) {
					return false;
				}
				/* if (!isAddressValid('請輸入收件地址')) {
	                return false;
	            } */
	            if(!isAddressValid($('#E0061').val())){
	                return false;
	            }
				
				formData.name = $('#resendName').val();
				formData.tel = $('#resendTel').val();
				formData.address = $("#selectAddressFull").val();
				
				postWithFormData(/*[[@{/policyResend3}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>