<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.shouxian.dao.ShouXianDao">

    <resultMap id="PolicyMap" type="com.twfhclife.eservice.web.model.PolicyVo">
        <result column="POLICY_NO" property="policyNo"/>
        <result column="STATUS" property="status"/>
        <result column="EFFECTIVE_DATE" property="effectiveDate"/>
        <result column="EXPIRE_DATE" property="expireDate"/>
        <result column="PAID_TO_DATE" property="paidToDate"/>
        <result column="PAYMENT_METHOD" property="paymentMethod"/>
        <result column="PAYMENT_MODE" property="paymentMode"/>
        <result column="POLICY_TYPE" property="policyType"/>
        <result column="MAIN_AMOUNT" property="mainAmount"/>
        <result column="UNPAID_STATUS" property="unpaidStatus"/>
        <result column="UNPAID_AMOUNT" property="unpaidAmount"/>
        <result column="CURRENCY" property="currency"/>
        <result column="AGENT_CODE_BRANCH" property="agentCodeBranch"/>
    </resultMap>


    <resultMap id="PolicyListMap" type="com.twfhclife.eservice.web.model.PolicyListVo" extends="PolicyMap">
        <result column="DRAW_DAY" property="drawDay"/>
        <result column="PAID_AMOUNT" property="paidAmount"/>
        <result column="MAIN_INSURED_NAME" property="mainInsuredName"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="EXPIRED_FLAG" property="expiredFlag"/>
        <result column="SAME_ID_COUNT" property="sameIdCount"/>
        <result column="CUSTOMER_NAME" property="customerName"/>
        <result column="PROD_IS_FATCA" property="prodIsFatca"/>
        <result column="PROD_TYPE" property="prodType"/>
        <result column="LIPI_ROCID" property="lipiRocId"/>
        <result column="LIPM_ID" property="rocId"/>
    </resultMap>


    <select id="getPolicyList" resultMap="PolicyListMap">
        SELECT TOP 5 P.POLICY_NO
        ,P.EFFECTIVE_DATE
        ,P.EXPIRE_DATE
        ,P.PAID_TO_DATE
        ,P.PAYMENT_METHOD
        ,P.PAYMENT_MODE
        ,P.POLICY_TYPE
        ,P.MAIN_AMOUNT
        ,P.CURRENCY FROM SHOUXIAN_POLICY P
    </select>
</mapper>