<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>設定停損停利通知｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner notification2 fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">設定停損停利通知</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border listing-area">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 設定停損停利通知
			</div>
			<div class="">
				<ul class="step">					
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 設定停損停利點</span>
					</li>
					<li class="step3 active col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3 loan1">
				<h2>請確認資料並輸入驗證碼</h2>
				<div class="check-title">設定停損停利點通知</div>
				<span style="display:none" id="policyNo" class="colorBlack">
					<th:block th:if="${transFundNotificationVo != null}">
						<th:block th:each="policyNo : ${transFundNotificationVo.policyNoList}">
							<th:block th:text="${policyNo}"/>
						</th:block>
					</th:block>
				</span>
				<div class=" grey2">
					<br/>
					<div class="tb3 top0">
						<i class="fas fa-chevron-down"></i> 停損停利點
					</div>
					<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack" id="fundNotificationTable">
						<thead>
							<tr class="table2 orange2">
								<th class="item90">類型</th>
								<th class="item100 text-left " scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
								<th class="item90" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">幣別</th>
								<th class="item120" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">投資收益等級</th>
								<th class="item120" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">參考帳戶價值</th>
								<th class="item131" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">參考報酬率(%)</th>
								<th class="item90">停利點</th>
								<th class="item90">停損點</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="vo : ${holdList}">
								<tr>
									<td>
										已持有
									</td>
									<td><th:block th:text="${vo.invtName}"/><p class="enSmall">(<th:block th:text="${vo.fundCode}"/>)</p></td>
									<td><th:block th:text="${vo.currency}"/></td>
									<td><th:block th:text="${vo.riskBeneLevel}"/></td>
									<td>
										<th:block th:text="${vo.acctValue != null} ? ${#numbers.formatDecimal(vo.acctValue, 0, 'DEFAULT', 0, 'COMMA')}"/>
									</td>
									<td><th:block th:text="${vo.roiRate} + '%'"/></td>
									<td>
										<th:block th:if="${vo.percentageUp != null}">
											+<th:block th:text="${vo.percentageUp}"/>%
										</th:block>
										<th:block th:if="${vo.percentageUp == null}">
											--
										</th:block>
									</td>
									<td>
										<th:block th:if="${vo.percentageDown != null}">
											-<th:block th:text="${vo.percentageDown}"/>%
										</th:block>
										<th:block th:if="${vo.percentageDown == null}">
											--
										</th:block>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					</div>
					<div class=" grey2">
						<br/>
						<div class="tb3 top0">
							<i class="fas fa-chevron-down"></i> 投資標的追蹤通知
						</div>
						<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
							<thead>
							<tr class="table2 orange2">
								<th class="item80">類型</th>
								<th class="item100 text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
								<th class="item80" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">幣別</th>
								<th class="item100" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">淨值日</th>
								<th class="item90" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">單位淨值</th>
								<th class="item90">現行淨值上限</th>
								<th class="item90">現行淨值下限</th>
							</tr>
							</thead>
							<tbody>
							<th:block th:each="vo : ${observeList}">
								<tr>
									<td>
										追蹤中
									</td>
									<td><th:block th:text="${vo.invtName}"/>(<th:block th:text="${vo.fundCode}"/>)</td>
									<td><th:block th:text="${vo.currency}"/></td>
									<td><th:block th:text="${vo.effectiveDate} != null ? ${#dates.format(vo.effectiveDate, 'yyyy/MM/dd')}"/>
									<td><th:block th:text="${vo.sellPrice}"/></td>
									<td>
										<th:block th:if="${vo.upValue != null}">
											<th:block th:text="${vo.upValue}"/>
										</th:block>
										<th:block th:if="${vo.upValue == null}">
											--
										</th:block>
									</td>
									<td>
										<th:block th:if="${vo.downValue != null}">
											<th:block th:text="${vo.downValue}"/>
										</th:block>
										<th:block th:if="${vo.downValue == null}">
											--
										</th:block>
									</td>
								</tr>
							</th:block>
							</tbody>
						</table>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-8 col-md-offset-2 ptop30">
				<div th:replace="fragments/sendVerify"></div>

				<div class="col-md-12 two-buttons">
				<div class="col-md-12 two-buttons">
					<button type="button" id="deny" class="btn-signup">上一步</button>
					<button type="button" id="go" data-toggle="modal" data-target="#modal-container-Policy" class="btn-signup">確認送出</button>
				</div>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade in" id="modal-container-Policy" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 grey2">
					<h3>本通知僅供參考，任何交易仍必須另外申請方能生效</h3>
					<p>是否要繼續變更？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-signup" data-dismiss="modal" aria-label="Close">取消</button>
					<button type="button" class="btn-signup" id="go1" style="background-color: #CC7A02;" data-dismiss="modal" aria-label="Close" onclick="go()">確認</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 要送出的form data -->
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:src="@{/plugin/jquery.base64.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var smsRemainTime = [[${notificationTimeSet}]];
		var formData = {};
		formData.policyNoList = /*[[${transFundNotificationVo.policyNoList}]]*/;
		formData.fundNotificationDtlJsonData = /*[[${transFundNotificationVo.fundNotificationDtlJsonData}]]*/;
	
		$(function() {
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/notification2}]]*/, formData);
			});
			
			// 確認送出
			$('#go1').click(function() {
				if ($('#InputCert1').val() == '') {
					/* openAlert("請輸入驗證碼"); */
					openAlert($('#E0071').val());
					return false;
				}

				formData.authType = $("[name='tab_group_2']:checked").val()
				formData.userPassword = $.base64.encode($("input[name='userPassword']").val())
				formData.authenticationNum = $("input[name='authNum']").val()
				postWithFormData(/*[[@{/notificationSuccess}]]*/, formData);
			});

			smsTimer.show(1); // 1秒
		});

		var smsTimer = function() {
			var timer;
			function showSmsRemainTime(second) {
				timer = setInterval(function() {
					smsRemainTime = smsRemainTime - 1
					if (smsRemainTime <= 0) {
						clearInterval(timer);
						$('#timerDiv').html('0:00');
					} else {
						var showTime = moment.utc(smsRemainTime * 1000).format('m:ss');
						$('#timerDiv').html(showTime);
					}
				}, second * 1000);
			};
			function reset() {
				clearInterval(timer);
				reSendAuthentication();
			};
			return {
				show : function(second) {
					showSmsRemainTime(second);
				},
				reset : function() {
					reset();
				}
			};
		}();

		function reSendAuthentication() {
			popupLoading();
			$.ajax({
				type : 'POST',
				dataType : 'json',
				url : "/eservice/sendAuthentication",
				data : {
					authenticationType: "fundNotification"
				},
				success : function(response) {
					removeLoading();
					openAlert($('#E0010').val());
					smsRemainTime = 300;
					smsTimer.show(1);
				},
				error : function() {
					removeLoading();
					openAlert($('#E0011').val());
					//openAlert("重新寄送失敗，請重新寄送驗證碼！");
				}
			});
		}
	/*]]>*/
	</script>
</body>

</html>