<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>首次登入密碼變更｜經代支援系統</title>
	<link th:href="@{/css/pwdcheck.css}" rel="stylesheet"/>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header>
		<div class="container">
			<div class="row">
				<th:block th:replace="fragments/logo"/>
				<div class="n1 inlineBlock float-left">經代支援系統<span class="colorBlue">首次登入驗證</span></div>
				<div class="clearfix visible-xs-block"></div>
			</div>
		</div>
	</header>
	<section class="grey fullContent">
		<div class="container bg3 box-border no-borderTop">
			<ul class="step">
				<li class="step1 col-xs-4">
					<span class="mobile">步驟 </span> 1<span class="hid1">. 同意條款</span>
				</li>
				<li class="step2 col-xs-4">
					<span class="mobile">步驟 </span> 2<span class="hid1">. 輸入驗證碼</span>
				</li>
				<li class="step3 active col-xs-4">
					<span class="mobile">步驟 </span> 3<span class="hid1">. 設定新密碼</span>
				</li>
			</ul>
			<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 mobile-panel">
				<div class="cert1">
				   
						<h2>請設定新密碼</h2>
						<div class="form-group">
							<div class="text-left colorBlack">新密碼</div>
							<input type="password" class="form-control" id="InputPassword" placeholder="8～20碼混合之數字及英文字母和符號(須區分大小寫)"/>
							<div id="pwdCheckLevelDiv" class="pw-strength pw-default">
								<div class="pw-bar"></div>
								<div class="pw-bar-on"></div>
								<div class="pw-txt">
									<span>弱</span>
									<span>中</span>
									<span>强</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="text-left colorBlack">確認新密碼</div>
							<input type="password" class="form-control" id="InputPasswordAgain" placeholder="請再次輸入新密碼"/>
						</div>
						<div class="clearfix"></div>
						<button class="go btn-signup" style="background-color: #CC7A00" onclick="changePassword()">確認送出
						</button>
				   
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script>
	
	$(function(){ 
		eserviceForm.pwdCheck('#InputPassword');
	});
	
	function changePassword() {
		if ($('#InputPassword').val() == '') {
			openAlert("請輸入新密碼！");
			return false;
		}
		
		if (!eserviceForm.checkPassword($('#InputPassword').val())) {
			openAlert("請輸入8～20碼混合之數字及英文字母和符號(須區分大小寫)！");
			return false;
		}
		
		if ($('#InputPasswordAgain').val() == '') {
			openAlert("請確認新密碼！");
			return false;
		}
		
		if($("#InputPassword").val() != $("#InputPasswordAgain").val()){
			openAlert("輸入的密碼不一致！");
			return false;
		}
		
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : "register/updatePassword",
			data : $("#InputPassword").val(),
			success : function(response) {
				console.log(response);
				if(response.resultMsg != ""){
					openAlert(response.resultMsg, "firstPassword3");
					return;
				}
				window.location.href = "firstPasswordSuccess";
			},
			error : function() {
				openAlert('error!')
			}
		});
	}
	</script>
</body>

</html>