<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>申請保單提領(贖回)｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">申請保單提領(贖回)</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 申請保單提領(贖回)
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-3">
						2<span class="hid1">. 提領金額</span>
					</li>
					<li class="step3b active col-xs-3">
						3<span class="hid1">. 給付方式</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇給付方式</h2>

    <div class="col-md-8 col-md-offset-2">
      <form class="form-horizontal no-borderBottom" role="form">

          <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2">給付方式：</label>
                      <div class="col-sm-9">
                      	<div class="radio inline">
                              <label>
                                  <div class="radio-btn  checkedRadio"><i><input type="radio" name="tab_group_2" checked="checked" value="option2" onclick="if(this.checked) $('#tab_4').show().siblings().hide();"></i></div> 匯入要保人帳戶 
                              </label>
                          </div>
                          <th:block th:if="${showPost}">
                              <div class="radio inline">
                                  <label>
                                      <div class="radio-btn "><i><input type="radio" name="tab_group_2" value="option1" onclick="if(this.checked) $('#tab_3').show().siblings().hide();"></i></div> 郵寄支票
                                  </label>
                              </div>
                          </th:block>
                      </div>
                      <div class="col-sm-12">
                          <div class="tabs">
                      <!-- TAB 1 -->
                              <article id="tab_3" class="tab">
                                 <section id="tab_frame_print1" class="tab-frame">
                                    <div class="arrow-upleft"  style="left: 45%"></div>
                                    <div class="grey2">
                                        <div class="check-title depo2">支票內容</div>
                                        <div class="check-list2 grey2">
                                             <label for="" class="col-sm-3">郵遞區號</label>
                                             <div class="col-sm-8"><input type="text" id="zipCode" class="col-sm-5" placeholder="郵遞區號"> </div>
                                        </div>
                                        <div class="check-list2 grey2">
                                            <label for="" class="col-sm-3">地址</label>
                                             <div class="col-sm-9"><input id="address" type="text" class="col-sm-11"> </div>
                                        </div>
                                    </div>
                                  </section>
                              </article>
                      <!-- TAB 2 -->
                              <article class="tab  tab-show" id="tab_4">
                                <section id="tab_frame_print1" class="tab-frame">
                                    <div class="arrow-upleft"></div>
                                    <div class="grey2">
                                        <div class="check-title depo2">帳戶內容</div>
                                        <div class="check-list2 grey2">
                                            <label for="" class="col-sm-3">Swift Code</label>
                                             <div class="col-sm-9"><input placeholder="臺幣保單不需輸入" id="swiftCode" type="text" class="col-sm-6"> </div>
                                        </div>
                                        <div class="check-list2 grey2">
                                            <label for="" class="col-sm-3">英文戶名</label>
                                             <div class="col-sm-9"><input placeholder="臺幣保單不需輸入" id="englishName" type="text" class="col-sm-6"> </div>
                                        </div>
                                        <div class="check-list2 grey2">
                                             <label for="" class="col-sm-3">帳戶名稱</label>
                                             <div id="accountName" class="col-sm-8 gray"><th:block th:text="${userName}"/></div>
                                        </div>
                                        <div class="check-list2 grey2">
                                            <label for="" class="col-sm-3">銀行名稱</label>
                                             <div class="col-sm-3">
                                               <div class="selector-box">
                                                <select class="selector" id="bankOpt">
                                                </select>
                                              </div>
                                             </div>
                                             <label for="" class="col-sm-2">分行名稱</label>
                                             <div class="col-sm-3">
                                               <div class="selector-box">
                                                <select class="selector" id="brancheOpt">
                                                </select>
                                              </div>
                                             </div>
                                        </div>
                                        <div class="check-list2 grey2">
                                            <label for="" class="col-sm-3">帳號</label>
                                             <div class="col-sm-9"><input type="text" id="bankAccount"  class="col-sm-11"> </div>
                                        </div>
                                    </div>
                                  </section>
                              </article>
                          </div>
                      </div>
          </div> 
      </form>
  
    </div>


				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a><button id="deny" class="btn-signup">上一步</i></button></a>
					<button id="go" class="btn-signup">下一步</button>
				</div>
			</div>
		</div>
        <input type="hidden" id="policyNo" name="policyNo" th:value="${depositVo.policyNo}"/>
        <input type="hidden" id="depositMethod" name="depositMethod" th:value="${depositVo.depositMethod}"/>
        <input type="hidden" id="amount" name="amount" th:value="${depositVo.amount}"/>
        <input type="hidden" id="invtDeposits" name="invtDeposits" th:value="${depositVo.invtDeposits}"/>
        <input type="hidden" id="currency" name="currency" th:value="${depositVo.currency}"/>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
            $('#go').click(function() {
                var formData = {};
                if($("[name='tab_group_2']:checked").val() == 'option2') {
                    // 檢核是否有選一筆資料
                    var currency = [[${depositVo.currency}]]
                    if (currency != 'NTD') {
                        if ($('#swiftCode').val() == '') {
                            openAlert("請輸入Swift Code");
                            return false;
                        }
                        if ($('#englishName').val() == '') {
                            openAlert("請輸入英文戶名");
                            return false;
                        }
                    }
                    if ($('#bankOpt').val() == '') {
                        openAlert("請選擇銀行");
                        return false;
                    }
                    if ($('#brancheOpt').val() == '') {
                        openAlert("請選擇分行");
                        return false;
                    }
                    if ($('#bankAccount').val() == '') {
                        openAlert("請輸入帳號");
                        return false;
                    }
                    if (!/^\d+$/.test($('#bankAccount').val())) {
                        openAlert('銀行帳號僅為數字');
                        openAlert($('#E0053').val());
                        return false;
                    }
                    formData.bankAccount = $('#bankAccount').val()
                    formData.bankName = $('#bankOpt option:selected').text()
                    formData.bankCode = $('#bankOpt option:selected').val()
                    formData.branchName = $('#brancheOpt option:selected').text()
                    formData.branchCode = $('#brancheOpt option:selected').val()
                    formData.englishName = $('#englishName').val()
                    formData.swiftCode = $('#swiftCode').val()
                    formData.accountName = $('#accountName').text()
                    formData.paymentMethod = '1'
                } else {
                    if ($('#zipCode').val() == '') {
                        openAlert("請輸入郵遞區號");
                        return false;
                    }
                    if ($('#address').val() == '') {
                        openAlert("請輸入地址");
                        return false;
                    }
                    formData.zipCode = $('#zipCode').val()
                    formData.address = $('#address').val()
                    formData.paymentMethod = '2'
                }
                formData.policyNo = $('#policyNo').val()
                formData.invtDeposits = $('#invtDeposits').val()
                formData.depositMethod = $('#depositMethod').val()
                formData.amount = $('#amount').val()
                formData.currency = $('#currency').val()
                postWithFormData(/*[[@{/deposit4}]]*/, formData);
            });
            // 上一步事件
            $('#deny').click(function() {
                let formData = {};
                formData.policyNo = $('#policyNo').val();
                postWithFormData(/*[[@{/deposit2}]]*/, formData);
            });

            //銀行下拉選單
            var bankUrl = /*[[@{/getBankList}]]*/;
            var branchesUrl = /*[[@{/getBranchesList}]]*/;
            eserviceOption.bankBranches('#bankOpt', bankUrl, '#brancheOpt', branchesUrl);
        });
		/*]]>*/
		</script>
</body>

</html>