<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>申請保單提領(贖回)｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">申請保單提領(贖回)</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 申請保單提領(贖回)
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-3">
						2<span class="hid1">. 提領金額</span>
					</li>
					<li class="step3b col-xs-3">
						3<span class="hid1">. 給付方式</span>
					</li>
					<li class="step4 active col-xs-3">
						4<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認提領資料與密碼</h2>
				<div class="col-md-8 col-md-offset-2 form-result">
					<form class="form-horizontal" role="form" style="border-bottom: 0;">
						<div class="form-group">
						  <label for="productID123" class="col-sm-3">提領保單：</label>
						  <div id="productID123" class="col-sm-9"> <th:block th:text="${depositVo.policyNo != null and userInfo.productNameMap != null}
								? ${userInfo.productNameMap[depositVo.policyNo]}"/>
							  <span class="spandepo4">(<th:block th:text="${depositVo.policyNo}"/>)</span></div>
						</div>
			  
						<div class="form-group">
						   <label for="inputPassword3" class="col-sm-3">提領方式：</label>
							<th:block th:if="${depositVo.depositMethod == '1'}">
								<div class="col-sm-9">
									指定總金額
								</div>
							</th:block>
							<th:block th:if="${depositVo.depositMethod == '2'}">
								<div class="col-sm-9">
									自定投資標的比例
								</div>
							</th:block>
						</div>
						<th:block th:if="${depositVo.paymentMethod == '1'}">
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">給付方式：</label>
								<div class="col-sm-9">
									匯入要保人帳戶
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">Swift Code：</label>
								<div class="col-sm-9" th:text="${depositVo.swiftCode}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">英文戶名：</label>
								<div class="col-sm-9" th:text="${depositVo.englishName}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">帳戶名稱：</label>
								<div class="col-sm-9" th:text="${depositVo.accountName}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3"> 銀行名稱：</label>
								<div class="col-sm-9" th:text="${depositVo.bankName}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3"> 分行名稱：</label>
								<div class="col-sm-9" th:text="${depositVo.branchName}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3"> 帳號：</label>
								<div class="col-sm-9" th:text="${depositVo.bankAccount}">
								</div>
							</div>
						</th:block>
						<th:block th:if="${depositVo.paymentMethod == '2'}">
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">給付方式：</label>
								<div class="col-sm-9">
									郵寄支票
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3">郵寄地址：</label>
								<div class="col-sm-9" th:text="${depositVo.address}">
								</div>
							</div>
						</th:block>
						<th:block th:if="${depositVo.depositMethod == '1'}">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3">提領金額：</label>
								<div class="col-sm-9">
									<th:block th:text="${depositVo.currency}"/>
									<th:block th:if="${depositVo.currency != 'NTD'}">
										<th:block th:text="${depositVo.amount != null} ? ${#numbers.formatDecimal(depositVo.amount, 0, 'DEFAULT', 2, 'POINT')}"/>
									</th:block>
									<th:block th:if="${depositVo.currency == 'NTD'}">
										<th:block th:text="${depositVo.amount != null} ? ${#numbers.formatDecimal(depositVo.amount, 0, 'DEFAULT', 0, 'COMMA')}"/>
									</th:block>
								</div>
							</div>
						</th:block>
						
					</form>
					<th:block th:if="${depositVo.depositMethod == '2'}">
							<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
								<thead>
								<tr class="table2">
									<th class="text-left item180" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">參考帳戶價值</th>
									<th class="item180" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">提領比例</th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="3">提領金額</th>
								</tr>
								</thead>
								<tbody>

								<th:block th:if="${invtDeposits} != null">
									<th:block th:each="vo, rowStat : ${invtDeposits}">
										<tr class="h65">
											<td class="text-left"><th:block th:text="${vo.invtName}"/><p class="enSmall">(<th:block th:text="${vo.invtNo}"/>)</p></td>
											<td>
<!--												<th:block th:text="${vo.amount != null} ? ${#numbers.formatDecimal(vo.amount, 0, 'DEFAULT', 0, 'COMMA')}"/>-->
												<th:block th:if="${vo.currency != 'NTD'}">
													<th:block th:text="${vo.acctValue != null} ? ${#numbers.formatDecimal(vo.acctValue, 0, 'DEFAULT', 2, 'POINT')}"/>
												</th:block>
												<th:block th:if="${vo.currency == 'NTD'}">
													<th:block th:text="${vo.acctValue != null} ? ${#numbers.formatDecimal(vo.acctValue, 0, 'DEFAULT', 0, 'COMMA')}"/>
												</th:block>
												<i class="my5" style="color:#666666"><th:block th:text="${vo.currency}"/></i>
											</td>
											<td><th:block th:text="${vo.ratio}"/>%</td>
											<td>
												<th:block th:if="${vo.currency != 'NTD'}">
													<th:block th:text="${vo.amount != null} ? ${#numbers.formatDecimal(vo.amount, 0, 'DEFAULT', 2, 'POINT')}"/>
												</th:block>
												<th:block th:if="${vo.currency == 'NTD'}">
													<th:block th:text="${vo.amount != null} ? ${#numbers.formatDecimal(vo.amount, 0, 'DEFAULT', 0, 'COMMA')}"/>
												</th:block>
												<i class="my5" style="color:#666666"><th:block th:text="${vo.currency}"/></i>
											</td>
										</tr>
									</th:block>
								</th:block>
								</tbody>
							</table>
						</th:block>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<div th:replace="fragments/sendVerify"></div>
				</div>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a><button id="deny" class="btn-signup">上一步</i></button></a>
					<button id="go" class="btn-signup"  data-toggle="modal" data-target="#modal-container-locked">確定申請</i></button>
				</div>
			</div>
		</div>
		<input type="hidden" id="policyNo" name="policyNo" th:value="${depositVo.policyNo}"/>
		<input type="hidden" id="paymentMethod" name="paymentMethod" th:value="${depositVo.paymentMethod}"/>
		<input type="hidden" id="amount" name="amount" th:value="${depositVo.amount}"/>
		<input type="hidden" id="invtDeposits" name="invtDeposits" th:value="${depositVo.invtDeposits}"/>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<div class="modal fade in" id="modal-container-locked" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content lock-up">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body apply2 grey2" style="padding: 20px 50px;">
                                    實際贖回金額/單位數<br/>以後端系統執行基準日為準
                    <p class="marginBottom30">是否要繼續變更？</p>
                </div>
                <div class="modal-footer">
                	<button type="button" class="btn-signup" data-dismiss="modal" aria-label="Close">取消</button>
                    <button type="button" class="btn-signup" onclick="go()" style="background-color: #CC7A02;">確定</button>
                </div>
            </div>
        </div>
    </div>
    
	<th:block th:replace="fragments/script"/>
	<script th:src="@{/plugin/jquery.base64.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var smsRemainTime = [[${depositTimeSet}]];
		function go() {
			// 檢核是否有選一筆資料
			var formData = [[${depositVo}]];
			formData.authType = $("[name='tab_group_2']:checked").val()
			formData.userPassword = $.base64.encode($("input[name='userPassword']").val())
			formData.authenticationNum = $("input[name='authNum']").val()
			postWithFormData(/*[[@{/depositSuccess}]]*/, formData);
		};

		$(function(){
			// 上一步事件
            $('#deny').click(function() {
                let formData = {
		            paymentMethod: $("#paymentMethod").val(),
		            paymentMethod: $("#paymentMethod").val(),
		            amount: $("#amount").val(),
		            policyNo: $('#policyNo').val(),
		            invtDeposits: JSON.stringify([[${invtDeposits}]])
		        }
                postWithFormData(/*[[@{/deposit3}]]*/, formData);
            });

            smsTimer.show(1); // 1秒
		})

		var smsTimer = function() {
			var timer;
			function showSmsRemainTime(second) {
				timer = setInterval(function() {
					smsRemainTime = smsRemainTime - 1
					if (smsRemainTime <= 0) {
						clearInterval(timer);
						$('#timerDiv').html('0:00');
					} else {
						var showTime = moment.utc(smsRemainTime * 1000).format('m:ss');
						$('#timerDiv').html(showTime);
					}
				}, second * 1000);
			};
			function reset() {
				clearInterval(timer);
				reSendAuthentication();
			};
			return {
				show : function(second) {
					showSmsRemainTime(second);
				},
				reset : function() {
					reset();
				}
			};
		}();

		function reSendAuthentication() {
			popupLoading();
			$.ajax({
				type : 'POST',
				dataType : 'json',
				url : "/eservice/sendAuthentication",
				data : {
					authenticationType: "deposit"
				},
				success : function(response) {
					removeLoading();
					openAlert($('#E0010').val());
					smsRemainTime = 300;
					smsTimer.show(1);
				},
				error : function() {
					removeLoading();
					openAlert($('#E0011').val());
					//openAlert("重新寄送失敗，請重新寄送驗證碼！");
				}
			});
		}
		/*]]>*/
		</script>
</body>

</html>