<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<th:block th:if="${transLoanVo != null}">
							<tr class="">
								<th class="hid-th w40p">可借金額：</th>
								<td>
									<th:block th:text="${transLoanVo.remainLoanValue != null} 
										? ${#numbers.formatDecimal(transLoanVo.remainLoanValue, 0, 'DEFAULT', 0, 'COMMA')}"/> NTD
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">已借金額：</th>
								<td>
									<th:block th:text="${transLoanVo.loanedAmount != null} 
										? ${#numbers.formatDecimal(transLoanVo.loanedAmount, 0, 'DEFAULT', 0, 'COMMA')}"/> NTD
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">欲借金額：</th>
								<td>
									<th:block th:text="${transLoanVo.loanAmount != null} 
										? ${#numbers.formatDecimal(transLoanVo.loanAmount, 0, 'DEFAULT', 0, 'COMMA')}"/> NTD
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">匯款帳戶名稱：</th>
								<td>
									<th:block th:text="${transLoanVo.accountName}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">匯款銀行：</th>
								<td>
									<th:block th:text="${transLoanVo.bankName}"/><th:block th:text="${transLoanVo.branchName}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">匯款帳號：</th>
								<td>
									<th:block th:text="${transLoanVo.accountNumber}"/>
								</td>
							</tr>
							<tr class="" th:if="${transLoanVo.noticeMethod != null}">
								<th class="hid-th w40p">
									<div th:switch="${transLoanVo.noticeMethod}"> 
									  <span th:case="'mobile'">簡訊通知：</span>
									  <span th:case="'email'">郵件通知：</span>
									</div>
								</th>
								<td>
									<th:block th:text="${transLoanVo.noticeTarget}" />
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>