<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">風險屬性：</th>
							<td>
								<div>
									<span th:text="${before}"></span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div class="col-sm-12 hid-title3">
	<i class="fas fa-chevron-down fa orange"></i>
</div>
<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">風險屬性：</th>
							<td>
								<div>
								  <span th:text="${after}"></span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>