<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更風險屬性｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更風險屬性</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更風險屬性
			</div>
			<div class="mystyle3 attribute1">
				<h2>請填寫投資型保險商品保戶風險適性問卷</h2>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="attr1 marginTop20 chMiddle">以下您所填寫之投資適性調查表，將有助於我們了解您對於投資風險承受度及適合投保之商品。</div>
					<div class="check-title">投資風險屬性 評估</div>
					<div class="check-body grey2">
						<th:block th:each="vo, rowStat : ${questions}">
							<div class="check-list col-sm-6 attr1-padding">
								<p class="marginBottom20"><th:block th:text="${vo.question}"/></p>
								<th:block th:if="${vo.isMulti == 'N'}">
									<div class="radio attr1">
										<th:block th:each="vo1, rowStat1 : ${vo.options}">
											<li style="list-style: none;">
											<label for="answerB-1" id="answerB-1-1" class="col-sm-8">
												<th:block th:if="${vo1.checked}">
													<input th:attr="qid=${vo1.id}" checked type="radio" field="question" th:name="${vo.question}" th:value="${vo1.score}">
												</th:block>
												<th:block th:if="${!vo1.checked}">
													<input th:attr="qid=${vo1.id}" type="radio" field="question" th:name="${vo.question}" th:value="${vo1.score}">
												</th:block>
												<th:block th:text="${vo1.item}"/>
											</label>
											<span class="col-sm-4 pull-right">(<th:block th:text="${vo1.score}"/>分)</span>
											</li>
										</th:block>
									</div>
								</th:block>
								<th:block th:if="${vo.isMulti == 'Y'}">
									<div class="checkbox attr1">
										<th:block th:each="vo1, rowStat : ${vo.options}">
											<li style="list-style: none;">
											<label for="answerB-1" class="col-sm-8">
												<th:block th:if="${vo1.checked}">
													<input th:attr="qid=${vo1.id}" checked type="checkbox" field="question" th:name="${vo.question}" th:value="${vo1.score}">
												</th:block>
												<th:block th:if="${!vo1.checked}">
													<input th:attr="qid=${vo1.id}" type="checkbox" field="question" th:name="${vo.question}" th:value="${vo1.score}">
												</th:block>
												<th:block th:text="${vo1.item}"/>
											</label>
											<span class="col-sm-4 pull-right">(<th:block th:text="${vo1.score}"/>分)</span>
										</li>
										</th:block>
									</div>
								</th:block>
							</div>
						</th:block>
					  <div class="clearfix"></div>
					</div>
					<div class="statement1 wht">
					  <p class="text-ps">備註：上述第4題答覆若為「A.不能接受」，則不論總分為何，其投資風險屬性皆歸類為「保守型保戶」。
					  </p>
					</div>
				</div>
			  
				<div class="col-md-12 two-buttons">
					<a href="apply1">
						<button id="deny" class="btn-signup">取消</button>
					</a>
					<a>
					    <button id="go" class="btn-signup">計算我的風險屬性分數</button>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	 $(function() {
		$('#go').click(function() {
			score = 0
			answers = []
		    $("input[field='question']:checked").each(function(index, e){
		    	score += parseInt($(e).val())
		    	answers.push($(e).attr("qid"))
		    })
			var formData = {};
			formData.questions = JSON.stringify([[${questions}]])
			formData.answers =  answers
			formData.score = score
			postWithFormData(/*[[@{/attribute2}]]*/, formData);
		});
	});
	/*]]>*/
	</script>
</body>

</html>