<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>聯絡資料變更暨保全聯盟鏈｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">聯絡資料變更暨保全聯盟鏈</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 聯絡資料變更暨保全聯盟鏈
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 active col-xs-3">
                        1<span class="hid1">. 選擇保單</span>
                    </li>
                    <li class="step2 col-xs-3">
                        2<span class="hid1">. 接受條款</span>
                    </li>
                    <li class="step3b col-xs-3">
                        3<span class="hid1">. 填寫申請資料</span>
                    </li>
                    <li class="step4 col-xs-3">
                        4<span class="hid1">. 資料及一次性密碼確認</span>
                    </li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇欲設定之保單</h2>
				<div class="loan1">
					<table th:replace="fragments/applyPolicyList :: table11 (choseType='checkbox')"></table>
					<div class="panel-group" style="margin-top: 30px;border-top: 1px solid #DDDDDD;padding-top: 20px;" aria-multiselectable="true">
						<div class="panel panel-default panel-group change-contace">
							<div class="panel-heading" role="tab" id="heading3">
								<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
									<i class=""></i>^ 壽險公會保全聯盟鏈授權專區
								</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-3">保全聯盟説明</label>
									<div class="col-sm-9" th:inline="text">
										[[${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_SECURITY_003'] != null} ? 
										${session.PAGE_WORDING['WORDING_SECURITY_003'].parameterValue} : 
										'即日起，使用本公司線上保全申請服務時，可一併授權本公司將您的申請資料，透過「中華民國人壽保險同業公會」
										建制「保險區塊鏈聯盟科技通用共享平臺」傳送予您有投保之保險公司（該保險公司需有參與聯盟鏈），免除以往需向不同
										公司分別提出保全申請之不便。']]
									</div>
									<label class="col-sm-3">是否傳送其他保險公司：</label>
									<div class="col-sm-9">
										<div class="radio inline">
											<label>
												<div class="radio-btn pop01" id="pop01"><i><input type="radio" id="check01" name="sendOtherInsCompany" value="Y" onclick="checkedAgree()"></i></div>同意
											</label>
										</div>
										<div class="radio inline">
											<label>
												<div class="radio-btn checkedRadio" id="pop02"><i><input type="radio" id="check02" name="sendOtherInsCompany" value="N" onclick="$('#tab3_2').hide();checkedDisAgree();"></i></div>不同意
		
												<!--  <span class="text-muted loan3-repo">(除被保險人已身故外，限被保險人帳戶)</span> -->
											</label>
										</div>
									</div>
									<div class="col-sm-12" style="width: 100%">
										<div class="tabs">
											<!-- TAB 1 -->
											<article id="tab3_1" class="tab">
												
											</article>
											<!-- TAB 2 -->
											<article class="tab tab-hide" id="tab3_2">
												<section id="tab_frame_print1" class="tab-frame">
													<div class="arrow-upleft" style="left: 28%"></div>
													<div class="grey2">
														<div class="check-title depo2">同意轉送理賠申請至其他保險公司</div>
														<div class="check-list2 grey2">
															<label for="" class="col-sm-3">授權傳送其他公司</label>
															<th:block th:if="${session.SEND_COMPANY_ITEMS != null}">
																<div class="col-sm-9">
																	<th:block th:each="vo : ${session.SEND_COMPANY_ITEMS}">
																		<div class="checkbox" style="float: left; margin-right: 20px;line-height: 1em; cursor: pointer">

																			<div class="check-box"><i class=""><input type="checkbox" name="toItem"  th:value="${vo.value.parameterValue}"></i></div>

																			<th:block th:if="${vo.value.parameterName != null}">
																			<span th:inline="text" >[[${vo.value.parameterName}]]</span>
																			</th:block>
																			<th:block th:if="${vo.value.parameterName == null}">
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_01'}">臺灣人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_02'}">國泰人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_03'}">第一金人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_04'}">中國人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_05'}">元大人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_06'}">南山人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_07'}">全球人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_08'}">新光人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_09'}">富邦財險</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_10'}">富邦人壽</th:block>
																				<th:block th:if="${vo.value.parameterCode == 'SEND_COMPANY_11'}">國泰世紀保險</th:block>
																			</th:block>
																		</div>
																	</th:block>
																</div>
															</th:block>
															<input type="hidden" name="to" >
														</div>
													</div>
												</section>
												<!--p class="text-ps">帳戶名稱由系統帶出，且無法更改。</p-->
											</article>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								</div>
							</div>
							
						</div>
					</div>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_01001'] != null} 
						? ${session.PAGE_WORDING['WORDING_01001'].parameterValue}"/>
					<div class="col-md-12 two-buttons">
						<a href="apply1">
							<button type="button" id="deny" class="btn-signup">取消</button>
						</a>
						<button type="button" id="go" class="btn-signup">下一步</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--限保單的「要保人」才可勾選及異動聯絡資料-->
	<div class="modal fade in" id="modal-container-locked" role="dialog" aria-labelledby="myModalLabel01" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content lock-up">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  onclick="buttonClose()" aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body apply2 center1 grey2">
                    <h3><i class="foo-unlock foo-4x orange"></i></h3> 您目前無法選取該保單
                    <p class="marginBottom30 modal-container-locked-messsage">限保單的「要保人」才可勾選及異動聯絡資料</p>
                </div>
            </div>
        </div>
    </div>
	<!--「限保單的要保人才可查看現行聯絡資料」-->
	<div class="modal fade in" id="select-modal-container-locked" role="dialog" aria-labelledby="myModalLabel01" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  onclick="selectButtonClose()" aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 center1 grey2">
					<h3><i class="foo-unlock foo-4x orange"></i></h3> 您目前無法選取該保單
					<p class="marginBottom30 select-modal-container-locked-messsage">「限保單的要保人才可查看現行聯絡資料」</p>
				</div>
			</div>
		</div>
	</div>
    <!--  「是否傳送其他保險公司」欄位選擇"同意"時 -->
    <div class="modal fade in" id="modal-container-NOTONGYI" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 200px;">
            <div class="modal-content lock-up">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body grey2" style="padding: 15px 50px;">
                    <h4 th:inline="text">
						[[${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_POLICYCLAIM_017'] != null} ? 
						${session.PAGE_WORDING['WORDING_POLICYCLAIM_017'].parameterValue} : 
						'您此次的個人資料一經變更成功，貴保戶在本公司之所有有效契約將同時變更！']] 
					</h4>
                    <p>是否確定同意？</p>
                    <p class="center1 change-contace">
                    	<a>
                        	<button class="btn-cancel lock2" data-dismiss="modal" aria-label="Close" onclick="checkedCancel()">取消</button>
                        </a>
                        <a>
                            <button class="btn-login lock2" data-dismiss="modal" aria-label="Close" onclick="checkedYES();">確定</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		$('#go').click(function() {
			// 檢核是否有選一筆資料
			if ($('input[name="chosePolicy"]:checked').val() == null) {
				/* openAlert("請選擇一筆保單"); */
				openAlert($('#E0038').val());
				return false;
			}	

			var policyNoList = [];
			$('input[name="chosePolicy"]:checked').each(function (i) {
				policyNoList.push($(this).val());
			});
			
			var companyList = [];
			$('input[name="toItem"]:checked').each(function (i) {
				companyList.push($(this).val());
			});
			var  sendOtherInsCompany = $('input[name="sendOtherInsCompany"]:checked').val();
			if(sendOtherInsCompany == "N"){
				companyList = [];
			}
			//进行是否点击同意轉送理賠申請至其他保險公司
			if (sendOtherInsCompany == "Y"){
					var toList = $('input[name="toItem"]:checked');
						if(toList.length == 0){
							openAlert('請選擇授權傳送其他公司');
							return false;
					}
			}
			var formData = {};
			formData.policyNoList = policyNoList;
			formData.toCompany = companyList.toString();
			formData.sendAlliance = sendOtherInsCompany == undefined ? "N" : sendOtherInsCompany;
			postWithFormData(/*[[@{/changeContact2}]]*/, formData);
		});
	});
	function getUserCurrentNetworkData(str,obj) {
	   // e.preventDefault();
	   $('#m_'+str).toggleClass('openTextA');
	   var trOpen = $('#'+str)[0].className;
	   if (trOpen.indexOf('open') == -1) {
		    $.ajax({
				type : 'GET',
				contentType : 'application/json',
				url : /*[[@{/getUserCurrentNetworkData}]]*/,
				data : {policyNo : str},
				success : function(response) {
					$('#td_'+str).html(response);
					$('#'+str).addClass('open');
				},
				error :function() {
						// alertMsg("更新失敗!");
					}
			});
	    }else{
			$('#'+str).removeClass('open');
		}
	};
	function checkedAgree(){
		$('td .checkbox').css({'pointer-events':'none'});
		//	$('td .checkbox').prop("checked","checked");;
    	$('#modal-container-NOTONGYI').modal({
            show: true,
            backdrop: 'static', 
            keyboard: false
			});

    }
    
	function checkedDisAgree(){
		$('td .checkbox').css({'pointer-events':'inherit'});
	}
	
    function checkedYES(){
    	$('input[name="sendOtherInsCompany"]').val('Y');
		//將保單清單中屬登入者為要保人的保單都自動勾選並且無法取消勾選
		 $('.plicy_no_check ').each(function (index,obj) {
		 	if(obj.className.indexOf('checkedBox')<0){
		 		obj.click();
		 	}

		 });
  		$('#tab3_2').show().siblings().hide();	 
    }
    
    function checkedCancel(){
    	$('input[name="sendOtherInsCompany"]').val('N');
		$('td .checkbox').css({'pointer-events':'inherit'});
		if($("#check01").checked = true ){
			$('#pop02').addClass('checkedRadio');
			$('#pop01').removeClass('checkedRadio');
		}
    }
    
	function disAgreeMsg(obj) {
		if('Y' == $('input[name="sendOtherInsCompany"]:checked').val()){
			openAlert('若要取消勾選則要切換為「不同意」');
		}
	};

	function showSelectMsg(message,obj){
		$('.select-modal-container-locked-messsage').text(message);
		$('#select-modal-container-locked').modal({
			show: true,
			backdrop: 'static',
			keyboard: false
			});
	}
	
	function showMsg(message,obj){
		$('.modal-container-locked-messsage').text(message);
		$('#modal-container-locked').modal({
			show: true,
			backdrop: 'static',
			keyboard: false
			});
	}
	
	function buttonClose(){
		$('#modal-container-locked').css({'pointer-events':'inherit'});
	}
	
	function selectButtonClose(){
		$('#select-modal-container-locked').css({'pointer-events':'inherit'});
	}

	/*]]>*/
	</script>
</body>

</html>