<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>聯絡資料變更暨保全聯盟鏈｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">聯絡資料變更暨保全聯盟鏈</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 聯絡資料變更暨保全聯盟鏈
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-3">
						2<span class="hid1">. 接受條款</span>
					</li>
					<li class="step3 col-xs-3">
						3<span class="hid1">. 填寫申請資料</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 資料及一次性密碼確認</span>
					</li>
				</ul>
			</div>
			<div class="mycigna3">
				<div th:replace="fragments/clause"></div>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a href="changeContact1">
						<button id="deny" class="btn-signup">不同意</button>
					</a>
					<a id="gorest"  style="pointer-events:none">
						<button id="go" class="btn-signup" style="background-color: #F2F2F2;cursor:no-drop ;">同意</button>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var formData = /*[[${transContactInfoDtlVo}]]*/;
			$(function() {
				// 同意事件
				$('#go').click(function() {
					postWithFormData(/*[[@{/changeContact3}]]*/, formData);
				});
				var session = /*[[${session}]]*/;
				if (session.PAGE_WORDING != undefined && session.PAGE_WORDING != null){
					if(formData.sendAlliance != undefined && formData.sendAlliance != null
					    && formData.sendAlliance === 'Y'
						){
						console.log("同意推送至联盟"+formData.sendAlliance)
						console.log("同意条款"+session.PAGE_WORDING.WORDING_SECURITY_001.parameterValue)
						if(session.PAGE_WORDING.WORDING_SECURITY_001  != undefined && session.PAGE_WORDING.WORDING_SECURITY_001 != null){
							$("#consent_clause").html(session.PAGE_WORDING.WORDING_SECURITY_001.parameterValue);
						}
					}else{
						console.log("不同意推送至联盟"+formData.sendAlliance)
						console.log("不同意条款"+session.PAGE_WORDING.WORDING_SECURITY_002.parameterValue)
						if(session.PAGE_WORDING.WORDING_SECURITY_002  != undefined && session.PAGE_WORDING.WORDING_SECURITY_002 != null){
							$("#consent_clause").html(session.PAGE_WORDING.WORDING_SECURITY_002.parameterValue);
						}
					}
				}
			});
			
			// 控制同意按鈕
			$(function(){
				$('input, textarea').placeholder();
				var nDivHight = $("#consent_clause").height();
				var  nScrollHight = $("#consent_clause")[0].scrollHeight;
		　　　　 var paddingBottom = parseInt( $("#consent_clause").css('padding-bottom') );
				var paddingTop = parseInt( $("#consent_clause").css('padding-top') );
				if(parseInt(nScrollHight-paddingBottom-paddingTop)<= nDivHight){
					$("#gorest").addClass("gorest");
				}
			});

			$(document).ready(function (){
			var nScrollHight = 0; //滾動距離總長(註意不是滾動條的長度)
			var nScrollTop = 0;   //滾動到的當前位置
			var nDivHight = $("#consent_clause").height();
			console.log(nDivHight)
			$("#consent_clause").scroll(function(){
					var  nScrollHight = $(this)[0].scrollHeight;
				var  nScrollTop = $(this)[0].scrollTop;
		　　　　 var paddingBottom = parseInt( $(this).css('padding-bottom') );
				var paddingTop = parseInt( $(this).css('padding-top') );
				console.log(nScrollHight,nScrollTop,paddingBottom,paddingTop)
				if(nScrollTop +paddingBottom+paddingTop + nDivHight + 10 >= nScrollHight){
					$("#gorest").addClass("gorest")
				}
				
				});
			});
		/*]]>*/
		</script>
</body>

</html>