<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.alliance.dao.IMedicalDao">

	<resultMap id="MedicalTreatmentResultMap" type="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		<id property="claimSeqId"  column="CLAIMS_SEQ_ID" />
		<result property="caseId"  column="CASE_ID" />
		<result property="transNum" column="TRANS_NUM" />
		<result property="name" column="NAME" />
		<result property="idNo"   column="ID_NO" />
		<result property="birdate"    column="BIRDATE" />
		<result property="phone"      column="PHONE" />
		<result property="zipCode"  column="ZIP_CODE" />
		<result property="address"   column="ADDRESS" />
		<result property="mail"   column="MAIL" />
		<result property="paymentMethod"   column="PAYMENT_METHOD" />
		<result property="bankCode"     column="BANK_CODE" />
		<result property="branchCode"   column="BRANCH_CODE" />
		<result property="bankAccount"   column="BANK_ACCOUNT" />
		<result property="applicationDate"      column="APPLICATION_DATE" />
		<result property="applicationTime" column="APPLICATION_TIME" />
		<result property="applicationItem"    column="APPLICATION_ITEM" />
		<result property="job"  column="JOB" />
		<result property="jobDescr" column="JOB_DESCR" />
		<result property="accidentDate" column="ACCIDENT_DATE" />
		<result property="accidentTime" column="ACCIDENT_TIME" />
		<result property="accidentCause" column="ACCIDENT_CAUSE" />
		<result property="accidentLocation"     column="ACCIDENT_LOCATION" />
		<result property="accidentDescr" column="ACCIDENT_DESCR" />
		<result property="policeStation"  column="POLICE_STATION" />
		<result property="policeName"  column="POLICE_NAME" />
		<result property="policePhone" column="POLICE_PHONE" />
		<result property="policeDate" column="POLICE_DATE" />
		<result property="policeTime" column="POLICE_TIME" />

		<result property="fromCompanyId" column="FROM_COMPANY_ID" />
		<result property="toCompanyId"    column="TO_COMPANY_ID" />
		<result property="authorizationFileType" column="AUTHORIZATION_FILE_TYPE" />
		<result property="authorizationStartDate"  column="AUTHORIZATION_START_DATE" />
		<result property="authorizationEndDate"  column="AUTHORIZATION_END_DATE" />
		<result property="toHospitalId"        column="TO_HOSPITAL_ID" />
		<result property="allianceStatus"            column="ALLIANCE_STATUS" />
		<result property="hpUid"        column="HP_UID" />
		<result property="cpoa"  column="CPOA" />

		<result property="fileReceived"  column="FILE_RECEIVED" />
		<result property="applyItem"  column="APPLYITEM" />
		<result property="policyNo"  column="POLICYNO" />
		<result property="customerName"  column="CUSTOMERNAME" />
		<result property="relation"  column="RELATION" />
		<result property="tel"  column="TEL" />
		<result property="diseaseName"  column="DISEASENAME" />
		<result property="diagnosisDate"  column="DIAGNOSISDATE" />
		<result property="hospital"  column="HOSPITAL" />
		<result property="otherCompanyInsured"  column="OTHERCOMPANYINSURED" />
		<result property="otherInsuType"  column="OTHERINSUTYPE" />
		<result property="otherInsuClaim"  column="OTHERINSUCLAIM" />
		<result property="accountName"  column="ACCOUNTNAME" />
		<result property="callPolice"  column="CALLPOLICE" />

		<result property="otherInsucommpany"  column="OTHERINSUCOMMPANY" />
		<result property="otherInsuamount"  column="OTHERINSUAMOUNT" />
		<result property="sendAlliance"  column="SEND_ALLIANCE" />
		<result property="fromHospitalId"  column="FROM_HOSPITAL_ID" />
		<result property="fileStatus"  column="FILE_STATUS" />
		<result property="fileStatus"  column="CREATE_DATE" />
		<result property="stauts"  column="STATUS" />
	</resultMap>
	<resultMap id="TransMedicalTreatmentResultMap" type="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		<id property="claimSeqId"  column="CLAIMS_SEQ_ID" />
		<result property="caseId"  column="CASE_ID" />
		<result property="transNum" column="TRANS_NUM" />
		<result property="name" column="NAME" />
		<result property="idNo"   column="ID_NO" />
		<result property="birdate"    column="BIRDATE" />
		<result property="phone"      column="PHONE" />
		<result property="zipCode"  column="ZIP_CODE" />
		<result property="address"   column="ADDRESS" />
		<result property="mail"   column="MAIL" />
		<result property="paymentMethod"   column="PAYMENT_METHOD" />
		<result property="bankCode"     column="BANK_CODE" />
		<result property="branchCode"   column="BRANCH_CODE" />
		<result property="bankAccount"   column="BANK_ACCOUNT" />
		<result property="applicationDate"      column="APPLICATION_DATE" />
		<result property="applicationTime" column="APPLICATION_TIME" />
		<result property="applicationItem"    column="APPLICATION_ITEM" />
		<result property="job"  column="JOB" />
		<result property="jobDescr" column="JOB_DESCR" />
		<result property="accidentDate" column="ACCIDENT_DATE" />
		<result property="accidentTime" column="ACCIDENT_TIME" />
		<result property="accidentCause" column="ACCIDENT_CAUSE" />
		<result property="accidentLocation"     column="ACCIDENT_LOCATION" />
		<result property="accidentDescr" column="ACCIDENT_DESCR" />
		<result property="policeStation"  column="POLICE_STATION" />
		<result property="policeName"  column="POLICE_NAME" />
		<result property="policePhone" column="POLICE_PHONE" />
		<result property="policeDate" column="POLICE_DATE" />
		<result property="policeTime" column="POLICE_TIME" />

		<result property="fromCompanyId" column="FROM_COMPANY_ID" />
		<result property="toCompanyId"    column="TO_COMPANY_ID" />
		<result property="authorizationFileType" column="AUTHORIZATION_FILE_TYPE" />
		<result property="authorizationStartDate"  column="AUTHORIZATION_START_DATE" />
		<result property="authorizationEndDate"  column="AUTHORIZATION_END_DATE" />
		<result property="toHospitalId"        column="TO_HOSPITAL_ID" />
		<result property="allianceStatus"            column="ALLIANCE_STATUS" />
		<result property="hpUid"        column="HP_UID" />
		<result property="cpoa"  column="CPOA" />

		<result property="fileReceived"  column="FILE_RECEIVED" />
		<result property="applyItem"  column="APPLYITEM" />
		<result property="policyNo"  column="POLICYNO" />
		<result property="customerName"  column="CUSTOMERNAME" />
		<result property="relation"  column="RELATION" />
		<result property="tel"  column="TEL" />
		<result property="diseaseName"  column="DISEASENAME" />
		<result property="diagnosisDate"  column="DIAGNOSISDATE" />
		<result property="hospital"  column="HOSPITAL" />
		<result property="otherCompanyInsured"  column="OTHERCOMPANYINSURED" />
		<result property="otherInsuType"  column="OTHERINSUTYPE" />
		<result property="otherInsuClaim"  column="OTHERINSUCLAIM" />
		<result property="accountName"  column="ACCOUNTNAME" />
		<result property="callPolice"  column="CALLPOLICE" />

		<result property="otherInsucommpany"  column="OTHERINSUCOMMPANY" />
		<result property="otherInsuamount"  column="OTHERINSUAMOUNT" />
		<result property="sendAlliance"  column="SEND_ALLIANCE" />
		<result property="fromHospitalId"  column="FROM_HOSPITAL_ID" />
		<result property="allianceFileStatus"  column="ALLIANCE_FILE_STATUS" />
		<result property="reUpload"  column="RE_UPLOAD" />
	</resultMap>
	<resultMap id="TransMedicalFileDataResultMap" type="com.twfhclife.alliance.model.MedicalTreatmentClaimFileDataVo">
		<id property="fdId"  column="FD_ID" />
		<result property="claimsSeqId"  column="CLAIMS_SEQ_ID" />
		<result property="type" column="TYPE" />
		<result property="fileName" column="FILE_NAME" />
		<result property="rfeId"   column="RFE_ID" />
		<result property="ezAcquireTaskId"    column="EZ_ACQUIRE_TASK_ID" />
		<result property="fileBase64"    column="FILE_BASE64" />
		<result property="fileId"    column="FILE_ID" />
		<result property="fileStatus"    column="FILE_STATUS" />
		<result property="path"    column="PATH" />
	</resultMap>
	<resultMap id="TransMedicalFileDataMap" type="com.twfhclife.alliance.model.MedicalTreatmentClaimFileDataVo">
		<id property="fdId"  column="FD_ID" />
		<result property="claimsSeqId"  column="CLAIMS_SEQ_ID" />
		<result property="type" column="TYPE" />
		<result property="fileName" column="FILE_NAME" />
		<result property="rfeId"   column="RFE_ID" />
		<result property="ezAcquireTaskId"    column="EZ_ACQUIRE_TASK_ID" />
		<result property="fileBase64"    column="FILE_BASE64" />
		<result property="fileId"    column="FILE_ID" />
		<result property="fileStatus"    column="FILE_STATUS" />
		<result property="path"    column="PATH" />
		<result property="transNum"    column="TRANS_NUM" />
		<result property="caseId"    column="CASE_ID" />

	</resultMap>
	<resultMap id="TransMedicalTreatmentClaimResultMap" type="com.twfhclife.eservice.onlineChange.model.TransMedicalTreatmentClaimVo">
		<id property="claimSeqId"  column="CLAIMS_SEQ_ID" />
		<result property="caseId" column="CASE_ID" />
		<result property="transNum"      column="TRANS_NUM" />
		<result property="fileReceived"  column="FILE_RECEIVED" />
		<result property="name"   column="NAME" />
		<result property="idNo"   column="ID_NO" />
		<result property="birdate"   column="BIRDATE" />
		<result property="phone"     column="PHONE" />
		<result property="zipCode"   column="ZIP_CODE" />
		<result property="address"   column="ADDRESS" />
		<result property="mail"      column="MAIL" />
		<result property="paymentMethod" column="PAYMENT_METHOD" />
		<result property="bankCode"    column="BANK_CODE" />
		<result property="branchCode"  column="BRANCH_CODE" />
		<result property="bankAccount" column="BANK_ACCOUNT" />
		<result property="applicationDate" column="APPLICATION_DATE" />
		<result property="applicationTime" column="APPLICATION_TIME" />
		<result property="applicationItem" column="APPLICATION_ITEM" />
		<result property="job"             column="JOB" />
		<result property="jobDescr" column="JOB_DESCR" />
		<result property="accidentDate"  column="ACCIDENT_DATE" />
		<result property="accidentTime"  column="ACCIDENT_TIME" />
		<result property="accidentCause" column="ACCIDENT_CAUSE" />
		<result property="accidentLocation" column="ACCIDENT_LOCATION" />
		<result property="accidentDescr" column="ACCIDENT_DESCR" />
		<result property="policeStation" column="POLICE_STATION" />
		<result property="policeName"    column="POLICE_NAME" />
		<result property="policePhone" column="POLICE_PHONE" />
		<result property="policeDate"  column="POLICE_DATE" />
		<result property="policeTime"  column="POLICE_TIME" />
		<result property="from"        column="FROM_COMPANY_ID" />
		<result property="to"            column="TO_COMPANY_ID" />
		<result property="sendAlliance"  column="SEND_ALLIANCE" />
		<result property="applyItem"  column="APPLYITEM" />
		<result property="policyNo"  column="POLICYNO" />
		<result property="customerName"  column="CUSTOMERNAME" />
		<result property="relation"  column="RELATION" />
		<result property="tel"  column="TEL" />
		<result property="diseaseName"  column="DISEASENAME" />
		<result property="hospital"  column="HOSPITAL" />
		<result property="otherCompanyInsured"  column="OTHERCOMPANYINSURED" />
		<result property="otherInsuCompany"  column="OTHERINSUCOMMPANY" />
		<result property="otherInsuType"  column="OTHERINSUTYPE" />
		<result property="otherInsuAmout"  column="OTHERINSUAMOUNT" />
		<result property="otherInsuClaim"  column="OTHERINSUCLAIM" />
		<result property="accountName" column="ACCOUNTNAME" />
		<result property="callPolice" column="CALLPOLICE" />
		<!-- <result property="createDate"    column="CREATE_DATE" /> -->
	</resultMap>

	<sql id="MEDICAL_CLAIM_ALL">
		CLAIMS_SEQ_ID
		,CASE_ID
		,TRANS_NUM
		,ESERVICE.DBO.FN_DEBASE64(NAME)  NAME
		,ESERVICE.DBO.FN_DEBASE64(ID_NO)  ID_NO
		,ESERVICE.DBO.FN_DEBASE64(BIRDATE)  BIRDATE
		,ESERVICE.DBO.FN_DEBASE64(PHONE)  PHONE
		,ZIP_CODE
		,ESERVICE.DBO.FN_DEBASE64(ADDRESS)  ADDRESS
		,ESERVICE.DBO.FN_DEBASE64(MAIL)  MAIL
		,PAYMENT_METHOD
		,BANK_CODE
		,BRANCH_CODE
		,ESERVICE.DBO.FN_DEBASE64(BANK_ACCOUNT)  BANK_ACCOUNT
		,APPLICATION_DATE
		,APPLICATION_TIME
		,APPLICATION_ITEM
		,JOB
		,JOB_DESCR
		,ACCIDENT_DATE
		,ACCIDENT_TIME
		,ACCIDENT_CAUSE
		,ACCIDENT_LOCATION
		,ACCIDENT_DESCR
		,POLICE_STATION
		,ESERVICE.DBO.FN_DEBASE64(POLICE_NAME)  POLICE_NAME
		,ESERVICE.DBO.FN_DEBASE64(POLICE_PHONE)  POLICE_PHONE
		,POLICE_DATE
		,POLICE_TIME

		,FROM_COMPANY_ID
		,TO_COMPANY_ID
		,AUTHORIZATION_FILE_TYPE
		,AUTHORIZATION_START_DATE
		,AUTHORIZATION_END_DATE
		,TO_HOSPITAL_ID
		,ALLIANCE_STATUS
		,HP_UID
		,CPOA

		,FILE_RECEIVED
		,APPLYITEM
		,POLICYNO
		,CUSTOMERNAME
		,RELATION
		,TEL
		,DISEASENAME
		,DIAGNOSISDATE
		,HOSPITAL
		,OTHERCOMPANYINSURED
		,OTHERINSUCOMMPANY
		,OTHERINSUTYPE
		,OTHERINSUAMOUNT
		,OTHERINSUCLAIM
		,ACCOUNTNAME
		,CALLPOLICE
		,SEND_ALLIANCE
		,CREATE_DATE
		,FROM_HOSPITAL_ID
		,FILE_STATUS
		,STATUS


	</sql>
	<sql id="TRANS_MEDICAL_CLAIM_ALL">
		CLAIMS_SEQ_ID
		,CASE_ID
		,TRANS_NUM
		,ESERVICE.DBO.FN_DEBASE64(NAME)  NAME
		,ESERVICE.DBO.FN_DEBASE64(ID_NO)  ID_NO
		,ESERVICE.DBO.FN_DEBASE64(BIRDATE)  BIRDATE
		,ESERVICE.DBO.FN_DEBASE64(PHONE)  PHONE
		,ZIP_CODE
		,ESERVICE.DBO.FN_DEBASE64(ADDRESS)  ADDRESS
		,ESERVICE.DBO.FN_DEBASE64(MAIL)  MAIL
		,PAYMENT_METHOD
		,BANK_CODE
		,BRANCH_CODE
		,ESERVICE.DBO.FN_DEBASE64(BANK_ACCOUNT)  BANK_ACCOUNT
		,APPLICATION_DATE
		,APPLICATION_TIME
		,APPLICATION_ITEM
		,JOB
		,JOB_DESCR
		,ACCIDENT_DATE
		,ACCIDENT_TIME
		,ACCIDENT_CAUSE
		,ACCIDENT_LOCATION
		,ACCIDENT_DESCR
		,POLICE_STATION
		,ESERVICE.DBO.FN_DEBASE64(POLICE_NAME)  POLICE_NAME
		,ESERVICE.DBO.FN_DEBASE64(POLICE_PHONE)  POLICE_PHONE
		,POLICE_DATE
		,POLICE_TIME

		,FROM_COMPANY_ID
		,TO_COMPANY_ID
		,AUTHORIZATION_FILE_TYPE
		,AUTHORIZATION_START_DATE
		,AUTHORIZATION_END_DATE
		,TO_HOSPITAL_ID
		,ALLIANCE_STATUS
		,HP_UID
		,CPOA

		,FILE_RECEIVED
		,APPLYITEM
		,POLICYNO
		,CUSTOMERNAME
		,RELATION
		,TEL
		,DISEASENAME
		,DIAGNOSISDATE
		,HOSPITAL
		,OTHERCOMPANYINSURED
		,OTHERINSUCOMMPANY
		,OTHERINSUTYPE
		,OTHERINSUAMOUNT
		,OTHERINSUCLAIM
		,ACCOUNTNAME
		,CALLPOLICE
		,SEND_ALLIANCE
		,CREATE_DATE
		,FROM_HOSPITAL_ID
		,ALLIANCE_FILE_STATUS
		,RE_UPLOAD
	</sql>
	<sql id="TRANS_MEDICAL_CLAIM_ALIAS_ALL">
		TM.CLAIMS_SEQ_ID
		,TM.CASE_ID
		,TM.TRANS_NUM
		,ESERVICE.DBO.FN_DEBASE64(TM.NAME)  NAME
		,ESERVICE.DBO.FN_DEBASE64(TM.ID_NO)  ID_NO
		,ESERVICE.DBO.FN_DEBASE64(TM.BIRDATE)  BIRDATE
		,ESERVICE.DBO.FN_DEBASE64(TM.PHONE)  PHONE
		,TM.ZIP_CODE
		,ESERVICE.DBO.FN_DEBASE64(TM.ADDRESS)  ADDRESS
		,ESERVICE.DBO.FN_DEBASE64(TM.MAIL)  MAIL
		,TM.PAYMENT_METHOD
		,TM.BANK_CODE
		,TM.BRANCH_CODE
		,ESERVICE.DBO.FN_DEBASE64(TM.BANK_ACCOUNT)  BANK_ACCOUNT
		,TM.APPLICATION_DATE
		,TM.APPLICATION_TIME
		,TM.APPLICATION_ITEM
		,TM.JOB
		,TM.JOB_DESCR
		,TM.ACCIDENT_DATE
		,TM.ACCIDENT_TIME
		,TM.ACCIDENT_CAUSE
		,TM.ACCIDENT_LOCATION
		,TM.ACCIDENT_DESCR
		,TM.POLICE_STATION
		,ESERVICE.DBO.FN_DEBASE64(TM.POLICE_NAME)  POLICE_NAME
		,ESERVICE.DBO.FN_DEBASE64(TM.POLICE_PHONE)  POLICE_PHONE
		,TM.POLICE_DATE
		,TM.POLICE_TIME

		,TM.FROM_COMPANY_ID
		,TM.TO_COMPANY_ID
		,TM.AUTHORIZATION_FILE_TYPE
		,TM.AUTHORIZATION_START_DATE
		,TM.AUTHORIZATION_END_DATE
		,TM.TO_HOSPITAL_ID
		,TM.ALLIANCE_STATUS
		,TM.HP_UID
		,TM.CPOA

		,TM.FILE_RECEIVED
		,TM.APPLYITEM
		,TM.POLICYNO
		,TM.CUSTOMERNAME
		,TM.RELATION
		,TM.TEL
		,TM.DISEASENAME
		,TM.DIAGNOSISDATE
		,TM.HOSPITAL
		,TM.OTHERCOMPANYINSURED
		,TM.OTHERINSUCOMMPANY
		,TM.OTHERINSUTYPE
		,TM.OTHERINSUAMOUNT
		,TM.OTHERINSUCLAIM
		,TM.ACCOUNTNAME
		,TM.CALLPOLICE
		,TM.SEND_ALLIANCE
		,TM.CREATE_DATE
		,TM.FROM_HOSPITAL_ID
		,TM.ALLIANCE_FILE_STATUS
		,TM.RE_UPLOAD
	</sql>

	<sql id="MEDICAL_CLAIM_FILEDATA_ALL">
		FD_ID,
		CLAIMS_SEQ_ID,
		FILE_NAME,
		TYPE,
		RFE_ID,
		FILE_BASE64,
		FILE_ID,
		FILE_STATUS,
		PATH
	</sql>
	<sql id="ADD_MEDICAL_CLAIM_ALL">
		 [CLAIMS_SEQ_ID]
		,[CASE_ID]
		,[TRANS_NUM]
		,[POLICYNO]
		,[CUSTOMERNAME]
		,[NAME]
		,[RELATION]
		,[ID_NO]
		,[BIRDATE]
		,[TEL]
		,[PHONE]
		,[ZIP_CODE]
		,[ADDRESS]
		,[MAIL]
		,[DISEASENAME]
		,[DIAGNOSISDATE]
		,[HOSPITAL]
		,[OTHERCOMPANYINSURED]
		,[OTHERINSUCOMMPANY]
		,[OTHERINSUTYPE]
		,[OTHERINSUAMOUNT]
		,[OTHERINSUCLAIM]
		,[ACCOUNTNAME]
		,[JOB]
		,[JOB_DESCR]
		,[ACCIDENT_DATE]
		,[ACCIDENT_TIME]
		,[ACCIDENT_CAUSE]
		,[CALLPOLICE]
		,[HP_UID]
		,[CPOA]
		,[PAYMENT_METHOD]
		,[BANK_CODE]
		,[BRANCH_CODE]
		,[BANK_ACCOUNT]
		,[APPLICATION_DATE]
		,[APPLICATION_TIME]
		,[APPLICATION_ITEM]
		,[ACCIDENT_LOCATION]
		,[ACCIDENT_DESCR]
		,[POLICE_STATION]
		,[POLICE_NAME]
		,[POLICE_PHONE]
		,[POLICE_DATE]
		,[POLICE_TIME]
		,[TO_HOSPITAL_ID]
		,[AUTHORIZATION_START_DATE]
		,[AUTHORIZATION_END_DATE]
		,[FROM_COMPANY_ID]
		,[TO_COMPANY_ID]
		,[AUTHORIZATION_FILE_TYPE]
		,[STATUS]
		,ALLIANCE_STATUS
	</sql>

	<sql id="Base_Medical_Column_List">
		CLAIMS_SEQ_ID,TRANS_NUM,FILE_RECEIVED,APPLYITEM,POLICYNO
		,CUSTOMERNAME,NAME,RELATION,ID_NO,BIRDATE
		,TEL,PHONE,ZIP_CODE,ADDRESS,MAIL
		,DISEASENAME,DIAGNOSISDATE,HOSPITAL,OTHERCOMPANYINSURED
		,OTHERINSUCOMMPANY,OTHERINSUTYPE,OTHERINSUAMOUNT,OTHERINSUCLAIM,PAYMENT_METHOD
		,BANK_CODE,BRANCH_CODE,BANK_ACCOUNT,ACCOUNTNAME,APPLICATION_DATE
		,APPLICATION_TIME,APPLICATION_ITEM,JOB,JOB_DESCR
		,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_CAUSE,ACCIDENT_LOCATION,ACCIDENT_DESCR
		,POLICE_STATION,POLICE_NAME,POLICE_PHONE,POLICE_DATE,POLICE_TIME
		,CALLPOLICE,SEND_ALLIANCE,FROM_COMPANY_ID,TO_COMPANY_ID
		,AUTHORIZATION_FILE_TYPE,AUTHORIZATION_START_DATE,AUTHORIZATION_END_DATE,TO_HOSPITAL_ID,FROM_HOSPITAL_ID
		,ALLIANCE_STATUS,HP_UID,CPOA
	</sql>

	<!-- 取得可上傳但未上傳聯盟的資料 -->
	<select id="getMedicalTreatmentByNoCaseId" resultMap="MedicalTreatmentResultMap">
		select top(10)
		<include refid="MEDICAL_CLAIM_ALL"></include>
		from ESERVICE.dbo.MEDICAL_TREATMENT_CLAIM
		where  CASE_ID is null
		and SEND_ALLIANCE='Y'
	</select>
	
	<!-- 以caseId查詢MEDICAL_TREATMENT_CLAIM -->
	<select id="getMedicalTreatmentByCaseId" resultType="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		select top(1)
		<include refid="MEDICAL_CLAIM_ALL"></include>
		from ESERVICE.dbo.MEDICAL_TREATMENT_CLAIM
		where  CASE_ID = #{caseId}
		order by CREATE_DATE asc
	</select>

	<!-- 上傳聯盟後，取得回傳，更新CASE_ID,CODE,MSG,STATUS -->
	<update id="updateMedicalTreatmentClaimToAllianceAndCaseId" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		update ESERVICE.DBO.MEDICAL_TREATMENT_CLAIM
		set
		CASE_ID = #{vo.caseId},
		ALLIANCE_STATUS  = #{vo.allianceStatus}
		where TRANS_NUM = #{vo.transNum}
	</update>
	<update id="updateTransMedicalTreatmentClaimToAllianceAndCaseId" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set
		CASE_ID = #{vo.caseId},
		ALLIANCE_STATUS  = #{vo.allianceStatus}
		where TRANS_NUM = #{vo.transNum}
	</update>
	<!-- 獲取,取用/不取用醫院資料 -->
	<select id="getTransMedicalTreatmentByCaseIdAndAllinaceStatus" resultMap="TransMedicalTreatmentResultMap">
		select top(10)
		<include refid="TRANS_MEDICAL_CLAIM_ALL"></include>
		from   ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		where  (CASE_ID is not  null AND CASE_ID!='' )
		and (ALLIANCE_STATUS =  #{itpsPthg}  OR   ALLIANCE_STATUS =  #{itpsEnd})
		and  (ALLIANCE_FILE_STATUS is  null OR ALLIANCE_FILE_STATUS='' )
	</select>
	<update id="updateTarnsMedicalTreatmentClaimToAllianceFileStatus" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set
		ALLIANCE_FILE_STATUS = #{vo.allianceFileStatus}
		where CASE_ID = #{vo.caseId}
	</update>
	<!--進行獲取流程結束和不進行取用資料的數據-->
	<select id="getTransMedicalTreatmentByAllinaceStatusIsItpsEnd" resultMap="TransMedicalTreatmentResultMap">
		select top(10)
			<include refid="TRANS_MEDICAL_CLAIM_ALL"></include>
		from   ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		where  (CASE_ID is not  null AND CASE_ID!='' )
		and  ALLIANCE_STATUS = #{itpsEnd}
		and   upper(ALLIANCE_FILE_STATUS) ='SUCCESS'
	</select>
	<select id="getTransMedicalTreatmentByAllinaceStatusIsPqhfEnd" resultMap="TransMedicalTreatmentResultMap">
		select top(10)
		<include refid="TRANS_MEDICAL_CLAIM_ALL"></include>
		from   ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		where  (CASE_ID is not  null AND CASE_ID!='')
		and ALLIANCE_STATUS = #{pqhfEnd}
		and (ALLIANCE_FILE_STATUS is  not  null  or  ALLIANCE_FILE_STATUS='')
	</select>
	<update id="updateTarnsMedicalTreatmentClaimToAllianceStatusAndMsg" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimVo">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set
		ALLIANCE_STATUS = #{vo.allianceStatus},
		ALLIANCE_FILE_STATUS = #{vo.allianceFileStatus}
		where CASE_ID = #{vo.caseId}
	</update>
	<update id="updateTarnsMedicalTreatmentFileDataStatus" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimFileDataVo">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS
		set
		FILE_STATUS = #{vo.fileStatus}
		<if test="vo.fileBase64 !=null and  vo.fileBase64!='' ">
		, FILE_BASE64 = #{vo.fileBase64}
		</if>
		where FILE_ID = #{vo.fileId}
	</update>

	<select id="getTransMedicalTreatmentFileDataByClaimSeqId" resultMap="TransMedicalFileDataResultMap" >
		select
		*
		from   ESERVICE.[dbo].[TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS]
		where  CLAIMS_SEQ_ID = #{claimSeqId}
		and FILE_ID  is not  null
		and TYPE IN
		<foreach collection="parameterByCategoryCode"   index="index"  item="status" open="(" close=")" separator="," >
			#{status}
		</foreach>
	</select>

	<!--進行獲取重新上傳的數據信息-->
	<select id="getTransMedicalTreatmentAgainUploadFileid" resultMap="TransMedicalTreatmentResultMap">
		select top(10)
		<include refid="TRANS_MEDICAL_CLAIM_ALL"></include>
		from   ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		where  (CASE_ID is not  null AND CASE_ID!='' )
		and   ALLIANCE_STATUS = #{pqhfEnd}
		and   upper(ALLIANCE_FILE_STATUS) ='SUCCESS'
		and   RE_UPLOAD is not  null AND RE_UPLOAD!=''
	</select>
	<!--獲取到聯盟的數據信息-->
	<select id="getMedicalTreatmentClaimVoBySeqIdNoTransNum" resultMap="MedicalTreatmentResultMap">
		select top(10)
		<include refid="MEDICAL_CLAIM_ALL"></include>
		from ESERVICE.DBO.MEDICAL_TREATMENT_CLAIM
		where CASE_ID is not null
		and TRANS_NUM is null
		and (STATUS is null or STATUS ='7' or STATUS ='-1')
		and (FROM_COMPANY_ID is null or FROM_COMPANY_ID !='L01')
		order by CREATE_DATE
	</select>

	<!--進行獲取重新上傳的數據信息-->
	<select id="getMedicalTreatmentFileDataByClaimSeqId" resultMap="TransMedicalFileDataResultMap">
		select top(10)
		<include refid="MEDICAL_CLAIM_FILEDATA_ALL"></include>
		from   ESERVICE.DBO.MEDICAL_TREATMENT_CLAIM_FILEDATAS
		where  (FILE_ID is not  null AND FILE_ID!='' )
		and  CLAIMS_SEQ_ID=#{claimSeqId}
	</select>
    <select id="getTransMedicalTreatmentByCaseId" resultType="java.lang.String">
		select TOP 1  TRANS_NUM
		FROM   [ESERVICE].[dbo].TRANS_MEDICAL_TREATMENT_CLAIM
		where
		ALLIANCE_STATUS  not  in
		<foreach collection="listStatus"   index="index"  item="status" open="(" close=")" separator="," >
			#{status}
		</foreach>
		and
		CASE_ID=#{caseId}
	</select>
    <select id="getTransMedicalTreatmentByTransNum"
            resultType="com.twfhclife.eservice.onlineChange.model.TransMedicalTreatmentClaimVo">
		select TOP 1  <include refid="TRANS_MEDICAL_CLAIM_ALL"></include>
		FROM   [ESERVICE].[dbo].TRANS_MEDICAL_TREATMENT_CLAIM
		where
		CASE_ID  is  not  null
		and  TRANS_NUM=#{transNum}
	</select>
    <select id="getMedicalTreatmentSequence" resultType="java.lang.Float">
		select NEXT VALUE for MEDICAL_TREATMENT_CLAIM_SEQ as SEQID;
	</select>
	<select id="getTransMedicalTreatmentFiledatasByFileId" resultType="java.lang.Integer">
		select  COUNT(FILE_ID)
		FROM   [ESERVICE].[dbo].TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS
		where  FILE_ID=#{fileId}
	</select>
	<select id="getTransMedicalTreatmentClaimsSeqIdByCaseId" resultType="java.lang.Float">
		select  CLAIMS_SEQ_ID
		FROM   [ESERVICE].[dbo].TRANS_MEDICAL_TREATMENT_CLAIM
		where  CASE_ID = #{caseID}
	</select>
	<select id="getTransMedicalTreatmentAndTransByAllinaceStatus"
			resultMap="TransMedicalTreatmentResultMap">
			select top(10)
			<include refid="TRANS_MEDICAL_CLAIM_ALIAS_ALL"></include>
			from   ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM TM  inner  join  ESERVICE.DBO.TRANS T
			on  TM.TRANS_NUM=T.TRANS_NUM  WHERE
			(TM.CASE_ID is not  null AND TM.CASE_ID!='')
			AND T.TRANS_TYPE='MEDICAL_TREATMENT' AND  T.STATUS='2'
			AND  TM.ALLIANCE_STATUS   in
			<foreach collection="lists"   index="index"  item="status" open="(" close=")" separator="," >
				#{status}
			</foreach>
	</select>


    <select id="getTransMedicalTreatmentBySendAlliance"
			resultMap="TransMedicalTreatmentClaimResultMap" parameterType="java.lang.String">
		select
		TOP 10
		<include refid="TRANS_MEDICAL_CLAIM_ALIAS_ALL"></include>
		from ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM TM
		where (TM.CASE_ID  is  null  or    TM.CASE_ID  ='')
		AND  TM.SEND_ALLIANCE=#{code} AND  (TM.SEND_ALLIANCE_PUSH  is null or    TM.SEND_ALLIANCE_PUSH  =''  or    TM.SEND_ALLIANCE_PUSH  !=#{code} )
		order by TM.CREATE_DATE desc
	</select>


	<insert id="addMedicalTreatment" >
		INSERT INTO  [ESERVICE].[dbo].[MEDICAL_TREATMENT_CLAIM]
		(
		 <include refid="ADD_MEDICAL_CLAIM_ALL"></include>
		)
		VALUES
		(#{medicalVo.claimSeqId}
		,#{medicalVo.caseId}
		,#{medicalVo.transNum}
		,#{medicalVo.policyNo}
		,#{medicalVo.customerName}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.name})
		,#{medicalVo.relation}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.idNo})
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.birdate})
		,#{medicalVo.tel}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.phone})
		,#{medicalVo.zipCode}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.address})
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.mail})
		,#{medicalVo.diseaseName}
		,#{medicalVo.diagnosisDate}
		,#{medicalVo.hospital}
		,#{medicalVo.otherCompanyInsured}
		,#{medicalVo.otherInsucommpany}
		,#{medicalVo.otherInsuType}
		,#{medicalVo.otherInsuamount}
		,#{medicalVo.otherInsuClaim}
		,#{medicalVo.accountName}
		,#{medicalVo.job}
		,#{medicalVo.jobDescr}
		,#{medicalVo.accidentDate}
		,#{medicalVo.accidentTime}
		,#{medicalVo.accidentCause}
		,#{medicalVo.callPolice}
		,#{medicalVo.hpUid}
		,#{medicalVo.cpoa}
		,#{medicalVo.paymentMethod}
		,#{medicalVo.bankCode}
		,#{medicalVo.branchCode}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.bankAccount})
		,#{medicalVo.applicationDate}
		,#{medicalVo.applicationTime}
		,#{medicalVo.applicationItem}
		,#{medicalVo.accidentLocation}
		,#{medicalVo.accidentDescr}
		,#{medicalVo.policeStation}
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.policeName})
		,ESERVICE.dbo.FN_ENBASE64(#{medicalVo.policePhone})
		,#{medicalVo.policeDate}
		,#{medicalVo.policeTime}
		,#{medicalVo.toHospitalId}
		,#{medicalVo.authorizationStartDate}
		,#{medicalVo.authorizationEndDate}
		,#{medicalVo.fromCompanyId}
		,#{medicalVo.toCompanyId}
		,#{medicalVo.authorizationFileType}
		,#{medicalVo.stauts}
		,#{medicalVo.allianceStatus}
			)
	</insert>
	<insert id="addMedicalTreatmentFileData">
		INSERT INTO [ESERVICE].[dbo].[MEDICAL_TREATMENT_CLAIM_FILEDATAS]
		([FD_ID]
		,[CLAIMS_SEQ_ID]
		,[TYPE]
		,[FILE_BASE64]
		,[FILE_ID]
		,[FILE_NAME]
		,[FILE_STATUS]
		,PATH)
		VALUES
		((NEXT VALUE for MEDICAL_TREATMENT_CLAIM_FD_SEQ)
		,#{fileDataVo.claimsSeqId}
		,#{fileDataVo.dtype}
		,#{fileDataVo.fileBase64}
		,#{fileDataVo.fileId}
		,#{fileDataVo.fileName}
		,#{fileDataVo.fileStatus}
		,#{fileDataVo.path}
		)
	</insert>
	<insert id="addTarnsMedicalTreatmentFile" parameterType="com.twfhclife.alliance.model.MedicalTreatmentClaimFileDataVo">
		INSERT INTO [ESERVICE].[dbo].[TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS]
		(
		[FD_ID]
		,[CLAIMS_SEQ_ID]
		,[TYPE]
		,[FILE_NAME]
		,[FILE_BASE64]
		,[FILE_ID]
		,[FILE_STATUS]
		,[PATH]
		)
		VALUES
		((NEXT VALUE for  TRANS_MEDICAL_TREATMENT_CLAIM_FD_SEQ)
		,#{fileData.claimsSeqId}
		,#{fileData.dtype}
		,#{fileData.fileName}
		,#{fileData.fileBase64}
		,#{fileData.fileId}
		,#{fileData.fileStatus}
		,#{fileData.path}
		)
	</insert>
	<insert id="addTransMedicalToMedicalTreatment"  parameterType="com.twfhclife.eservice.onlineChange.model.TransMedicalTreatmentClaimVo" >
		INSERT INTO
		ESERVICE.DBO.MEDICAL_TREATMENT_CLAIM
		(
		<include refid="Base_Medical_Column_List" />
		)
		VALUES
		(
		<choose>
			<when test="vo.claimSeqId!=null and vo.claimSeqId>0">
				#{vo.claimSeqId, jdbcType=FLOAT},
			</when>
			<otherwise>
				(NEXT VALUE for MEDICAL_TREATMENT_CLAIM_SEQ),
			</otherwise>
		</choose>
		#{vo.transNum,jdbcType=VARCHAR},
		#{vo.fileReceived,jdbcType=VARCHAR},
		#{vo.applyItem,jdbcType=VARCHAR},
		#{vo.policyNo,jdbcType=VARCHAR},

		#{vo.customerName,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.name,jdbcType=VARCHAR}),
		#{vo.relation,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.idNo,jdbcType=VARCHAR}),
		ESERVICE.DBO.FN_ENBASE64(#{vo.birdate,jdbcType=VARCHAR}),

		#{vo.tel,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.phone,jdbcType=VARCHAR}),
		#{vo.zipCode,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.address,jdbcType=VARCHAR}),
		ESERVICE.DBO.FN_ENBASE64(#{vo.mail,jdbcType=VARCHAR}),

		#{vo.diseaseName,jdbcType=VARCHAR},
		#{vo.diagnosisDate,jdbcType=VARCHAR},
		#{vo.hospital,jdbcType=VARCHAR},
		#{vo.otherCompanyInsured,jdbcType=VARCHAR},


		#{vo.otherInsuCompany,jdbcType=VARCHAR},
		#{vo.otherInsuType,jdbcType=VARCHAR},
		#{vo.otherInsuAmout,jdbcType=VARCHAR},
		#{vo.otherInsuClaim,jdbcType=VARCHAR},
		#{vo.paymentMethod,jdbcType=VARCHAR},

		#{vo.bankCode,jdbcType=VARCHAR},
		#{vo.branchCode,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.bankAccount,jdbcType=VARCHAR}),
		#{vo.accountName,jdbcType=VARCHAR},
		#{vo.applicationDate,jdbcType=VARCHAR},

		#{vo.applicationTime,jdbcType=VARCHAR},
		#{vo.applicationItem,jdbcType=VARCHAR},
		#{vo.job,jdbcType=VARCHAR},
		#{vo.jobDescr,jdbcType=VARCHAR},

		#{vo.accidentDate,jdbcType=VARCHAR},
		#{vo.accidentTime ,jdbcType=VARCHAR},
		#{vo.accidentCause,jdbcType=VARCHAR},
		#{vo.accidentLocation,jdbcType=VARCHAR},
		#{vo.accidentDescr,jdbcType=VARCHAR},


		#{vo.policeStation,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.policeName,jdbcType=VARCHAR}),
		ESERVICE.DBO.FN_ENBASE64(#{vo.policePhone,jdbcType=VARCHAR}),
		#{vo.policeDate,jdbcType=VARCHAR},
		#{vo.policeTime,jdbcType=VARCHAR},


		#{vo.callPolice,jdbcType=VARCHAR},
		#{vo.sendAlliance ,jdbcType=VARCHAR},
		#{vo.from,jdbcType=VARCHAR},
		#{vo.to,jdbcType=VARCHAR},


		#{vo.authorizationFileType,jdbcType=VARCHAR},
		#{vo.authorizationStartDate,jdbcType=VARCHAR},
		#{vo.authorizationEndDate,jdbcType=VARCHAR},
		#{vo.toHospitalId,jdbcType=VARCHAR},
		#{vo.fromHospitalId,jdbcType=VARCHAR},

		#{vo.allianceStatus,jdbcType=VARCHAR},
		#{vo.hpUid,jdbcType=VARCHAR},
		#{vo.cpoa,jdbcType=VARCHAR}
		)
	</insert>


	<update id="updateMedicalTreatmentClaimToStatusByTransNum">
		update ESERVICE.DBO.MEDICAL_TREATMENT_CLAIM
		set
			STATUS = #{saveTrans},
			TRANS_NUM = #{transNum}
		where CASE_ID = #{caseId}
	</update>
	<update id="updateTransMedicalTreatmentByCaseId">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set	ALLIANCE_STATUS = #{allianceStatus}
		where CASE_ID = #{caseId}
	</update>
	<update id="updateTarnsMedicalTreatmentFileStatus">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS
		set
		FILE_STATUS = #{fileStatus}
		where FILE_ID = #{fileId}
	</update>
	<update id="updetaTransMedicalTreatmentClaimBySendAlliancePush">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set
		SEND_ALLIANCE_PUSH = #{code}
		where TRANS_NUM = #{vo.transNum}
	</update>
	<update id="updateNotifyOfNewCaseMedicalIsCaseId">
		UPDATE  [ESERVICE].[dbo].[NOTIFY_OF_NEW_CASE_MEDICAL] SET  NC_STATUS = #{ncStatus},MSG = #{msg} where  CASE_ID = #{caseId}
	</update>
	<update id="updateTarnsMedicalTreatmentClaimToAllianceStatus">
		update ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM
		set
		ALLIANCE_STATUS = #{pths}
		where TRANS_NUM = #{transNum}
	</update>
	<update id="updateTransMedicalTreatmentClaimByReUpload">
		UPDATE  ESERVICE.DBO.TRANS_MEDICAL_TREATMENT_CLAIM SET
		RE_UPLOAD = null where CASE_ID=#{caseId}
	</update>

	<select id="getNotifyOfNewCaseMedicalIsCaseId" resultType="java.lang.String">
		select  CASE_ID  from [ESERVICE].[dbo].[NOTIFY_OF_NEW_CASE_MEDICAL]
		WHERE  CASE_ID = #{caseID,jdbcType=VARCHAR}
	</select>
	<select id="getTransMedicalTreatmentClaimFileData"
			resultMap="TransMedicalFileDataMap" >
		select  TOP 10
		TF.*,TM.TRANS_NUM,TM.CASE_ID
		from   ESERVICE.[dbo].[TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS] TF
		INNER  JOIN   [ESERVICE].[dbo].[TRANS_MEDICAL_TREATMENT_CLAIM]  TM
		ON  TF.CLAIMS_SEQ_ID=TM.CLAIMS_SEQ_ID
		where (TF.FILE_BASE64='' OR TF.FILE_BASE64 is not null)
		and TF.FILE_STATUS=#{hasFile}
	</select>

</mapper>