<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>更改密碼｜臺銀人壽保單網路服務</title>
	<link th:href="@{/css/pwdcheck.css}" rel="stylesheet"/>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更密碼</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更密碼
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 mobile-panel">
				<div class="cert1">
					<h2 class="title">請設定新密碼</h2>
					<form method="post" action="" id="chgPwdForm" name="chgPwdForm">
						<div class="form-group">
							<div class="text-left colorBlack">目前的密碼</div>
							<input type="password" name="userVO.oldPassword" maxlength="20" id="pwd" class="form-control" onkeyup="if(event.keyCode==13){checkSubmit();}" placeholder="8～20碼混合之數字及英文字母和符號(須區分大小寫)"/>
						</div>
						<div class="spanpwd" id="spanpwd"></div>
						
						<div class="form-group">
							<div class="text-left colorBlack">新密碼</div>
							<input type="password" name="userVO.password" maxlength="20" id="pwd1" class="form-control" onkeyup="if(event.keyCode==13){checkSubmit();}" placeholder="8～20碼混合之數字及英文字母和符號(須區分大小寫)"/>
							<div id="pwdCheckLevelDiv" class="pw-strength pw-default">
								<div class="pw-bar"></div>
								<div class="pw-bar-on"></div>
								<div class="pw-txt">
									<span>弱</span>
									<span>中</span>
									<span>强</span>
								</div>
							</div>
						</div>
						<div class="spanpwd" id="spanpwd1"></div>
						
						<div class="form-group">
							<div class="text-left colorBlack">確認新密碼</div>
							<input type="password" name="userVO.reTypePassword" maxlength="20" id="pwd2" class="form-control" onkeyup="if(event.keyCode==13){checkSubmit();}" placeholder="請再次輸入新密碼"/>
						</div>
						<div class="spanpwd" id="spanpwd2"></div>
						<input type="hidden" name="param" value="sNMP/m6N45bgr7u04qfHadrnDiPSn79X&amp;#43;MOxhfnNGXr/rNHMsMoCfhPxapeiM5WYhGo/pFp8gZ6pjwHA3jW5tQ==" id="param"/>
					</form>
				</div>
			</div>
			<th:block th:utext="${changePasswordNote}"/>
			<div class="col-md-12 two-buttons">
				<a href="apply1" id="deny" class="btn-signup">取消</a>
				<a href="#">
					<button id="go" type="submit" class="btn-signup">確認送出
					</button>
				</a>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script>
	$(function(){
		
		eserviceForm.pwdCheck('#pwd1');
		
		// 確認新密碼
		$('#go').on('click', function(event) {
		
			if (!eserviceForm.checkPassword($('#pwd1').val())) {
				/* openAlert("請輸入8～20碼混合之數字及英文字母和符號(須區分大小寫)！"); */
				openAlert($('#E0024').val());
				return false;
			}
			
			popupLoading();
			if ($("#pwd1").val() === $("#pwd2").val()) {
				var data = {
					password : $("#pwd").val(),
					newPassword : $("#pwd1").val()
				}
				$.ajax({
					type : 'POST',
					contentType : 'application/json',
					url : "/eservice/changePassword1/updatePassword",
					data : JSON.stringify(data),
					success : function(response) {
						if(response.resultMsg == ""){
							window.location.href = "/eservice/changePasswordSuccess";
						}else{
							openAlert(response.resultMsg);
							removeLoading();
						}
					},
					error : function() {
						openAlert('error!');
						removeLoading();
					}
				});
			}
			else {
				/* openAlert("輸入的密碼不一致！"); */
				openAlert($('#E0016').val());
				removeLoading();
			}
		});

	});
	</script>
</body>

</html>