<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head"/>
    <title>更改密碼｜臺銀人壽經代專區</title>
    <link th:href="@{/css/pwdcheck.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/img/favor-icon.png}">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/atlantis.css}" rel="stylesheet">
    <link th:href="@{/css/icon.css}" rel="stylesheet"/>
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>
<body>
<div class="wrapper sidebar_minimize">
    <div th:replace="fragments/header :: top"></div>
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title tb3" id="titleList">
                            <i class="foo-object_3 foo-2x"></i>變更密碼
                        </div>
                    </div>
                </div>
                <div class="card-body clearfix bg3" style="padding: 0;">
                    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 mobile-panel">
                        <div class="cert1">
                            <h2 class="title">請設定新密碼</h2>
                            <form method="post" action="" id="chgPwdForm" name="chgPwdForm">
                                <div class="form-group">
                                    <div class="text-left colorBlack">目前的密碼</div>
                                    <input type="password" name="userVO.oldPassword" maxlength="20" id="pwd"
                                           class="form-control" onkeyup="if(event.keyCode==13){checkSubmit();}"
                                           placeholder="8～20碼混合之數字及英文字母和符號(須區分大小寫)"/>
                                </div>
                                <div class="spanpwd" id="spanpwd"></div>

                                <div class="form-group">
                                    <div class="text-left colorBlack">新密碼</div>
                                    <input type="password" name="userVO.password" maxlength="20" id="pwd1"
                                           class="form-control"
                                           onkeyup="if(event.keyCode==13){checkSubmit();}"
                                           placeholder="8～20碼混合之數字及英文字母和符號(須區分大小寫)"/>
                                    <div id="pwdCheckLevelDiv" class="pw-strength pw-default">
                                        <div class="pw-bar"></div>
                                        <div class="pw-bar-on"></div>
                                        <div class="pw-txt">
                                            <span>弱</span>
                                            <span>中</span>
                                            <span>强</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="spanpwd" id="spanpwd1"></div>

                                <div class="form-group">
                                    <div class="text-left colorBlack">確認新密碼</div>
                                    <input type="password" name="userVO.reTypePassword" maxlength="20" id="pwd2"
                                           class="form-control" onkeyup="if(event.keyCode==13){checkSubmit();}"
                                           placeholder="請再次輸入新密碼"/>
                                </div>
                                <div class="spanpwd" id="spanpwd2"></div>
                                <input type="hidden" name="param"
                                       value="sNMP/m6N45bgr7u04qfHadrnDiPSn79X&amp;#43;MOxhfnNGXr/rNHMsMoCfhPxapeiM5WYhGo/pFp8gZ6pjwHA3jW5tQ=="
                                       id="param"/>
                            </form>
                        </div>
                    </div>
                    <th:block th:utext="${changePasswordNote}"/>
                    <div class="col-md-12 two-buttons">
                        <a href="apply1" id="deny" class="btn-signup">取消</a>
                        <a href="#">
                            <button id="go" type="submit" class="btn-signup">確認送出
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div/>
        <footer th:replace="fragments/footer"></footer>
        <th:block th:replace="fragments/script"/>
    </div>
    <script th:inline="javascript">
		/*<![CDATA[*/
	$(function(){

		eserviceForm.pwdCheck('#pwd1');
		// 確認新密碼
		$('#go').on('click', function(event) {
			if (!eserviceForm.checkPassword($('#pwd1').val())) {
				openAlert("請輸入8～20碼混合之數字及英文字母和符號(須區分大小寫)！");
				return false;
			}

			popupLoading();
			var clauseFlag = /*[[${CLAUSE_FLAG}]]*/;
			if ($("#pwd1").val() === $("#pwd2").val()) {
				var data = {
					password : $("#pwd").val(),
					newPassword : $("#pwd1").val(),
					clauseFlag: clauseFlag
				}
				$.ajax({
					type : 'POST',
					contentType : 'application/json',
					url : "/eservice_jd/changePassword1/updatePassword",
					data : JSON.stringify(data),
					success : function(response) {
						if(response.resultMsg == ""){
							window.location.href = "/eservice_jd/changePasswordSuccess";
						}else{
							openAlert(response.resultMsg);
							removeLoading();
						}
					},
					error : function() {
						openAlert('error!');
						removeLoading();
					}
				});
			}
			else {
				openAlert("輸入的密碼不一致！");
<!--				openAlert($('#E0016').val());-->
				removeLoading();
			}
		});
	});
/*]]>*/

    </script>
</div>
</body>

</html>