<th:block th:each="vo, rowStat : ${transBeneficiaryOldList}">
	<table class="hid-body col-sm-12" id="">
		<tbody>
			<tr class="">
				<td>
					<div class="col-sm-12 hid-title2">受益人<th:block th:text="${rowStat.count}"></div>
					<table class="hid-body col-sm-12" id="">
						<tbody>
							<tr class="">
								<th class="hid-th w40p">受益人類型：</th>
								<td>
									<th:block th:text="${vo.beneficiaryType != null and session.SYSTEM_PARAMETER['BENEFICIARY_TYPE'][#strings.toString(vo.beneficiaryType)] != null} 
										? ${session.SYSTEM_PARAMETER['BENEFICIARY_TYPE'][#strings.toString(vo.beneficiaryType)].parameterValue}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">姓名：</th>
								<td>
									<th:block th:text="${vo.beneficiaryName}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">關係：</th>
								<td>
									<th:block th:text="${vo.beneficiaryRelation != null and session.SYSTEM_PARAMETER['BENEFICIARY_RELATION'][#strings.toString(vo.beneficiaryRelation)] != null} 
										? ${session.SYSTEM_PARAMETER['BENEFICIARY_RELATION'][#strings.toString(vo.beneficiaryRelation)].parameterValue}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">分配方式：</th>
								<td>
									<th:block th:if="${vo.allocateType == 0}">均分</th:block>
									<th:block th:if="${vo.allocateType == 1}">順位</th:block>
									<th:block th:if="${vo.allocateType == 2}">比例"</th:block>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">順位或比例：</th>
								<td>
									<th:block th:text="${vo.allocateSeq}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>
<div class="col-sm-12 hid-title3">
	<i class="fas fa-chevron-down fa orange"></i>
</div>
<th:block th:each="vo, rowStat : ${transBeneficiaryDtlList}">
	<table class="hid-body col-sm-12" id="">
		<tbody>
			<tr class="">
				<td>
					<div class="col-sm-12 hid-title2">受益人<th:block th:text="${rowStat.count}"></div>
					<table class="hid-body col-sm-12" id="">
						<tbody>
							<tr class="">
								<th class="hid-th w40p">受益人類型：</th>
								<td>
									<th:block th:text="${vo.beneficiaryType != null and session.SYSTEM_PARAMETER['BENEFICIARY_TYPE'][#strings.toString(vo.beneficiaryType)] != null} 
										? ${session.SYSTEM_PARAMETER['BENEFICIARY_TYPE'][#strings.toString(vo.beneficiaryType)].parameterValue}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">身分證：</th>
								<td>
									<th:block th:text="${vo.beneficiaryRocid}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">姓名：</th>
								<td>
									<th:block th:text="${vo.beneficiaryName}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">關係：</th>
								<td>
									<th:block th:text="${vo.beneficiaryRelation != null and session.SYSTEM_PARAMETER['BENEFICIARY_RELATION'][#strings.toString(vo.beneficiaryRelation)] != null} 
										? ${session.SYSTEM_PARAMETER['BENEFICIARY_RELATION'][#strings.toString(vo.beneficiaryRelation)].parameterValue}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">分配方式：</th>
								<td>
									<th:block th:if="${vo.allocateType == 0}">均分</th:block>
									<th:block th:if="${vo.allocateType == 1}">順位</th:block>
									<th:block th:if="${vo.allocateType == 2}">比例"</th:block>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">順位或比例：</th>
								<td>
									<th:block th:text="${vo.allocateSeq}"/>
								</td>
							</tr>
							<tr class="">
								<th class="hid-th w40p">電話：</th>
								<td>
									<th:block th:text="${vo.beneficiaryTel}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>
