<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>保單理賠｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent has-special-note ">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">保單理賠</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 保單理賠
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-3">
						2<span class="hid1">. 接受條款</span>
					</li>
					<li class="step3b active col-xs-3">
						3<span class="hid1">. 填寫申請資料</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 資料及一次性密碼確認</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請填寫理賠申請書</h2>
                <div class="col-md-8 col-md-offset-2">
					<form id="step3Form" class="form-horizontal no-borderBottom marginTop20" role="form" th:action="@{/policyClaims4}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<div class="grey2" style="padding:10px 0">
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>申請項目：</label>
								<div class="col-sm-9">
									<th:block th:if="${session.APPLICATION_ITEMS != null}">
										<th:block th:each="vo : ${session.APPLICATION_ITEMS}">
											<div class="checkbox" style="float: left; margin-right: 20px;line-height: 1em; cursor: pointer">
												<div class="check-box"><i class=""><input th:attr="checked=${claimVo != null and claimVo.applyItem != null and #strings.containsIgnoreCase(claimVo.applyItem, vo.value.parameterValue)  ? true : false}" type="checkbox" name="applyItemList" th:value="${vo.value.parameterValue}"></i></div>
												<label th:inline="text">
													[[${vo.value.parameterName}]]
												</label>
											</div>
										</th:block>
									</th:block>
									<input type="hidden" id="itemOther" name="itemOther" th:value="${claimVo.itemOther}" class="item100" style="padding: 6px 12px;line-height: 1em;" >
								</div>
								<input type="hidden" name="applyItem">
								<div class="clearfix"></div>
                            </div>
							
							<!-- <label class="col-sm-3">要保人姓名：</label>
							<div class="col-sm-9">
								<th:block th:text="${claimVo.customerName}"/>
								<input type="hidden" name="customerName" th:value="${claimVo.customerName}"/>
							</div> -->
							<div class="clearfix"></div>
							<label class="col-sm-3">保單號碼：</label>
							<div class="col-sm-9">
								<th:block th:text="${claimVo.policyNo}"/>
								<input type="hidden" name="policyNo" id="policyNo" th:value="${claimVo.policyNo}"/>
							</div>
							<div class="clearfix"></div><h2 class="divider divider88"></h2>
						</div>
						<div class="form-group">
							<div class="tb3 top0 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 事故者資料
							</div>
							<div class="mobile-toggle-panel toggle-hide">
								<label class="col-sm-3">事故人：</label>
								<div class="col-sm-9">
									<div class="radio inline checkedRadio">
										<label>
											<div class="radio-btn"><i><input  type="radio"/></i></div>會員本人
										</label>
									</div>                            
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>被保人姓名：</label>
								<div class="col-sm-9">
									<input type="text" name="name" id="name" th:value="${claimVo.name}" class="col-sm-9" data-validation="required" maxlength="200" style="padding: 6px 12px;line-height: 1em;" >

								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>身分證號碼：</label>
								<div class="col-sm-9">
									<input type="text" name="idNo" id="idNo" th:value="${claimVo.idNo}" data-validation="required|rocId" class="col-sm-9" maxlength="20" style="padding: 6px 12px;line-height: 1em;" >
								 </div>
								<!--   --> 
								<div class="clearfix"></div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>出生日期：</label>
								<div class="col-sm-9">
									<input type="text" name="birdate" id="birdate"  th:value="${claimVo.birdate}"  data-validation="required|date" class="col-sm-9" style="padding: 6px 12px;line-height: 1em;" readonly>
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3">聯絡電話：</label>
								<div class="col-sm-9">
									<input type="text" th:value="${claimVo.tel}" name="tel" id="tel" class="col-sm-9" maxlength="15" style="padding: 6px 12px;line-height: 1em;" >
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>行動電話：</label>
								<div class="col-sm-9">
									<input type="number" name="phone" th:value="${claimVo.phone}" id="phone" class="col-sm-9" data-validation="required|mobile" maxlength="15" style="padding: 6px 12px;line-height: 1em; ime-mode: disabled;" >
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3">E-MAIL：</label>
								<div class="col-sm-9">
									<input type="text" name="mail" th:value="${claimVo.mail}" class="col-sm-9" placeholder="範例：test@gmail.com" data-validation="mail" style="padding: 6px 12px;line-height: 1em;" >
								</div>
								<span class="col-sm-10" style="color: red;">(申請完成將以電子郵件通知，若未填寫則系統不會發送通知)</span>
								<div class="clearfix"></div>
								<label class="col-sm-3">聯絡地址：</label>
								<div class="col-sm-9">
									<input type="text"  name="address" th:value="${claimVo.address}" class="col-sm-9" maxlength="200" style="padding: 6px 12px;line-height: 1em;" >
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>與主被保險人(員工)之關係：</label>
								<div class="col-sm-9">
									<th:block th:if="${session.RELATION_ITEMS != null}">
										<th:block th:each="vo : ${session.RELATION_ITEMS}">
											<div class="radio inline">
												<label class="c_relation">
													<div class="radio-btn"><i><input type="radio" th:attr="checked=${claimVo != null and claimVo.relation != null and #strings.equals(claimVo.relation, vo.value.parameterValue)  ? 'checked' : false}" name="relation" th:value="${vo.value.parameterValue}"></i></div>
													<th:block th:if="${vo.value.parameterName == null || vo.value.parameterName == ''}">
														<label th:if="${vo.value.parameterCode == 'WORDING_POLICYCLAIM_010'}">本人</label>
														<label th:if="${vo.value.parameterCode == 'WORDING_POLICYCLAIM_011'}">父母</label>
														<label th:if="${vo.value.parameterCode == 'WORDING_POLICYCLAIM_012'}">配偶</label>
														<label th:if="${vo.value.parameterCode == 'WORDING_POLICYCLAIM_013'}">子女</label>
													</th:block>
													<th:block th:if="${vo.value.parameterName != null && vo.value.parameterName != ''}">
														<label th:inline="text">
															[[${vo.value.parameterName}]]
														</label>
													</th:block>
												</label>
											</div>
										</th:block>
									</th:block>
									<input type="hidden" id="id_relation_name" name="relation_name" value=""/>
								</div>
								<div class="clearfix"></div>
								<label class="col-sm-6">被保險人是否有投保別家保險公司之保賠：</label>
								<div class="col-sm-6">
									<div class="radio inline">
										<label>
											<div class="radio-btn"><i><input type="radio" th:attr="checked=${#strings.equals(claimVo.otherCompanyInsured, 'Y')  ? 'checked' : false}" name="otherCompanyInsured" value="Y" onclick="if(this.checked) $('#tab_2').show().siblings().hide();"></i></div>有
										</label>
									</div>
									<div class="radio inline">
										<label>
											<div class="radio-btn"><i><input type="radio" th:attr="checked=${#strings.equals(claimVo.otherCompanyInsured, 'N')  ? 'checked' : false}" name="otherCompanyInsured" value="N" onclick="if(this.checked) $('#tab_1').show().siblings().hide();"></i></div>沒有
										</label>
									</div>
								</div>
								<div class="col-sm-12" style="width: 100%">
									<div class="tabs">
										<!-- TAB 1 -->
										<article class="tab tab-hide" id="tab_2">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 45%"></div>
												<div class="grey2">
													<div class="check-title depo2"></div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">保險公司名稱</label>
														<div class="col-sm-9"><input type="text" name="otherInsuCompany" th:value="${claimVo.otherInsuCompany}" class="col-sm-9" placeholder=""></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">保險種類</label>
														<div class="col-sm-9"><input type="text" name="otherInsuType" th:value="${claimVo.otherInsuType}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">保險金額</label>
														<div class="col-sm-9"><input type="text" name="otherInsuAmout" th:value="${claimVo.otherInsuAmout}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">同時申請理賠</label>
														<div class="col-sm-9">
															<div class="radio inline">
																<label>
																	<div class="radio-btn"><i><input th:attr="checked=${#strings.equals(claimVo.otherInsuClaim, 'Y')  ? 'checked' : false}" type="radio" name="otherInsuClaim" value="Y"></i></div>是　
																</label>
															</div>
															<div class="radio inline">
																<label>
																	<div class="radio-btn"><i><input th:attr="checked=${#strings.equals(claimVo.otherInsuClaim, 'N')  ? 'checked' : false}"  type="radio" name="otherInsuClaim" value="N"></i></div>否
																</label>
															</div>
														</div>
													</div>
												</div>
											</section>
										</article>
										<article class="tab tab-hide" id="tab_1">
										</article>
									</div>
								</div>
								<div class="clearfix"></div>


							</div>
						</div>
						<div class="form-group">
							<div class="tb3 top0 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 保險事故
							</div>
							<div class="mobile-toggle-panel toggle-hide">
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>保險事故：</label>
								<th:block th:if="${session.INSURANCE_ACCIDENT != null}">
									<div class="col-sm-9">
										<th:block th:each="vo : ${session.INSURANCE_ACCIDENT}">
											<div class="radio inline">
												<label>
													<th:block th:if="${vo.value.parameterCode == 'INS_ACCIDENT_01'}">
														<div class="radio-btn"><i><input type="radio" name="accidentCause" th:value="${vo.value.parameterValue}" th:attr="checked=${#strings.equals(claimVo.accidentCause, vo.value.parameterValue)  ? 'checked' : false}" onclick="if(this.checked) $('#tab2_2').show().siblings().hide();"></i></div>
													</th:block>
													<th:block th:if="${vo.value.parameterCode == 'INS_ACCIDENT_02'}">
														<div class="radio-btn"><i><input type="radio" name="accidentCause" th:value="${vo.value.parameterValue}" th:attr="checked=${#strings.equals(claimVo.accidentCause, vo.value.parameterValue)  ? 'checked' : false}" onclick="if(this.checked) $('#tab2_1').show().siblings().hide();"></i></div>
													</th:block>
													<th:block th:if="${vo.value.parameterName != null}">
														<label th:inline="text">[[${vo.value.parameterName}]]</label>
													</th:block>
													<th:block th:if="${vo.value.parameterName == null}">
														<label th:if="${vo.value.parameterCode == 'INS_ACCIDENT_01'}">疾病</label>
														<label th:if="${vo.value.parameterCode == 'INS_ACCIDENT_02'}">意外</label>
													</th:block>
												</label>
											</div>
										</th:block>
									</div>
								</th:block>

								<div class="col-sm-12" style="width: 100%">
									<div class="tabs">
										<!-- TAB 1 -->
										<article id="tab2_1" class="tab">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 42%"></div>
												<div class="grey2">
													<div class="check-title depo2">意外</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">事故當時職業</label>
														<div class="col-sm-8"><input type="text" name="job" id="job" th:value="${claimVo.job}" class="col-sm-9" placeholder="輸入職業"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>發生時間</label>
														<div class="col-sm-8" >
															<input type="text" name="accidentDate" id="accidentDate" th:value="${claimVo.accidentDate}" data-validation="date" class="col-sm-4" placeholder="輸入年月日" readonly>
															<span class="col-sm-1"></span>
															<input type="text" name="accidentTime" id="accidentTime" th:value="${(claimVo != null and claimVo.accidentTime != null and claimVo.accidentTime != '') ? (#strings.substring(claimVo.accidentTime, 0, 2) + ':' + #strings.substring(claimVo.accidentTime, 2, 4)) : ''}" data-validation="time" class="col-sm-4" maxlength="5" placeholder="輸入時間時分" onkeyup="value=value.replace(/[^\d\:]/g,'')" onchange="value=value.replace(/[^\d\:]/g,'')">
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">事故地點</label>
														<div class="col-sm-8"><input type="text" name="accidentLocation" th:value="${claimVo.accidentLocation}" class="col-sm-9" placeholder="輸入事故地點"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">事故原因及送醫經過詳情（請述明就診醫院名稱）</label>
														<div class="col-sm-8">
															<textarea class="col-sm-9" name="accidentDescr" th:text="${claimVo.accidentDescr}"></textarea>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">是否報警</label>
														<div class="col-sm-9">
															<div class="radio inline">
																<label>
																	<div class="radio-btn"><i><input th:attr="checked=${#strings.equals(claimVo.callPolice, 'Y')  ? 'checked' : false}" type="radio" name="callPolice" value="Y"></i></div>是　
																</label>
															</div>
															<div class="radio inline">
																<label>
																	<div class="radio-btn"><i><input th:attr="checked=${#strings.equals(claimVo.callPolice, 'N')  ? 'checked' : false}" type="radio" name="callPolice" value="N"></i></div>否
																</label>
															</div>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">事故處理單位</label>
														<div class="col-sm-8"><input type="text" name="policeStation" th:value="${claimVo.policeStation}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">承辦員警</label>
														<div class="col-sm-8"><input type="text" name="policeName" th:value="${claimVo.policeName}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">員警電話</label>
														<div class="col-sm-8"><input type="text" name="policePhone" th:value="${claimVo.policePhone}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">報警時間</label>
														<div class="col-sm-8">
															<input type="text" class="col-sm-4" th:value="${claimVo.policeDate}" name="policeDate" id="policeDate"  placeholder="輸入年月日" readonly>
															<span class="col-sm-1"></span>
															<input type="text" class="col-sm-4" th:value="${(claimVo != null and claimVo.policeTime != null and claimVo.policeTime != '') ? (#strings.substring(claimVo.policeTime, 0, 2) + ':' + #strings.substring(claimVo.policeTime, 2, 4)) : ''}" name="policeTime" id="policeTime" data-validation="time"  maxlength="5" placeholder="輸入時間時分" onkeyup="value=value.replace(/[^\d\:]/g,'')" onchange="value=value.replace(/[^\d\:]/g,'')">
														</div>
													</div>
												</div>
											</section>
										</article>
										<!-- TAB 2 -->
										<article class="tab tab-hide" id="tab2_2" style="display: block;">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 30%"></div>
												<div class="grey2">
													<div class="check-title depo2">疾病</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">診斷病名</label>
														<div class="col-sm-9"><input type="text" name="diseaseName" th:value="${claimVo.diseaseName}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>該疾病初診日</label>
														<div class="col-sm-9">
															<input type="text" name="diagnosisDate" id="diagnosisDate" data-validation="date" th:value="${claimVo.diagnosisDate}" class="col-sm-9" readonly>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">曾就診之醫院</label>
														<div class="col-sm-9"><input type="text" name="hospital" th:value="${claimVo.hospital}" class="col-sm-9"></div>
													</div>
												</div>
											</section>
										</article>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="tb3 top0 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 壽險公會理賠聯盟鏈授權專區
							</div>
							<div class="mobile-toggle-panel toggle-hide">
								<label class="col-sm-3">理賠聯盟説明</label>
								<div class="col-sm-9" th:inline="text">
                                	[[${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_POLICYCLAIM_015'] != null} ? ${session.PAGE_WORDING['WORDING_POLICYCLAIM_015'].parameterValue} : '即日起，使用本公司線上理賠申請服務時，可一併授權本公司將您的理賠申請資料，透過「中華民國人壽保險同業公會」
									建制「保險區塊鏈聯盟科技通用共享平臺」傳送予您有投保之保險公司（該保險公司需有參與聯盟鏈），免除以往需向不同
									公司分別提出理賠申請之不便。']]
								</div>
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>是否傳送其他保險公司：</label>
								<div class="col-sm-9">
									<div class="radio inline">
										<label>
											<div class="radio-btn" ><i><input th:attr="checked=${#strings.equals(claimVo.sendAlliance, 'Y')  ? 'checked' : false}" type="radio" name="sendAlliance" value="Y" onclick="if(this.checked) $('#tab3_2').show().siblings().hide();"></i></div>同意
										</label>
									</div>
									<div class="radio inline">
										<label>
											<div class="radio-btn"><i><input th:attr="checked=${!#strings.equals(claimVo.sendAlliance, 'Y')  ? 'checked' : false}" type="radio" name="sendAlliance" value="N" onclick="if(this.checked) $('#tab3_1').show().siblings().hide();checkedNOTONGYI();"></i></div>不同意
										</label>
									</div>
								</div>
								<div class="col-sm-12" style="width: 100%">
									<div class="tabs">
										<!-- TAB 1 -->
										<article id="tab3_1" class="tab">
											
										</article>
										<!-- TAB 2 -->
										<article class="tab tab-hide" id="tab3_2">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 30%"></div>
												<div class="grey2">
													<div class="check-title depo2">同意轉送理賠申請至其他保險公司</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">授權傳送其他公司</label>
														<th:block th:if="${hospitalInsuranceCompanyList != null}">
															<div class="col-sm-9">
																<th:block th:each="vo : ${hospitalInsuranceCompanyList}">
																	<div class="checkbox col-sm-4" style="text-align: left;line-height: 1.7em; cursor: pointer">
																		<div class="check-box" th:id="'toItem_' + ${vo.insuranceId}"><i class=""><input
																				th:attr="checked=${claimVo != null and claimVo.to != null and #strings.containsIgnoreCase(claimVo.to, vo.insuranceId)  ? true : false}"
																				type="checkbox" name="toItem"  th:value="${vo.insuranceId}"></i></div>
																		<th:block th:if="${vo.insuranceName != null}">
																			<label style="display: inline;" th:inline="text">[[${vo.insuranceName}]]</label>
																		</th:block>
																	</div>
																</th:block>
															</div>
															<div class="col-sm-12 col-sm-offset-3">
																<button type="button" class="btn btn-login btn-xs" onclick="autoCheckedCompanys()">一鍵勾選我有投保哪些保險公司</button>
															</div>
														</th:block>
														<input type="hidden" name="to" >
													</div>
												</div>
											</section>
										</article>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>是否進行數位身份驗證及數位簽署：</label>
							<div class="col-sm-9">
								<div class="radio inline">
									<label>
										<div class="radio-btn" th:classappend="${#strings.equals(claimVo.signAgree, 'Y')} ? 'checkedRadio'" id="confirmSign"><i><input th:attr="checked=${#strings.equals(claimVo.signAgree, 'Y')  ? 'checked' : false}" type="radio" name="signAgree" onclick="clickAgreeSign()" value="Y" ></i></div>同意
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn" th:classappend="${!#strings.equals(claimVo.signAgree, 'Y')} ? 'checkedRadio'" id="cancelSign"><i><input th:attr="checked=${!#strings.equals(claimVo.signAgree, 'Y')  ? 'checked' : false}" type="radio" name="signAgree" onclick="confirmSignAgree('N')" value="N" ></i></div>不同意
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="tb3 top0 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 給付方式
							</div>
							<div class="mobile-toggle-panel toggle-hide">
								<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>指定給付方式：</label>
								
								<th:block th:if="${session.PAYMENT_METHOD != null}">
									<div class="col-sm-9">
										<th:block th:each="vo : ${session.PAYMENT_METHOD}">
											<div class="radio inline">
												<label>
													<th:block th:if="${vo.value.parameterName == null || vo.value.parameterName == ''}">
														<div class="radio-btn"><i><input type="radio" name="paymentMethod" th:value="${vo.value.parameterValue}" checked="checked" onclick="if(this.checked) $('#tab4_2').show().siblings().hide();"></i></div>電匯
													</th:block>
													<th:block th:if="${vo.value.parameterName != null && vo.value.parameterName != ''}">
														<div class="radio-btn"><i><input type="radio" name="paymentMethod" th:value="${vo.value.parameterValue}" checked="checked" onclick="if(this.checked) $('#tab4_2').show().siblings().hide();"></i></div>
														<label th:inline="text">[[${vo.value.parameterName}]]</label>
													</th:block>
												</label>
											</div>
										</th:block>
										<!-- <div class="radio inline">
											<label>
												<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_02'] == null}">
													<div class="radio-btn"><i><input type="radio" name="paymentMethod" value="2" onclick="if(this.checked) $('#tab4_1').show().siblings().hide();"></i></div>郵寄支票
												</th:block> 
												<th:block th:if="${session.PAGE_WORDING['TRANS_MDOE_02'] != null}">
													<div class="radio-btn"><i><input type="radio" name="paymentMethod" th:value="${session.PAGE_WORDING['TRANS_MDOE_02'].parameterValue}" onclick="if(this.checked) $('#tab4_1').show().siblings().hide();"></i></div>
													<label th:inline="text">[[${session.PAGE_WORDING['TRANS_MDOE_02'].parameterName}]]</label>
												</th:block>
												
											</label>
										</div> -->
									</div>
								</th:block>
								
								<div class="col-sm-12" style="width: 100%">
									<div class="tabs">
										<!-- TAB 1 -->
										<article id="tab4_1" class="tab">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 42%"></div>
												<div class="grey2">
													<div class="check-title depo2">郵寄隻票</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">郵寄區號</label>
														<div class="col-sm-8"><input type="text" name="zipCode" th:value="${claimVo.zipCode}" class="col-sm-9"></div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">郵寄地址</label>
														<div class="col-sm-8">
															<input type="text" name="postalAddr" th:value="${claimVo.postalAddr}" class="col-sm-9">
														</div>
													</div>
													
												</div>
											</section>
										</article>
										<!-- TAB 2 -->
										<article class="tab tab-hide" id="tab4_2" style="display: block;">
											<section id="tab_frame_print1" class="tab-frame">
												<div class="arrow-upleft" style="left: 30%"></div>
												<div class="grey2">
													<div class="check-title depo2">電匯</div>
													<div class="check-list2 grey2">
														<label class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>匯款帳戶</label>
														<div class="col-sm-9">
															<input type="text" name="accountName" id="accountName" th:value="${claimVo.accountName}" class="col-sm-7" maxlength="14">
															<span class="col-sm-5" style="color: red;">限被保險人本人帳戶</span>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>銀行名稱</label>
														<div class="col-sm-4">
															<div>
																<select class="wht" id="bankOpt" name="bankOpt" data-placeholder="選擇銀行" >
																	<option value=""></option>
																</select>
																<input type="hidden" id="bankCode" name="bankCode"/>
																<input type="hidden" id="bankName" name="bankName"/>
															</div>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3">分行名稱</label>
														<div class="col-sm-4">
															<div>
																<select class="selector wht" id="brancheOpt" name="brancheOpt" data-placeholder="選擇分行">
																	<option value=""></option>
																</select>
																<input type="hidden" id="branchCode" name="branchCode"/>
																<input type="hidden" id="branchName" name="branchName"/>
															</div>
														</div>
													</div>
													<div class="check-list2 grey2">
														<label for="" class="col-sm-3"><span style="color: #ff5300; font-size: 16px">*</span>帳號</label>
														<div class="col-sm-9">
															<input type="text" name="bankAccount" id="bankAccount" th:value="${claimVo.bankAccount}" class="col-sm-7" maxlength="14" onKeyUp="value=value.replace(/\D/g,'')" onchange="value=value.replace(/\D/g,'')"> 
														</div>
													</div>
												</div>
											</section>
										</article>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="tb3 top0 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 上傳申請應備文件
							</div>
							<div class="mobile-toggle-panel toggle-hide" >
								<th:block th:if="${session.INSURANCE_CLAIM_UPLOADFILE != null}">
									<th:block th:each="vo : ${session.INSURANCE_CLAIM_UPLOADFILE}">
										<div class="form-group">
											<label class="col-sm-3">
												<span th:if="${vo.value.parameterValue == 'Y'}" style="color: #ff5300; font-size: 16px">*</span>
												<th:block  th:inline="text">[[${vo.value.parameterName}]]</th:block>：
											</label>
											<div class="col-sm-9">
												<div th:if="${vo.value.parameterCode == 'DIGI_SERVICE_CONSENT_FORM' || vo.value.parameterCode == 'ACCOUNT_COPY'}" class="dropdownFile" onclick="window.open('https://www.twfhclife.com.tw/wp-content/uploads/%E8%87%BA%E9%8A%80%E4%BA%BA%E5%A3%BD%E7%90%86%E8%B3%A0%E7%94%B3%E8%AB%8B%E8%BD%89%E9%80%81%E6%9A%A8%E5%80%8B%E8%B3%87%E8%92%90%E9%9B%86%E5%90%8C%E6%84%8F%E6%9B%B8.pdf')" 
												style="position: absolute;top: 5px;right: 0px;"><i class="foo-down"></i>下載空白理賠申請轉送暨個資蒐集同意書
												</div>
												<input  class="uploadfile" th:id="${vo.value.remark}" name="files" type="file" multiple>
											</div>
											<div class="clearfix"></div>
										</div>
										<input type="hidden" th:id="${vo.value.parameterCode}" value="[]">
									</th:block>
								</th:block>
								<input type="hidden" id="fileDataList" name="fileDataList">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-12 two-buttons">
				
					<button id="deny" class="btn-signup">上一步</button>
					
					<button id="go" class="btn-signup">下一步</button>
				</div>

			</div>
			
		</div>
		<!--  「是否傳送其他保險公司」欄位選擇"不同意"時 -->
		<div class="modal fade in" id="modal-container-NOTONGYI" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="margin-top: 200px;">
				<div class="modal-content lock-up">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body apply2 center1 grey2">
						<h3>無法送出理賠聯盟鏈申請，請改為"同意"</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade in" id="confirmBxczModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content lock-up">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body apply2 center1 grey2">
						<h3>需具備保險存摺會員帳號才可進行數位身份驗證及數位簽署，是否仍繼續執行?</h3>
						<p class="marginTop20">
							<a href="#">
								<button class="btn-login lock2" onclick="confirmSignAgree('N')">取消</button>
							</a>
							<a href="#">
								<button class="btn-login lock2" onclick="confirmSignAgree('Y')" >確認</button>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade in" id="confirmNotFirst" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content lock-up">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body apply2 center1 grey2">
						<h3>您非首次申請(保單理賠/理賠醫起通)可不必提供授權同意書，是否確定仍要進行數位驗證?</h3>
						<p class="marginTop20">
							<a href="#">
								<button class="btn-login lock2" onclick="confirmSignAgree('N', true)">取消</button>
							</a>
							<a href="#">
								<button class="btn-login lock2" onclick="confirmSignAgree('Y', true)" >確認</button>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade in" id="confirmAutoCheckedCompany" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content lock-up">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body apply2 center1 grey2">
						<h3>使用此功能，系統將透過「保險業通報作業資訊系統」篩選出您可能有投保符合理賠/保全聯盟鏈轉送申請的公司。
							請注意！篩選出的建議公司清單可能會受投保時間落差、投保內容認定而不完全正確，送出前請務必再次確認，或是與您的保險公司聯繫。
						</h3>
						<p class="marginTop20">
							<a href="#">
								<button class="btn-login lock2" onclick="confirmAutoCheck('N')">取消</button>
							</a>
							<a href="#">
								<button class="btn-login lock2" onclick="confirmAutoCheck('Y')" >確認</button>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var uploadFiles = /*[[${session.INSURANCE_CLAIM_UPLOADFILE}]]*/;
		var uploadMaxNumber = /*[[${uploadMaxNumber}]]*/;
		$(function(){
			var claimVo = [[${claimVo}]]
			var fileMap = {}
			var previewMap = {}
			var fileDataMap = {}
			if (claimVo.fileDatas != null) {
				$(claimVo.fileDatas).each(function(index, item){
					if (fileMap[item.type] == undefined) {
						fileMap[item.type] = []
						previewMap[item.type] = []
						fileDataMap[item.type] = []
					}
					fileMap[item.type].push('<img src="data:image/png;base64,'+ item.originFileBase64 +'" class="kv-preview-data file-preview-image" style="width:auto;height:160px;">')
					previewMap[item.type].push(previewConfig(item))
					var con  = {};
						con['claimSeqId'] = 0;
						con['fileOrPng'] = item.fileOrPng;
						con['fileName'] = item.fileName;
						con['filePath'] = item.filePath;
						con['fileBase64'] = item.fileBase64;
					fileDataMap[item.type].push(con)
				})
			}

			$.each(fileDataMap, function(key, value) {
				$("#" + key).val(JSON.stringify(value))
			})

			if (uploadFiles != undefined && uploadFiles != null) {
				$.each(uploadFiles,function(key,value){
					$("#"+value.remark).fileinput({
						language: "zh",
						showUpload : false,
						showRemove : false,
						uploadAsync: false,//批量上传成功后再回调的话则必须设置为同步上传 false /异步上传
						showCaption: false,
						showPreview: true,
						dropZoneEnabled: true,//是否显示拖拽区域
						browseClass: "btn btn-primary btn-lg",
						uploadUrl: "/eservice/upLoadFiles",
						maxFileSize : uploadMaxNumber,
						maxFileCount: 10,
						enctype: 'multipart/form-data',
						allowedFileExtensions : ["jpg", "png","pdf"],
						showBrowse: true,
						fileType:"any",
						browseOnZoneClick: true,
						showUpload: false,
						overwriteInitial: false,
						initialPreview: fileMap[key],
						initialPreviewConfig: previewMap[key],
					}).on("filebatchselected", function(event, files) {
						$(this).fileinput("upload");
					}).on('filebatchuploaderror', function(event, data) {
						openAlert("上傳有誤，請重新上傳！");
					}).on("filebatchuploadsuccess", function (event, data, previewId, index) {
								var  fileData = data.response;
								for(var i=0 ; i < fileData.length ; i++ ){
									if(fileData[i]!=null && fileData[i].filePath!=null && fileData[i].filePath!=""  ){
										var con  = {};
										con['claimSeqId'] = 0;
										con['type']= key;
										con['fileOrPng'] = fileData[i].fileOrPng;
										con['fileName'] = fileData[i].fileName;
										con['filePath'] = fileData[i].filePath;
										con['fileBase64'] = fileData[i].fileBase64;
										cons = JSON.parse($("#"+key).val())
										cons.push(con)
										$("#"+key).val(JSON.stringify(cons));
									}
								}
							});
					$("#"+value.remark).fileinput('_initFileActions');//这行代码就是调用绑定删除事件的
					});
			}
			if (claimVo.sendAlliance == 'Y') {
				$('#tab3_2').show().siblings().hide()
			}
			if (claimVo.otherCompanyInsured == 'Y') {
				$('#tab_2').show().siblings().hide()
			}
			if (claimVo.accidentCause == '1') {
				$('#tab2_2').show().siblings().hide();
			} else if (claimVo.accidentCause == '2') {
				$('#tab2_1').show().siblings().hide();
			}

			$('#birdate').datepicker({//日期控件
				changeMonth : true,
				changeYear : true,
				maxDate : new Date(),
				yearRange: 'c-80:c+80',
				dateFormat : 'yy/mm/dd'
			});
			$('#accidentDate').datepicker({//日期控件
				changeMonth : true,
				changeYear : true,
				maxDate : new Date(),
				yearRange: 'c-80:c+80',
				dateFormat : 'yymmdd'
			});
			$('#diagnosisDate').datepicker({//日期控件
				changeMonth : true,
				changeYear : true,
				maxDate : new Date(),
				yearRange: 'c-80:c+80',
				dateFormat : 'yy/mm/dd'
			});
			$('#policeDate').datepicker({//日期控件
				changeMonth : true,
				changeYear : true,
				maxDate : new Date(),
				yearRange: 'c-80:c+80',
				dateFormat : 'yymmdd'
			});
			$("#bankOpt").chosen({
				allow_single_deselect:true,
				search_contains: true
			});
			$("#brancheOpt").chosen({
				allow_single_deselect:true,
				search_contains: true
			});
			//銀行下拉選單
			var bankUrl = /*[[@{/getBankList}]]*/;
			var branchesUrl = /*[[@{/getBranchesList}]]*/;
			eserviceOption.bankBranches('#bankOpt', bankUrl, '#brancheOpt', branchesUrl);

			$("#bankOpt").children().each(function(){
				if ($(this).val() == claimVo.bankCode) {
					eserviceOption.updateBranch('#brancheOpt', branchesUrl, $(this).val());
					$(this).attr('selected', true);
					$('#bankCode').val($(this).val());
					$('#bankName').val($(this).text());
					$("#bankOpt").trigger("chosen:updated");
				}
			})

			$("#brancheOpt").children().each(function(){
				if ($(this).val() == claimVo.branchCode) {
					$(this).attr('selected', true);
					$('#branchCode').val($(this).val());
					$('#branchName').val($(this).text());
					$("#brancheOpt").trigger("chosen:updated");
				}
			})

			// 取得名稱
			$('#bankOpt').change(function() {
				$('#bankCode').val($('#bankOpt option:selected').val());
				$('#bankName').val($('#bankOpt option:selected').html());
			});

			$('#brancheOpt').change(function() {
				if ($('#brancheOpt').val() != '') {
					$('#branchCode').val($('#brancheOpt option:selected').val());
					$('#branchName').val($('#brancheOpt option:selected').html());
				} else {
					$('#branchCode').val('');
					$('#branchName').val('');
				}
			});


			$('div.mystyle3').validation();
	        //选择项目applyItemList
			$('#go').click(function() {

				if($('#job').val() != "" && $('#job').val() != null){
					if(chtLen($('#job').val())>40){
						openAlert("職業欄位中英文長度不得大於20個字");
						return false;
					}
				}
				
				if(!$("div.mystyle3").valid()){
					return false;
				}else{

				if($('#birdate').val() == "" || $('#birdate').val() == null){
					openAlert("請選擇被保人生日");
					return false;
				}
				var objApplyItemList = $("input[name='applyItemList']"); //选择所有name="'applyItemList'"
				//循环检测是不是被选中
				var applyItemALL='';
				for(var i=0; i<objApplyItemList.length; i++){
					if(objApplyItemList[i].checked == true){
						applyItemALL += objApplyItemList[i].value + ',';
					}
				}
				//去掉最后一个逗号
				if (applyItemALL.length > 0 && $("#itemOther").val()=='') {
					applyItemALL = applyItemALL.substr(0,applyItemALL.length - 1);
				}
				if(applyItemALL == ''){
					openAlert('請選擇申請項目');
					return false;
				}else{
					$("input[name='applyItem']").val(applyItemALL+$("#itemOther").val());
				}
				//與主被保險人(員工)之關係
				if($("input[name='relation']:checked").val() == undefined){
						openAlert('請選擇與主被保險人(員工)之關係');
					    return false;
				}
				//保险公司sendAlliance
				if($("input[name='sendAlliance']:checked").val() == undefined){
						openAlert('請選擇是否傳送其他保險公司');
					    return false;
				}
				if ($("input[name='sendAlliance']:checked").val() == "Y"){
					var toItemList = $("input[name='toItem']:checked"); //选择所有name="'toItem'"
					if(toItemList.length == 0){
						openAlert('請選擇授權傳送其他公司');
						return false;
					}
					//循环检测是不是被选中
					var toItotemALL='';
					for(var i=0; i<toItemList.length; i++){
						if(toItemList[i].checked == true){
							toItotemALL += toItemList[i].value + ',';
						}
					}
					//去掉最后一个逗号
					if (toItotemALL.length > 0) {
						toItotemALL = toItotemALL.substr(0,toItotemALL.length - 1);
					}
					$("input[name='to']").val(toItotemALL);
				}else {
					checkedNOTONGYI();
					return false;
				}
				//校驗事故發生時間
				if ($("input[name='accidentCause']:checked").val() == "2"){
					if($('#accidentDate').val() =='' && $('#accidentTime').val() == ''){
						openAlert('請輸入事故發生時間');
					    return false;
					}else{
						$("input[name='accidentDate']").val($('#accidentDate').val().replace(/\//g, "\-"));
						$("input[name='accidentTime']").val($('#accidentTime').val().replace(/\:/g, "\-"));
					}

				}else if($("input[name='accidentCause']:checked").val() == "1"){
					if($('#diagnosisDate').val() ==''){
						openAlert('請輸入該疾病初診日');
					    return false;
					}else{
						$("input[name='accidentDate']").val($('#diagnosisDate').val().replace(/\//g, "\-"));
					}
				}
				//校驗指定給付方式
				if($("input[name='paymentMethod']:checked").val() == "1"){
					if($('#accountName').val() =='' || $('#bankCode').val() =='' || $('#bankAccount').val() ==''){
						openAlert('請輸入電匯必填欄位');
					    return false;
					}
				}
				//生日
				$("input[name='birdate']").val($('#birdate').val().replace(/\//g, "\-"));
				if($('#policeDate').val() != ''){
					$("input[name='policeDate']").val($('#policeDate').val().replace(/\//g, "\-"));
				}
				if($('#policeTime').val() != ''){
					$("input[name='policeTime']").val($('#policeTime').val().replace(/\:/g, "\-"));
				}

				//上傳文件
				var flag = true;
				if (uploadFiles != undefined && uploadFiles != null) {
					$.each(uploadFiles,function(key,value){
						if(value.parameterValue == 'Y' && $("#"+key).val()=='') {
							openAlert("請選擇診斷證明書!");
							flag = false;
							return false;
						}
					})
				}
				if(!flag){
					return;
				}
				var List = [];
				if (uploadFiles != undefined && uploadFiles != null) {
					$.each(uploadFiles,function(key,value){
						if ($("#"+key).val() != '' && $("#"+key).val() != '[]'){
							List.push(...JSON.parse($("#"+key).val()));
						} else {
							List.push({claimSeqId: null, type: key, fileName: "", filePath: "", fileBase64: ""});
						}
					})
				}
				$('input[name="fileDataList"]').val(JSON.stringify(List));
				$('#step3Form').submit();
			  }
			});

			// 上一步事件
			var formData = /*[[${claimVo}]]*/;
			var formData = {};
			formData.policyNo = $('#policyNo').val();
			$('#deny').click(function() {
				postWithFormData(/*[[@{/policyClaims2}]]*/, formData);
			});

		});

		function checkedNOTONGYI(){
			$('#modal-container-NOTONGYI').modal({
				show: true,
				backdrop: 'static',
				keyboard: false
				});
		}

		function checkFirstApply() {
            let booleanFirst = true
            let dataFirst = {policyNo: $('#policyNo').val()}
            $.ajax({
                type : 'POST',
                contentType : 'application/json',
                url : /*[[@{/getInsuranceClaimWhetherFirst}]]*/,
                async: false,
                data : JSON.stringify(dataFirst),
                success : function(response) {
                    console.log(response);
                    if(response.resultData == 0) {
						booleanFirst= false;
                    }
                },
                error : function() {
                    /* openAlert('系統發生錯誤!'); */
                    booleanFirst=  false;
                    openAlert($('#E0018').val());
                    console.log("--2-",booleanFirst);
                }
            });
            return booleanFirst;
        }

		function clickAgreeSign() {
			event.preventDefault();
            event.stopPropagation();
            $("[name='signAgree']").val('N')
            $("#confirmSign").removeClass("checkedRadio")
            $("#cancelSign").addClass("checkedRadio")
			$('#confirmBxczModal').modal('show')
		}

		function confirmSignAgree(sign, doubleConfirm) {
            event.preventDefault();
            event.stopPropagation();
            if (doubleConfirm) {
                $('#confirmNotFirst').modal('hide')
                if (sign == 'Y') {
                    $("[name='signAgree']").val('Y')
                    $("#cancelSign").removeClass("checkedRadio")
                    $("#confirmSign").addClass("checkedRadio")
                } else {
                    $("[name='signAgree']").val('N')
                    $("#cancelSign").addClass("checkedRadio")
                    $("#confirmSign").removeClass("checkedRadio")
                }
            } else {
                $('#confirmBxczModal').modal('hide')
                if (checkFirstApply()) {
                    $('#confirmNotFirst').modal('show')
                } else if (sign == 'Y') {
                    $("[name='signAgree']").val('Y')
                    $("#cancelSign").removeClass("checkedRadio")
                    $("#confirmSign").addClass("checkedRadio")
                } else {
                    $("[name='signAgree']").val('N')
                    $("#cancelSign").addClass("checkedRadio")
                    $("#confirmSign").removeClass("checkedRadio")
                }
			}
		}

		//計算中英文字長度
		function chtLen(str){ 
			return str.replace(/[^\x00-\xff]/g,"xx").length;
		}

		function autoCheckedCompanys() {
			$("#confirmAutoCheckedCompany").modal('show')
		}

		function confirmAutoCheck(agree) {
			if (agree == 'Y') {
				$.ajax({
					type : 'POST',
					url : /*[[@{/autoCheckedInsuranceCompany}]]*/,
					async: false,
					success : function(response) {
						if (response.result = 'SUCCESS') {
							let arr = []
							response.resultData.forEach(i => {
								arr.push(i.orgId)
							})
							$("[name='toItem']").each(function(index, item){
								$("#toItem_" + $(item).val()).removeClass('checkedBox')
								$(item).attr('checked', false)
								if (arr.indexOf($(item).val()) != -1) {
									$("#toItem_" + $(item).val()).addClass('checkedBox')
									$(item).attr('checked', 'checked')
								}
							})
						}
					},
					error : function() {
						openAlert($('#E0018').val());
					}
				});
			}
			$("#confirmAutoCheckedCompany").modal('hide')
		}

		function previewConfig(file) {
			if(file != null && file != ''){
				var type = file.fileOrPng.substr(file.fileOrPng.lastIndexOf('.') + 1);
				return {type: type, url: '', previewAsData: false, caption: file.fileName, key: file.fdId, size: (file.originFileBase64.length * 0.75)};
			}
		}
	</script>

</body>

</html>