<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>保單理賠｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">保單理賠</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 保單理賠
			</div>
			<div id="signStateContent" class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
				<div class="activated" style="text-align:center">
					<th:block th:if="${msg == null}">
						<a href="javascript:openBxczSign();">
							<button id="go" class="btn-signup" style="margin:20px 0 20px">執行數位身份驗證
							</button>
						</a>
						<h2 th:inline="text">線上申請尚未完成！請先完成數位身份驗證！</h2>
						<div style="text-align:left">
							*如未完成數位身份驗證，則視同放棄申請，本公司將不另行通知。<br/>
							*需具備保險存摺會員帳號才可進行數位身份驗證<br/>
							*理賠給付申請流程及應具備完整文件可參考官網説明。給付理賠作業説明<br/>
							*如有疑問，請洽本公司電話服務中心0800-011966
						</div>
					</th:block>
					<th:block th:if="${msg != null}">
						<h2 th:inline="text" th:text="${msg}"></h2>
						<div style="text-align:left">
							*如未完成數位身份驗證，則視同放棄申請，本公司將不另行通知。<br/>
							*需具備保險存摺會員帳號才可進行數位身份驗證<br/>
							*理賠給付申請流程及應具備完整文件可參考官網説明。給付理賠作業説明<br/>
							*如有疑問，請洽本公司電話服務中心0800-011966
						</div>
					</th:block>
			</div>
		</div>
			<th:block th:if="${msg != null}">
				<div class="mystyle3">
					<div class="col-md-12 three-buttons">
						<a href="apply1">
							<button style="margin-left: 0px;" class="btn-signup">回線上申請首頁
							</button>
						</a>
						<a href="apply2">
							<button style="margin-left: 0px;" class="btn-signup">看我的申請紀錄
							</button>
						</a>
						<th:block th:if="${signFail != null && signFail}">
							<a href="#">
								<button style="margin-left: 0px; background:#CC7A00;" class="btn-signup" th:onclick="'backToStep3(\'' + ${signTransNum} + '\')'">返回步驟三填寫申請資料</button>
							</a>
						</th:block>
					</div>
				</div>
			</th:block>
		</div>
	</section>
	<form id="signStatusForm" method="post" action="getNewSignStatus" hidden="hidden">
		<input type="hidden" name="transNum" th:value="${signTransNum}">
		<input type="hidden" name="type" th:value="INSURANCE_CLAIM">
		<input type="hidden" name="opened" id="opened">
	</form>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var opened = [[${opened}]]
		$(function() {
			var msg = [[${msg}]]
			if (opened && msg == null) {
				popupLoading();
				setInterval("getNewSignStatus()", 30 * 1000)
			}
		});

		function openBxczSign() {
			popupLoading();
			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : 'generateBxczSignUrl',
				data:  JSON.stringify({"transNum": [[${signTransNum}]], "type": "INSURANCE_CLAIM"}),
				success : function(response) {
					removeLoading()
					if (response.result == 'SUCCESS') {
						window.open(response.resultData)
						getNewSignStatus()
					} else {
						openAlert(response.resultMsg)
					}
				},
				error : function() {
					openAlert('error!')
				}
			});
		}

		function getNewSignStatus() {
			$("#opened").val(opened)
			$("#signStatusForm").submit()
		}

		function backToStep3(transNum) {
			var policyForm = $('<form>');
			$(policyForm).attr("action", 'policyClaimBackToStep3');
			$(policyForm).attr("method", "POST");
			$(policyForm).append($('<input>').attr('type', 'hidden').attr('name', 'transNum').val(transNum));
			policyForm.appendTo(document.body)
			$(policyForm).submit();
		}
	/*]]>*/
	</script>
</body>
</html>