<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>自動墊繳選擇權｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">自動墊繳選擇權</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 自動墊繳選擇權
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-4">
						2<span class="hid1">. 選擇自動墊繳選擇權</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇是否自動墊繳</h2>
				<div class="loan1">
					<h2>要保人是否同意保險費逾寬限時間未繳付時，以保單價值準備金自動墊繳保險費？</h2> 
					<label for="checkBox12" class="col-sm-10 col-sm-offset-2 enNormal">保單號碼：
						<span id="policyNo" class="colorBlack">
							<th:block th:if="${transCushionVo != null}">
								<th:block th:each="policyNo : ${transCushionVo.policyNoList}">
									<th:block th:text="${policyNo}"/>
								</th:block>
							</th:block>
						</span>
					</label>
					<div class="check-list col-sm-8 col-sm-offset-2 grey2">
						<div class="col-sm-12 col-sm-offset-2 mode2select marginTop20">
							<label for="" class="col-sm-12 pll pmd">
								<div th:switch="${transCushionVo.cushionModeOld}">
									<div th:case="'Y'">
									本保單目前已辦理自動墊繳，是否要辦理取消？&nbsp;&nbsp;
									是<input type="radio" name="radio-btn" value="N" id="radio1" style="width:15px;height:15px;cursor:pointer">
									</div>
									<div th:case="'N'">
									本保單目前未辦理自動墊繳，是否要辦理自動墊繳？&nbsp;&nbsp;
									是<input type="radio" name="radio-btn" value="Y" id="radio1" style="width:15px;height:15px;cursor:pointer">
									</div>
								</div>
							</label>
						</div>
					</div>
					<div class="clearfix"></div>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_00502'] != null} 
						? ${session.PAGE_WORDING['WORDING_00502'].parameterValue}"/>
					<div class="statement1 wht col-sm-8 col-sm-offset-2">
						<p class="text-ps">備註：</p>
						<ol class="text-ps">
							<li>※若依保單條款未有紅利或增值回饋分享之保單，雖於本功能申請，仍不生效力</li>
						</ol>
					</div>
				</div>
				<div class="col-md-12 two-buttons">
					<a href="policyAutopay1">
						<button id="deny" class="btn-signup">上一步</button>
					</a>
					<th:block th:if="${loginUserType eq 'member'}">
						<button id="go" class="btn-signup">下一步</button>
					</th:block>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCushionVo}]]*/;
		$(function() {
			// 下一步事件
			$('#go').click(function() {
				var cushionMode = $('input[name="radio-btn"]:checked').val();
				if (cushionMode == null) {
					/* openAlert("請選擇是否自動墊繳"); */
					openAlert($('#E0072').val());
					return false;
				}
				
				formData.cushionMode = cushionMode;
				postWithFormData(/*[[@{/policyAutopay3}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>