<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.api.jdzq.dao.JdzqPolicyDao">

    <resultMap id="PolicyMap" type="com.twfhclife.eservice.api.jdzq.model.PolicyClaimDetailVo">
        <result column="PType_Code" property="pTypeCode" />
        <result column="PTypeName" property="pTypeName" />
    </resultMap>

    <resultMap id="PolicyClaimMap" type="com.twfhclife.eservice.api.jdzq.model.PolicyClaimDetailVo">
        <id column="PolicyNo" property="policyNo" />
        <result column="PolicyType" property="policyType" />
        <result column="PolicyTypeName" property="policyTypeName" />
        <result column="AccDocNo" property="accDocNo" />
        <result column="TBSubmitDate" property="tBSubmitDate" />
        <result column="CaseReceviceDate" property="caseReceviceDate" />
        <result column="PolicyActiveDate" property="policyActiveDate" />
        <result column="PrintDate" property="printDate" />
        <result column="AgentCode" property="agentCode" />
        <result column="BrokerName" property="brokerName" />
        <result column="BranchCode" property="branchCode" />
        <result column="nebkBranchName" property="nebkBranchName" />
        <result column="AgentSalesID" property="agentSalesID" />
        <result column="AgentSalesName" property="agentSalesName" />
        <result column="UserName" property="userName" />
        <result column="BPMCurrentTak" property="bpmcurrenttak" />
        <result column="AccUnit" property="accUnit" />
        <result column="ReviewResult" property="reviewResult" />
        <result column="PSalesCode" property="pSalesCode" />
        <result column="AppName" property="appName" />
        <result column="AppID" property="appID" />
        <result column="AppCountry" property="appCountry" />
        <result column="AppPolicyAge" property="appPolicyAge" />
        <result column="InsName" property="insName" />
        <result column="InsID" property="insID" />
        <result column="AppCountry" property="appCountry" />
        <result column="lipiAge" property="lipiAge" />
        <result column="PolicyAmountNTD" property="policyAmountNTD" />
        <result column="PolicyFee" property="policyFee" />
        <result column="PayType" property="payType" />
        <result column="PermYear" property="permYear" />
        <result property="pSalesName" column="pSalesName"/>
        <result property="pSalesID" column="pSalesID"/>
        <collection property="notes" resultMap="PolicyClaimSubMap" />
    </resultMap>

    <resultMap id="PolicyClaimSubMap" type="com.twfhclife.eservice.api.jdzq.model.PolicyClaimSubDetailVo">
        <result column="ItemContent" property="itemContent" />
        <result column="ContentMemo" property="contentMemo" />
        <result column="NoteDate" property="noteDate" />
        <result column="DueDate" property="dueDate" />
    </resultMap>


    <select id="getPolicyClaimDetail" resultMap="PolicyClaimMap">
        select ${columnItem} from (
        select c.PolicyNo,c.PolicyType,pn.PolicyTypeName,c.AccDocNo,c.TBSubmitDate TBSubmitDate,c.CaseReceviceDate,c.PolicyActiveDate,c.PrintDate,
        c.AgentCode,(select  br.BrokerName from BrokerProfile br where br.Broker_ID = c.AgentCode) AS BrokerName
        ,c.BranchCode,
        (select distinct nk.NEBK_Branch_Name from NBUDWLINEBK nk where nk.NEBK_Bank_Code = c.agentcode and nk.NEBK_Branch_Code = c.BranchCode) AS nebkBranchName,
        c.AgentSalesID, (c.PSalesID+c.PSalesName) AgentSalesName,(CASE c.AccUnit
        WHEN '01' THEN N'總公司'
        WHEN '02' THEN N'高雄分公司'
        WHEN '03' THEN N'台中分公司'
        WHEN '04' THEN N'花蓮分公司'
        WHEN '05' THEN N'桃園分公司'
        WHEN '06' THEN N'台南分公司'
        WHEN '07' THEN N'新竹分公司'
        WHEN '08' THEN N'嘉義分公司'
        WHEN '09' THEN N'台北分公司'
        ELSE '' END)as AccUnit,
        (select ur.UserName from UserProfile ur where ur.User_ID = c.Manager) AS UserName,
        (CASE c.BPMCurrentTak
        WHEN '150000P' THEN N'受理'
        WHEN '200000S' THEN N'收件通報'
        WHEN '230000S' THEN N'待掃描'
        WHEN '250000P' THEN N'品管'
        WHEN '300000P' THEN N'登打流程'
        WHEN '300500P' THEN N'一登(自行取件)'
        WHEN '300500S' THEN N'人員取件'
        WHEN '301000S' THEN N'登打分件標籤'
        WHEN '301500P' THEN N'一登(系統派件)'
        WHEN '302000P' THEN N'二登'
        WHEN '302500P' THEN N'二校'
        WHEN '303000P' THEN N'三校'
        WHEN '350500S' THEN N'財務核保'
        WHEN '351000S' THEN N'黑名單即時查詢'
        WHEN '351500S' THEN N'核心資料準備'
        WHEN '352000S' THEN N'體檢註記'
        WHEN '400000S' THEN N'核保分派'
        WHEN '450000S' THEN N'自動核保'
        WHEN '500000P' THEN N'核保承辦'
        WHEN '500500P' THEN N'核保作業'
        WHEN '501011P' THEN N'照會覆核'
        WHEN '501012P' THEN N'照會核定'
        WHEN '501500P' THEN N'醫師會簽'
        WHEN '502000P' THEN N'會簽結果登錄'
        WHEN '550500P' THEN N'核保人員覆核'
        WHEN '550505P' THEN N'科長覆核'
        WHEN '550510P' THEN N'副理覆核'
        WHEN '550515P' THEN N'經理覆核'
        WHEN '550520P' THEN N'高階覆核'
        WHEN '551012P' THEN N'照會核定'
        WHEN '600500P' THEN N'繳費核印作業'
        WHEN '601500S' THEN N'核心系統資料更新'
        WHEN '602000S' THEN N'出單日更新'
        WHEN '602500S' THEN N'案件結案'
        ELSE '' END) AS BPMCurrentTak,
        (CASE (SELECT TOP (1) prl.ReviewResult
        FROM PolicyReviewLog prl
        where prl.Main_Key = (select Main_Key from MainPolicy where PolicyNo = c.PolicyNo)
        and prl.LogType = 'B'
        and prl.Sub_Serial = '0'
        order by prl.ReviewTimes desc, prl.ReviewType desc)
        WHEN 'A1' THEN N'核保通過'
        WHEN 'C1' THEN N'退保(撤銷要保)'
        WHEN 'D1' THEN N'延保'
        WHEN 'N1' THEN N'退保(照會逾期退件)'
        WHEN 'N2' THEN N'批註說明'
        WHEN 'R1' THEN N'拒保'
        WHEN '5' THEN N'承保'
        WHEN '9' THEN N'不予承保'
        ELSE '' END) AS ReviewResult,
        c.AppName,c.AppID,c.AppCountry,c.AppPolicyAge,
        c.InsName,c.InsID,c.LIPI_AGE AS lipiAge,
        c.PolicyAmountNTD,c.PolicyFee,
        (CASE c.PayType
        WHEN 'A' THEN N'年繳'
        WHEN 'F' THEN N'彈性繳'
        WHEN 'M' THEN N'月繳'
        WHEN 'Q' THEN N'季繳'
        WHEN 'S' THEN N'半年繳'
        WHEN 'T' THEN N'躉繳'
        ELSE '' END) AS PayType,
        c.PermYear,pn.NoteDate,pn.DueDate,pni.ItemContent,pni.ContentMemo
        from MainPolicy c
        left join PolicyNote pn on c.Main_Key = pn.Main_Key
        left join PolicyNoteItems  pni on  pn.Note_Key = pni.Note_Key
        <where>
            <if test="vo.appName != null and vo.appName != ''">
                AND UPPER( c.AppName) LIKE N'%${vo.appName}%'
            </if>
            <if test="vo.appID != null and vo.appID !=''">
                AND c.AppID = '${vo.appID}'
            </if>
            <if test="vo.tBStartTime != null and vo.tBStartTime != ''">
                AND CONVERT(DATETIME,c.TBSubmitDate,120) <![CDATA[>=]]> '${vo.tBStartTime}'
            </if>
            <if test="vo.tBEndTime != null and vo.tBEndTime != ''">
                AND CONVERT(DATETIME,c.TBSubmitDate,120) <![CDATA[<=]]> '${vo.tBEndTime}'
            </if>
            <if test="vo.policyActiveStartTime != null and vo.policyActiveStartTime != ''">
                AND CONVERT(DATETIME,c.PolicyActiveDate,120) <![CDATA[>=]]> '${vo.policyActiveStartTime}'
            </if>
            <if test="vo.policyActiveEndTime != null and vo.policyActiveEndTime !=''">
                AND CONVERT(DATETIME,c.PolicyActiveDate,120) <![CDATA[<=]]> '${vo.policyActiveEndTime}'
            </if>
            <if test="vo.bpmcurrenttak != null and vo.bpmcurrenttak != ''">
                AND c.BPMCurrentTak = '${vo.bpmcurrenttak}'
            </if>
            <if test="vo.policyNo != null and vo.policyNo != ''">
                AND c.PolicyNo = '${vo.policyNo}'
            </if>
            <if test="vo.pSalesCode != null and vo.pSalesCode != ''">
                AND c.PSalesID = '${vo.pSalesCode}'
            </if>
            <if test="vo.agentCode != null and vo.agentCode != ''">
                <choose>
                    <when test="vo.agentCode == '86900'">
                        AND c.AgentCode = '869' AND c.AgentBranchM = '00'
                    </when>
                    <when test="vo.agentCode == '86901'">
                        AND c.AgentCode = '869' AND c.AgentBranchM = '01'
                    </when>
                    <otherwise>
                        AND c.AgentCode = '${vo.agentCode}'
                    </otherwise>
                </choose>
            </if>
            <if test="vo.branchCode != null and vo.branchCode != ''">
                AND c.BranchCode = '${vo.branchCode}'
            </if>
            <if test="vo.noteStatus != null and vo.noteStatus != ''">
                AND pn.NoteStatus = '${vo.noteStatus}'
            </if>
            <if test="vo.noteVerifyResult != null and vo.noteVerifyResult != ''">
                AND pn.NoteVerifyResult = '${vo.noteVerifyResult}'
            </if>
            <if test="vo.policyType != null and vo.policyType != ''">
                AND c.PolicyType = '${vo.policyType}'
            </if>
            <if test="vo.insName != null and vo.insName != ''">
                AND UPPER( c.InsName) LIKE N'%${vo.insName}%'
            </if>
            <if test="vo.insID != null and vo.insID != ''">
                AND c.InsID = '${vo.insID}'
            </if>
        </where>)ff
        group by ${columnItem}
    </select>

    <select id="getPolicyTypeNameList" resultMap="PolicyMap">
        SELECT pt.PType_Code,pt.PTypeName FROM MainPolicy c left join PolicyType pt on c.PolicyType = pt.PType_Code where pt.PType_Code IS NOT NULL and pt.PTypeName IS NOT NULL group by pt.PType_Code,pt.PTypeName
    </select>
</mapper>
