<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>線上申請｜臺銀人壽保單網路服務</title>
    <style type="text/css">
        .sign-title {
            color: orange;
            font-size: 40px;
            margin-top: 15%;
            font-weight: 600;
        }
    </style>
</head>
    <body>
        <div style="text-align: center;">
            <div class="sign-title" th:text="${msg}">
            </div>
            <div style="font-size: 16px;">
                如有疑問，請先至臺銀人壽會員專區查詢或請電洽:<br/>
                免費客服電話0800-011966，我們將竭誠爲您服務。<br/>
            </div>
        </div>
    <script>
        window.onload = function() {
            setTimeout("javascript:closeWindow();", 3000)
        }
        firefox = navigator.userAgent.indexOf('Firefox')
        function closeWindow() {
            window.location.href="about:blank";
            window.opener = null;
            window.open('', '_self');
            window.close();
        }
    </script>
</body>
</html>