<!--/* 錯誤訊息 & 提示訊息 */-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
</style>
	<body>
		<th:block th:fragment="refundErrorMessage">
		<div class="modal fade refundErrorMessageModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="height: 50px; border-radius: 5px 5px 0 0;">
						<span class="modal-title" id="myLargeModalLabel">還款管道</span>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div>
						<div>
							<p style="font-size : 12px; line-height : 24px; letter-spacing : 3px;margin-right : 10px; margin-left : 10px ; margin-bottom : 10px;" id="refundMsg">請洽詢客戶服務專線 : 0800-011-966。</p>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	</body>
</html>