<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--   Core JS Files   -->
<script th:src="@{/plugin/jquery-1.11.3.min.js}"></script>
<script th:src="@{/plugin/bootstrap.min.js}"></script>
<script th:src="@{/plugin/bootstrap-datepicker.min.js}"></script>

<script th:src="@{/js/eservice/demo.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/plugin/jquery-ui.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/plugin/jquery.scrollbar.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/plugin/chart.min.js}"></script>
<!-- tablesaw -->
<script th:src="@{/js/atlantis.js}"></script>
<script th:src="@{/plugin/tablesaw.stackonly.js}"></script>
<!--popover-->
<script th:src="@{/plugin/scrollbar.js}"></script>
<script th:src="@{/js/popover.js}"></script>
<script th:src="@{/js/eservice/timer.js}"></script>
<script th:src="@{/plugin/timer.jquery.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    document.oncontextmenu = function() {
        return false
    }

    var currentPageId = sessionStorage.getItem("localId")
    var sessionPageId = /*[[${session.SESSION_PAGE_ID}]]*/
    if (currentPageId == null && sessionPageId == null) {
        var uuid = crypto.randomUUID()
        $.post(/*[[@{/bindSessionPage}]]*/,  {
            uuid: uuid
        })
        sessionStorage.setItem("localId", uuid);
    } else if ((currentPageId == null && sessionPageId != null) || (currentPageId != null && sessionPageId != null && currentPageId != sessionPageId)) {
        alert("不允許打開新分頁");
        sessionStorage.clear()
        window.location.href = /*[[@{/doLogout}]]*/
    } else if (currentPageId != null && sessionPageId == null) {
        $.post(/*[[@{/bindSessionPage}]]*/,  {
            uuid: currentPageId
        })
    }
/*]]>*/

</script>
</body>
</html>