<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--   Core JS Files   -->
<script th:src="@{/plugin/jquery-1.11.3.min.js}"></script>
<script th:src="@{/plugin/bootstrap.min.js}"></script>
<script th:src="@{/plugin/bootstrap-datepicker.min.js}"></script>

<script th:src="@{/js/eservice/demo.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/plugin/jquery-ui.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/plugin/jquery.scrollbar.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/plugin/chart.min.js}"></script>
<!-- tablesaw -->
<script th:src="@{/js/atlantis.js}"></script>
<script th:src="@{/plugin/tablesaw.stackonly.js}"></script>
<!--popover-->
<script th:src="@{/plugin/scrollbar.js}"></script>
<script th:src="@{/js/popover.js}"></script>
<script th:src="@{/js/eservice/timer.js}"></script>
<script th:src="@{/plugin/timer.jquery.js}"></script>
<script>
    document.oncontextmenu = function() {
        return false
    }
</script>
</body>
</html>