<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="main-header">
        <div class="row hid1" id="top1"></div>
        <!-- Logo Header -->
        <div class="logo-header">
            <a href="index.html" class="logo">
                <img th:src="@{/img/my-logo.png}" height="50px" alt="navbar brand" class="navbar-brand">
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="bi bi-grid-1x2"></i>
				</span>
            </button>
            <button class="topbar-toggler more"><i class="bi bi-grip-horizontal"></i></button>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="bi bi-grid-1x2"></i>
                </button>
            </div>
        </div>
        <div class="n1 inlineBlock float-left">經代支援系統</div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg hello1-list">
            <div class="hello1-list">
                <div class="list members">
                    <a href="#" class="b3">
                        <img th:src="@{/img/icon-members.png}" width="26" alt="member">
                    </a>
                </div>
                <div class="list hid2">Hi, (
                    <th:block th:if="${session.USER_DETAIL == null}">
                        <th:block th:text="${session.LOGIN_USER_ID}"/>
                    </th:block>
                    <th:block th:if="${session.USER_DETAIL != null}">
                        <th:block th:text="${session.USER_DETAIL.userName}"/>
                    </th:block>
                    ) 您好
                </div>
                <div class="list marginRight20">
                    <a href="#" data-target="#notification" data-toggle="popover" data-width="520"
                       data-scroll-height="200" data-class="to-right" data-content="43greyrtu"
                       data-placement="bottom" class="b3" data-original-title="" title=""><span id="messageCount"
                            class="badge b4 pull-right">0</span>我的通知</a>
                </div>
                <div id="logoutDiv" class="list" th:attr="data-timeout_seconds=${session.TIMEOUT_SECONDS}">
                    <a th:href="@{/doLogout}">
                        <button class="btn-login pull-right">登出</button>
                    </a>
                    <button id="logoutResetBtn" class="pull-right btn-reset">
                        <div class="rp1"><i class="foo-cw"></i>秒</div>
                    </button>
                    <form id="logoutForm" th:action="@{/doLogout}"></form>
                </div>
            </div>
            <div id="notification" class="popover-template">
                <div class="title">
                    線上通知
                    <span class="note"><em class="badge"></em>封未讀取</span>
                    <a class="close">×</a>
                    <a data-toggle="collapse" data-target="#popoverSearchBar" aria-expanded="true" aria-controls="popoverSearchBar" class="pull-right">
                        <i class="fa fa-search orange"></i>
                    </a>
                </div>
                <div class="collapse grey" id="popoverSearchBar">
                    <div class="searchbar">
                        <form class="form-inline" aria-expanded="true" action="#">
                            <div class="col-sm-12">
                                <label class="col-sm-5">狀態：</label>
                                <div class="col-sm-7" style="padding:0px;">
                                    <select id ="notifyStatus" style="width:100%;">
                                        <option selected value="">全部</option>
                                        <option value="1">未讀取</option>
                                        <option value="2">已讀取</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12" >
                                <label class="col-sm-5">通知時間：</label>
                                <div class="col-sm-3" style="padding:0px;">
                                    <input type="text" style="width:100%;" id="notifyStartSearchTime">
                                </div>
                                <div class="col-sm-1">
                                    -
                                </div>
                                <div class="col-sm-3" style="padding:0px;">
                                    <input type="text" style="width:100%;" id="notifyEndSearchTime">
                                </div>
                            </div>
                            <div class="col-sm-12" style="text-align: center;">
                                <button class="btn-form btn-search" onclick="clickSearch()">搜尋</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="messageContent">
                    <div class="items" style="overflow-y: hidden;">
                    </div>
                </div>
        </div>
        </nav>
        <!-- End Navbar -->
        <div class="modal fade in" id="msg-modal" role="dialog" aria-labelledby="myModalLabel" style="z-index: 111111;"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content lock-up">
                    <div class="modal-header"> 通知詳情
                        <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body center1 grey2">
                        <h3></h3><div class="title"></div>
                        <div class="marginBottom30 modal-container-locked-messsage content">
                            <div class="modal-body apply2 center1 grey2">
                                <div class="container grey nopd">
                                    <div class="col-xs-4">主旨：</div>
                                    <div class="col-xs-8" id="msgTitle" style="color:black"></div>
                                    <div class="col-xs-4">内文：</div>
                                    <div class="col-xs-8" style="color:black" id="msgContent"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</html>