<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-xs-6 col-sm-3 col-md-2 sidebar-offcanvas nopd" id="sidebar">
    <div class="list-group tog1 box-border">
        <div class="tog2">保單資訊</div>
        <a class=""th:classappend="${#httpServletRequest.requestURI == (#httpServletRequest.getContextPath() + '/listing1')} ? 'active' : ''" th:href="'javascript:postPolicyListType(\'' + @{/listing1} + '\', \'' + ${policyNo} + '\')'" class="list-group-item tog3">保單基本資料</a>
        <a class=""th:classappend="${#httpServletRequest.requestURI == (#httpServletRequest.getContextPath() + '/listing11')} ? 'active' : ''" th:href="'javascript:postPolicyListType(\'' + @{/listing11} + '\', \'' + ${policyNo} + '\')'" class="list-group-item tog3">保障內容與金額</a>

        <div class="tog2">一般查詢</div>
        <a class=""th:classappend="${#httpServletRequest.requestURI == (#httpServletRequest.getContextPath() + '/listing3')} ? 'active' : ''" th:href="'javascript:postPolicyListType(\'' + @{/listing3} + '\', \'' + ${policyNo} + '\')'" class="list-group-item tog3">繳費紀錄</a>
        <a class=""th:classappend="${#httpServletRequest.requestURI == (#httpServletRequest.getContextPath() + '/listing5')} ? 'active' : ''" th:href="'javascript:postPolicyListType(\'' + @{/listing5} + '\', \'' + ${policyNo} + '\')'" class="list-group-item tog3">保單紅利資料</a>
        <a class=""th:classappend="${#httpServletRequest.requestURI == (#httpServletRequest.getContextPath() + '/listing13')} ? 'active' : ''" th:href="'javascript:postPolicyListType(\'' + @{/listing13} + '\', \'' + ${policyNo} + '\')'" class="list-group-item tog3">生存/滿期保單給付資料 </a>
        <a href="listing12.html" class="list-group-item tog3">解約金試算 </a>
        <a href="#" class="list-group-item tog3">契約變更資料</a>

        <div class="tog2">投資型保單查詢</div>
        <a href="listing2.html" class="list-group-item tog3">投資損益及投報率</a>

        <a href="listing6-2.html" class="list-group-item tog3">保單收益分配</a>
        <a href="listing7.html" class="list-group-item tog3">保費費用</a>
        <a href="listing10.html" class="list-group-item tog3">交易歷史記錄</a>
        <a href="listing14.html" class="list-group-item tog3">報酬率通知設定 </a>
        <a href="listing15.html" class="list-group-item tog3">保單帳戶價值通知紀錄 </a>

        <a href="#" class="list-group-item tog3">投資標的淨值</a>


        <div class="tog4 hide"><i class="fa foo-finance_1 fa-lg orange"></i> <span class="colorBlack">基金投資試算</span></div>
        <div class="tog4 hide"><i class="fa foo-printer fa-lg orange"></i> <span class="colorBlack">列印保單明細</span></div>
    </div>
</div>
</html>