<div class="cert1">
	<div class="colorBlack chMiddle marginTop20 marginBottom20">
		驗證碼已傳送至<br/>
		<input type="hidden" id="authenticationType" th:value="${authenticationType}"/>
	</div>
	<div class="clearFloat">
		<input type="text" class="form-control float-left w70p" id="InputCert1" placeholder="請查看簡訊 / 電子郵件，並輸入六碼驗證碼" />
			<a href="javascript:smsTimer.reset()" class="enSmall lineHigh34">重新發送驗證碼</a>
	</div>
	<div class="countdown" style="font-size: 17px;">
		剩餘時間 <em id="timerDiv" style="color: #DD792E;">5:00</em>
	</div>
</div>
<script src="plugin/jquery-1.11.2.min.js"></script>
<script th:src="@{/js/travelPolicy/moment.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/

var smsRemainTime = /*[[${timeSet}]]*/;
var formData = /*[[${transContactInfoDtlVo}]]*/;
var smsOriginRemainTime = smsRemainTime;
$(function() {
	smsTimer.show(1); // 1秒
})

var smsTimer = function() {
	var timer;
	function showSmsRemainTime(second) {
		timer = setInterval(function() {
			smsRemainTime = smsRemainTime - 1
			if (smsRemainTime <= 0) {
				clearInterval(timer);
				$('#timerDiv').html('0:00');
				// 20210628 輸入驗證碼連續錯誤達幾次，該驗證碼即失效; 有到後台新增 系統常數(SYSTEM_CONSTANTS) AUTH_CHECK_COUNTS 值設為 5
				//openAlert("驗證碼已逾時，請重新寄送驗證碼！");
				//openAlert($('#E0009').val());
			} else {
				var showTime = moment.utc(smsRemainTime * 1000).format('m:ss');
				$('#timerDiv').html(showTime);
			}
		}, second * 1000);	
	};
	function reset() {
		clearInterval(timer);
		reSendAuthentication();
	};
	return {
		show : function(second) {
			showSmsRemainTime(second);
		},
		reset : function() {
			reset();
		}
	};
}();

function reSendAuthentication() {
	popupLoading();
	$.ajax({
		type : 'POST',
		//contentType : 'application/json',
		dataType : 'json',
		url : /*[[@{/sendAuthentication}]]*/,
		data : {
			authenticationType:$("#authenticationType").val(),
			newMobile: /*[[${session.forget_mobile}]]*/,
			newEmail:/*[[${session.forget_email}]]*/
		},
		success : function(response) {
			removeLoading();
			openAlert("重新寄送完成!");
			//TODO： 需要重新設定時間
			// 20210628 輸入驗證碼連續錯誤達幾次，該驗證碼即失效; 有到後台新增 系統常數(SYSTEM_CONSTANTS) AUTH_CHECK_COUNTS 值設為 5
			// BaseController->setAuthenticationShow() 原本就有固定寫了300沒有參數化
			//smsRemainTime = smsOriginRemainTime;
			smsRemainTime = 300;
			smsTimer.show(1);
		},
		error : function() {
			removeLoading();
            openAlert($('#E0011').val());
			//openAlert("重新寄送失敗，請重新寄送驗證碼！");
		}
	});
}

/*]]>*/
</script>