<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.web.dao.UsersDao">
	<resultMap id="UsersMap" type="com.twfhclife.eservice.web.model.UsersVo">
		<result column="user_id" property="userId" />
		<result column="roc_id" property="rocId" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="login_fail_count" property="loginFailCount" />
		<result column="last_chang_password_date" property="lastChangPasswordDate" />
		<result column="sms_flag" property="smsFlag" />
		<result column="mail_flag" property="mailFlag" />
		<result column="fb_id" property="fbId" />
		<result column="moica_id" property="moicaId" />
		<result column="user_type" property="userType" />
		<result column="create_date" property="createDate" />
		<result column="create_user" property="createUser" />
		<result column="username" property="userName" />
		<result column="encrypted_pwd" property="password" />
		<result column="online_flag" property="onlineFlag"/>
		<result column="status" property="status"/>
	</resultMap>

	<sql id="User_Column_List">
		u.user_id,u.roc_id,ESERVICE.DBO.FN_DEBASE64(u.mobile) mobile,ESERVICE.DBO.FN_DEBASE64(u.email) email,u.login_fail_count,u.last_chang_password_date,
		u.sms_flag,u.mail_flag,u.fb_id,u.moica_id,u.user_type,u.create_date,u.create_user,
		u.online_flag, u.login_fail_count, u.status
	</sql>

	<select id="getUserByRocId" resultMap="UsersMap" parameterType="java.lang.String">
		SELECT TOP 1
		    <include refid="User_Column_List" />
		FROM
			ESERVICE.DBO.USERS u
		WHERE
		    u.roc_id = #{rocId}
	</select>

	<insert id="createUser" parameterType="com.twfhclife.eservice.web.model.UsersVo">
		insert into 
		ESERVICE.DBO.USERS 
		(user_id,
		roc_id,
		mobile,
		email,
		login_fail_count,
		last_chang_password_date,
		sms_flag,
		mail_flag,
		user_type,
		create_date,
		create_user) 
		VALUES (
		lower(#{vo.userId,jdbcType=VARCHAR}),
		#{vo.rocId,jdbcType=VARCHAR},
		ESERVICE.DBO.FN_ENBASE64(#{vo.mobile,jdbcType=VARCHAR}),
		ESERVICE.DBO.FN_ENBASE64(#{vo.email,jdbcType=VARCHAR}),
		0,
		getdate(),
		#{vo.smsFlag,jdbcType=VARCHAR},
		#{vo.mailFlag,jdbcType=VARCHAR},
		#{vo.userType,jdbcType=VARCHAR},
		getdate(),
		#{vo.userId,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="createUserRole" parameterType="com.twfhclife.eservice.web.model.UserRoleVo">
		INSERT INTO 
		ESERVICE_ADM.DBO.USER_ROLE 
		(USER_ID, ROLE_ID) 
		VALUES (
			#{vo.userId},
			(SELECT ROLE_ID FROM ESERVICE_ADM.DBO.ROLE WHERE DESCRIPTION = #{vo.userType})
		)
	</insert>

	<select id="getUserByAccount" resultMap="UsersMap" parameterType="java.lang.String">
		SELECT
			<include refid="User_Column_List" />
		FROM
			ESERVICE.DBO.USERS u
		WHERE
			LOWER(u.USER_ID) = LOWER(#{account})
	</select>

	<update id="updatePassword" parameterType="java.lang.String">
		update ESERVICE.DBO.USERS set 
		last_chang_password_date = getdate()
		where lower(user_id) = lower(#{account})
	</update>

	<update id="updateUserType" parameterType="java.lang.String">
		update ESERVICE.DBO.USERS set 
		user_type = #{userType}
		where lower(user_id) = lower(#{account})
	</update>

	<!-- 變更基本資料 -->
	<update id="updateCustInfo">
		UPDATE ESERVICE.DBO.USERS
		<set>
			<if test="usersVo.mobile != null and usersVo.mobile != ''"> MOBILE = ESERVICE.DBO.FN_ENBASE64(#{usersVo.mobile}), </if>
			<if test="usersVo.email != null and usersVo.email != ''"> EMAIL = ESERVICE.DBO.FN_ENBASE64(#{usersVo.email}), </if>
			<if test="usersVo.smsFlag != null and usersVo.smsFlag != ''"> SMS_FLAG = #{usersVo.smsFlag}, </if>
			<if test="usersVo.mailFlag != null and usersVo.mailFlag != ''"> MAIL_FLAG = #{usersVo.mailFlag}, </if>
			<if test="usersVo.loginFailCount != null"> LOGIN_FAIL_COUNT = #{usersVo.loginFailCount}, </if>
			<if test="usersVo.status != null"> status = #{usersVo.status}, </if>
		</set>
		WHERE
			LOWER(USER_ID) = LOWER(#{usersVo.userId})
	</update>

	<select id="getUserByFbId" resultMap="UsersMap" parameterType="java.lang.String">
		select ue.ID USER_ID, ue.USERNAME USERNAME, ua1.VALUE FB_ID, ua2.VALUE ENCRYPTED_PWD
			from ESERVICE_ADM.DBO.USER_ENTITY ue
			left join ESERVICE_ADM.DBO.USER_ATTRIBUTE ua1 on ue.ID=ua1.USER_ID and ua1.NAME='fb_id'
			left join ESERVICE_ADM.DBO.USER_ATTRIBUTE ua2 on ue.ID=ua2.USER_ID and ua2.NAME='idp'
			where ue.REALM_ID=#{realm} 
			and ua1.VALUE=#{fbId}
	</select>
	<select id="getUserByCardSn" resultMap="UsersMap" parameterType="java.lang.String">
		select ue.ID USER_ID, ue.USERNAME USERNAME, ua1.VALUE CARD_SN, ua2.VALUE ENCRYPTED_PWD
			from ESERVICE_ADM.DBO.USER_ENTITY ue
			left join ESERVICE_ADM.DBO.USER_ATTRIBUTE ua1 on ue.ID=ua1.USER_ID and ua1.NAME='card_sn'
			left join ESERVICE_ADM.DBO.USER_ATTRIBUTE ua2 on ue.ID=ua2.USER_ID and ua2.NAME='idp'
			where ue.REALM_ID=#{realm} 
			and ua1.VALUE=#{cardSn}
	</select>

	<insert id="createUserTerm" parameterType="com.twfhclife.eservice.web.model.UserTermVo">
		INSERT INTO ESERVICE.DBO.USER_TERM
		(ID, USER_ID, TERM_NAME, ACCEPT_DATE, MEMO) 
		VALUES 
		(
			NEWID(),
			#{vo.userId,jdbcType=VARCHAR},
			#{vo.termName,jdbcType=VARCHAR},
			#{vo.acceptDate,jdbcType=TIMESTAMP},
			#{vo.memo,jdbcType=VARCHAR}
		)
	</insert>

	<select id="checkOldSystemUser" resultType="java.lang.Integer" parameterType="java.lang.String">
	   SELECT 
	       count(*) as data_count 
       FROM 
           ESERVICE.DBO.MEMBERS 
	   WHERE 
	       MEMBERS_ID=#{rocId} 
	     AND ESERVICE.DBO.FN_DEBASE64(MEMBERS_PASSWORD)=#{password}
	</select>

	<select id="getMailPhoneByRocid" resultMap="UsersMap" parameterType="java.lang.String">
		select lipm_id roc_id, pmda_applicant_email email, pmda_applicant_cellphone mobile from ESERVICE.DBO.lilipm
		join eservice.dbo.lipmda_es on lipm_insu_no = (PMDA_INSU_TYPE + CONVERT(VARCHAR, PMDA_INSU_GRP_NO) + PMDA_INSU_SEQ_NO) 
		where lipm_id = #{rocId}
	</select>

	
	<select id="getMailPhoneByRocidPolicyNo" resultMap="UsersMap" parameterType="java.lang.String">
        SELECT DISTINCT TOP 1
            LIPM_ID AS roc_id, PMDA_APPLICANT_EMAIL AS email, PMDA_APPLICANT_CELLPHONE AS mobile
        FROM
            ESERVICE.DBO.LILIPM LIPM
		JOIN
            LIPMDA_ES
                ON LIPM_INSU_NO = (PMDA_INSU_TYPE + CONVERT(VARCHAR, PMDA_INSU_GRP_NO) + PMDA_INSU_SEQ_NO)
		WHERE
            LIPM_ID = #{rocId}
            AND LIPM_INSU_NO = #{policyNo}
	</select>
	
	<!-- 變更基本資料 -->
	<update id="updateOnlineFlagY">
		UPDATE ESERVICE.DBO.USERS
			set online_flag = 'Y'
		WHERE
			LOWER(USER_ID) = LOWER(#{userId})
	</update>
</mapper>