<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.user.dao.LilipmDao">

	<resultMap id="LilipmMap" type="com.twfhclife.eservice.user.model.LilipmVo" >
		<result column="LIPM_INSU_NO" property="lipmInsuNo"/>
		<result column="LIPM_INSU_TYPE" property="lipmInsuType"/>
		<result column="LIPM_INSU_GRP_NO" property="lipmInsuGrpNo"/>
		<result column="LIPM_INSU_SEQ_NO" property="lipmInsuSeqNo"/>
		<result column="LIPM_AGEN_CODE" property="lipmAgenCode"/>
		<result column="LIPM_AGEN_NA_CODE" property="lipmAgenNaCode"/>
		<result column="LIPM_AGEN_CODE_BRANCH" property="lipmAgenCodeBranch"/>
		<result column="LIPM_RCP_CODE" property="lipmRcpCode"/>
		<result column="LIPM_TRED_PAAB_DATE" property="lipmTredPaabDate"/>
		<result column="LIPM_RCP_METH_CODE" property="lipmRcpMethCode"/>
		<result column="LIPM_ST" property="lipmSt"/>
		<result column="LIPM_5_GP" property="lipm5gp"/>
		<result column="LIPM_INSU_BEG_DATE" property="lipmInsuBegDate"/>
		<result column="LIPM_ID" property="lipmId"/>
		<result column="LIPM_BIRTH" property="lipmBirth"/>
		<result column="LIPM_NAME_1" property="lipmName1"/>
		<result column="LIPM_NAME_2" property="lipmName2"/>
		<result column="LIPM_ADDR" property="lipmAddr"/>
		<result column="LIPM_ZIP_CODE" property="lipmZipCode"/>
		<result column="LIPM_TEL_H" property="lipmTelH"/>
		<result column="LIPM_TEL_O" property="lipmTelO"/>
		<result column="LIPM_CHAR_ID" property="lipmCharId"/>
		<result column="LIPM_CHAR_ADDR" property="lipmCharAddr"/>
		<result column="LIPM_CHAR_ZIP_CODE" property="lipmCharZipCode"/>
		<result column="LIPM_AUTO_RCP_MK" property="lipmAutoRcpMk"/>
		<result column="LIPM_FLEX_RCP_MK" property="lipmFlexRcpMk"/>
		<!-- 沒有隱碼的欄位 -->
		<result column="NO_HIDDEN_LIPM_ID" property="noHiddenLipmId"/>
		<result column="NO_HIDDEN_LIPM_TEL_H" property="noHiddenLipmTelH"/>
		<result column="NO_HIDDEN_LIPM_TEL_O" property="noHiddenLipmTelO"/>
	<result column="LIPM_ADDR_NOHIDDEN" property="lipmAddrNoHidden"/>
		<result column="LIPM_CHAR_ADDR_NOHIDDEN" property="lipmCharAddrNoHidden"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		LIPM_INSU_NO
		,LIPM_INSU_TYPE
		,LIPM_INSU_GRP_NO
		,LIPM_INSU_SEQ_NO
		,LIPM_AGEN_CODE
		,LIPM_AGEN_NA_CODE
		,LIPM_AGEN_CODE_BRANCH
		,LIPM_RCP_CODE
		,LIPM_TRED_PAAB_DATE
		,LIPM_RCP_METH_CODE
		,LIPM_ST,LIPM_5_GP
		,LIPM_INSU_BEG_DATE
		,ESERVICE.DBO.FN_GETHIDDENCODE(1, LIPM_ID, '*', 4, 5) AS LIPM_ID
		,LIPM_BIRTH
		,ESERVICE.DBO.FN_DEBASE64(LIPM_NAME_1) AS LIPM_NAME_1
		,ESERVICE.DBO.FN_DEBASE64(LIPM_NAME_2) AS LIPM_NAME_2
		,ESERVICE.DBO.FN_GETHIDDENCODE(2, ESERVICE.DBO.FN_DEBASE64(LIPM_ADDR), '○', 8, null) AS LIPM_ADDR
		,ESERVICE.DBO.FN_DEBASE64(LIPM_ADDR) AS LIPM_ADDR_NOHIDDEN
		,LIPM_ZIP_CODE
		,ESERVICE.DBO.FN_GETHIDDENCODE(1, ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_H), '*', 4, 3) AS LIPM_TEL_H
		,ESERVICE.DBO.FN_GETHIDDENCODE(1, ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_O), '*', 4, 3) AS LIPM_TEL_O
		,LIPM_CHAR_ID
		,ESERVICE.DBO.FN_GETHIDDENCODE(2, ESERVICE.DBO.FN_DEBASE64(LIPM_CHAR_ADDR), '○', 8, null) AS LIPM_CHAR_ADDR
		,ESERVICE.DBO.FN_DEBASE64(LIPM_CHAR_ADDR) AS LIPM_CHAR_ADDR_NOHIDDEN
		,LIPM_CHAR_ZIP_CODE
		,LIPM_AUTO_RCP_MK
		,LIPM_FLEX_RCP_MK 
		,LIPM_ID AS NO_HIDDEN_LIPM_ID
		,ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_H) AS NO_HIDDEN_LIPM_TEL_H
		,ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_O) AS NO_HIDDEN_LIPM_TEL_O
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="lilipmVo.lipmInsuNo != null and lilipmVo.lipmInsuNo != ''"> AND LIPM_INSU_NO = #{lilipmVo.lipmInsuNo} </if>
			<if test="lilipmVo.lipmInsuType != null and lilipmVo.lipmInsuType != ''"> AND LIPM_INSU_TYPE = #{lilipmVo.lipmInsuType} </if>
			<if test="lilipmVo.lipmInsuGrpNo != null"> AND LIPM_INSU_GRP_NO = #{lilipmVo.lipmInsuGrpNo} </if>
			<if test="lilipmVo.lipmInsuSeqNo != null and lilipmVo.lipmInsuSeqNo != ''"> AND LIPM_INSU_SEQ_NO = #{lilipmVo.lipmInsuSeqNo} </if>
			<if test="lilipmVo.lipmAgenCode != null and lilipmVo.lipmAgenCode != ''"> AND LIPM_AGEN_CODE = #{lilipmVo.lipmAgenCode} </if>
			<if test="lilipmVo.lipmAgenNaCode != null and lilipmVo.lipmAgenNaCode != ''"> AND LIPM_AGEN_NA_CODE = #{lilipmVo.lipmAgenNaCode} </if>
			<if test="lilipmVo.lipmAgenCodeBranch != null and lilipmVo.lipmAgenCodeBranch != ''"> AND LIPM_AGEN_CODE_BRANCH = #{lilipmVo.lipmAgenCodeBranch} </if>
			<if test="lilipmVo.lipmRcpCode != null and lilipmVo.lipmRcpCode != ''"> AND LIPM_RCP_CODE = #{lilipmVo.lipmRcpCode} </if>
			<if test="lilipmVo.lipmTredPaabDate != null"> AND LIPM_TRED_PAAB_DATE = #{lilipmVo.lipmTredPaabDate} </if>
			<if test="lilipmVo.lipmRcpMethCode != null and lilipmVo.lipmRcpMethCode != ''"> AND LIPM_RCP_METH_CODE = #{lilipmVo.lipmRcpMethCode} </if>
			<if test="lilipmVo.lipmSt != null and lilipmVo.lipmSt != ''"> AND LIPM_ST = #{lilipmVo.lipmSt} </if>
			<if test="lilipmVo.lipm5gp != null and lilipmVo.lipm5gp != ''"> AND LIPM_5_GP = #{lilipmVo.lipm5gp} </if>
			<if test="lilipmVo.lipmInsuBegDate != null"> AND LIPM_INSU_BEG_DATE = #{lilipmVo.lipmInsuBegDate} </if>
			<if test="lilipmVo.lipmId != null and lilipmVo.lipmId != ''"> AND LIPM_ID = #{lilipmVo.lipmId} </if>
			<if test="lilipmVo.lipmBirth != null"> AND LIPM_BIRTH = #{lilipmVo.lipmBirth} </if>
			<if test="lilipmVo.lipmName1 != null and lilipmVo.lipmName1 != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_NAME_1) = #{lilipmVo.lipmName1} </if>
			<if test="lilipmVo.lipmName2 != null and lilipmVo.lipmName2 != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_NAME_2) = #{lilipmVo.lipmName2} </if>
			<if test="lilipmVo.lipmAddr != null and lilipmVo.lipmAddr != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_ADDR) = #{lilipmVo.lipmAddr} </if>
			<if test="lilipmVo.lipmZipCode != null and lilipmVo.lipmZipCode != ''"> AND LIPM_ZIP_CODE = #{lilipmVo.lipmZipCode} </if>
			<if test="lilipmVo.lipmTelH != null and lilipmVo.lipmTelH != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_H) = #{lilipmVo.lipmTelH} </if>
			<if test="lilipmVo.lipmTelO != null and lilipmVo.lipmTelO != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_TEL_O) = #{lilipmVo.lipmTelO} </if>
			<if test="lilipmVo.lipmCharId != null and lilipmVo.lipmCharId != ''"> AND LIPM_CHAR_ID = #{lilipmVo.lipmCharId} </if>
			<if test="lilipmVo.lipmCharAddr != null and lilipmVo.lipmCharAddr != ''"> AND ESERVICE.DBO.FN_DEBASE64(LIPM_CHAR_ADDR) = #{lilipmVo.lipmCharAddr} </if>
			<if test="lilipmVo.lipmCharZipCode != null and lilipmVo.lipmCharZipCode != ''"> AND LIPM_CHAR_ZIP_CODE = #{lilipmVo.lipmCharZipCode} </if>
			<if test="lilipmVo.lipmAutoRcpMk != null and lilipmVo.lipmAutoRcpMk != ''"> AND LIPM_AUTO_RCP_MK = #{lilipmVo.lipmAutoRcpMk} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND LIPM_INSU_NO = #{lilipmVo.lipmInsuNo}
		</where>
	</sql>
	
	<!-- 取得要保人查詢結果 -->
	<select id="getLilipm" resultMap="LilipmMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.LILIPM
		<include refid="whereClause" />
	</select>
	
	<!-- 要保人-根據證號查詢 -->
	<select id="findByRocId" resultMap="LilipmMap">
		SELECT TOP 1 <include refid="Base_Column_List" />
		FROM ESERVICE.DBO.LILIPM
		WHERE LIPM_ID = #{rocId}
		ORDER BY LIPM_INSU_BEG_DATE DESC
	</select>
	
	<!-- 要保人-根據保單號碼查詢 -->
	<select id="findByPolicyNo" resultMap="LilipmMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.LILIPM
		WHERE
			LIPM_INSU_NO = #{policyNo}
	</select>
	
	<!-- 查詢要保人聯絡資訊-根據保單號碼清單查詢最近的 -->
	<select id="findContactInfoByPolicyNoList" resultMap="LilipmMap">
		SELECT TOP 1 <include refid="Base_Column_List" />
		FROM ESERVICE.DBO.LILIPM
		WHERE LIPM_INSU_NO IN 
			<foreach collection="policyNos" item="policyNo" index="index" open="(" close=")" separator="," >
				#{policyNo}
			</foreach>
		ORDER BY LIPM_INSU_BEG_DATE DESC
	</select>
	
	<!-- 取得使用者的所有保單號碼清單 -->
	<!-- 2021/05/24 增加找被保人保單 -->
	<select id="getUserPolicyNos" resultType="string">
		SELECT
		m.LIPM_INSU_NO
		FROM
		ESERVICE.DBO.LILIPM m
		FULL JOIN ESERVICE.DBO.LILIPI i  ON m.LIPM_INSU_NO = i.LIPI_INSU_NO
		WHERE
		(
		m.LIPM_ID = #{rocId} or i.LIPI_ID = #{rocId}
		)
		<!--  僅提供有效保單及兩年內失效保單之查詢 -->
		AND (i.LIPI_ST <![CDATA[ < ]]> 31 OR case when i.LIPI_ST_DATE is null then getdate() else i.LIPI_ST_DATE end > DATEADD(month, -24, getdate()) + 1)
		ORDER BY
			LIPM_INSU_BEG_DATE DESC
	</select>
	
	<select id="getLipmTredTmsByPolicyNo" resultType="integer">
        SELECT 
            DISTINCT LIPM_TRED_TMS 
        FROM 
            ESERVICE.DBO.LILIPM_ES 
        <where>
            AND (LIPM_INSU_TYPE + CAST(LIPM_INSU_GRP_NO AS NVARCHAR(1)) + LIPM_INSU_SEQ_NO ) = #{policyNo}
        </where>
	</select>

	<select id="getLipmTargetPremByPolicyNo" resultType="java.math.BigDecimal">
		SELECT
		DISTINCT LIPM_TARGET_PREM
		FROM
		ESERVICE.DBO.LILIPM_ES
		<where>
			AND (LIPM_INSU_TYPE + CAST(LIPM_INSU_GRP_NO AS NVARCHAR(1)) + LIPM_INSU_SEQ_NO ) = #{policyNo}
		</where>
	</select>
	
	<!-- 查詢有效保單 -->
	<select id="getAliveLilipm" resultMap="LilipmMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM ESERVICE.DBO.LILIPM
		LEFT JOIN ESERVICE.DBO.LILIPI ON LIPM_INSU_NO = LIPI_INSU_NO
		WHERE
			LIPM_ID = #{lilipmVo.lipmId}
			<!--  有效保單及未失效保單 -->
			AND (LIPI_ST <![CDATA[ < ]]> 31 AND COALESCE(LIPI_INSU_END_DATE,getdate()) > getdate())
		ORDER BY LIPM_INSU_BEG_DATE DESC
	</select>

</mapper>