<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
	.tab {
		font-size: 15px;
		background-color: #fff;
		color: #009b30;
		text-align: center;
		display: inline-block;
		width: 100%;
		margin-left: 0px;
		padding: 0;
	}
	.tab .active {
		background-color: #009b30;
		color: #fff;
		z-index: 5;
	}
	.tab li {
		padding: 12px 12px 8px 20px;
		position: relative;
		display: inline-block;
		border-bottom: 1px solid #eee;
		z-index: 0;
		border: 1px solid #eee;
	}
</style>
	<head>
		<th:block th:replace="fragments/head"/>
	</head>
	<body class="no-skin">
		<th:block th:replace="fragments/navbar"/>
		<div class="main-container my-save-state" id="main-container">
			<script type="text/javascript">
				try{my.settings.loadState('main-container')}catch(e){}
			</script>
			<div th:replace="fragments/sidebar :: sidebar (funId='communicationTemplateSearch')"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs my-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-signal" aria-hidden="true"></i>
									通信管理
								<i class="my-icon fa fa-angle-double-right"></i>
									經代專區通知管理
							</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="">
							<ul class="tab">
								<li class="tab1 active col-xs-4" bind="member">
									<span class="hid1">人員</span>
								</li>
								<li class="tab1 col-xs-4"  bind="department">
									<span class="hid1">分行</span>
								</li>
								<li class="tab1 col-xs-4" bind="role">
									<span class="hid1">角色</span>
								</li>
							</ul>
						</div>
						<div class="page-content">
							<div class="row">
								<div class="col-xs-12 member">
									<form class="form-horizontal" role="form" id="form1">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1">使用者帳號：</label>
											<div class="col-sm-5">
												<input type="text" id="username" class="form-control" />
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="col-md-offset-3 col-md-1">
											<button id="qryBtn" class="btn btn-success" type="button">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning sendBtn">
												<i class="my-icon fa fa-file-text-o bigger-110"></i>
												發送通知
											</button>
										</div>
									</form>
								</div>
								<div class="col-xs-12 department" hidden="true">
									<form class="form-horizontal" id="form2" role="form" action="#">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1">查詢分行：</label>
											<div class="col-sm-5">
												<div>
													<input type="text" name="depName" id="depName" class="form-control"/>
												</div>
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="col-md-offset-3 col-md-1">
											<button type="button" class="btn btn-success" id="qryBtn2">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning sendBtn">
												<i class="my-icon fa fa-file-text-o bigger-110"></i>
												發送通知
											</button>
										</div>
									</form>
								</div>
								<div class="col-xs-12 role" hidden="true">
									<form class="form-horizontal" id="form3" role="form" action="#">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1">查詢角色：</label>
											<div class="col-sm-5">
												<div>
													<input type="text" name="roleName" id="roleName" class="form-control"/>
												</div>
											</div>
											<div class="col-sm-4">
											</div>
										</div>
										<div class="col-md-offset-3 col-md-1">
											<button type="button" class="btn btn-success" id="qryBtn3">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning sendBtn">
												<i class="my-icon fa fa-file-text-o bigger-110"></i>
												發送通知
											</button>
										</div>
									</form>
								</div>
							</div>
							<div class="hr hr-18 dotted hr-double"></div>
							<div class="row">
								<div class="col-xs-12">
									<div id="show-detail-results" hidden="true">
										<div id="queryContent">
											<table id="qryGrid"></table>
											<div id="qryPager"></div>
										</div>
									</div>
								</div>
							</div>
							<div id="msgDialog" class="hide">
								<div class="widget-main no-padding">
									<form id="notifyForm">
										<fieldset style="margin-top:">
											<label class="col-sm-2 control-label text-right no-padding-right">發送時間 :</label>
											<div class="col-sm-8">
												<input class="form-control" type="text" id="notifyTime" name="notifyTime" data-date-format="YYYY-MM-DD HH:mm:ss"/>
											</div>
										</fieldset>
										<fieldset>
											<label class="col-sm-2 control-label text-right no-padding-right">發送内容 :</label>
											<div class="col-sm-8">
												<textarea style="width: 100%" type="textarea" id="notifyMsg" name="msg" rows="5" placeholder="請輸入發送内容..."></textarea>
											</div>
										</fieldset>
									</form>
									<div class="col-md-offset-3 col-md-1">
										<button id="confirmSendBtn" class="btn btn-success" type="button">
											<i class="my-icon fa fa-check bigger-110"></i>
											確定
										</button>
									</div>
									<div class="col-md-offset-1 col-md-1">
										<button onclick="closeMsgDialog()" class="btn" type="reset">
											<i class="my-icon fa fa-undo bigger-110"></i>
											取消
										</button>
									</div>
								</div>
								<div style="width: 750px">
									<table id="roleGrid"></table>
									<div id="rolePager"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="my-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>

<th:block th:replace="fragments/script"/>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
		var qryGrid
		var selectUserId;
		var users, deps, roles
		$(function() {

			$('input[name=notifyTime').datetimepicker();

			$('#qryBtn').click(function() {
				$("#queryContent").html('<table id="qryGrid"></table> <div id="qryPager"></div>')
				initGrid();
				qryGrid.setPostData('username', $('#username').val());
				// 產生grid
				qryGrid.create();
				// 顯示查詢結果區域
				$('#show-detail-results').show();
			});

			$('#qryBtn2').click(function(){
				$("#queryContent").html('<table id="qryGrid"></table> <div id="qryPager"></div>')
				qryGrid = new jqGridUtil();
				qryGrid.id = '#qryGrid';
				qryGrid.url = /*[[@{/department/getDepartment}]]*/;
				qryGrid.pager = '#qryPager';
				qryGrid.caption = '分行查詢結果';
				qryGrid.colNames = ['', '分行代碼', '分行名稱', '分行描述'];
				qryGrid.colModel = [
					{width: 20, align: 'center', formatter: function(cellvalue, options, row) {
						var actionHtml = '';
						actionHtml += '<input class="depCheckBox" type="checkbox" value="' + row.DEP_ID + '"/>';
						return actionHtml;
					}},
					{name: 'DEP_ID', index: 'DEP_ID', width: 100},
					{name: 'DEP_NAME', index: 'DEP_NAME', width: 100},
					{name: 'DESCRIPTION', index: 'DESCRIPTION', width: 200}
				];
				qryGrid.setPostData('depName', $('#depName').val());
				qryGrid.create();
				$('#show-detail-results').show();
			})

			$('#qryBtn3').click(function(){
				$("#queryContent").html('<table id="qryGrid"></table> <div id="qryPager"></div>')
				qryGrid = new jqGridUtil();
				qryGrid.id = '#qryGrid';
				qryGrid.url = /*[[@{/jdRole/getRoleDetail}]]*/;
				qryGrid.pager = '#qryPager';
				qryGrid.caption = '角色查詢結果';
				qryGrid.colNames = ['', '角色名稱', '部門名稱', '角色描述'];
				qryGrid.colModel = [
					{width: 20, align: 'center', formatter: function(cellvalue, options, row) {
						var actionHtml = '';
						actionHtml += '<input class="roleCheckBox" type="checkbox" value="' + row.ROLE_ID + '"/>';
						return actionHtml;
					}},
					{name: 'ROLE_NAME', index: 'ROLE_NAME', width: 100},
					{name: 'DEPARTMENT_NAME', index: 'DEPARTMENT_NAME', width: 100},
					{name: 'DESCRIPTION', index: 'DESCRIPTION', width: 200}
				];
				qryGrid.setPostData('roleName', $('#roleName').val());
				qryGrid.setPostData('systemId', 'eservice_jd');
				qryGrid.create();
				$('#show-detail-results').show();
			})

			// 顯示查詢結果區域
			eserviceAdmEvent.initDialog();

			$('.tab1').click(function() {
				$('.tab1.active').removeClass('active')
				$(this).addClass('active')
				$('.member').hide()
				$('.department').hide()
				$('.role').hide()
				$('.' +  $(this).attr('bind')).show()
				$("#queryContent").html('<table id="qryGrid"></table> <div id="qryPager"></div>')
			});

			$('.sendBtn').click(function(){
				users = new Array()
				$('.memberCheckBox:checked').each(function(key,value){
						users[key] = $(value).val()
					}
				)
				roles = new Array()
				$('.roleCheckBox:checked').each(function(key,value){
						roles[key] = $(value).val()
					}
				)
				deps = new Array()
				$('.depCheckBox:checked').each(function(key,value){
						deps[key] = $(value).val()
					}
				)
				if ((users != undefined && users.length > 0) || (roles != undefined && roles.length > 0)
					|| (deps != undefined && deps.length > 0)) {
					openMsgDialog(users, deps, roles)
					return false;
				} else {
					alertMsg('未選擇發送對象');
					return false;
				}
			})

			$("#confirmSendBtn").click(function(){
				if ($("#notifyTime").val() == null || $("#notifyTime").val() == '') {
					alertMsg('未選擇發送時間');
					return false;
				}

				if ($("#notifyMsg").val() == null || $("#notifyMsg").val() == '') {
					alertMsg('未填寫發送内容');
					return false;
				}
				data = {
					users: users,
					deps: deps,
					roles: roles,
					notifyTime: $('#notifyTime').val(),
					msg: $('#notifyMsg').val()
				}

				$.ajax({
					type : 'POST',
					contentType : 'application/json',
					url : /*[[@{/jdzqSendMsg}]]*/,
					data : JSON.stringify(data),
					success : function(response) {
						if (response.result == 'SUCCESS') {
                           alertMsg('發送成功');
                           return false;
						}
						closeMsgDialog()
					},
					error : function() {
						alertMsg('error!')
					}
				});
			})
		});

		// 初始Grid
		function initGrid() {
			// 查詢結果grid
			qryGrid = new jqGridUtil();
			qryGrid.id = '#qryGrid';
			qryGrid.pager = '#qryPager';
			qryGrid.url = /*[[@{/jdUserMgnt/getUserEntityPageList}]]*/;
			qryGrid.caption = '人員查詢結果';
			qryGrid.colNames = ['', '使用者帳號', '使用者名稱', '角色', '部門', '職位'];
			qryGrid.colModel = [
				{width: 20, align: 'center', formatter: function(cellvalue, options, row) {
					var actionHtml = '';
					actionHtml += '<input class="memberCheckBox" type="checkbox" value="' + row.ID + '"/>';
					return actionHtml;
				}},
				{name: 'USERNAME', index: 'USERNAME', width: 100},
				{width: 90, formatter: function(cellvalue, options, row) {
					return emptyIfNull(row.FIRST_NAME);
				}},
				{width: 120, formatter: function(cellvalue, options, row) {
					return breakLine(row.ROLE_NAME_LIST);
				}},
				{width: 100, formatter: function(cellvalue, options, row) {
					return breakLine(row.DEP_NAME_LIST);
				}},
				{width: 100, formatter: function(cellvalue, options, row) {
					return breakLine(row.TITLE_NAME_LIST);
				}}
			];
		}

		function breakLine(data) {
			var result = data;
			if (typeof data === 'string') {
				result = data.replace(/\,/g, '<div></div>');
			}
			return result;
		}

		function openMsgDialog(users, deps, roles) {
			$('#msgDialog').removeClass('hide').dialog({
				modal: true,
				title: "<div class='widget-header widget-header-small'><h4 class='smaller'>發送通知</h4></div>",
				title_html: true,
				width: 800,
				height: 400
			});
		}

		function closeMsgDialog() {
			$('#msgDialog').dialog('close')
		}
/*]]>*/
		</script>
	</body>
</html>