<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.onlineChange.dao.OnlineChangeDao">
	<resultMap id="transHIS" type="com.twfhclife.eservice.onlineChange.model.TransStatusHistoryVo" >
		<result column="TS_ID" property="tsId"/>
		<result column="TRANS_NUM" property="transNum"/>
		<result column="USER_IDENTITY" property="identity"/>
		<result column="CUSTOMERNAME" property="customerName"/>
		<result column="REJECT_REASON" property="rejectReason"/>
		<result column="STATUS" property="status"/>
		<result column="CONTENT" property="content"/>
		<result column="REQUEST_DATE" property="requestDate"/>
	</resultMap>
	<resultMap id="transRFE" type="com.twfhclife.eservice.onlineChange.model.TransRFEVo" >
		<result column="RFE_ID" property="rfeId"/>
		<result column="TRANS_NUM" property="transNum"/>
		<result column="FD_ID" property="fdID"/>
		<result column="STATUS" property="status"/>
		<result column="STATUS_NAME" property="statusName"/>
		<result column="REQUEST_CONTENT" property="requestContent"/>
		<result column="RESPONSE_CONTENT" property="responseContent"/>
		<result column="REQUEST_DATE" property="requestDate"/>
		<result column="RESPONSE_DATE" property="responseDate"/>
	</resultMap>
	<resultMap id="TransInsCliamFileDataResultMap" type="com.twfhclife.eservice.onlineChange.model.TransInsuranceClaimFileDataVo">
		<result property="claimSeqId"   column="CLAIMS_SEQ_ID" />
		<result property="type"  column="TYPE" />
		<result property="fileName"    column="FILE_NAME" />
		<result property="filePath"  column="PATH" />
		<result property="fileBase64"  column="FILE_BASE64" />
	</resultMap>
	<select id="getTransNum" parameterType="java.util.HashMap" statementType="CALLABLE">
		 CALL ESERVICE.DBO.USP_GETTRANSNUM(#{transNum, mode=OUT, jdbcType=VARCHAR})
	</select>
	
	<insert id="addTrans" parameterType="com.twfhclife.eservice.onlineChange.model.TransVo">
		insert into 
			ESERVICE.DBO.TRANS(TRANS_NUM, TRANS_DATE, TRANS_TYPE, USER_ID, STATUS, CREATE_USER, CREATE_DATE) 
		values(
			#{vo.transNum,jdbcType=NUMERIC}, 
			getdate(),
			#{vo.transType,jdbcType=VARCHAR}, 
			#{vo.userId,jdbcType=VARCHAR}, 
			#{vo.status,jdbcType=VARCHAR}, 
			#{vo.userId,jdbcType=VARCHAR}, 
			getdate()
		)
	</insert>
	
	<select id="getTransByUserId" resultType="com.twfhclife.eservice.onlineChange.model.TransVo" parameterType="java.lang.String">
	WITH FUND_TRANS_DATE_TMP AS (
		SELECT 
			ROW_NUMBER() OVER (ORDER BY ts.TRANS_DATE desc) AS ROW_NUM,
			ts.TRANS_NUM,
			ts.TRANS_DATE,
			ts.USER_ID,
			(
			SELECT 
				COUNT(POLICY_NO) 
			FROM 
				ESERVICE.DBO.TRANS_POLICY 
			WHERE 
				TRANS_NUM = ts.TRANS_NUM 
			<if test="policyNo != null">
				AND POLICY_NO = #{policyNo , jdbcType=VARCHER}
			</if>
			) AS POLICY_NO,
			(
			select TCI.FROM_COMPANY_ID  FROM_COMPANY_ID   FROM
			ESERVICE.DBO.TRANS_CONTACT_INFO TC  JOIN  ESERVICE.DBO.TRANS_CONTACT_INFO_DTL  TCI  ON  TC.ID =TCI.TRANS_CONTACT_ID WHERE TC.TRANS_NUM=ts.TRANS_NUM
			) FROM_COMPANY_ID ,
			ts.TRANS_TYPE,
			ts.STATUS,
			(
			   SELECT COUNT(t3.TRANS_NUM) from (
					SELECT TRANS_NUM FROM ESERVICE.DBO.TRANS_ENDORSEMENT WHERE TRANS_NUM = ts.TRANS_NUM
					union all
					SELECT t1.TRANS_NUM FROM ESERVICE.DBO.TRANS_ENDORSEMENT t1 join ESERVICE.DBO.TRANS_MERGE t2 on t1.TRANS_NUM = t2.TRANS_NUM where t2.TRANS_NUM = ts.TRANS_NUM
			   )t3
			) ENDORSEMENT_STATUS
		FROM 
			ESERVICE.DBO.TRANS ts
		WHERE 
			ts.USER_ID = #{userId}
			<if test="transType != null">
			AND ts.TRANS_TYPE = #{transType}
			</if>
			<if test="status != null">
			AND ts.STATUS = #{status}
			</if>
			<if test="startDate != null">
				AND convert(varchar(10), ts.TRANS_DATE, 111) <![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate != null">
				AND convert(varchar(10), ts.TRANS_DATE, 111) <![CDATA[<=]]> #{endDate}
			</if>
	)
		SELECT
			(SELECT MAX(ROW_NUM) FROM FUND_TRANS_DATE_TMP) AS totalRow,
			t.FROM_COMPANY_ID,
			#{pageSize} AS pageSize,
			#{pageNum} AS pageNum,
			t.TRANS_NUM AS transNum,
			t.TRANS_DATE AS transDate,
			t.USER_ID AS userId,
			(
			SELECT
			    a.PARAMETER_VALUE
				FROM ESERVICE_ADM.DBO.PARAMETER a
				JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b on a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
				WHERE 1 = 1
					AND a.SYSTEM_ID = b.SYSTEM_ID
					AND a.STATUS = b.STATUS
					AND b.STATUS = 1
					AND b.SYSTEM_ID = <include refid="ApConstantsMapper.ESERVICE_SYSTEM_ID"/>
					AND b.CATEGORY_CODE = <include refid="ApConstantsMapper.ONLINE_CHANGE_PARAMETER_CATEGORY_CODE"/>
					AND a.PARAMETER_CODE = t.TRANS_TYPE
			) AS transType,
			(
			SELECT
			    a.PARAMETER_NAME
				FROM ESERVICE_ADM.DBO.PARAMETER a
				JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b on a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
				WHERE
					1 = 1
					AND a.SYSTEM_ID = b.SYSTEM_ID
					AND a.STATUS = b.STATUS
					AND b.STATUS = 1
					AND b.SYSTEM_ID = <include refid="ApConstantsMapper.ESERVICE_SYSTEM_ID"/>
					AND b.CATEGORY_CODE = <include refid="ApConstantsMapper.ONLINE_CHANGE_PARAMETER_CATEGORY_CODE"/>
					AND a.PARAMETER_CODE = t.TRANS_TYPE
			) AS transTypeStr,
			t.STATUS AS status,
			(
			SELECT
			    a.PARAMETER_NAME
				FROM ESERVICE_ADM.DBO.PARAMETER a
				JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b on a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
				WHERE
					1 = 1
					AND a.SYSTEM_ID = b.SYSTEM_ID
					AND a.STATUS = b.STATUS
					AND b.STATUS = 1
					AND b.SYSTEM_ID = <include refid="ApConstantsMapper.ESERVICE_SYSTEM_ID"/>
					AND b.CATEGORY_CODE = <include refid="ApConstantsMapper.ONLINE_CHANGE_STATUS_PARAMETER_CATEGORY_CODE"/>
					AND a.PARAMETER_CODE = t.STATUS
			) AS statusStr,
			t.ENDORSEMENT_STATUS AS endorsementStatus
		FROM
			FUND_TRANS_DATE_TMP t
		WHERE
			1 = 1
			<if test="policyNo != null">
			AND t.POLICY_NO != 0
			</if>
			<if test="pageNum != null and pageSize != null">
			AND t.ROW_NUM <![CDATA[>=]]> ((#{pageNum} - 1) * #{pageSize}) + 1
			AND t.ROW_NUM <![CDATA[<=]]> (#{pageNum} * #{pageSize})
			</if>
	</select>
	
	<!-- 取得申請項目的申請保單資訊 -->
	<select id="getTransPolicy" resultType="com.twfhclife.eservice.onlineChange.model.TransPolicyVo" parameterType="java.lang.String">
	<!-- SELECT 
		TP.POLICY_NO AS POLICYNO,
		TRIM(B.PRODUCT_NAME) AS PRODUCTNAME
	FROM 
		ESERVICE.TRANS_POLICY TP, ESERVICE.PRODUCT B, ESERVICE.POLICY P
	WHERE
		TP.TRANS_NUM = #{transNum}
		AND TP.POLICY_NO = P.POLICY_NO
		AND P.POLICY_TYPE = B.PRODUCT_CODE -->
	SELECT DISTINCT
		TP.POLICY_NO AS POLICYNO,
		B.PRODUCT_NAME AS PRODUCTNAME
	FROM ESERVICE.DBO.TRANS_POLICY TP
	JOIN ESERVICE.DBO.POLICY P ON TP.POLICY_NO = P.POLICY_NO
	JOIN ESERVICE.DBO.PRODUCT B ON P.POLICY_TYPE = B.PRODUCT_CODE AND (SELECT LIPM_INSU_BEG_DATE FROM ESERVICE.DBO.LILIPM WHERE LIPM_INSU_NO = P.POLICY_NO) BETWEEN B.DESI_SALE_DATE AND B.DESI_CHAN_VAR_DATE
	WHERE
		TP.TRANS_NUM = #{transNum}
	</select>
	
	<update id="updateTransStatus" parameterType="java.lang.String">
		UPDATE TRANS SET STATUS = #{status} WHERE TRANS_NUM = #{transNum}
	</update>
	
	<update id="updateInsClaimStatus" parameterType="java.lang.String">
		UPDATE ESERVICE.DBO.INSURANCE_CLAIM SET STATUS = #{status} WHERE TRANS_NUM = #{transNum} and CASE_ID is null
	</update>

	<insert id="addTransFile">
		INSERT INTO 
			ESERVICE.DBO.TRANS_FILE
			(ID, TRANS_NUM, FILE_NAME, FILE_DATA, CREATE_DATE, CREATE_USER)
		VALUES
		(  
			(NEXT VALUE FOR DBO.TRANS_FILE_ID_SEQ), 
			#{transNum,jdbcType=NUMERIC}, 
			#{fileName,jdbcType=VARCHAR}, 
			#{transFile,jdbcType=BLOB}, 
			getdate(), 
			#{userId,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="getUserIdByTransNum" parameterType="java.lang.String" resultType="java.lang.String">
		 select user_id from ESERVICE.DBO.TRANS where trans_num=#{transNum} and status='2' and trans_type=#{transType}
	</select>

	<!-- 20211118 add by 203990 -->
	<select id="getUserIdByPolicyNo" parameterType="java.lang.String" resultType="java.lang.String">
		select top 1 user_id from users where roc_id = (select top 1 lipm_id from lilipm where LIPM_INSU_NO = #{policyNo});
	</select>

	<!--
	select ESERVICE.DBO.FN_DEBASE64(A.NAME)+'|'+A.TRANS_NUM+'|'+CONVERT(varchar(10),  ESERVICE.DBO.FN_DEBASE64(A.CREATE_DATE), 120) from
		ESERVICE.dbo.TRANS_INSURANCE_CLAIM A, ESERVICE_ADM.DBO.BLACK_LIST B  where A.TRANS_NUM = B.TRANS_NUM  and B.ID_NO = #{blackListVo.idNo}
	-->
	<select id="getBlackList" parameterType="java.lang.String" resultType="java.lang.String">
		select name+DA FROM  (
		select A.TRANS_NUM,'|'+A.TRANS_NUM+'|'+CONVERT(varchar(10),  ESERVICE.DBO.FN_DEBASE64(A.CREATE_DATE), 120) DA from
		ESERVICE.dbo.TRANS_INSURANCE_CLAIM A, ESERVICE_ADM.DBO.BLACK_LIST B  where A.TRANS_NUM = B.TRANS_NUM 	and B.ID_NO = #{blackListVo.idNo}
		) A1,(
		select A.TRANS_NUM,ESERVICE.DBO.FN_DEBASE64(A.NAME) name from
		ESERVICE.dbo.TRANS_INSURANCE_CLAIM A, ESERVICE_ADM.DBO.BLACK_LIST B  where A.TRANS_NUM = B.TRANS_NUM 	and B.ID_NO = #{blackListVo.idNo}
		) A2 WHERE A1.TRANS_NUM=A2.TRANS_NUM
	</select>
	
	<select id="getPolicyClaimCompleted" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from eservice.dbo.TRANS A left join eservice.dbo.TRANS_INSURANCE_CLAIM B on a.TRANS_NUM = B.TRANS_NUM 
		where A.STATUS not in ('2','3','7','8','43','44') and A.TRANS_TYPE = 'INSURANCE_CLAIM' and B.ID_NO = ESERVICE.dbo.FN_ENBASE64(#{rocId})
	</select>

	<select id="getMedicalTreatmentClaimCompleted" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from eservice.dbo.TRANS A left join eservice.dbo.TRANS_MEDICAL_TREATMENT_CLAIM B on a.TRANS_NUM = B.TRANS_NUM
		where A.STATUS not in ('2','3','7','8') and A.TRANS_TYPE = 'MEDICAL_TREATMENT'  and B.ID_NO = ESERVICE.dbo.FN_ENBASE64(#{rocId})
	</select>
	<insert id="addTransStatusHistory" parameterType="com.twfhclife.eservice.onlineChange.model.TransStatusHistoryVo">
		INSERT INTO 
       		ESERVICE.DBO.TRANS_STATUS_HISTORY
       		(TS_ID,TRANS_NUM,CUSTOMERNAME,USER_IDENTITY,STATUS,REJECT_REASON,CONTENT)
       	VALUES
       		(   (NEXT VALUE FOR ESERVICE.DBO.TRANS_STATUS_HISTORY_SEQ), 
       			#{vo.transNum,  jdbcType=VARCHAR},
       			#{vo.customerName, jdbcType=VARCHAR},
       			#{vo.identity, jdbcType=VARCHAR},
       			#{vo.status, jdbcType=VARCHAR},
       			#{vo.rejectReason, jdbcType=VARCHAR},
       			#{vo.content, jdbcType=VARCHAR}
       		)
	</insert>
	
	<select id="getAgeByPolicyNo" parameterType="java.lang.String" resultType="java.lang.String">
		 select FLOOR(DATEDIFF(DY,CAST(ESERVICE.DBO.FN_DEBASE64(LIPI_BIRTH) as date),GETDATE())/365.25) as age,CAST(ESERVICE.DBO.FN_DEBASE64(LIPI_BIRTH) as date) AS LIPI_BIRTH from ESERVICE.dbo.LILIPI where LIPI_INSU_NO = #{policyNo}
	</select>
	
	<select id="getCreateDateByTransNum" parameterType="java.lang.String" resultType="java.lang.String">
		  select CONVERT(varchar(10), CREATE_DATE, 120) AS CREATE_DATE from ESERVICE.DBO.TRANS where trans_num=#{transNum}
	</select>
	
	<select id="getContactInfoCompleted" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 
				count(*)
		  FROM 
				ESERVICE.DBO.TRANS_CONTACT_INFO_DTL A
				JOIN ESERVICE.DBO.TRANS_CONTACT_INFO B on A.TRANS_CONTACT_ID = B.ID
				JOIN ESERVICE.DBO.TRANS_POLICY C on B.TRANS_NUM = C.TRANS_NUM
				JOIN ESERVICE.DBO.LILIPM D ON C.POLICY_NO = D.LIPM_INSU_NO
				JOIN ESERVICE.DBO.TRANS E ON C.TRANS_NUM = E.TRANS_NUM
	      WHERE E.STATUS not in ('2','3','6','7')
		    AND E.TRANS_TYPE = 'CONTACT_INFO'
			AND D.LIPM_ID = #{rocId}
	</select>
	<select id="getTransStatusHistoryList"
			resultMap="transHIS">
		select
		T.TS_ID,
		T.TRANS_NUM,
		T.USER_IDENTITY,
		T.CUSTOMERNAME,
		T.CONTENT,
		COALESCE(( SELECT a.PARAMETER_NAME
		FROM ESERVICE_ADM.DBO.PARAMETER a ,ESERVICE_ADM.DBO.PARAMETER_CATEGORY b
		WHERE a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID AND a.STATUS = b.STATUS
		AND b.STATUS = 1 AND b.CATEGORY_CODE = 'ONLINE_CHANGE_STATUS'
		AND a.PARAMETER_CODE = T.STATUS),'') as STATUS,
		T.REQUEST_DATE
		from ESERVICE.DBO.TRANS_STATUS_HISTORY T
		where T.TRANS_NUM = #{vo.transNum}
		<if test="vo.status != null and vo.status != ''" >
			AND T.STATUS = #{vo.status, jdbcType=VARCHAR}
		</if>
		<if test="vo.startDate != null and vo.startDate != ''" >
			AND T.REQUEST_DATE &gt; #{vo.startDate, jdbcType=DATE}
		</if>
		<if test="vo.endDate != null and vo.endDate != ''" >
			AND T.REQUEST_DATE &lt; #{vo.endDate, jdbcType=DATE}
		</if>
		order by T.REQUEST_DATE desc
	</select>

	<select id="getTransRFEList"   resultMap="transRFE" >
		select
		T.RFE_ID,
		T.TRANS_NUM,
		T.REQUEST_CONTENT,
		T.RESPONSE_CONTENT,
		T.STATUS,
		( SELECT a.PARAMETER_NAME
		FROM ESERVICE_ADM.DBO.PARAMETER a ,ESERVICE_ADM.DBO.PARAMETER_CATEGORY b
		WHERE a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID AND a.STATUS = b.STATUS
		AND b.STATUS = 1 AND b.CATEGORY_CODE = 'REVIEW_STATUS_CODE'
		AND a.PARAMETER_VALUE = T.STATUS) as STATUS_NAME,
		T.REQUEST_DATE,
		T.RESPONSE_DATE
		from ESERVICE.DBO.TRANS_RFE T
		where T.TRANS_NUM = #{vo.transNum}
		<if test="vo.rfeId != null and vo.rfeId != ''" >
			AND T.RFE_ID = #{vo.rfeId, jdbcType=VARCHAR}
		</if>
		<if test="vo.startDate != null and vo.startDate != ''" >
			AND T.REQUEST_DATE &gt; #{vo.startDate, jdbcType=DATE}
		</if>
		<if test="vo.endDate != null and vo.endDate != ''" >
			AND T.REQUEST_DATE &lt; #{vo.endDate, jdbcType=DATE}
		</if>
		order by T.REQUEST_DATE desc
	</select>

	<select id="getTransInsCliamFileData"  resultMap="TransInsCliamFileDataResultMap">
		select B.CLAIMS_SEQ_ID,B.TYPE,B.PATH,B.FILE_NAME,B.FILE_BASE64
		from ESERVICE.dbo.TRANS_MEDICAL_TREATMENT_CLAIM_FILEDATAS B
		where B.TYPE = 'C'
		and B.RFE_ID  =  #{vo.rfeId}
	</select>
	<select id="getMedicalBlackList" parameterType="java.lang.String" resultType="java.lang.String">
		select name+DA FROM  (
		select A.TRANS_NUM,'|'+A.TRANS_NUM+'|'+CONVERT(varchar(10),A.CREATE_DATE, 120) DA from
		ESERVICE.dbo.TRANS_MEDICAL_TREATMENT_CLAIM A, ESERVICE_ADM.DBO.BLACK_LIST B  where A.TRANS_NUM = B.TRANS_NUM 	and B.ID_NO = #{blackListVo.idNo}
		) A1,(
		select A.TRANS_NUM,ESERVICE.DBO.FN_DEBASE64(A.NAME) name from
		ESERVICE.dbo.TRANS_MEDICAL_TREATMENT_CLAIM A, ESERVICE_ADM.DBO.BLACK_LIST B  where A.TRANS_NUM = B.TRANS_NUM 	and B.ID_NO = #{blackListVo.idNo}
		) A2 WHERE A1.TRANS_NUM=A2.TRANS_NUM
	</select>

	<select id="getBirdateByPolicyNo" parameterType="java.lang.String" resultType="java.lang.String">
		select CAST(ESERVICE.DBO.FN_DEBASE64(LIPI_BIRTH) as date) AS LIPI_BIRTH from ESERVICE.dbo.LILIPI where LIPI_INSU_NO = #{policyNo}
	</select>

	<select id="getPolicyClaimCompletedPolicyno" resultType="java.lang.String">
		select   TOP 1  B.POLICYNO from eservice.dbo.TRANS A left join eservice.dbo.TRANS_MEDICAL_TREATMENT_CLAIM B on a.TRANS_NUM = B.TRANS_NUM
		where A.STATUS not in ('2','3','7','8') and A.TRANS_TYPE = 'MEDICAL_TREATMENT'
		and B.ID_NO = ESERVICE.dbo.FN_ENBASE64(#{userRocId}) ORDER BY B.CREATE_DATE  DESC
	</select>
	<select id="getTransMedicalTreatmentClaimBySendAlliance" resultType="java.lang.String">
		select  SEND_ALLIANCE  from  [ESERVICE].[dbo].[TRANS_MEDICAL_TREATMENT_CLAIM]
		where  TRANS_NUM=#{transNum}
	</select>
</mapper>