<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.onlineChange.dao.QuestionnaireDao">

  <resultMap id="QuestionnaireMap" type="com.twfhclife.eservice.onlineChange.model.QuestionVo">
    <result column="QUESTION" property="question" jdbcType="NVARCHAR" />
    <result column="TITLE" property="title" jdbcType="NVARCHAR" />
    <result column="IS_MULTI" property="isMulti" jdbcType="NVARCHAR" />
    <result column="QID" property="id" jdbcType="NUMERIC" />
    <collection property="options" resultMap="OptionMap"></collection>
  </resultMap>

  <resultMap id="OptionMap" type="com.twfhclife.eservice.onlineChange.model.OptionVo">
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="ITEM" property="item" jdbcType="NVARCHAR" />
    <result column="SCORE" property="score" jdbcType="NUMERIC" />
  <result column="EXTRA_VALUE" property="extraValue" jdbcType="NVARCHAR" />
  </resultMap>

  <select id="selectQuestionnaire" resultMap="QuestionnaireMap">
    SELECT Q.ID QID, O.ID, QUESTION, TITLE, ITEM, SCORE, IS_MULTI, EXTRA_VALUE
    FROM ESERVICE.DBO.QUESTION Q LEFT JOIN ESERVICE.DBO.OPTIONS O ON Q.ID = O.QUESTION_ID
    WHERE #{date} &gt;= EFFECTIVE_TIME AND #{date} &lt;= STOP_TIME
    ORDER BY Q.SEQ, O.SEQ
  </select>
</mapper>