<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.onlineChange.dao.TransCashPaymentDao" >
  <resultMap id="BaseResultMap" type="com.twfhclife.eservice.onlineChange.model.TransCashPaymentVo" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="TRANS_NUM" property="transNum" jdbcType="NVARCHAR" />
    <result column="POLICY_NO" property="policyNo" jdbcType="NVARCHAR" />
    <result column="ALLOCATION" property="allocation" jdbcType="NVARCHAR" />
    <result column="PRE_ALLOCATION" property="preAllocation" jdbcType="NVARCHAR" />
    <result column="SWIFT_CODE" property="swiftCode" jdbcType="NVARCHAR" />
    <result column="ENGLISH_NAME" property="englishName" jdbcType="NVARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="NVARCHAR" />
    <result column="BRANCH_CODE" property="branchCode" jdbcType="NVARCHAR" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="NVARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="NVARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="NVARCHAR" />
    <result column="BRANCH_NAME" property="branchName" jdbcType="NVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, TRANS_NUM, POLICY_NO, ALLOCATION, PRE_ALLOCATION,SWIFT_CODE, ENGLISH_NAME, ACCOUNT_NAME, BANK_ACCOUNT, BANK_NAME, BRANCH_NAME
  </sql>

  <insert id="insert" parameterType="com.twfhclife.eservice.onlineChange.model.TransCashPaymentVo" >
    insert into ESERVICE.DBO.TRANS_CASH_PAYMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="transNum != null" >
        TRANS_NUM,
      </if>
      <if test="policyNo != null" >
        POLICY_NO,
      </if>
      <if test="allocation != null" >
        ALLOCATION,
      </if>
      <if test="preAllocation != null" >
        PRE_ALLOCATION,
      </if>
      <if test="swiftCode != null" >
        SWIFT_CODE,
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="branchCode != null" >
        BRANCH_CODE,
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="branchName != null" >
        BRANCH_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="transNum != null" >
        #{transNum,jdbcType=NVARCHAR},
      </if>
      <if test="policyNo != null" >
        #{policyNo,jdbcType=NVARCHAR},
      </if>
      <if test="allocation != null" >
        #{allocation,jdbcType=NVARCHAR},
      </if>
      <if test="preAllocation != null" >
        #{preAllocation,jdbcType=NVARCHAR},
      </if>
      <if test="swiftCode != null" >
        #{swiftCode,jdbcType=NVARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=NVARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=NVARCHAR},
      </if>
      <if test="branchCode != null" >
        #{branchCode,jdbcType=NVARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=NVARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=NVARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=NVARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getCashPaymentByPolicyNo" resultMap="BaseResultMap">
    SELECT TOP 1 PMDA_BACK_METHOD ALLOCATION FROM ESERVICE.DBO.LIPMDA_ES WHERE
    (PMDA_INSU_TYPE + cast(PMDA_INSU_GRP_NO as NVARCHAR(1)) + PMDA_INSU_SEQ_NO ) = #{policyNo}
  </select>

  <select id="getTransPaymentByTransNum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ESERVICE.DBO.TRANS_CASH_PAYMENT
    where TRANS_NUM = #{transNum}
  </select>

  <select id="countTransBankInfo" resultType="int">
    SELECT COUNT(*) FROM ESERVICE.DBO.POLICY_PAYER WHERE POLICY_NO = #{policyNo}
  </select>
</mapper>