<div class="col-md-8 col-md-offset-2 mobile-panel">
	<div class="cert1">
		<h2>請閱讀並同意以下條款</h2>
	</div>
	<div id="consent_clause" class="term1" style="overflow-y:auto; overflow-x:hidden; height:250px;">
		<h2 class="text-left">使用與服務</h2>
		<p>1. 除臺銀人壽另行決定外，此條款及細則適用於臺銀人壽於網路上提供予台端之所有服務。</p>
		<p>2. 臺銀人壽有權就交易金額、操作程式或在使用任何服務之細節加上任何限額或限制。臺銀人壽有酌情決定權對此等限額或限制作出更改。</p>
		<h2 class="text-left">註冊</h2>
		<p>1. 臺銀人壽可發出一個用戶名稱給予台端。台端申請服務時，必須於臺銀人壽的網站進行註冊，並提供(i) 用戶名稱和 (ii)臺銀人壽要求的其他任何資料。</p>
		<p>2. 註冊成功後，台端應該根據臺銀人壽的規則去建立自己的用戶名稱和密碼。</p>
		<p>3. 台端保證向臺銀人壽提供的所有資料均為自願，而有關資料在任何方面均為真實、正確及完整。台端的資料如有任何改變，必須立即通知臺銀人壽。 </p>
		<h2 class="text-left">通知</h2>
		<p>1. 若任何人士透過網路給予臺銀人壽通知，並可提供台端的用戶名稱和密碼，臺銀人壽將根據並遵照該通知內容進行交易或提供服務給保戶。</p>
		<p>2. 臺銀人壽將不會有任何責任於網路上以台端名義給予臺銀人壽通知的人士的身分。根據上述第3.1條所給予臺銀人壽所進行之交易或提供之服務，台端無論是否知情、同意或已授權，均須要負責。</p>
		<p>3. 臺銀人壽有權對於台端所指示之交易進行審視, 並在其認為法令適當之情況下拒絕台端任何指示</p>
	</div>
</div>