<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.adm.dao.JdMsgNotifyDao">

    <insert id="addJdNotifyMsg">
        INSERT INTO ESERVICE_JD.DBO.MESSAGE(TITLE, MSG, STATUS, CREATE_DATE, USER_ID, NOTIFY_TIME)
        <if test="msg.users != null and msg.users.size() >0 ">
            values
            <foreach collection="msg.users" item="user" separator=",">
                ('後臺管理通知', #{msg.msg}, '1', SYSDATETIME(), #{user}, #{msg.notifyTime})
            </foreach>
        </if>
        <if test="msg.deps != null and msg.deps.size() >0 ">
            SELECT '後臺管理通知', #{msg.msg}, '1', SYSDATETIME(), UD.USER_ID, #{msg.notifyTime} from ESERVICE_JD.DBO.DEPARTMENT D
            INNER JOIN ESERVICE_JD.DBO.USER_DEPARTMENT UD ON D.DEP_ID = UD.DEP_ID
            WHERE D.DEP_ID IN
            <foreach collection="msg.deps" item="dep" separator="," close=")" open="(">
                #{dep}
            </foreach>
        </if>
        <if test="msg.roles != null and msg.roles.size() >0 ">
            SELECT '後臺管理通知', #{msg.msg}, '1', SYSDATETIME(), UR.USER_ID, #{msg.notifyTime} FROM  ESERVICE_ADM.DBO.ROLE R
            INNER JOIN ESERVICE_ADM.DBO.USER_ROLE UR ON R.ROLE_ID = UR.ROLE_ID
            WHERE R.ROLE_ID IN
            <foreach collection="msg.roles" item="role" separator="," close=")" open="(">
                #{role}
            </foreach>
        </if>
    </insert>
</mapper>