<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>加入會員｜臺銀人壽保單網路服務</title>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n0 inlineBlock float-left">保單網路服務<span class="colorBlue">&nbsp;加入會員</span></div>
                <div class="clearfix visible-xs-block"></div>
            </div>
        </div>
    </header>
    <section class="grey mobile-nopd firstUse2 fullContent">
        <div class="container bg3 box-border no-borderTop">
            <ul class="step">
                <li class="step1  col-xs-3">
                    <span class="mobile">步驟 </span> 1<span class="hid1">. 接受條款</span>
                </li>
                <li class="step2 active col-xs-3">
                    <span class="mobile">步驟 </span> 2<span class="hid1">. 確認身分</span>
                </li>
                <li class="step2 col-xs-3">
                    <span class="mobile">步驟 </span> 3<span class="hid1">. 輸入驗證碼</span>
                </li>
                <li class="step3 col-xs-3">
                    <span class="mobile">步驟 </span> 4<span class="hid1">. 設定用戶名稱與密碼</span>
                </li>
            </ul>
            <div class="col-md-6 col-md-offset-3 mobile-panel h300">
                <div class="cert1" id="FirstUseMyData">
                    <!--  <form action=""> -->
                    <h2>請輸入保單號碼以確認身份</h2>
                    <div class="form-group">
                        <div class="col-lg-12">
							<div class="input-group">
							  <input type="text" id="policyNo" style="text-transform: uppercase" class="form-control" placeholder="請輸入保單號碼" aria-label="請輸入保單號碼" autocomplete="off" />
							  <span class="input-group-btn">
								<button class="btn btn-secondary" onclick="searchPolicyNo()" type="button">查詢保單</button>
							  </span>
							</div>
						  </div>						
                    </div>
                </div><br/><br/>
                <div id="hideQues">
					<div class="cert1">
						<h2 class="title tex-center">請回答保單相關問題</h2>
					</div>
					<div id="createQuesHtml">
					</div>
				</div>
            </div>

            <div class="col-md-8 col-md-offset-2 two-buttons">
                <a href="firstUse1">
                    <button id="deny" class="btn-signup">上一步</button>
                </a>
                <a>
                	<button id="deny2" class="btn-signup" disabled onclick="checkAnswer()" >下一步</button>
                </a>
                <div hidden="true">    
                    <button id="go" class="btn-signup" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-container-deleteConfirm">下一步</button>
                </div>
            </div>
        </div>
    </section>
    <!-- 發送驗證碼警告 -->
    <div class="modal fade in" id="modal-container-deleteConfirm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content lock-up">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span></button>
                </div>
                
                <div class="modal-body apply2 center1 grey2">
                    <h3>系統將發送驗證碼</h3>
                    <p class="item360 text-center" style="margin:auto">
                    	按下確定後，系統將發送驗證碼至您的手機/電子郵件，請在手機簡訊/電子信箱中查閱驗證碼
                    </p>
                    <p class="marginTop20">
                        <a href="#">
                            <button class="btn-login lock2" id="deny" data-dismiss="modal">取消</button>
                        </a>
                            <button class="btn-login lock2" id="cancelThisApply" onclick="sendAuthentication()">確定</button>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
    
    <th:block th:replace="fragments/script"/>
    <!-- script src="plugin/jquery-1.11.3.min.js"></script>
    <script src="plugin/jquery.placeholder.min.js"></script>
    <script src="plugin/detectmobilebrowser_jquery.js"></script>
    <script src="js/scripts.js"></script>
    <script src="plugin/jquery-ui.min.js"></script>
    <script src="plugin/datepicker-zh-TW.js"></script>
    <script src="plugin/bootstrap.min.js"></script>
    <script src="js/registerUser.js"></script -->
    
    <script type="text/javascript">
    $(function() {
    	$('input, textarea').placeholder();
    	$("#hideQues").hide();
    });
    
    function searchPolicyNo(){
    	if($("#policyNo").val() == ""){
    		/* openAlert("請輸入保單號碼!"); */
    		openAlert($('#E0019').val());
    		return;
    	}
    	postJson("/eservice/register/getPolicyByRocId", $("#policyNo").val().toUpperCase());
    }
    
    function postJson(url, data){
    	popupLoading();
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : url,
			data : data,
			success : function(response) {
				if(response.resultMsg != ""){
					if(response.resultMsg == "ROCIDEMPTY") {
						window.location.href = "/eservice/firstUseStart";
						return false;
					}
					openAlert(response.resultMsg);
					return;
				}
				$("#createQuesHtml").empty();
				
				$.each(response.resultData, function(idx, obj) {
					var ins = idx+1;
					var createHtml = '<div class="errorMsg" id="'+obj.questionNo+'_msg"></div>'+
					'<div class="cards" id="'+obj.questionNo+'_cards"><div class="cardsTitle">'+
					'<span class="cardsNum">Q'+ins+' </span><span class="cardsWords">'+
					obj.questionValue+'</span></div><div class="cardsContent">';
					
					if(obj.questionType == "radio"){
						createHtml = createHtml+'<div class="radio"><label><div class="radio-btn">'+
						'<i><input type="radio" name="'+obj.questionNo+'" value="Y"/></i></div>'+
						'</label> 有</div><div class="radio"><label><div class="radio-btn">'+
						'<i><input type="radio" name="'+obj.questionNo+'" value="N"/></i></div>'+
						'</label> 無</div>';
					}else if(obj.questionType == "text"){
						createHtml = createHtml+''+
						'<div class="inputext"><input type="text" name="'+obj.questionNo+'"/>'+
						'</div>';
					}else if(obj.questionType == "date"){
						createHtml = createHtml+''+
						'<div class="inputext">'+
						'<input type="text" placeholder="YYYY/MM/DD" class="datepicker" readonly name="'+obj.questionNo+'"/>'+
						'<i class="fa fa-search gray "></i></div>';
					}else{
						alert("error!")
					}
					createHtml = createHtml + '</div></div>';
					$("#createQuesHtml").append(createHtml);
					$("#deny2").addClass("go");
					$("#deny2").attr("disabled", false);
				});
				$('.datepicker').datepicker({
		            changeMonth: true,
		            changeYear: true,
		            dateFormat: 'yy/mm/dd',
		            yearRange: 'c-100:c+0'
		        });
				
				$('.radio-btn').on('click', function(e) {
			        if($(e.target).hasClass('targetPolicy')){
			            if($(e.target).prop('disabled')){
			                window['dataCheck'] ? window['dataCheck'].call(this, e.target) : null ;
			            }
			        }
			        var radio = $(this).find('input').attr('name'),
			            radioID = $(this).find('input').attr('id'),
			            checkedRadio = $('input[name="' + radio + '"]:checked')[0],
			            otherRadio = $('input[name="' + radio + '"]'),
			            otherRadioParent = otherRadio.closest('.radio-btn');
			            $this = $(this);
			            
			        if ( $(this).find('input').prop('disabled') == true ) {
			            $(this).find('input').prop('checked', false);
			        }
			        else {
			            otherRadioParent.removeClass('checkedRadio');
			            otherRadio.prop('checked', false);
			            $this.addClass('checkedRadio');
			             /***** Add execution @Linus_09/24 *****/
			            $(this).find(':radio').prop("checked", true);
			        }
			    });
				
				$("#hideQues").show();
			},
			error : function() {
				openAlert('error!')
			},
	        complete: function(data) {
	            removeLoading();
	        }
		});
	}
    
    function checkAnswer(){
    	var data = new Array;
    	$.each($("input[name^='QUESTION']"), function(idx, obj) {
    		var name = $(this).attr("name");
    		var value = "";
    		if($(this).attr("type") == "radio"){
    			if(undefined == $("input[type=radio][name="+name+"]:checked").val()) {
    				value = "-1";
    			} else if($("input[type=radio][name="+name+"]:checked").val() == $(this).val()){
        			//var name = $(this).attr("name");
        			value = $("input[type=radio][name="+name+"]:checked").val();
    			}else{
    				return;
    			}
    		}else{
    			value = $(this).val();
    		}

    		var questionVo = {
    				questionNo : name,
    				answer : value
    				};
    		data.push(questionVo);
    	});
    	postAnswerJson("/eservice/register/checkAnswer", data);
    }
    
    function postAnswerJson(url, data){
    	$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : url,
			data : JSON.stringify(data),
			success : function(response) {
				console.log(response);
				var ischeck = true;
				if(response.result == "SUCCESS") {
					$.each(response.resultData, function(idx, obj) {
						$("#"+obj.questionNo+"_msg").text("");
						$("#"+obj.questionNo+"_cards").removeClass("cardError");
						if(obj.result != "OK"){
							ischeck = false;
							$("#"+obj.questionNo+"_msg").text(obj.result);
							$("#"+obj.questionNo+"_cards").addClass("cardError");
						}
					});
					if(ischeck){
						$("#go").trigger('click');
					}
				} else {
					/* openAlert('系統發生錯誤!'); */
	                openAlert($('#E0018').val());
				}
				
			},
			error : function() {
				/* openAlert('系統發生錯誤!'); */
                openAlert($('#E0018').val());
			}
    	});
    }
    
    function sendAuthentication(){
    	$('#modal-container-deleteConfirm').modal('hide');
    	
    	popupLoading();
    	$.ajax({
			type : 'POST',
			//contentType : 'application/json',
			dataType : 'json',
			url : "/eservice/sendAuthentication",
			data : {
				authenticationType:"register"
			},
			success : function(response) {
				window.location.href = "/eservice/firstUse3";
			},
			error : function() {
				openAlert('error!');
			},
	        complete: function(data) {
	            removeLoading();
	        }
    	});
    }
    
    </script>

    <!--special file to avoid jquery-ui-min.css re-cover datepicker style issue-->
    <link href="css/datepicker.css" rel="stylesheet"/>
</body>

</html>