<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<div class="col-sm-12 hid-title2">
					<th:block th:if="${session.USER_DETAIL == null}">
						<th:block th:text="${session.LOGIN_USER_ID}"/>
					</th:block>					
					<th:block th:if="${session.USER_DETAIL != null}">
						<span th:switch="${session.USER_DETAIL.userNameBase64} != ''"> 
							<span th:case="${true}">
								<img th:width="${session.USER_DETAIL.userName != null} ? ${#strings.length(session.USER_DETAIL.userName) * 20}" height="25px" th:src="|data:image/svg+xml;base64, ${session.USER_DETAIL.userNameBase64}|" />
							</span>
							<span th:case="${false}">
								<th:block th:text="${session.USER_DETAIL.userName != null}  ? ${session.USER_DETAIL.userName}"/>
							</span>
						</span>
					</th:block>
				</div>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.telHome != null}">
							<tr class="">
								<th class="hid-th w40p">住家電話：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.telHome}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.telOffice != null}">
							<tr class="">
								<th class="hid-th w40p">公司電話：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.telOffice}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.mobile != null}">
							<tr class="">
								<th class="hid-th w40p">手機號碼：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.mobile}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.email != null}">
							<tr class="">
								<th class="hid-th w40p">要保人電子信箱：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.email}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFull != null}">
							<tr class="">
								<th class="hid-th w40p">要保人地址：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.addressFull}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFullCharge != null}">
							<tr class="">
								<th class="hid-th w40p">收費地址：</th>
								<td><th:block th:text="${transContactInfoOldVo != null} ? ${transContactInfoOldVo.addressFullCharge}"/></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div class="col-sm-12 hid-title3">
	<i class="fas fa-chevron-down fa orange"></i>
</div>
<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.telHome != null}">
							<tr class="">
								<th class="hid-th w40p">住家電話：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.telHome}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.telOffice != null}">
							<tr class="">
								<th class="hid-th w40p">公司電話：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null && transContactInfoDtlVo.telOffice != null} ? ${#strings.replace(transContactInfoDtlVo.telOffice,'#',' 分機 ')} : ''"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.mobile != null}">
							<tr class="">
								<th class="hid-th w40p">手機號碼：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.mobile}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.email != null}">
							<tr class="">
								<th class="hid-th w40p">要保人電子信箱：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.email}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFull != null}">
							<tr class="">
								<th class="hid-th w40p">要保人地址：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFull}"/></td>
							</tr>
						</th:block>
						<th:block th:if="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFullCharge != null}">
							<tr class="">
								<th class="hid-th w40p">收費地址：</th>
								<td><th:block th:text="${transContactInfoDtlVo != null} ? ${transContactInfoDtlVo.addressFullCharge}"/></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>