<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>投保證明列印｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">投保證明列印</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 投保證明列印
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-6">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step3 active col-xs-6">
						2<span class="hid1">. 設定列印內容</span>
					</li>
<!-- 					<li class="step3 col-xs-4"> -->
<!-- 						3<span class="hid1">. 確認資料</span> -->
<!-- 					</li> -->
				</ul>
			</div>
			<div class="mystyle3">
				<h2>設定列印內容</h2>
				<div class="col-md-9 col-md-offset-2">
					<form id="printForm" class="form-horizontal no-borderBottom marginTop20" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3">列印格式：</label>
							<div class="col-sm-9">
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="lang" value="C"></i></div>中文
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="lang" value="E"></i></div>英文
									</label>
								</div>
							</div>
							<div class="clearfix"></div>
                            <label for="inputPassword3" class="col-sm-3">要保人護照英文姓名：</label>
                            <div class="col-sm-9">
                                <input type="text" id="passportNameLi" name="passportNameLi" class="col-sm-9" style="padding: 6px 12px;line-height: 1em;" >
                            </div>
							<div class="clearfix"></div>
							<label for="inputPassword3" class="col-sm-3">被保險人護照英文姓名：</label>
							<div class="col-sm-9">
								<input type="text" id="passportName" name="passportName" class="col-sm-9" style="padding: 6px 12px;line-height: 1em;" >
							</div>
							<div class="clearfix"></div>
							<label for="inputPassword3" class="col-sm-3">被保險人護照號碼：</label>
							<div class="col-sm-9">
								<input type="text" id="passportNo" name="passportNo" class="col-sm-9" style="padding: 6px 12px;line-height: 1em;" />
							</div>
							<div class="clearfix"></div>
							<!-- <label for="inputPassword3" class="col-sm-3">列印幣別：</label>
							<div class="col-sm-9">
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="printCurrRadio" value="NTD"></i></div>台幣
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="printCurrRadio" value="USD"></i></div>美元
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="printCurrRadio" value="EUR"></i></div>歐元
									</label>
								</div>
							</div>
							<div class="clearfix"></div> -->
							<!-- <label for="inputPassword3" class="col-sm-3">收件方式：</label>
							<div class="col-sm-9">
								<div class="radio inline hide">
									<label>
										<div class="radio-btn"><i><input type="radio" name="deliverType" value="P" onclick="if(this.checked) $('#tab_2').show().siblings().hide();"></i></div>紙本
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn"><i><input type="radio" name="deliverType" value="E" onclick="if(this.checked) $('#tab_1').show().siblings().hide();" checked="checked"></i></div>電子郵件
									</label>
								</div>
							</div> -->
							<!-- <div class="col-sm-12" style="width: 120%">
								<div class="tabs">
									TAB 1
									<article id="tab_1" class="tab show">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="arrow-upleft" style="left: 30%"></div>
											<div class="grey2">
												<div class="check-title depo2">電子郵件信箱</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">E-Mail</label>
													<div class="col-sm-9">
													 <input type="text" class="col-sm-9" name="beliverMail" id="beliverMail" placeholder="請輸入電子郵件信箱"> </div>
												</div>
											</div>
										</section>
									</article>
									TAB 2
									<article class="tab tab-hide hide" id="tab_2">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="arrow-upleft" style="left: 25%"></div>
											<div class="grey2">
												<div class="check-title depo2">收件地址</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-2">地址</label>
													<div class="col-sm-10">
														<th:block th:replace="fragments/address"/>
													</div>
												</div>
											</div>
										</section>
									</article>
								</div>
							</div> -->
						</div>
					</form>
					
					<div>
					※開啟投保證明時，請輸入您的個人資料(要保人身分證字號，<font color="red">英文字母為大寫</font>)，即可查看您的投保證明資訊，若無法順利閱讀檔案內容，請依據您的作業系統下載<a href="#" onClick="openDownloadAdobe();">Adobe Reader</a>。
					</div>
				</div>

				<div class="col-md-12 two-buttons">
					<a href="certificatePrint1">
						<button id="deny" class="btn-signup">上一步</button>
					</a>
					<!-- <th:block th:if="${loginUserType eq 'member'}">
						<button id="go" class="btn-signup">下一步</button>
					</th:block> -->
					<button type="button" id="go" class="btn-signup">下載保單證明</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCertPrintVo}]]*/;
		$(function() {
			// 下一步事件
// 			 $('#go').click(function() {
// 				formData.lang = $('input[name="lang"]:checked').val();
// 				formData.deliverType = $('input[name="deliverType"]:checked').val();
// 				formData.printCurr = $('input[name="printCurrRadio"]:checked').val();
				
// 				if ($('input[name="lang"]:checked').val() == null) {
// 					/* openAlert("請選擇列印格式"); */
// 					openAlert($('#E0054').val());
// 					return false;
// 				}
				
// 				if ($('input[name="lang"]:checked').val() == 'E') {
// 					if ($('#passportName').val() == '') {
// 						/* openAlert("請輸入護照英文姓名"); */
// 						openAlert($('#E0055').val());
// 						return false;
// 					}
// 					if ($('#passportNo').val() == '') {
// 						/* openAlert("請輸入護照號碼"); */
// 						openAlert($('#E0056').val());
// 						return false;
// 					}
// 					formData.passportName = $('#passportName').val();
// 					formData.passportNo = $('#passportNo').val();
// 				}
				
// 				if ($('input[name="printCurrRadio"]:checked').val() == null) {
// 					/* openAlert("請選擇列印幣別"); */
// 					openAlert($('#E0057').val());
// 					return false;
// 				}
				
// 				if ($('input[name="deliverType"]:checked').val() == null) {
// 					/* openAlert("請選擇收件方式"); */
// 					openAlert($('#E0058').val());
// 					return false;
// 				}
				
// 				if ($('input[name="deliverType"]:checked').val() == 'P') {
// 					/* if (!isAddressValid('請輸入收件地址')) {
// 						return false;
// 					} */
// 					if(!isAddressValid($('E0060').val())){
// 						return false;
// 					}
// 					formData.deliverAddr = $("#selectAddressFull").val();
// 				}
				
// 				if ($('input[name="deliverType"]:checked').val() == 'E') {
// 					if ($('#beliverMail').val() == '') {
// 						/* openAlert("請輸入電子郵件信箱"); */
// 						openAlert($('#E0059').val());
// 						return false;
// 					}
// 					if (!eserviceForm.isEmail($('#beliverMail').val())) {
// 						/* openAlert("請輸入正確的電子郵件信箱格式"); */
// 						openAlert($('#E0060').val());
// 						return false;
// 					}
// 					formData.beliverMail = $('#beliverMail').val();
// 				}
				
// 				postWithFormData(/*[[@{/certificatePrint3}]]*/, formData);
// 			}); 
			
			$('#go').on('click', function(){
				formData.lang = $('input[name="lang"]:checked').val();
                formData.deliverType = $('input[name="deliverType"]:checked').val();
                formData.printCurr = $('input[name="printCurrRadio"]:checked').val();
                
                if ($('input[name="lang"]:checked').val() == null) {
                    /* openAlert("請選擇列印格式"); */
                    openAlert($('#E0054').val());
                    return false;
                }
                
                if ($('input[name="lang"]:checked').val() == 'E') {
                    if($('#passportNameLi').val() === ''){
                    	openAlert($('#E0126').val());
                    	return false;
                    }
                    if ($('#passportName').val() == '') {
                        /* openAlert("請輸入護照英文姓名"); */
                        openAlert($('#E0055').val());
                        return false;
                    }
                    if ($('#passportNo').val() == '') {
                        /* openAlert("請輸入護照號碼"); */
                        openAlert($('#E0056').val());
                        return false;
                    }
                    formData.passportName = $('#passportName').val();
                    formData.passportNo = $('#passportNo').val();
                    formData.lipmPassportName = $('#passportNameLi').val();
                }
                
//                 if ($('input[name="printCurrRadio"]:checked').val() == null) {
//                     /* openAlert("請選擇列印幣別"); */
//                     openAlert($('#E0057').val());
//                     return false;
//                 }
                
                $.ajax({
                	type : 'POST', 
                    contentType : 'application/json',
                    url : /*[[@{/certPrintPrepare}]]*/,
                    data : JSON.stringify(formData),
                    success : function(response){
                        if(response.result == 'SUCCESS'){
                        	openCertPrint();
                        } else{
                            
                        }
                    },
                    error : function(response){
                        openAlert('error!');
                    }
                });
            });
			
			function openCertPrint(){
				var url = /*[[@{/certPrintDownload}]]*/
                window.open(url);
			}
		});

		function openDownloadAdobe(){
			var url = "https://get.adobe.com/tw/reader/otherversions/"
            window.open(url);
		}
	/*]]>*/
	</script>
</body>

</html>