<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head"/>
	<title>我的保單｜臺銀人壽保單網路服務</title>
</head>
<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<div th:replace="fragments/header :: majorTabs (funId='mylist1')"></div>
	<section class="grey listing5 fullContent">
		<div class="container bg3 list1">
			<div class="mystyle3 listing-area">
				<div class="row-offcanvas row-offcanvas-left">
					<div th:replace="fragments/policyNoInfo :: policyNoInfo (funId='listing5_2')"></div>
					<div th:replace="fragments/sidebar :: sidebar (funId='listing5_2')"></div>
					<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
						<div class="box-border">
							<div class="tb3 top0">
								<i class="fas fa-chevron-down"></i> 保單給付資料
							</div>
							<div class="wht marginTop20">
								 <table id="listing5-2" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="text-left">給付種類</th>
											<th>實付金額</th>
											<!--<th>受款人</th>-->
											<th>給付方式</th>
											<th>給付日期</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${paidVoList} != null">
											<th:block th:each="paidVo, rowStat : ${paidVoList}">
											<tr class="h65 noEvent">
												<td class="text-left">
													<th:block th:text="${paidVo.payReas != null and paidVo.payReas != null}
														? ${paidVo.payReas}"/>
												</td>
												<td>
													<!-- <p>
														<th:block th:text="${paidVo.payAmount != null} ? ${paidVo.payAmount} : 0"/> NTD
													</p> -->
													<th:block th:text="${paidVo.payAmount != null} 
														? ${#numbers.formatDecimal(paidVo.payAmount, 0, 'DEFAULT', 0, 'COMMA')} 
														: '&nbsp;'"/>
													<i class="my5"></i><!-- <i class="my5">NTD</i>美元保單會造成誤解 -->
												</td>
												<!--<td>
													<p>
														<th:block th:text="${paidVo.payName != null} 
															? ${paidVo.payName}"/>
													</p>
												</td>-->
												<td>
													<th:block th:text="${paidVo.payMethod != null} 
														? ${paidVo.payMethod}"/>
												</td>
												<td>
													<th:block th:text="${paidVo.payDate != null} 
														? ${#dates.format(paidVo.payDate, 'yyyy/MM/dd')}"/>
												</td>
											</tr>
											</th:block>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
						<div th:replace="fragments/listingReferOnly"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
</body>

</html>