<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>我的保單｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<div th:replace="fragments/header :: majorTabs (funId='mylist1')"></div>
	<section class="grey listing2 fullContent">
		<div class="container bg3 list1">
			<div class="mystyle3 listing-area">
				<div class="row-offcanvas row-offcanvas-left">
					<div th:replace="fragments/policyNoInfo :: policyNoInfo (funId='listing2')"></div>
					<div th:replace="fragments/sidebar :: sidebar (funId='listing2')"></div>
					<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
						<div class="box-border" th:with="policyNo=(${param.policyNo[0]}),policyListType=(${param.policyListType} != null ? ${param.policyListType[0]} : '1')">
							<a th:href="'javascript:postPolicyListType(\'' + @{/listing1} + '\', \'' + ${policyNo} + '\', \'' + ${policyListType} + '\')'">
								<div class="col-xs-6 folder ">保單資料</div>
							</a>
							<a th:href="'javascript:postPolicyListType(\'' + @{/listing2} + '\', \'' + ${policyNo} + '\', \'' + ${policyListType} + '\')'">
								<div class="col-xs-6 folder active ">投資損益及投報率
								</div>
							</a>
							<table id="grid1" class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
								<thead>
									<div class="tb3 marginTop40">
										<i class="fas fa-chevron-down"></i> 投資損益及投報率
										<span class="pull-right colorBlack">投資風險屬性：<span class="colorBlue"><th:block th:text="${riskLevelName}"/></span></span>
									</div>
									<tr class="table2">
										<th> 投資標的</th>
										<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" nowrap="nowrap">幣別</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" nowrap="nowrap">基金風<br/>險等級</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="3" nowrap="nowrap">投資配置金額<br/>(A)</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" nowrap="nowrap">單位數<br/>(B)</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="5" nowrap="nowrap">參考淨值<br/>(C)</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="6" nowrap="nowrap">參考帳戶價值<br/>(D=B*C)</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="7" nowrap="nowrap">累計投資收益<br/>(E=D-A)</th>
										<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="8" nowrap="nowrap">參考報酬率(%)</th>
									</tr>
								</thead>
								<tbody></tbody>
								<tbody>
									<tr class="h80 tr-blue tr-total">
										<td class="text-left table3">總計</td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"><span id="t_avgPval"></span></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"><span id="acctValueSum"></span></td>
										<td class="hid1 hid2"><span id="t_clupExpeSum"></span></td>
										<td class="hid1 hid2"></td>
									</tr>
									<tr class="h80 tr-blue tr-total" id="total2">
										<td class="text-left table3">兌換新台幣參考匯率：<span id="s_currency"></span><br />參考折合新台幣價值(NTD)</td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"><span id="s_avgPval"></span></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"></td>
										<td class="hid1 hid2"><span id="s_acctValueSum"></span></td>
										<td class="hid1 hid2"><span id="s_clupExpeSum"></span></td>
										<td class="hid1 hid2"></td>
									</tr>
								</tbody>
							</table>
							<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_20013'] != null} 
								? ${session.PAGE_WORDING['WORDING_20013'].parameterValue}"/>
						</div>
						<div th:replace="fragments/listingReferOnly"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var s_currency = '';
	$(function() {
		// 建立保障項目 grid
		var grid1 = new eserviceGrid();
		grid1.sGridId = '#grid1';
		grid1.sQueryUrl = /*[[@{/getPortfolioList?policyNo=} + ${param.policyNo[0]}]]*/;
		grid1.aoColumns = [
			{
				// 投資標的
				'fnRender': function(oRow) {
					return emptyIfNull(oRow.invtName) + '<p class="enSmall">(' + emptyIfNull(oRow.invtNo) + ')</p>';
				},
				'rwdName': '投資標的'
			},
			{
				// 幣別
				'mDataProp': 'currency',
				'rwdName': '幣別'
			},
			{
				// 基金風險等級
				'mDataProp': 'invtRiskBeneLevel',
				'rwdName': '基金風險等級'
			},
			{
				// 投資配置金額
				'fnRender': function(oRow) {
					return showAvgPval(oRow);
				},
				'rwdName': '投資配置金額'
			},
			{
				// 單位數
				'fnRender': function(oRow) {
					return showNetUnits(oRow);
				},
				'rwdName': '單位數'
			},
			{
				// 參考淨值/日期
				'fnRender': function(oRow) {
					return showNetValueDate(oRow);
				},
				'rwdName': '參考淨值/日期'
			},
			{
				// 參考帳戶價值
				'fnRender': function(oRow) {
					return showAcctValue(oRow);
				},
				'rwdName': '參考帳戶價值'
			},
			{
				// 累計投資收益
				'fnRender': function(oRow) {
					return showClupExpeNtdSum(oRow);
				},
				'rwdName': '累計投資收益'
			},
			{
				// 參考報酬率(%)
				'fnRender': function(oRow) {
					return showRoiRate(oRow);
				},
				'rwdName': '參考報酬率(%)'
			}
		];
		grid1.fnInitComplete = function() { 
			showAcctValueSum(grid1);
			if (grid1.sQueryUrl.indexOf('policyNo=UH') != -1) {
				showTotalAvgPval(grid1);
				showTotalClupExpeSum(grid1);
				showScurrency(grid1);
			} else {
				$('#total2').hide();
			}
			if (grid1.rownum() == 0) {
				/* openAlert('查無資料'); */
				openAlert($('#E0035').val());
				return false;
			}
		};
		grid1.createSimple();
	});
	
	// 單位數 / 金額
	function showNetUnits(oRow) {
		var netUnits = oRow.safpNetUnits;
		var fractionDigits = 4;
		
		return '<p class="marginTop26">' + formatNumber(netUnits, fractionDigits) +'</p>';
	}

	function formatDate(dt) {
		try {
			var formattedDate = new Date(dt);
			var d = formattedDate.getDate();
			var m =  formattedDate.getMonth();
			m += 1;  // JavaScript months are 0-11
			var y = formattedDate.getFullYear();
			return y + "/" + m + "/" + d;
		} catch (e) {
			return "";
		}
	}
	
	// 參考淨值/日期
	function showNetValueDate(oRow) {
		var html = '';
		html += '<p class="marginTop26"><i class="my5" style="margin-left: 0px;">' + formatDate(oRow.netValueDate) + '</i>' + formatNumber(oRow.netValueSell, 4) +'</p>';
		html += '<p class="marginTop26"></p>';
		return html;
	}
	
	// 投資配置金額
	function showAvgPval(oRow) {
		var fractionDigits = 0;
		if (oRow.invtExchCurr == 'NTD') {
			fractionDigits = 0;
		} else {
			fractionDigits = 2;
		}
		return '<p class="marginTop26">' + formatNumber(oRow.avgPval, fractionDigits) +'</p>';
		
	}
	
	// 累計投資收益
	function showClupExpeNtdSum(oRow) {
		var fractionDigits = 0;
		if (oRow.invtExchCurr == 'NTD') {
			fractionDigits = 0;
		} else {
			fractionDigits = 2;
		}
		
		return '<p class="marginTop26">' + formatNumber(oRow.acctValue - oRow.avgPval, fractionDigits) +'</p>';
	}
	
	// 參考帳戶價值
	function showAcctValue(oRow) {
		var fractionDigits = 0;
		if (oRow.invtExchCurr == 'NTD') {
			fractionDigits = 0;
		} else {
			fractionDigits = 2;
		}
		
		return '<p class="marginTop26"><i class="my5" style="margin-left: 0px;">' + formatDate(oRow.netValueDate) + '</i>' + formatNumber(oRow.acctValue, fractionDigits) + '</p>';
	}
	
	// 參考報酬率(%)
	function showRoiRate(oRow) {
		var html = '';
		var caluRoiRate = 0;
		if (oRow.avgPval != 0) {
			caluRoiRate = ((oRow.acctValue - oRow.avgPval) / oRow.avgPval * 100);
		}
		console.log(emptyIfNull(oRow.invtNo) + " -> " + formatNumber(caluRoiRate, 4) + "=((" + oRow.acctValue + " - " + oRow.avgPval + ") / " + oRow.avgPval + " * 100)");
		
		html += '<p class="marginTop26">' + formatNumber(caluRoiRate, 2) +'%</p>';
		
		return html;
	}
	
	// 顯示帳戶價值合計
	function showAcctValueSum(grid1) {
		$('#acctValueSum').html(formatNumber(grid1.sumByField('acctValue'), 2));
	}

	function showTotalAvgPval(grid1) {
		$('#t_avgPval').html(formatNumber(grid1.sumByField('avgPval'), 2));
	}

	function showTotalClupExpeSum(grid1) {
		$('#t_clupExpeSum').html(formatNumber(grid1.sumByField('acctValue') - grid1.sumByField('avgPval'), 2));
	}

	function showScurrency(grid1) {
		$('#s_avgPval').html(formatNumber(grid1.sumByField('avgPval') * s_currency, 0));
		$('#s_acctValueSum').html(formatNumber(grid1.sumByField('acctValue') * s_currency, 0));
		$('#s_clupExpeSum').html(formatNumber((grid1.sumByField('acctValue') - grid1.sumByField('avgPval')) * s_currency, 0));
	}
	
	/*]]>*/
	</script>
</body>

</html>