<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
    <title>變更信用卡有效年月｜臺銀人壽保單網路服務</title>
</head>

<body>
    <div th:replace="fragments/header :: top"></div>
    <header>
        <div class="container">
            <div class="row">
                <th:block th:replace="fragments/logo"/>
                <div class="n1 inlineBlock float-left">保單網路服務</div>
                <div class="clearfix visible-xs-block"></div>
                <div class="hello1-list">
                    <div class="list hid2">Hi, (使用者名字) 你好</div>
                    <div class="list marginRight20">
                        <a href="#" data-target="#notification" data-toggle="popover" data-width="520" data-scroll-height="300" data-class="to-right" data-content=" " data-placement="bottom" class="b3" data-original-title="" title=""><span class="badge b4 pull-right">4</span>我的通知</a>
                    </div>
                    <div class="list">
                        <a href="login">
                            <button class="btn-login pull-right">登出</button>
                            <button class="pull-right btn-reset">
                                <div class="rp1"><i class="foo-cw"></i>293秒</div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification" class="popover-template">
            <div class="title">
                線上通知
                <span class="note"><em class="badge">4</em>封未讀取</span>
                <a class="close">×</a>
                <a data-toggle="collapse" data-target="#popoverSearchBar" aria-expanded="true" aria-controls="popoverSearchBar" class="pull-right">
                    <i class="fa fa-search orange"></i>
                </a>
            </div>
            <div class="collapse grey" id="popoverSearchBar">
                <div class="searchbar">
                    <form class="form-inline" aria-expanded="true">
                        <div class="col-sm-3">
                            <div class="selector-box">
                                <select class="selector">
                                    <option>通知種類</option>
                                    <option>種類1</option>
                                    <option>種類2</option>
                                    <option>種類3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="selector-box">
                                <select class="selector">
                                    <option>未讀取</option>
                                    <option>已讀取</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="selector-box">
                                <select class="selector">
                                    <option>通知月份</option>
                                    <option>2015/一月</option>
                                    <option>2015/二月</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn-form btn-search">搜尋</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="items">
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="header">
                        <em>送金單/收據</em> 2015年一月份送金單通知
                    </div>
                    <div class="content text-right">
                        <small>2015年/1月份</small>
                    </div>
                </a>
            </div>
        </div>
    </header>
    <div th:replace="fragments/header :: alert_mobile"></div>
    <div class="row alert1">
        <div class="container">
            <div class="list alertTitle">理賠進度</div>
            <div class="list">
                <a data-target="#compensation_processing" data-toggle="popover" data-width="430" data-scroll-height="300" data-class="to-left" data-placement="bottom" data-title="近3個月理賠 處理中">
                處理中 <i class="badge a1">5</i> <span class="alert_unit">張</span>
            </a>
            </div>
            <div class="list">
                <a data-target="#compensation_incomplete" data-toggle="popover" data-width="430" data-scroll-height="300" data-class="to-left" data-placement="bottom" data-title="近3個月理賠 待補件">  
                待補件 <i class="badge a1">1</i> <span class="alert_unit">張</span>
             </a>
            </div>
            <div class="list">
                <a data-target="#compensation_complete" data-toggle="popover" data-width="430" data-scroll-height="300" data-class="to-left" data-placement="bottom" data-title="近3個月理賠 已完成">  
                已完成 <i class="badge a1">1</i> <span class="alert_unit">張</span>
             </a>
            </div>
            <div class="alert_section">
                <div class="list alertTitle" id="applicationStatus">其他申請進度</div>
                <div class="list">
                    <a data-target="#application_processing" data-toggle="popover" data-width="430" data-scroll-height="300" data-class="to-left" data-placement="bottom" data-title="近1個月申請 處理中">
                  處理中 <i class="badge a1">5</i> <span class="alert_unit">張</span>
              </a>
                </div>
                <div class="list">
                    <a data-target="#application_complete" data-toggle="popover" data-width="430" data-scroll-height="300" data-class="to-left" data-placement="bottom" data-title="近1個月申請 已完成">  
                  已完成 <i class="badge a1">1</i> <span class="alert_unit">張</span>
               </a>
                </div>
            </div>
            <div class="list " id="paymentAlert">
                <a data-target="#payment_notification" data-toggle="popover" data-width="430" data-scroll-height="228" data-class="to-left" data-placement="bottom" data-title="尚未繳費保單" data-payment="show" data-paytarget="#payonline_template">
                    <!--span class="payment_alert_mobile alertTitle">繳費提醒</span-->
                    <span class="payment_alert_pc"><i class="badge a1">1</i>個繳費提醒 </span>
                    <span class="payment_alert_mobile"> 繳費提醒<i class="badge a1">1</i></span>
                </a>
            </div>
        </div>
    </div>
    <!--popover-->
    <div id="compensation_processing" class="popover-template">
        <div class="items">
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
        </div>
    </div>
    <div id="compensation_incomplete" class="popover-template">
        <div class="items">
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
        </div>
    </div>
    <div id="application_processing" class="popover-template">
        <div class="items">
            <a href="#" class="item">
                <div class="header">
                    <em>申請提領</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>申請借款</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>申請借款</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>申請借款</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>申請借款</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，案件處理中
                </div>
            </a>
        </div>
    </div>
    <div id="application_complete" class="popover-template">
        <div class="items">
            <a href="#" class="item">
                <div class="header">
                    <em>申請理賠</em> 金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>風險屬性變更</em>
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>設定停損停利通知</em> 金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    <em>變更繳別</em> 金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
        </div>
    </div>
    <!--popover-->
    <div id="compensation_complete" class="popover-template">
        <div class="items">
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
            <a href="#" class="item">
                <div class="header">
                    金彩人生變額萬能壽險
                    <small>(TWN232213)</small>
                </div>
                <div class="content">
                    YYYY/MM/DD受理，YYYY/MM/DD結案
                </div>
            </a>
        </div>
    </div>
    <!--popover-->
    <div id="payment_notification" class="popover-template">
        <div class="items">
            <a href="#" class="item payment_remind_item">
                <div class="header payment_remind_header">
                    歡喜防癌二十年定期保險
                    <div><small>(TWN232213)</small></div>
                </div>
                <div class="content payment_remind_content">
                    5月未入款金額 $3,000
                </div>
            </a>
            <a href="#" class="item payment_remind_item">
                <div class="header payment_remind_header">
                    歡喜防癌二十年定期保險
                    <div><small>(TWN232213)</small></div>
                </div>
                <div class="content payment_remind_content">
                    4月未入款金額 $3,000
                </div>
            </a>
            <a href="#" class="item payment_remind_item">
                <div class="header payment_remind_header">
                    歡喜防癌二十年定期保險
                    <div><small>(TWN232213)</small></div>
                </div>
                <div class="content payment_remind_content">
                    4月未入款金額 $3,000
                </div>
            </a>
            <a href="#" class="item payment_remind_item">
                <div class="header payment_remind_header">
                    歡喜防癌二十年定期保險
                    <div><small>(TWN232213)</small></div>
                </div>
                <div class="content payment_remind_content">
                    4月未入款金額 $3,000
                </div>
            </a>
            <a href="#" class="item payment_remind_item">
                <div class="header payment_remind_header">
                    歡喜防癌二十年定期保險
                    <div><small>(TWN232213)</small></div>
                </div>
                <div class="content payment_remind_content">
                    4月未入款金額 $3,000
                </div>
            </a>
        </div>
    </div>
    <div th:replace="fragments/header :: payonline_template"></div>
    <!--major 3 tabs-->
    <div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
    <section class="grey applyInner fullContent">
        <div class="container bg3 box-border marginTop25">
            <div class="tb3 top0 nopd">
                <i class="fas fa-edit"></i> 變更信用卡有效年月
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
                <div class="activated">
                    <figure><img src="img/check1.png" alt="check"/></figure>
                    <h2>申請成功！</h2>
                    <p>系統將於每日下午3:00處理您送出的申請。<br/>
                        信用卡效期變更約需3個工作天進行作業，您可隨時至「我的申請紀錄」掌握最新處理進度。</p>
                </div>
            </div>
            <div class="mystyle3">
                <div class="col-md-12 two-buttons">
                    <a href="apply1">
                        <button id="deny" class="btn-signup">回線上申請首頁
                        </button>
                    </a>
                    <a href="apply2">
                        <button id="go" class="btn-signup">看我的申請紀錄
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/footer"></footer>
    <th:block th:replace="fragments/script"/>
</body>

</html>