<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head"/>
	<title>我的保單｜臺銀人壽保單網路服務</title>
</head>
<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<div th:replace="fragments/header :: majorTabs (funId='mylist1')"></div>
	<section class="grey listing8 fullContent">
		<div class="container bg3 list1">
			<div class="mystyle3 listing-area">
				<div class="row-offcanvas row-offcanvas-left">
					<div th:replace="fragments/policyNoInfo :: policyNoInfo (funId='listing8')"></div>
					<div th:replace="fragments/sidebar :: sidebar (funId='listing8')"></div>
					<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
						<div class="box-border wht">
							<div class="tb3 top0">
								<i class="fas fa-chevron-down"></i> 保單給付資料
							</div>
							<div class="mobile-toggle-panel specialHeight">
								<div id="policyInfoDiv" class="col-md-12 down20">
									
								</div>
							</div>
							<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_20012'] != null} 
								? ${session.PAGE_WORDING['WORDING_20012'].parameterValue}"/>
						</div>
						<div th:replace="fragments/listingReferOnly"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	/*]]>*/
	</script>
</body>
</html>