<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransCushionMapper">

	<resultMap id="TransCushionMap" type="com.twfhclife.eservice_batch.model.TransCushionVo" >
		<result column="ID" property="id"/>
		<result column="TRANS_NUM" property="transNum"/>
		<result column="CUSHION_MODE" property="cushionMode"/>
		<result column="CUSHION_MODE_OLD" property="cushionModeOld"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TRANS_NUM,CUSHION_MODE,CUSHION_MODE_OLD
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="transCushionVo.id != null"> AND ID = #{transCushionVo.id} </if>
			<if test="transCushionVo.transNum != null and transCushionVo.transNum != ''"> AND TRANS_NUM = #{transCushionVo.transNum} </if>
			<if test="transCushionVo.cushionMode != null and transCushionVo.cushionMode != ''"> AND CUSHION_MODE = #{transCushionVo.cushionMode} </if>
			<if test="transCushionVo.cushionModeOld != null and transCushionVo.cushionModeOld != ''"> AND CUSHION_MODE_OLD = #{transCushionVo.cushionModeOld} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND ID = #{transCushionVo.id}
		</where>
	</sql>
	
	<select id="getTransCushionList" resultMap="TransCushionMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_CUSHION
		<include refid="whereClause" />
	</select>
	
	<select id="findById" resultMap="TransCushionMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_CUSHION
		<include refid="wherePkClause" />
	</select>

</mapper>

