<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransPaymodeMapper">

	<resultMap id="TransPaymodeMap" type="com.twfhclife.eservice_batch.model.TransPaymodeVo" >
		<result column="ID" property="id"/>
		<result column="TRANS_NUM" property="transNum"/>
		<result column="PAYMODE" property="paymode"/>
		<result column="PAYMODE_OLD" property="paymodeOld"/>
	<result column="LIPM_FLEX_RCP_MK" property="mk"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TRANS_NUM,PAYMODE,PAYMODE_OLD
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="transPaymodeVo.id != null"> AND ID = #{transPaymodeVo.id} </if>
			<if test="transPaymodeVo.transNum != null and transPaymodeVo.transNum != ''"> AND TRANS_NUM = #{transPaymodeVo.transNum} </if>
			<if test="transPaymodeVo.paymode != null and transPaymodeVo.paymode != ''"> AND PAYMODE = #{transPaymodeVo.paymode} </if>
			<if test="transPaymodeVo.paymodeOld != null and transPaymodeVo.paymodeOld != ''"> AND PAYMODE_OLD = #{transPaymodeVo.paymodeOld} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND ID = #{transPaymodeVo.id}
		</where>
	</sql>
	
	<select id="getTransPaymodeList" resultMap="TransPaymodeMap">
		SELECT
			P.ID, P.TRANS_NUM, P.PAYMODE, P.PAYMODE_OLD, D.LIPM_FLEX_RCP_MK
		FROM
			ESERVICE.DBO.TRANS_PAYMODE P
			LEFT JOIN ESERVICE.DBO.TRANS_POLICY C on P.TRANS_NUM = C.TRANS_NUM
			LEFT JOIN ESERVICE.DBO.LILIPM D ON C.POLICY_NO = D.LIPM_INSU_NO
		<include refid="whereClause" />
	</select>
	
	<select id="findById" resultMap="TransPaymodeMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_PAYMODE
		<include refid="wherePkClause" />
	</select>
	
	<!-- 使用 TO_NUMBER 減去 19110000 算整體民國年月日 -->
	<select id="getActiveDate" resultMap="TransPaymodeMap">
		SELECT 
		    convert(VARCHAR,
			CASE 
		        WHEN LIPM_RCP_CODE = 'A' THEN DATEADD(month, 12, LIPM_TRED_PAAB_DATE)
		        WHEN LIPM_RCP_CODE = 'S' THEN DATEADD(month, 6, LIPM_TRED_PAAB_DATE)
		        WHEN LIPM_RCP_CODE = 'Q' THEN DATEADD(month, 3, LIPM_TRED_PAAB_DATE)
		        WHEN LIPM_RCP_CODE = 'M' THEN DATEADD(month, 1, LIPM_TRED_PAAB_DATE)
		    END, 112)-19110000 activeDate
		FROM
		    ESERVICE.DBO.LILIPM_ES
		WHERE LIPM_INSU_TYPE + cast(LIPM_INSU_GRP_NO as NVARCHAR(1)) + LIPM_INSU_SEQ_NO = #{policyNo}		
	</select>

</mapper>

