<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransCashPaymentMapper" >
	<resultMap id="BaseResultMap" type="com.twfhclife.eservice_batch.model.TransCashPaymentVo" >
		<id column="ID" property="id" jdbcType="NUMERIC" />
		<result column="TRANS_NUM" property="transNum" jdbcType="NVARCHAR" />
		<result column="POLICY_NO" property="policyNo" jdbcType="NVARCHAR" />
		<result column="ALLOCATION" property="allocation" jdbcType="NVARCHAR" />
		<result column="PRE_ALLOCATION" property="preAllocation" jdbcType="NVARCHAR" />
	<result column="SWIFT_CODE" property="swiftCode" jdbcType="NVARCHAR" />
		<result column="ENGLISH_NAME" property="englishName" jdbcType="NVARCHAR" />
		<result column="BANK_CODE" property="bankCode" jdbcType="NVARCHAR" />
		<result column="BRANCH_CODE" property="branchCode" jdbcType="NVARCHAR" />
		<result column="ACCOUNT_NAME" property="accountName" jdbcType="NVARCHAR" />
		<result column="BANK_ACCOUNT" property="bankAccount" jdbcType="NVARCHAR" />
		<result column="BANK_NAME" property="bankName" jdbcType="NVARCHAR" />
		<result column="BRANCH_NAME" property="branchName" jdbcType="NVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, TRANS_NUM, POLICY_NO, ALLOCATION, PRE_ALLOCATION, SWIFT_CODE, ENGLISH_NAME, BANK_CODE,
		BRANCH_CODE, ACCOUNT_NAME, BANK_ACCOUNT, BANK_NAME, BRANCH_NAME
	</sql>

	<select id="getTransCashPayments" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/>
		FROM  ESERVICE.dbo.TRANS_CASH_PAYMENT
		WHERE TRANS_NUM = #{transNum}
	</select>

	<select id="findAccount" resultType="com.twfhclife.eservice_batch.model.TransAccountVo">
		SELECT TOP 1 U.ROC_ID, SWIFT_CODE swiftCode, ENGLISH_NAME englishName, BANK_CODE bankCode, BRANCH_CODE branchCode, ACCOUNT_NAME accountName, BANK_ACCOUNT bankAccount, BANK_NAME bankName, BRANCH_NAME branchName
		FROM  ESERVICE.DBO.TRANS_CASH_PAYMENT I INNER JOIN ESERVICE.DBO.TRANS T ON T.TRANS_NUM = I.TRANS_NUM LEFT JOIN ESERVICE.DBO.USERS U ON T.USER_ID = U.USER_ID
		WHERE I.TRANS_NUM = #{transNum}
	</select>

</mapper>