<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransFundConversionMapper" >

  <resultMap id="BaseResultMap" type="com.twfhclife.eservice_batch.model.TransFundConversionVo" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="TRANS_NUM" property="transNum" jdbcType="NVARCHAR" />
    <result column="POLICY_NO" property="policyNo" jdbcType="NVARCHAR" />
    <result column="INVT_NO" property="invtNo" jdbcType="NVARCHAR" />
    <result column="INVT_NAME" property="invtName" jdbcType="NVARCHAR" />
    <result column="IN_INVT_NO" property="inInvtNo" jdbcType="NVARCHAR" />
    <result column="INVESTMENT_TYPE" property="investmentType" jdbcType="NVARCHAR" />
    <result column="RATIO" property="ratio" jdbcType="NUMERIC" />
    <result column="VALUE" property="value" jdbcType="NUMERIC" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, TRANS_NUM, POLICY_NO, INVT_NO, INVESTMENT_TYPE, RATIO, VALUE
  </sql>

  <select id="getTransFundConversions" resultMap="BaseResultMap">
    SELECT f1.ID, f1.TRANS_NUM, f1.POLICY_NO, f1.INVT_NO, f1.INVESTMENT_TYPE, f1.[VALUE], f2.RATIO, f2.INVT_NO IN_INVT_NO FROM
    (SELECT * FROM ESERVICE.DBO.TRANS_FUND_CONVERSION WHERE INVESTMENT_TYPE='OUT') f1 INNER JOIN
    (SELECT * FROM ESERVICE.DBO.TRANS_FUND_CONVERSION WHERE INVESTMENT_TYPE='IN') f2 ON f1.TRANS_NUM = f2.TRANS_NUM
    WHERE f1.TRANS_NUM = #{transNum}
  </select>

  <select id="findAccount" resultType="com.twfhclife.eservice_batch.model.TransAccountVo">
    SELECT TOP 1 U.ROC_ID rocId, SWIFT_CODE swiftCode, ENGLISH_NAME englishName, BANK_CODE bankCode, BRANCH_CODE branchCode, ACCOUNT_NAME accountName, BANK_ACCOUNT bankAccount, BANK_NAME bankName, BRANCH_NAME branchName
    FROM TRANS_FUND_CONVERSION C INNER JOIN TRANS T ON T.TRANS_NUM = C.TRANS_NUM LEFT JOIN USERS U ON T.USER_ID = U.USER_ID
    WHERE C.TRANS_NUM = #{transNum} AND INVT_NO = #{invtNo} AND INVESTMENT_TYPE = 'IN'
  </select>
</mapper>