<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransInvestmentMapper" >

	<resultMap id="BaseResultMap" type="com.twfhclife.eservice_batch.model.TransInvestmentVo" >
		<id column="ID" property="id" jdbcType="NUMERIC" />
		<result column="TRANS_NUM" property="transNum" jdbcType="NVARCHAR" />
		<result column="POLICY_NO" property="policyNo" jdbcType="NVARCHAR" />
		<result column="INVT_NO" property="invtNo" jdbcType="NVARCHAR" />
		<result column="DISTRIBUTION_RATIO" property="distributionRatio" jdbcType="NUMERIC" />
		<result column="PRE_DISTRIBUTION_RATIO" property="preDistributionRatio" jdbcType="NUMERIC" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, TRANS_NUM, POLICY_NO, INVT_NO, DISTRIBUTION_RATIO, PRE_DISTRIBUTION_RATIO
	</sql>

	<select id="getTransInvestments" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/>
		FROM  ESERVICE.dbo.TRANS_INVESTMENT
		WHERE TRANS_NUM = #{transNum}
	</select>
</mapper>