<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice_batch.mapper.TransAnnuityMethodMapper">

	<resultMap id="TransAnnuityMethodMap" type="com.twfhclife.eservice_batch.model.TransAnnuityMethodVo" >
		<result column="ID" property="id"/>
		<result column="TRANS_NUM" property="transNum"/>
		<result column="ANNUITY_METHOD" property="annuityMethod"/>
		<result column="ANNUITY_METHOD_OLD" property="annuityMethodOld"/>
	<result column="GUARANTEE_PERIOD" property="guaranteePeriod"/>
		<result column="GUARANTEE_PERIOD_OLD" property="guaranteePeriodOld"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,TRANS_NUM,ANNUITY_METHOD,ANNUITY_METHOD_OLD,GUARANTEE_PERIOD,GUARANTEE_PERIOD_OLD
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="transAnnuityMethodVo.id != null"> AND ID = #{transAnnuityMethodVo.id} </if>
			<if test="transAnnuityMethodVo.transNum != null and transAnnuityMethodVo.transNum != ''"> AND TRANS_NUM = #{transAnnuityMethodVo.transNum} </if>
			<if test="transAnnuityMethodVo.annuityMethod != null and transAnnuityMethodVo.annuityMethod != ''"> AND ANNUITY_METHOD = #{transAnnuityMethodVo.annuityMethod} </if>
			<if test="transAnnuityMethodVo.annuityMethodOld != null and transAnnuityMethodVo.annuityMethodOld != ''"> AND ANNUITY_METHOD_OLD = #{transAnnuityMethodVo.annuityMethodOld} </if>
		</where>
	</sql>
	
	<sql id="wherePkClause">
		<where>
			AND ID = #{transAnnuityMethodVo.id}
		</where>
	</sql>
	
	<select id="getTransAnnuityMethodList" resultMap="TransAnnuityMethodMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_ANNUITY_METHOD
		<include refid="whereClause" />
	</select>
	
	<select id="findById" resultMap="TransAnnuityMethodMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_ANNUITY_METHOD
		<include refid="wherePkClause" />
	</select>
	
	<!-- 取得變更年金給付方式查詢結果 -->
	<select id="getTransAnnuityMethod" resultMap="TransAnnuityMethodMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.TRANS_ANNUITY_METHOD
		<include refid="whereClause" />
	</select>

</mapper>

