<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>匯款帳號變更｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">匯款帳號變更</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 匯款帳號變更
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 設定匯款帳號</span>
					</li>
					<li class="step3 active col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認資料並輸入驗證碼</h2>
				<div class="loan1">
					<div class="col-sm-8 col-sm-offset-2 grey2 ptop30 greyBox">
						<div class="check-list3 ">
							<label for="" class="col-sm-3 orange">保單：</label>
							<p type="text" class="col-sm-9">
								<th:block th:each="policyNo : ${transChangeAccountVo.policyNoList}">
									<th:block th:text="${policyNo}"/>
								</th:block>
							</p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-3 orange">受益種類：</label>
							<p type="text" class="col-sm-9">
								<th:block th:if="${transChangeAccountVo.changeType eq '2'}">滿期金</th:block>
								<th:block th:if="${transChangeAccountVo.changeType eq '3'}">生存金</th:block>
								<th:block th:if="${transChangeAccountVo.changeType eq 'F'}">紅利給付</th:block>
							</p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-3 orange">戶名：</label>
							<p type="text" class="col-sm-9">
								<th:block th:text="${transChangeAccountVo.accountName}"/>
							</p>
						</div>
						<th:block th:if="${transChangeAccountVo.acctType eq '1'}">
							<div class="check-list3 ">
								<label for="" class="col-sm-3 orange">銀行：</label>
								<p type="text" class="col-sm-9"><th:block th:text="${transChangeAccountVo.bankName}"/>(<th:block th:text="${transChangeAccountVo.bankId}"/>)</p>
							</div>
							<div class="check-list3 ">
								<label for="" class="col-sm-3 orange">分行：</label>
								<p type="text" class="col-sm-9"><th:block th:text="${transChangeAccountVo.branchName}"/>(<th:block th:text="${transChangeAccountVo.branchId}"/>)</p>
							</div>
						</th:block>
						<th:block th:if="${transChangeAccountVo.acctType eq '2'}">
							<div class="check-list3 ">
								<label for="" class="col-sm-3 orange">局號：</label>
								<p type="text" class="col-sm-9"><th:block th:text="${transChangeAccountVo.branchId}"/></p>
							</div>
						</th:block>
						<div class="check-list3 ">
							<label for="" class="col-sm-3 orange">帳號：</label>
							<p type="text" class="col-sm-9">
								<th:block th:text="${transChangeAccountVo.accountNo}"/>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-8 col-md-offset-2 ptop30">
					<div class="divider divider88"></div>
					<p class="center1 gray">請輸入驗證碼以完成申請</p>
					<th:block th:replace="fragments/sendSMS"/>
					<div class="marginTop25"></div>
					<div class="col-md-12 two-buttons">
						<button type="button" id="deny" class="btn-signup">上一步</button>
						<button type="button" id="go" class="btn-signup">確認送出</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transChangeAccountVo}]]*/;
		$(function() {
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/changePayAcct2}]]*/, formData);
			});
			
			// 確認送出
			$('#go').click(function() {
				if ($('#InputCert1').val() == '') {
					/* openAlert("請輸入驗證碼"); */
					openAlert($('#E0071').val());
					return false;
				}
				
				formData.authenticationNum = $('#InputCert1').val();
				postWithFormData(/*[[@{/changePayAcctSuccess}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>