<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>申請保單貸款｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">保單貸款</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 申請保單貸款
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 active col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 輸入欲借金額與給付方式</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇欲申請之保單</h2>
				<div class="loan1">
					<table th:replace="fragments/applyPolicyList :: table8 (choseType='radio')"></table>
				</div>
				<div class="loan1"><br/>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_02101'] != null} 
						? ${session.PAGE_WORDING['WORDING_02101'].parameterValue}"/>
					<!-- p class="text-ps">※僅開放"要保人與被保險人為同一人"之保單進行線上申請貸款 (除被保險人已身故外，限被保險人本人帳戶)</p -->
				</div>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a href="apply1">
						<button id="deny" class="btn-signup">取消</button>
					</a>
					<button id="go" class="btn-signup">下一步</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		$('#go').click(function() {
			// 檢核是否有選一筆資料
			if ($('input[name="chosePolicy"]:checked').val() == null) {
				/* openAlert("請選擇一筆保單"); */
				openAlert($('#E0038').val());
				return false;
			}
			
			var formData = {};
			formData.policyNo = $('input[name="chosePolicy"]:checked').val();
			formData.productName = $('#productName_' + formData.policyNo).val();
			formData.remainLoanValue = $('#remainLoanValue_' + formData.policyNo).val();
			postWithFormData(/*[[@{/loan2}]]*/, formData);
		});
	});
	/*]]>*/
	</script>
</body>

</html>