<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>申請保單貸款｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">保單貸款</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 申請保單貸款
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-4">
						2<span class="hid1">. 輸入欲借金額與給付方式</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請輸入欲借金額與給付方式</h2>
				<div class="col-md-8 col-md-offset-2">
					<form id="step2Form" class="form-horizontal" role="form" th:action="@{/loan3}" method="POST">
						<div class="form-group">
							<label for="productID123" class="col-sm-2">貸款保單：</label>
							<div id="productID123" class="col-sm-8">
								<th:block th:text="${transLoanVo.productName}"/>
								<input type="hidden" name="productName" th:value="${transLoanVo.productName}"/>
								<span class="enSmall">(<th:block th:text="${transLoanVo.policyNo}"/>)</span>
								<input type="hidden" name="policyNo" th:value="${transLoanVo.policyNo}"/>
						 	</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2">可借金額：</label>
							<div class="col-sm-10">
								NTD 1,000 ~ NTD <th:block th:text="${#numbers.formatDecimal(transLoanVo.remainLoanValue, 0, 'DEFAULT', 0, 'COMMA')}"/>
								<input type="hidden" id="remainLoanValue" name="remainLoanValue" th:value="${transLoanVo.remainLoanValue}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2">欲借金額：</label>
							<div class="col-sm-8">
								<i class="my5">NTD</i>
								<input type="text" class="form-control" id="loanAmount" name="loanAmount" placeholder="請以千元為單位" onchange="amountChange()" />
							</div>
						</div>
						<input type="hidden" name="customerName" th:value="${transLoanVo.customerName}"/>
						<input type="hidden" name="insuredName" th:value="${transLoanVo.insuredName}"/>
						<input type="hidden" id="bankId" name="bankId"/>
						<input type="hidden" id="bankName" name="bankName"/>
						<input type="hidden" id="branchId" name="branchId"/>
						<input type="hidden" id="branchName" name="branchName"/>
						<input type="hidden" id="accountNumber" name="accountNumber"/>
					</form>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<form class="form-horizontal no-borderBottom marginTop20" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2">給付方式：</label>
							<div class="col-sm-9">
								<div class="radio inline hide">
									<label>
										<div class="radio-btn"><i><input type="radio" name="cancelMethod" value="1" checked="checked" onclick="if(this.checked) $('#tab_3').show().siblings().hide();"/></i></div> 郵寄支票
									</label>
								</div>
								<div class="radio inline">
									<label>
										<div class="radio-btn checkedRadio"><i><input type="radio" name="cancelMethod" value="2" onclick="if(this.checked) $('#tab_4').show().siblings().hide();"/></i></div> 匯入要保人帳戶
										<!--  <span class="text-muted loan3-repo">(除被保險人已身故外，限被保險人帳戶)</span> -->
									</label>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="tabs">
									<!-- TAB 1 -->
									<article id="tab_3" class="tab tab-show hide">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="arrow-upleft"></div>
											<div class="grey2">
												<div class="check-title depo2">郵寄資訊</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">郵遞區號</label>
													<div class="col-sm-8">
														<input type="text" class="col-sm-5" placeholder="" value="114"/> </div>
												</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">地址</label>
													<div class="col-sm-9">
														<input type="text" class="col-sm-11" value=""/> </div>
												</div>
											</div>
										</section>
									</article>
									<!-- TAB 2 -->
									<article class="tab show" id="tab_4">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="arrow-upleft" style=""></div>
											<div class="grey2">
												<div class="check-title depo2">匯款資訊</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">帳戶名稱</label>
													<div class="col-sm-8 ">
														<th:block th:text="${transLoanVo.customerName}"/>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label class="col-sm-3">銀行名稱</label>
													<div class="col-sm-5">
														<div>
															<select id="bankOpt" name="bankOpt" data-placeholder="選擇銀行" class="wht">
																<option value=""></option>
															</select>
														</div>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label class="col-sm-3">分行名稱</label>
													<div class="col-sm-5">
														<div>
															<select class="selector wht" id="brancheOpt" name="brancheOpt" data-placeholder="選擇分行">
																<option value=""></option>
															</select>
														</div>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">帳號</label>
													<div class="col-sm-9">
														<input type="text" id="accountNo" name="accountNo" maxlength="14" class="col-sm-8" value="">
													</div>
												</div>
											</div>
										</section>
										<!--p class="text-ps">帳戶名稱由系統帶出，且無法更改。</p-->
									</article>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-8 col-md-offset-2 two-buttons">
					<a href="loan1">
						<button id="deny" class="btn-signup">上一步</button>
					</a>
					<button id="go" class="btn-signup">下一步</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		$("#bankOpt").chosen({
			allow_single_deselect:true, 
			search_contains: true
		});
		
		$("#brancheOpt").chosen({
			allow_single_deselect:true, 
			search_contains: true
		});
		
		//銀行下拉選單
		var bankUrl = /*[[@{/getBankList}]]*/;
		var branchesUrl = /*[[@{/getBranchesList}]]*/;
		eserviceOption.bankBranches('#bankOpt', bankUrl, '#brancheOpt', branchesUrl);
		
		// 設定寬度
		$('.chosen-container').width('207px');
		
		// 取得名稱
		$('#bankOpt').change(function() {
			$('#bankId').val($('#bankOpt').val());
			$('#bankName').val($('#bankOpt option:selected').text());
		});
		$('#brancheOpt').change(function() {
			if ($('#brancheOpt').val() != '') {
				$('#branchId').val($('#brancheOpt').val());
				$('#branchName').val($('#brancheOpt option:selected').text());
			} else {
				$('#branchName').val('');
			}
		});
		
		$('#go').click(function() {
			if (!$("#loanAmount").val()) {
				/* openAlert("請輸入預借金額"); */
				openAlert($('#E0074').val());
				return false;
			}
			$('#accountNumber').val($('#accountNo').val());
			$('#step2Form').submit();
		});
	});
	
	function amountChange(){
		if (!$("#loanAmount").val()) {
			/* openAlert("請輸入預借金額"); */
			openAlert($('#E0074').val());
			return false;
		}
		var loanAmount = $("#loanAmount").val();
		var remainLoanValue = $("#remainLoanValue").val();
		if(parseInt(loanAmount) > parseInt(remainLoanValue)){
			$("#loanAmount").val(remainLoanValue);
		}else{
			$("#loanAmount").val(Math.ceil(loanAmount / 1000) * 1000);
		}
	}
	/*]]>*/
	</script>
</body>

</html>