<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>個人工作列表｜經代專區</title>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li class="active">
							<a href="javascript:;">案件總覽</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4">
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">新契約案件關卡狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">新契約案件照會狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart2" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row">
									<div class="card-title" id="titleList"><i class="foo-business_15 foo-2x"></i>個人案件列表</div>
								</div>
							</div>
							<div class="card-body" style="padding: 0;">
								<div class=" ">
									<table class="tablesaw tablesaw-stack">
										<thead>
										<tr class="table2">
											<th class="text-left item360">保單</th>
											<th scope="col" class="item360">要保人</th>
											<th scope="col" class="item400">被保險人</th>
											<th scope="col" class="item400">主約險種</th>
											<th scope="col" class="item450">受理日期</th>
											<th scope="col" class="item450">案件關卡狀態</th>
											<th scope="col" class="item450">最新照會狀態</th>
											<th scope="col" class="item450">最新照會結果</th>
										</tr>
										</thead>
										<tbody id="personalContent">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/tablepand.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
        var doughnutChart = document.getElementById('doughnutChart').getContext('2d');
        var doughnutChart2 = document.getElementById('doughnutChart2').getContext('2d');
        var myDoughnutChart
        var myDoughnutChart2
        var chart2Map = [ { label: '照會編輯中', policyNos: [] },{ label: '照會覆核中', policyNos: [] },{ label: '照會完成', policyNos: [] } ]
        var levelStateMap = []

		$(function(){
			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/getLevelStates}]]*/,
				success : function(response) {
					if(response.result == "SUCCESS"){
						response.resultData.forEach(function(item, index){
							levelStateMap.push({
								label: item.VALUE,
								value: item.KEY,
								policyNos: []
							})
						})
					}
				}
			})

			$("#doughnutChart").click(function(evt){
				 var activePoints = myDoughnutChart.getElementsAtEvent(evt);
				 $("#personalContent").children().each(function(){
				 	if (levelStateMap[activePoints[0]._index].policyNos.indexOf($(this).attr('policyNo')) != -1) {
				 		$(this).show()
				 	} else {
				 		$(this).hide()
				 	}
				 })
			})

			$("#doughnutChart2").click(function(evt){
				 var activePoints = myDoughnutChart2.getElementsAtEvent(evt);
				 $("#personalContent").children().each(function(){
				 	if (chart2Map[activePoints[0]._index].policyNos.indexOf($(this).attr('policyNo')) != -1) {
				 		$(this).show()
				 	} else {
				 		$(this).hide()
				 	}
				 })
			})

			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				url : /*[[@{/personalCaseList}]]*/,
				success : function(response) {
					if(response.result == "SUCCESS"){
						html = ''
						response.resultData.forEach(function(item, index){
								html += "<tr policyNo=\"" + item.policyNo + "\" onclick=\"javascript:postPolicyListType('caselisting1', '" + item.policyNo + "')\">" +
										'<td class="table3">' + item.policyNo  +'</td>' +
										'<td class="hid1 hid2">'+ item.appName +'</td>' +
										'<td class="hid1 hid2">' + item.insName +'</td>' +
										'<td class="hid1 hid2">' + item.policyType +'</td>' +
										'<td class="hid1 hid2 enThin">' + item.tBSubmitDate +'</td>' +
										'<td class="hid1 hid2">' + levelStateStr(item.policyNo, item.bPMCurrentTak) +'</td>' +
										'<td class="hid1 hid2">' + noteStatusStr(item.policyNo, item.noteStatus) +'</td>' +
										'<td class="hid1 hid2">' + noteVerifyResultStr(item.noteVerifyResult) +'</td>' +
									'</tr>'
							});
						$("#personalContent").html(html)
						initChart()
					}
				},
				error : function() {
					openAlert('error!')
				}
	    	});
		})

		function noteStatusStr(policyNo, noteStatus) {
			if (noteStatus == '0') {
				chart2Map[0].policyNos.push(policyNo)
				return '照會編輯中'
			}
			if (noteStatus == '1') {
				chart2Map[1].policyNos.push(policyNo)
				return '照會覆核中'
			}
			if (noteStatus == '9') {
				chart2Map[2].policyNos.push(policyNo)
				return '照會完成'
			}
			return ''
		}

		function noteVerifyResultStr(status) {
			if (status == '0' || status == 'R') {
				return '核保中'
			}
			if (status == 'V') {
				return '照會中'
			}
			return ''
		}

		function levelStateStr(policyNo, levelState) {
			result = ''
			levelStateMap.forEach(function(item,index){
				if (item.value == levelState) {
					item.policyNos.push(policyNo)
					result = item.label
				}
			})
			return result
		}

		function initChart() {
			labels = []
			data = []
			chart2Map.forEach(function(item,index){
				labels.push(item.label + ' ' + item.policyNos.length + '件')
				data.push(item.policyNos.length)
			})

			myDoughnutChart2 = new Chart(doughnutChart2, {
				type: 'doughnut',
				data: {
					datasets: [{
						data: data,
						backgroundColor: ['#59d05d','#fdaf4b','#f3545d','#1d7af3']
					}],
						labels: labels
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});

				labels1 = []
				data1 = []
				levelStateMap = levelStateMap.filter(f => f.policyNos.length > 0 )
				levelStateMap.forEach(function(item,index){
					labels1.push(item.label + ' ' + item.policyNos.length + '件')
					data1.push(item.policyNos.length)
				})

				myDoughnutChart = new Chart(doughnutChart, {
					type: 'doughnut',
					data: {
						datasets: [{
							data: data1,
							backgroundColor: ['#1d7af3','#59d05d','#f3545d', '#d32dfc', '#dad494', '#96266a', '#c7c58a']
						}],
						labels: labels1
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});
		}
/*]]>*/
</script>
</body>
</html>