<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>送件列表｜經代專區</title>
	<th:block th:replace="fragments/head"/>
	<style>
		.arrow {
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 0;
			margin-left: 5px;
			opacity: 0.9;
		}
		.arrow.asc {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #009b30;
		}
		.arrow.dsc {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #009b30;
		}
		.arrow.none {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #696969;
		}
	</style>
</head>

<body>
<div class="wrapper">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div th:replace="fragments/header :: loadingModal"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li class="active">
							<a href="javascript:;">案件總覽</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4">
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">案件狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">新契約案件照會狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart2" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row">
									<div class="card-title" id="titleList" style="font-size: 19px; font-weight: bold;"><i class="foo-business_15 foo-2x"></i>送件列表</div>
								</div>
							</div>
							<div class="card-body" style="padding: 0;">
								<div class=" ">
									<table class="tablesaw tablesaw-stack">
										<thead>
										<tr class="table2">
											<th class="text-left item360">保單<span class="arrow none" name="policyNo"/></th>
											<th scope="col" class="item360">要保人<span class="arrow none" name="appName"/></th>
											<th scope="col" class="item400">被保險人<span class="arrow none" name="insName"/></th>
											<th scope="col" class="item400">主約險種<span class="arrow none" name="policyType"/></th>
											<th scope="col" class="item450">受理日期<span class="arrow none" name="tBSubmitDate"/></th>
											<th scope="col" class="item450">案件狀態<span class="arrow none" name="bPMCurrentTak"/></th>
											<th scope="col" class="item450">最新照會狀態<span class="arrow none" name="noteVerifyResult"/></th>
											<th scope="col" class="item450">招攬人<span class="arrow none" name="pSalesName"/></th>
										</tr>
										</thead>
										<tbody id="personalContent">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/tablepand.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
        var doughnutChart = document.getElementById('doughnutChart').getContext('2d');
        var doughnutChart2 = document.getElementById('doughnutChart2').getContext('2d');
        var myDoughnutChart
        var myDoughnutChart2
        var chart1Map = [ { label: '受理中', policyNos: [] }, { label: '核保中', policyNos: [] }, { label: '覆核中', policyNos: [] }, { label: '核保完成', policyNos: [] }]
        var chart2Map = [ { label: '核保中', policyNos: [] },{ label: '照會中', policyNos: [] }]

		$(function(){
			$("#doughnutChart").click(function(evt){
				 var activePoints = myDoughnutChart.getElementsAtEvent(evt);
				 $("#personalContent").children().each(function(){
				 	if (chart1Map[activePoints[0]._index].policyNos.indexOf($(this).attr('policyNo')) != -1) {
				 		$(this).show()
				 	} else {
				 		$(this).hide()
				 	}
				 })
			})

			$("#doughnutChart2").click(function(evt){
				 var activePoints = myDoughnutChart2.getElementsAtEvent(evt);
				 $("#personalContent").children().each(function(){
				 	if (chart2Map[activePoints[0]._index].policyNos.indexOf($(this).attr('policyNo')) != -1) {
				 		$(this).show()
				 	} else {
				 		$(this).hide()
				 	}
				 })
			})

			showLoadingModal();
			searchList({})

	    	$(".arrow").click(function(){
	    		sort = 'none'
	    		if ($(this).hasClass('dsc')) {
	    			sort = 'dsc'
	    		} else if ($(this).hasClass('asc')) {
	    			sort = 'asc'
	    		}
	    		$(".arrow").removeClass("asc").removeClass("dsc").addClass("none")
	    		if (sort == 'asc' || sort == 'none') {
		    		$(this).removeClass("none").addClass("dsc")
		    		searchList({
		    			name: $(this).attr("name"),
		    			sort: 'desc'
		    		})
	    		} else if (sort == 'dsc') {
	    			$(this).removeClass("none").addClass("asc")
	    			searchList({
		    			name: $(this).attr("name"),
		    			sort: 'asc'
		    		})
	    		}
	    	})
		})
		var status5 = ['602000S', '602500S']
		function noteVerifyResultStr(policyNo, status, noteStatus) {
			if (status5.indexOf(noteStatus) != -1) {
				return '-'
			}
			if (status == '0' || status == 'R') {
				chart2Map[0].policyNos.push(policyNo)
				return '核保中'
			}

			if (status == 'V') {
				chart2Map[1].policyNos.push(policyNo)
				return '照會中'
			}
			return '-'
		}

		var status1 = ['150000P','200000S','230000S','250000P','300000P','300500P','300500S','301000S','301500P','302000P','302500P','303000P']
		var status2 = ['350500S', '351000S', '351500S', '352000S', '400000S', '450000S', '500000P', '500500P', '501011P', '501012P', '501500P', '600500P']
		var status3 = ['550500P', '550505P', '550510P', '550515P', '550520P']
		var status4 = ['601500S', '602000S', '602500S']

		function levelStateStr(policyNo, levelState) {
			result = '-'
			if (status1.indexOf(levelState) != -1) {
				chart1Map[0].policyNos.push(policyNo)
				result = '受理中'
			} else if (status2.indexOf(levelState) != -1) {
				chart1Map[1].policyNos.push(policyNo)
				result = '核保中'
			} else if (status3.indexOf(levelState) != -1) {
				chart1Map[2].policyNos.push(policyNo)
				result = '覆核中'
			} else if (status4.indexOf(levelState) != -1) {
				chart1Map[3].policyNos.push(policyNo)
				result = '核保完成'
			}
			return result
		}
		Chart.defaults.global.defaultFontSize = 15;
		function initChart() {
			labels = []
			data = []
			chart2Map.forEach(function(item,index){
				labels.push(item.label + ' ' + item.policyNos.length + ' 件')
				data.push(item.policyNos.length)
			})

			myDoughnutChart2 = new Chart(doughnutChart2, {
				type: 'doughnut',
				data: {
					datasets: [{
						data: data,
						backgroundColor: ['#59d05d','#fdaf4b','#f3545d','#1d7af3']
					}],
						labels: labels
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});

				labels1 = []
				data1 = []
				chart1Map.forEach(function(item,index){
					labels1.push(item.label + ' ' + item.policyNos.length + ' 件')
					data1.push(item.policyNos.length)
				})

				myDoughnutChart = new Chart(doughnutChart, {
					type: 'doughnut',
					data: {
						datasets: [{
							data: data1,
							backgroundColor: ['#1d7af3','#59d05d','#f3545d', '#d32dfc', '#dad494', '#96266a', '#c7c58a']
						}],
						labels: labels1
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});
		}

		function searchList(dataSort) {
			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				data: JSON.stringify(dataSort),
				url : /*[[@{/personalCaseList}]]*/,
				success : function(response) {
					if(response.result == "SUCCESS"){
						html = ''
						response.resultData.forEach(function(item, index){
								html += "<tr policyNo=\"" + item.policyNo + "\" onclick=\"javascript:postPolicyListType('personalCaseListing1', '" + item.policyNo + "')\">" +
										'<td class="table3">' + (item.policyNo ? item.policyNo : '-')  +'</td>' +
										'<td class="table3">'+ (item.appName ? item.appName : '-') +'</td>' +
										'<td class="table3">' + (item.insName ? item.insName : '-') +'</td>' +
										'<td class="table3">' + (item.policyType ? item.policyType : '-') +'</td>' +
										'<td class="table3">' + (item.tBSubmitDate ? item.tBSubmitDate : '-' ) +'</td>' +
										'<td class="table3">' + levelStateStr(item.policyNo, item.bPMCurrentTak) +'</td>' +
										'<td class="table3">' + noteVerifyResultStr(item.policyNo, item.noteVerifyResult, item.bPMCurrentTak) +'</td>' +
										'<td class="table3">' + (item.pSalesName ? item.pSalesName : '-') +'</td>' +
									'</tr>'
							});
						$("#personalContent").html(html)
						initChart()
					}

					hideLoadingModal();
				},
				error : function() {
					hideLoadingModal();
					openAlert('error!')
				}
	    	});
		}
/*]]>*/
</script>
</body>
</html>
