<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>個人工作列表｜臺銀人壽經代專區</title>
	<link rel="shortcut icon" th:href="@{/img/favor-icon.png}">
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/atlantis.css}" rel="stylesheet">
	<link th:href="@{/css/icon.css}" rel="stylesheet"/>
	<link th:href="@{/css/layout.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/mobile.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
	<link rel="stylesheet" th:href="@{/css/tablesaw.stackonly.css}">
</head>

<body>
<div class="wrapper">
	<div class="main-header">
		<div class="row hid1" id="top1"></div>
		<!-- Logo Header -->
		<div class="logo-header">
			<a href="index.html" class="logo">
				<img th:src="@{/img/my-logo.png}" height="50px" alt="navbar brand" class="navbar-brand">
			</a>
			<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="bi bi-grid-1x2"></i>
				</span>
			</button>
			<button class="topbar-toggler more"><i class="bi bi-grip-horizontal"></i></button>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="bi bi-grid-1x2"></i>
				</button>
			</div>
		</div>
		<div class="n1 inlineBlock float-left">經代專區</div>
		<!-- End Logo Header -->

		<!-- Navbar Header -->
		<nav class="navbar navbar-header navbar-expand-lg hello1-list">
			<div class="hello1-list">
				<div class="list members">
					<a href="#" class="b3">
						<img th:src="@{/img/icon-members.png}" width="26" alt="member">
					</a>
				</div>
				<div class="list hid2">Hi, (使用者名字) 您好</div>
				<div class="list marginRight20">
					<a href="#"  data-target="#notification" data-toggle="popover" data-width="520" data-scroll-height="200" data-class="to-right" data-content="43greyrtu" data-placement="bottom" class="b3" data-original-title="" title=""><span class="badge b4 pull-right">4</span>我的通知</a>
				</div>
				<div class="list">
					<a href="index.html">
						<button class="btn-login pull-right">登出</button>
						<button class="pull-right btn-reset">
							<div class="rp1"><i class="foo-cw"></i>293秒</div>
						</button>
					</a>
				</div>
			</div>
			<div id="notification" class="popover-template">
				<div class="title">
					線上通知
					<span class="note"><em class="badge">2</em>封未讀取</span>
					<a class="close">×</a>
					<a data-toggle="collapse" data-target="#popoverSearchBar" aria-expanded="true" aria-controls="popoverSearchBar" class="pull-right">
						<i class="fa fa-search orange"></i>
					</a>
				</div>
				<div class="collapse grey" id="popoverSearchBar">
					<div class="searchbar">
						<form class="form-inline" aria-expanded="true">
							<div class="col-sm-3">
								<div class="selector-box">
									<select class="selector">
										<option>通知種類</option>
										<option>種類111111111</option>
										<option>種類2222222222</option>
										<option>種類3</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="selector-box">
									<select class="selector">
										<option>未讀取1111111</option>
										<option>已讀取2222222</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<div class="selector-box">
									<select class="selector">
										<option>通知月份</option>
										<option>2015/一月</option>
										<option>2015/二月</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<button class="btn-form btn-search">搜尋</button>
							</div>
						</form>
					</div>
				</div>

				<div class="searchResult">
					<p class="">查無符合資料，請重新搜尋</p>
				</div>

				<div class="items">
					<a href="#" class="item">
						<div class="header">
							<em>案件狀態通知</em> 新契約（OU1005）已完成
						</div>
						<div class="content text-right">
							<small>2020年/12月份</small>
						</div>
					</a>
					<a href="#" class="item">
						<div class="header">
							<em>案件狀態通知</em> 新契約（OU1003）照會中
						</div>
						<div class="content text-right">
							<small>2015年/1月份</small>
						</div>
					</a>

				</div>
				<p>※本畫面僅提供一年內之通知資料查詢</p>
			</div>

		</nav>
		<!-- End Navbar -->

	</div>

	<!-- Sidebar -->
	<div class="sidebar sidebar-style-2">
		<div class="sidebar-wrapper scrollbar scrollbar-inner">
			<div class="sidebar-content">
				<ul class="nav nav-primary">
					<li class="nav-item active submenu">
						<a data-toggle="collapse" href="#claimCases">
							<i class="bi bi-bullseye"></i>
							<p>個人中心</p>
							<span class="caret"></span>
						</a>
						<div class="collapse in" id="claimCases">
							<ul class="nav nav-collapse">
								<li class="active">
									<a href="dashboard.html">
										<span class="sub-item">個人案件列表</span>
									</a>
								</li>
								<li>
									<a href="change-password1.html">
										<span class="sub-item">變更密碼</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a data-toggle="collapse" href="#overdueNotes">
							<i class="bi bi-infinity"></i>
							<p>客戶管理</p>
							<span class="caret"></span>
						</a>
						<div class="collapse in" id="overdueNotes">
							<ul class="nav nav-collapse">
								<li>
									<a href="policy-inquiry.html">
										<span class="sub-item">保單查詢</span>
									</a>
								</li>
								<li>
									<a href="protect-query.html">
										<span class="sub-item">保戶查詢</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a data-toggle="collapse" href="#Investigation">
							<i class="bi bi-journal-richtext"></i>
							<p>保單進度及照會管理</p>
							<span class="caret"></span>
						</a>
						<div class="collapse in" id="Investigation">
							<ul class="nav nav-collapse">
								<li>
									<a href="caseInquiry.html">
										<span class="sub-item">案件進度查詢</span>
									</a>
								</li>

							</ul>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- End Sidebar -->
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li class="active">
							<a href="javascript:;">案件總覽</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4">
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">新契約案件關卡狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-2">
						<div class="card">
							<div class="card-body pb-0" style="overflow: hidden;">
								<h2 class="mb-2">新契約案件照會狀態</h2>
								<div class="pull-in sparkline-fix">
									<div >
										<canvas id="doughnutChart2" width="50%" height="170px"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row">
									<div class="card-title" id="titleList"><i class="foo-business_15 foo-2x"></i>個人案件列表</div>
								</div>
							</div>
							<div class="card-body" style="padding: 0;">
								<div class=" ">
									<table class="tablesaw tablesaw-stack">
										<thead>
										<tr class="table2">
											<th class="text-left item360">保單</th>
											<th scope="col" class="item360">要保人</th>
											<th scope="col" class="item400">被保險人</th>
											<th scope="col" class="item400">主約險種</th>
											<th scope="col" class="item450">受理日期</th>
											<th scope="col" class="item450">案件關卡狀態</th>
											<th scope="col" class="item450">最新照會狀態</th>
											<th scope="col" class="item450">最新照會結果</th>
										</tr>
										</thead>
										<tbody>
										<tr onclick="window.document.location='caselisting1.html';">
											<td class="table3">OU10001
											</td>
											<td class="hid1 hid2">王大明</td>
											<td class="hid1 hid2">王小明</td>
											<td class="hid1 hid2">家倍幸福定期壽險</td>
											<td class="hid1 hid2 enThin">2022-01-21</td>
											<td class="hid1 hid2">核保作業</td>
											<td class="hid1 hid2">已照會</td>
											<td class="hid1 hid2">核可</td>
										</tr>
										<tr  class="tr-odd" onclick="window.document.location='caselisting1.html';">
											<td class="table3">UU10002
											</td>
											<td class="hid1 hid2">陳志強</td>
											<td class="hid1 hid2">陳小強</td>
											<td class="hid1 hid2">鑫富美外幣變額年金保險</td>
											<td class="hid1 hid2 enThin">2022-01-22</td>
											<td class="hid1 hid2">核保作業</td>
											<td class="hid1 hid2">已照會</td>
											<td class="hid1 hid2">不通過</td>
										</tr>
										<tr onclick="window.document.location='caselisting1.html';">
											<td class="table3">UC10003
											</td>
											<td class="hid1 hid2">林阿呆</td>
											<td class="hid1 hid2">李小龍</td>
											<td class="hid1 hid2">家倍幸福定期壽險</td>
											<td class="hid1 hid2 enThin">2022-02-01</td>
											<td class="hid1 hid2">案件品管</td>
											<td class="hid1 hid2">無</td>
											<td class="hid1 hid2">無</td>
										</tr>
										<tr onclick="window.document.location='listing1.html';">
											<td class="table3">UC10004
											</td>
											<td class="hid1 hid2">陳龍</td>
											<td class="hid1 hid2">洪金寶</td>
											<td class="hid1 hid2">鑫富美外幣變額年金保險</td>
											<td class="hid1 hid2 enThin">2022-02-02</td>
											<td class="hid1 hid2">對位登打</td>
											<td class="hid1 hid2">無</td>
											<td class="hid1 hid2">無</td>
										</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!--   Core JS Files   -->
<script th:src="@{/plugin/jquery-1.11.3.min.js}"></script>
<script th:src="@{/plugin/bootstrap.min.js}"></script>

<script th:src="@{/js/eservice/demo.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/plugin/jquery-ui.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/plugin/jquery.scrollbar.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/plugin/chart.min.js}"></script>
<!-- tablesaw -->
<script th:src="@{/js/atlantis.js}"></script>
<script th:src="@{/plugin/tablesaw.stackonly.js}"></script>
<!--popover-->
<script th:src="@{/plugin/scrollbar.js}"></script>
<script th:src="@{/js/popover.js}"></script>
<script>
        var doughnutChart = document.getElementById('doughnutChart').getContext('2d'),
            doughnutChart2 = document.getElementById('doughnutChart2').getContext('2d');
        var myDoughnutChart = new Chart(doughnutChart, {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [2, 1,1],
					backgroundColor: ['#1d7af3','#59d05d','#f3545d']
				}],

				labels: [
				'對位登打 2件',
				'案件品管 1件',
				'核保作業 2件',
				]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'left'
				},
				layout: {
					padding: {
						left: 20,
						right: 0,
						top: 20,
						bottom: 10
					}
				}
			}
		});
		var myDoughnutChart2 = new Chart(doughnutChart2, {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [20, 40,10],
					backgroundColor: ['#59d05d','#fdaf4b','#f3545d','#1d7af3']
				}],

				labels: [
				'等待照會 1件',
				'已照會-核可 2件',
				'已照會-不通過 3件',

				]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'left'
				},
				layout: {
					padding: {
						left: 20,
						right: 0,
						top: 20,
						bottom: 10
					}
				}
			}
		});
	</script>
</body>
</html>