<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 報酬率通知設定
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span>
												<p style="margin-left: 40px;margin-top: -15px;">
													保單號碼:<span style="margin-right: 15px;" th:text="${policyNo}"></span>
													要保人:<span style="margin-right: 15px;" th:text="${vo.lipmName}"></span>
													被保險人:<span style="margin-right: 15px;" th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY_JD'][vo.currency].parameterValue : ''}"></span>
												</p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="wht">
											<div class="mobile-toggle-panel specialHeight toggle-hide">
												<table id="grid1" class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2 orange2">
														<th class="text-left " scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
														<th>參考報酬率</th>
														<th class="item180">報酬率通知設定<br>(通知上限)</th>
														<th class="item180">報酬率通知設定<br>(通知下限)</th>
														<th class="item90"></th>
													</tr>
													</thead>
													<tbody id="notifyContent">
													</tbody>
												</table>
											</div>
											<div style="text-align: center;padding: 50px 0;">
												<a id="btn-update" class="btn-cancel orange-bg" style="width: 200px;display: inline-block;">更新</a>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer th:replace="fragments/footer"></footer></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var s_currency = '';
  $(function() {

    // 建立保障項目 grid
    var grid1 = new eserviceGrid();
    grid1.sGridId = '#grid1';
    grid1.sQueryUrl = /*[[@{/getNotifyPortfolioList?policyNo=} + ${param.policyNo[0]}]]*/;
    grid1.aoColumns = [
      {
        // 投資標的
        'fnRender': function(oRow) {
          return emptyIfNull(oRow.invtName) + '<p class="enSmall">(' + emptyIfNull(oRow.invtNo) + ')</p><input type="hidden" name="invtNo" value="' + oRow.invtNo + '"/>';
        },
        'rwdName': '投資標的'
      },
      {
        // 參考報酬率(%)
        'fnRender': function(oRow) {
          return showRoiRate(oRow);
        },
        'rwdName': '參考報酬率(%)'
      },
      {
        'fnRender': function(oRow) {
          return '<div><input type="text" value="' + oRow.upRate +  '" name="upRate" class="col-sm-8 lineHigh28"><span class="sub1">%</span></div>';
        }
      },
      {
        'fnRender': function(oRow) {
          return '<div><input type="text"  value="' + oRow.downRate +  '" name="downRate" class="col-sm-8 lineHigh28"><span class="sub1">%</span></div>';
        }
      },
      {
        'fnRender': function(oRow) {
          return '<a class="btn-cancel btn-reset orange-bg">重設</a>';
        }
      }
    ];

    grid1.fnInitComplete = function() {
      showAcctValueSum(grid1);
      if (grid1.sQueryUrl.indexOf('policyNo=UH') != -1) {
        showTotalAvgPval(grid1);
        showTotalClupExpeSum(grid1);
        showScurrency(grid1);
      } else {
        $('#total2').hide();
      }
      if (grid1.rownum() == 0) {
        openAlert('查無資料');
        return false;
      }
    };
    grid1.createSimple();

    $("body").on('click', '.btn-reset', function(){
		parent = $(this).parent().parent().parent()
		$(parent).find('input[name=upRate]').val('')
		$(parent).find('input[name=downRate]').val('')
    })

    $("#btn-update").click(function(){
    	notifyConfig = new Array()
    	$("#notifyContent").children().each(function(index, e1) {
    		notifyConfig.push(
    			{
    				policyNo: [[${policyNo}]],
    				invtNo: $(this).find('input[name=invtNo]').val(),
    				upRate: $(this).find('input[name=upRate]').val(),
    				downRate: $(this).find('input[name=downRate]').val()
    			}
    		)
    	})
    	$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : /*[[@{/updateNotifyConfig}]]*/,
			data : JSON.stringify(notifyConfig),
			success : function(response) {
			if(response.result == "SUCCESS"){
				openAlert('更新成功');
					return;
				} else {
				openAlert('更新失敗');
					return;
				}
			},
			error : function() {
				openAlert('系統發生錯誤!');
			},
		});
    })
  });

  // 單位數 / 金額  (單位數/金額：FD－小數4位／RT(台幣)－整數；RT(非台幣)－小數2位
  function showNetUnits(oRow) {
    var netUnits = 0;
    var fractionDigits = 0;
    if (oRow.invtNo.substring(0, 2) == 'RT') {
      if (oRow.invtExchCurr == 'NTD') {
        fractionDigits = 0;
      } else {
        fractionDigits = 4;
      }
      netUnits = oRow.safpNetAmt;
    }
    else if (oRow.invtNo.substring(0, 2) == 'FD') {
      fractionDigits = 4;
      netUnits = oRow.safpNetUnits;
    }
    else{
      fractionDigits = 4;
      netUnits = oRow.safpNetUnits;
    }
    return '<p class="marginTop26">' + formatNumber(netUnits, fractionDigits) +'</p>';
  }

  // 參考淨值/日期
  function showNetValueDate(oRow) {
    var html = '';
    if (oRow.invtNo.substring(0, 2) == 'RT') {
      html = '--';
    }
    else if (oRow.invtNo.substring(0, 2) == 'FD') {
      html += '<p class="marginTop26">' + formatNumber(oRow.netValueSell, 4) +'</p>';
      /* html += '<p class="marginTop26">' + westDate(oRow.netValueDate); +'</p>'; */
      html += '<p class="marginTop26"></p>';
    }
    else{
      /* html += '<p class="marginTop26"><i class="my5" style="margin-left: 0px;">' + formatDate(oRow.netValueDate) + '</i>' + formatNumber(oRow.netValueSell, 4) +'</p>';*/
      html += '<p class="marginTop26">' + formatNumber(oRow.netValueSell, 4) +'</p>';
      html += '<p class="marginTop26"></p>';
    }
    return html;
  }

  // 參考匯率/日期
  function showExchRateDate(oRow) {
    var html = '';
    /* if (oRow.invtExchCurr == 'NTD') {
      html += '<p class="marginTop26">1</p>';
      html += '<p class="marginTop26"></p>';
    } else {
      html += '<p class="marginTop26">' + formatNumber(oRow.exchRateBuy, 4) +'</p>';
      html += '<p class="marginTop26">' + westDate(oRow.exchRateDate); +'</p>';
    } */
    html += '<p class="marginTop26">1.0000</p>';
    html += '<p class="marginTop26"></p>';
    if (s_currency == '') {
      s_currency = formatNumber(oRow.exchRateBuy, 4);
      $('#s_currency').html(s_currency);
    }

    return html;
  }

  // 平均成本
  function showAvgPval(oRow) {
    var fractionDigits = 0;
    if (oRow.invtExchCurr == 'NTD') {
      fractionDigits = 0;
    } else {
      fractionDigits = 2;
    }
    debugger
    return '<p class="marginTop26">' + formatNumber(oRow.ownPval, fractionDigits) +'</p>';
  }

  // 累計投資收益
  function showClupExpeNtdSum(oRow) {
    var fractionDigits = 0;
    if (oRow.invtExchCurr == 'NTD') {
      fractionDigits = 0;
    } else {
      fractionDigits = 2;
    }

    /* return '<p class="marginTop26">' + formatNumber(oRow.clupExpeNtdSum, fractionDigits) +'</p>'; */
    return '<p class="marginTop26">' + formatNumber(oRow.acctValue - oRow.avgPval, fractionDigits) +'</p>';
  }

  // 參考帳戶價值
  function showAcctValue(oRow) {
    var fractionDigits = 0;
    if (oRow.invtExchCurr == 'NTD') {
      fractionDigits = 0;
    } else {
      fractionDigits = 2;
    }

    return '<p class="marginTop26">' + formatNumber(oRow.acctValue, fractionDigits) + '</p>';
  }

  // 參考報酬率(%)
  // 基金編號為RT且保單幣別等於基金幣別時，不顯示參考報酬率
  function showRoiRate(oRow) {
    var html = '';
 	var caluRoiRate = 0;
	if (oRow.avgPval != 0) {
		caluRoiRate = ((oRow.acctValue - oRow.avgPval) / oRow.avgPval * 100);
	}
    console.log(emptyIfNull(oRow.invtNo) + " -> " + formatNumber(caluRoiRate, 4) + "=((" + oRow.acctValue + " - " + oRow.avgPval + ") / " + oRow.avgPval + " * 100)");
    html += '<p class="marginTop26">' + formatNumber(caluRoiRate, 2) +'%</p>';
    return html;
  }

  // 顯示帳戶價值合計
  function showAcctValueSum(grid1) {
    $('#acctValueSum').html(formatNumber(grid1.sumByField('acctValue'), 2));
  }

  function showTotalAvgPval(grid1) {
    $('#t_avgPval').html(formatNumber(grid1.sumByField('avgPval'), 2));
  }

  function showTotalClupExpeSum(grid1) {
    $('#t_clupExpeSum').html(formatNumber(grid1.sumByField('acctValue') - grid1.sumByField('avgPval'), 2));
  }

  function showScurrency(grid1) {
    $('#s_avgPval').html(formatNumber(grid1.sumByField('avgPval') * s_currency, 0));
    $('#s_acctValueSum').html(formatNumber(grid1.sumByField('acctValue') * s_currency, 0));
    $('#s_clupExpeSum').html(formatNumber((grid1.sumByField('acctValue') - grid1.sumByField('avgPval')) * s_currency, 0));
  }

  /*]]>*/
  </script>
</body>
</html>
