<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head"/>
	<title>我的保單｜臺銀人壽保單網路服務</title>
</head>
<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<div th:replace="fragments/header :: majorTabs (funId='mylist1')"></div>
	<section class="grey listing5 fullContent">
		<div class="container bg3 list1">
			<div class="mystyle3 listing-area">
				<div class="row-offcanvas row-offcanvas-left">
					<div th:replace="fragments/policyNoInfo :: policyNoInfo (funId='listing5')"></div>
					<div th:replace="fragments/sidebar :: sidebar (funId='listing5')"></div>
					<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
						<div class="box-border">
							<div class="tb3 top0">
								<i class="fas fa-chevron-down"></i> 保單紅利資料
							</div>
							<div class="wht marginTop20">
								 <table id="listing5" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="text-left">要保險人姓名</th>
											<th>保單年度</th>
											<th>當年度紅利</th>
											<th style="width: 100px;">紅利餘額</th>
											<!-- <th>利息 </th> -->
											<th>給付方式</th>
											<th class="item120">給付日期</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${bonusVoList} != null">
											<th:block th:each="bonusVo, rowStat : ${bonusVoList}">
											<tr class="h65 noEvent">
												<td class="text-left table3">
												    <div th:switch="${nameBase64 != null and nameBase64 != ''}">
												        <div th:case="${false}">
															<th:block th:text="${bonusVo.individualVo != null and bonusVo.individualVo.name != null}
																? ${bonusVo.individualVo.name}"/>
												        </div>
												        <div th:case="${true}">
													        <img width="300" height="23px" th:src="|data:image/svg+xml;base64, ${nameBase64}|" />
												        </div>
													</div>
												</td>
												<td>
													<th:block th:text="${bonusVo.bonusStartDate != null} 
														? ${#dates.format(bonusVo.bonusStartDate, 'yyyy')}"/>
												</td>
												<td>
													<p th:with="bonus=(${bonusVo.bonus != null ? bonusVo.bonus : 0}),bonusRider=(${bonusVo.bonusRider != null ? bonusVo.bonusRider : 0})">
														<th:th:block th:text="${#numbers.formatDecimal(bonus + bonusRider, 0, 'DEFAULT', 0, 'COMMA')}"/>
														<i class="my5">
															<th:block th:text="${bonusVo.policyVo != null and bonusVo.policyVo.currency != null} 
																? ${bonusVo.policyVo.currency}
																: 'NTD'"/>
														</i>
													</p>
												</td>
												<td>
													<p>
														<th:block th:text="${bonusVo.bonusBalance != null} 
															? ${#numbers.formatDecimal(bonusVo.bonusBalance, 0, 'DEFAULT', 0, 'COMMA')}"/>
														<i class="my5">
															<th:block th:text="${bonusVo.policyVo != null and bonusVo.policyVo.currency != null} 
																? ${bonusVo.policyVo.currency}
																: 'NTD'"/>
														</i>
													</p>
												</td>
												<!-- 
												<td class="enThin hide">
													<th:block th:text="${bonusVo.bonusIni != null} 
														? ${bonusVo.bonusIni} 
														: '0'"/>%
												</td>
												 -->
												<td>
													<th:block th:text="${bonusVo.takeCodeDesc != null} 
														? ${bonusVo.takeCodeDesc}"/>
												</td>
												<td>
													<th:block th:text="${bonusVo.takeDate != null} 
														? ${#dates.format(bonusVo.takeDate, 'yyyy/MM/dd')}"/>
												</td>
											</tr>
											</th:block>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
						<div th:replace="fragments/listingReferOnly"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
</body>

</html>