<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li>
		                    <a href="policy-inquiry.html">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="javascript:;">保單詳細資訊</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
									<div th:replace="fragments/policy-nav"></div>
				                    <div class="col-xs-12 col-sm-9 col-md-10" id="list2">
				                        <div class="box-border">
				                            <table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
				                                <thead>
				                                    <div class="tb3 top0">
				                                        <i class="fa foo-angle-down"></i> 繳費紀錄
														<div class="dropdown pull-right r30">
															<a class="btn-return" href="policyQuery">回保單查詢結果清單</a>
														</div>
				                                    </div>
													<div class="my1 marginTop20">
														<p class="pull-left visible-xs">
															<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
														</p>
														<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
														<span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
														<p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span> 保單幣別:<span th:text="${vo.currency}"></span></p>
														<div class="insuranceID_phone" th:text="${policyNo}"></div>
													</div>
				                                  
				                                    <tr class="table2">
				                                        <th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">險種名稱</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">保單號碼</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">要保人</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">被保險人</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">保單幣別</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">繳別</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">繳費方式</th>
				                                    </tr>
				                                </thead>
				                                <tbody>
				                                    <tr class="h65 noEvent">
				                                        <td th:text="${vo.prodName}">
				                                        <td th:text="${policyNo}"></td>
				                                        <td th:text="${vo.lipmName}"></td>
				                                        <td th:text="${vo.lipiName}"></td>
				                                        <td th:text="${vo.currency}"></td>
				                                        <td th:text="${vo.paymentMode}">年繳</td>
				                                        <td th:text="${vo.paymentMethod}"></td>
				                                    </tr> 
				                                </tbody>
				                            </table>
				                            <br>
				                            <table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
				                                <thead>  
				                                    <tr class="table2">
				                                        <th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">繳納日期</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">繳費期別</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">應繳保費</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">實繳保費</th>
				                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">繳費方式</th>
				                                    </tr>
				                                </thead>
				                                <tbody>
				                                    <tr th:each="vo1 : ${vo.paymentRecords}" class="h65 noEvent">
				                                        <td th:text="${vo1.rcpDate}"></td>
				                                        <td th:text="${vo1.desc}"></td>
				                                        <td th:text="${vo1.paabAmt}"></td>
				                                        <td th:text="${vo1.actAmt}"></td>
														<td th:text="${vo.paymentMethod}"></td>
				                                    </tr>
				                                </tbody>
				                            </table>
				                            <div class="ps-area">
				                                <p class="text-ps">※本畫面僅提供六個月內保費資料之查詢，如有其他需求，請與客服中心聯絡</p>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        		
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>

