<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<!--END/.sidebar-offcanvas-->
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 保障內容與金額
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span>
												<p style="margin-left: 40px;margin-top: -15px;">
													保單號碼:<span style="margin-right: 15px;" th:text="${policyNo}"></span>
													要保人:<span style="margin-right: 15px;" th:text="${vo.lipmName}"></span>
													被保險人:<span style="margin-right: 15px;" th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span>
												</p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="mobile-toggle-panel">
												<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2">
														<th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">保險項目</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">保險金額</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">繳費期滿日</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">投保終期</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">應繳保費</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">契約狀態</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">解約生效日 </th>
													</tr>
													</thead>
													<tbody>
													<tr class="h65 noEvent">
														<td th:text="${vo.prodName != null ? vo.prodName : '-'}"></td>
														<td th:text="${vo.mainAmount != null ? vo.mainAmount : '-'}"></td>
														<td th:text="${vo.paymentDueDate != null ? vo.paymentDueDate : '-'}"></td>
														<td th:text="${vo.endDate != null ? vo.endDate : '-'}"></td>
														<td class="enThin" th:text="${vo.lipiTablPrem != null ? vo.lipiTablPrem : '-'}"></td>
														<td class="enThin">
															<span class="mobile-span" th:switch="${vo.status != null ? vo.status : '-'}">
																<th:block th:case="'1'">有效</th:block>
																<th:block th:case="'2'">停效</th:block>
																<th:block th:case="'3'">失效</th:block>
																<th:block th:case="*">-</th:block>
															</span>
														</td>
														<td th:text="${vo.status == '53' ? vo.effectiveDate : '-'}"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="tb3 top0 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-down mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 保障內容
											</div>
											<div class="mobile-toggle-panel toggle-hide">
												<table class="tablesaw tablesaw-stack wht table4row" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2 noEvent">
														<th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist" th:text="${vo.prodName}"></th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="vo1: ${safeGuards}" class="h55 noEvent">
														<td class="text-left" th:text="${vo1.name}"></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="ps-area">
											<p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
