<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<!--END/.sidebar-offcanvas-->
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 保單基本資料
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢結果清單</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
												<p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span></p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="mobile-toggle-panel">
												<div class="row">
													<div class="col-sm-12">
														<div class="col-sm-6 nopd all-left-list">
															<table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
																<tbody>
																<tr class="noEvent borderTop">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">契約狀態</th>
																	<td><b class="tablesaw-cell-label mobile-b">契約狀態</b> <span class="mobile-span">
																		<th:block th:if="${vo.status == '1'}">有效</th:block>
																		<th:block th:if="${vo.status == '2'}">停效</th:block>
																		<th:block th:if="${vo.status == '3'}">失效</th:block>
																	</span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">保險金額</th>
																	<td><b class="tablesaw-cell-label mobile-b">保險金額</b> <span class="mobile-span" th:text="${vo.mainAmount}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">繳費方式</th>
																	<td><b class="tablesaw-cell-label mobile-b">繳費方式</b> <span class="mobile-span" th:text="${vo.paymentMethod != null ? session.SYSTEM_PARAMETER['PAYMENT_METHOD_TYPE'][vo.paymentMethod].parameterValue : ''}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">應繳保費</th>
																	<td th:onclick="'javascript:postPolicyListType(\'' + @{/listing3} + '\', \'' + ${policyNo} + '\')'"><b class="tablesaw-cell-label mobile-b">應繳保費</b><span class="mobile-span" th:text="${vo.lipiTablPrem}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">是否勾選自動墊繳保費 </th>
																	<td><b class="tablesaw-cell-label mobile-b">是否勾選自動墊繳保費 </b> <span class="mobile-span" th:text="${vo.autoMk == 'Y' ? '是' : '否' }"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">招攬單位分支機構 </th>
																	<td><b class="tablesaw-cell-label mobile-b">招攬單位分支機構 </b> <span class="mobile-span" th:text="${vo.branchName}"></span></td>
																</tr>
																</tbody>
															</table>
														</div>
														<div class="col-sm-6 nopd all-left-list">
															<table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
																<tbody>
																<tr class="noEvent borderTop">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">繳別</th>
																	<td><b class="tablesaw-cell-label mobile-b">繳別</b> <span class="mobile-span" th:text="${vo.paymentMode != null ? session.SYSTEM_PARAMETER['PAYMODE_TYPE'][vo.paymentMode].parameterValue : ''}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">投保始期</th>
																	<td><b class="tablesaw-cell-label mobile-b">投保始期</b> <span class="mobile-span" th:text="${vo.beginDate}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">繳費期滿日</th>
																	<td><b class="tablesaw-cell-label mobile-b">繳費期滿日</b> <span class="mobile-span" th:text="${vo.endDate}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">電子表單</th>
																	<td><b class="tablesaw-cell-label mobile-b">電子表單</b> <span class="mobile-span" th:text="${vo.pmdaEpoMk != null ? vo.pmdaEpoMk : 'N'}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">集彙申請</th>
																	<td><b class="tablesaw-cell-label mobile-b">集彙申請</b> <span class="mobile-span" th:text="${vo.lipmGp == null ? '' : vo.lipmGp}"></span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">保單簽收日 </th>
																	<td><b class="tablesaw-cell-label mobile-b">保單簽收日 </b> <span class="mobile-span">
																		<th:block th:if="${vo.assnStatus == 'B'}" th:text="${vo.assnDate}"></th:block>
																		<th:block th:if="${vo.pmdaMail == '3' or vo.pmdaMail == '4'}" th:text="${vo.assnTrDate}"></th:block>
																	</span></td>
																</tr>
																<tr class="noEvent">
																	<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">出單日 </th>
																	<td><b class="tablesaw-cell-label mobile-b">出單日 </b> <span class="mobile-span" th:text="${vo.printDate}"></span></td>
																</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="clearfix"></div>
												<div class="ps-area">
													<p class="text-ps">※投資型保單之附約保費，係由保單帳戶價值按月扣除之</p>
												</div>
											</div>

											<!-- <div class="ps-area">
                                                <p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
                                                </p>
                                            </div> -->
											<div class="col-sm-12">
												<div class="col-sm-6">
													<!--要保人-->
													<div class="tb3 top0 mobile-toggle" data-toggle="true">
														<i class="fa hid2 foo-angle-down mobile"></i>
														<i class="fa foo-angle-up hid1"></i> 要保人
													</div>
													<div class="mobile-toggle-panel toggle-hide">
														<table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
															<tbody>
															<tr class="noEvent borderTop">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">姓名</th>
																<td><b class="tablesaw-cell-label mobile-b">姓名</b> <span class="mobile-span" th:text="${vo.lipmName}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">身分證字號</th>
																<td><b class="tablesaw-cell-label mobile-b">身分證字號</b> <span class="mobile-span" th:text="${vo.lipmId}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">生日</th>
																<td><b class="tablesaw-cell-label mobile-b">生日</b> <span class="mobile-span" th:text="${vo.lipmBirth}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">電話</th>
																<td><b class="tablesaw-cell-label mobile-b">電話</b> <span class="mobile-span" th:text="${vo.lipmTelH}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">行動電話 </th>
																<td><b class="tablesaw-cell-label mobile-b">行動電話 </b> <span class="mobile-span" th:text="${vo.lipmPhone}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">電子信箱 </th>
																<td><b class="tablesaw-cell-label mobile-b">電子信箱 </b> <span class="mobile-span" th:text="${vo.lipmMail}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">通訊地址 </th>
																<td><b class="tablesaw-cell-label mobile-b">通訊地址 </b> <span class="mobile-span"  th:text="${vo.lipmAddr}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">要保地址 </th>
																<td><b class="tablesaw-cell-label mobile-b">要保地址 </b> <span class="mobile-span"  th:text="${vo.lipmAddr}"></span></td>
															</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="col-sm-6">
													<!--END 要保人-->
													<div class="tb3 top0 mobile-toggle" data-toggle="true">
														<i class="fa hid2 foo-angle-down mobile"></i>
														<i class="fa foo-angle-up hid1"></i> 被保人
													</div>
													<div class="mobile-toggle-panel toggle-hide">
														<table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
															<tbody>
															<tr class="noEvent borderTop">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">姓名</th>
																<td><b class="tablesaw-cell-label mobile-b">姓名</b> <span class="mobile-span" th:text="${vo.lipiName}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">身分證字號</th>
																<td><b class="tablesaw-cell-label mobile-b">身分證字號</b> <span class="mobile-span" th:text="${vo.lipiId}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">生日</th>
																<td><b class="tablesaw-cell-label mobile-b">生日</b> <span class="mobile-span" th:text="${vo.lipiBirth}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">投保年齡</th>
																<td><b class="tablesaw-cell-label mobile-b">投保年齡</b> <span class="mobile-span" th:text="${vo.lipiAge}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">性別 </th>
																<td><b class="tablesaw-cell-label mobile-b">性別 </b> <span class="mobile-span" th:text="${vo.lipiSex == 'M' ? '男' : '女'}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">電話 </th>
																<td><b class="tablesaw-cell-label mobile-b">電話 </b> <span class="mobile-span" th:text="${vo.pmdaPiTel}"></span></td>
															</tr>
															<tr class="noEvent">
																<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">行動電話 </th>
																<td><b class="tablesaw-cell-label mobile-b">行動電話 </b> <span class="mobile-span" th:text="${vo.lipmPhone}"></span></td>
															</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="tb3 top0 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-down mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 受益人
											</div>
											<div class="mobile-toggle-panel toggle-hide">
												<table class="tablesaw tablesaw-stack wht table4row" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2 noEvent">
														<th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">受益人</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">關係</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">受益種類</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">受益順號</th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="vo1 : ${vo.beneficiaries}" class="h65 noEvent">
														<td class="text-left" th:text="${vo1.lipbName}"></td>
														<td th:text="${vo1.rela}"></td>
														<td th:text="${vo1.code != null ? session.SYSTEM_PARAMETER['BENEFICIARY_TYPE'][vo1.code].parameterValue : ''}">
														</td>
														<td th:text="${vo1.seq}"></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="ps-area">
											<p class="text-ps">※本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準；保單相關內容，亦以本公司作業規定及保單條款約定為準
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
