<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div th:replace="fragments/header :: loadingModal"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 交易歷史記錄
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span>
												<p style="margin-left: 40px;margin-top: -15px;">
													保單號碼:<span style="margin-right: 15px;" th:text="${policyNo}"></span>
													要保人:<span style="margin-right: 15px;" th:text="${vo.lipmName}"></span>
													被保險人:<span style="margin-right: 15px;" th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY_JD'][vo.currency].parameterValue : ''}"></span>
												</p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="tb3 top0 mobile-toggle hide" data-toggle="true">
												<i class="fa hid2 foo-angle-down mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 交易總覽
											</div>
											<div class="mobile-toggle-panel specialHeight toggle-hide hide">
												<div class="tablesaw-bar mode-stack"></div>
												<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack" id="table-7335">
													<thead>
													<tr class="table2">
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" style="width: 20%;">交易代號</th>
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" style="width: 50%;">交易類別</th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="text-right" style="width: 30%;">累計金額</th>
														<th></th>
													</tr>
													</thead>
													<tbody>
													<tr class="h65 tr-odd-noEvent">
														<td class="text-left"><b class="tablesaw-cell-label">交易代號</b><span class="tablesaw-cell-content">ADM</span></td>
														<td class="text-left"><b class="tablesaw-cell-label">交易類別</b><span class="tablesaw-cell-content">保單管理費(保單帳戶費用)</span></td>
														<td><b class="tablesaw-cell-label">累計金額</b><span class="tablesaw-cell-content">235,000<i class="my5">NTD</i></span></td>
														<td></td>
													</tr>
													<tr class="h65 noEvent">
														<td class="text-left"><b class="tablesaw-cell-label">交易代號</b><span class="tablesaw-cell-content">DEP</span></td>
														<td class="text-left"><b class="tablesaw-cell-label">交易類別</b><span class="tablesaw-cell-content">保費</span></td>
														<td><b class="tablesaw-cell-label">累計金額</b><span class="tablesaw-cell-content">3,000<i class="my5">NTD</i></span></td>
														<td></td>
													</tr>
													</tbody>
												</table>
												<div class="ps-area">
													<p class="text-ps">※累計金額係各項交易於指定日期區間交易金額之加總</p>
												</div>
											</div>
											<div class="tb3 top0 mobile-toggle" data-toggle="true">
												<i class="fas fa-chevron-down hid2 mobile"></i>
												<i class="fas fa-chevron-up hid1"></i> 交易明細
											</div>
											<div class="mobile-toggle-panel specialHeight toggle-hide">
												<div class="tablesaw-bar mode-stack"></div>
												<table id="grid1" class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2">
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">日期</th>
														<th style="width: 120px;" class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" >投資標的</th>
														<th style="width: 120px;" class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" >交易類別</th>
														<th class="text-center" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" >單位數<br/><span class="point">(1)</span></th>
														<th class="text-center" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="5" >淨值<br/><span class="point">(2)</span></th>
														<th class="item90 text-center" 	scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="6" style="width: 130px;">匯率使用日<hr class="splitLine">參考匯率<br/><span class="point">(3)</span></th>
														<th style="width: 140px;" class="item90 text-center" 	scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="7">合計<br/><span class="point">(4)=(1)*(2)*(3)</span></th>
													</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
											<div class="col-md-12 wht box-border no-borderTop">
												<div class="col-md-5 col-md-offset-5">
													<nav>
														<ul class="pagination center1">
															<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一頁</span></a></li>
															<li class=""><a href="#">1 <span class="sr-only">(current)</span></a></li>
															<li class="disabled"><a href="#" aria-label="next"><span aria-hidden="true">下一頁</span></a></li>
														</ul>
													</nav>
												</div>
											</div>
										</div>
										<div class="ps-area">
											<p class="text-ps">※本畫面僅提供三年內交易歷史資料之查詢，如有其他需求請洽客戶服務專線 0800-011-966
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer th:replace="fragments/footer"></footer>
<script th:inline="javascript">
	/*<![CDATA[*/
	var grid1;
	$(function() {

		showLoadingModal();
		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy/mm/dd'
		});

		// 取得交易類別下拉選單
		eserviceOption.common('#trCode', /*[[@{/getTransactionCodeList}]]*/);

		// 建立交易歷史 grid
		grid1 = new eserviceGrid();
		grid1.sGridId = '#grid1';
		grid1.sQueryUrl = /*[[@{/getTxLogList?policyNo=} + ${policyNo} + @{&currency=} + ${vo.currency}]]*/;
		grid1.sRowClass = 'h65';
		grid1.aoColumns = [
			{
				// 日期
				'fnRender': function(oRow) {
					return oRow.sadpTrDate;
				},
				'tdClass': 'enThin text-left',
				'rwdName': '日期'
			},
			{
				// 投資標的名稱
				'fnRender': function(oRow) {
					return emptyIfNull(oRow.invtName) + '(' + emptyIfNull(oRow.invtNo) + ')';
				},
				'tdClass': 'enThin text-left',
				'rwdName': '投資標的名稱'
			},
			{
				// 交易類別
				'fnRender': function(oRow) {
					return getSadpTrCodeName(oRow.sadpTrCode);
				},
				'tdClass': 'enThin text-left',
				'rwdName': '交易類別'
			},
			{
				// 單位數
				'fnRender': function(oRow) {
					var fractionDigits = 0;
					if (emptyIfNull(oRow.invtNo).indexOf('RT') != -1) {
						if (emptyIfNull(oRow.invtExchCurr) == 'NTD') {
							fractionDigits = 0;
						} else {
							fractionDigits = 2;
						}
					} else {
						fractionDigits = 4;
					}
					return formatNumber(oRow.sadpTrUnits, fractionDigits);
				},
				'rwdName': '單位數'
			},
			{
				// 淨值
				'fnRender': function(oRow) {
					// 交易類別為基金收益投入時，不顯示淨值、匯率、合計
					if (emptyIfNull(oRow.sadpTrCode) == 'INV109') {
						return '--';
					}
					if (oRow.netValue == null || oRow.netValue == 0) {
						return '--';
					} else {
						return showNumberPointValue(oRow.netValue);
					}
				},
				'rwdName': '淨值'
			},
			{
				// 匯率
				'fnRender': function(oRow) {
					// 台幣匯率直接為1
					var rate = '';
					if (emptyIfNull(oRow.sadpTrCode) == 'INV109') {
						rate = '--';
					}
					if (emptyIfNull(oRow.invtExchCurr) == 'NTD') {
						rate = '1';
					} if (oRow.exchRate == null || oRow.exchRate == 0) {
						rate = '--';
					} else {
						rate = showNumberPointValue(oRow.exchRate);
					}
					return '<span>'+oRow.sadpExchDate+'</span><hr class="splitLine">'+rate;
				},
				'rwdName': '匯率使用日<hr class="splitLine">匯率'
			},
			{
				// 合計
				'fnRender': function(oRow) {
					var totalValue = 0;
					try {
						if (emptyIfNull(oRow.invtExchCurr) == 'NTD') {
							totalValue = emptyDefaultValue(oRow.sadpTrUnits, 0) * emptyDefaultValue(oRow.fundValue, 0) * 1;
						} else {
							totalValue = emptyDefaultValue(oRow.sadpTrUnits, 0) * emptyDefaultValue(oRow.fundValue, 0) * emptyDefaultValue(oRow.exchRate, 0);
						}
					} catch(err) {
						totalValue = 0;
					}

					// 合計部分若為新台幣，請四捨五入至整數位
					if (emptyIfNull(oRow.invtExchCurr) == 'NTD') {
						return accounting.toFixed(totalValue, 0);
					} else {
						return formatNumber(totalValue, 2);
					}
				},
				'rwdName': '合計'
			}
		];
		grid1.queryByPage(1);

		// 查詢
		$('#searchBtn').click(function() {
			if ($('#startDate').val() != '' && $('#endDate').val() != '') {
				if ($('#startDate').val() > $('#endDate').val()) {
					//openAlert('結束日期不能小於開始日期');
					openAlert($('#E0003').val());
					return false;
				}
			}

			grid1.setPostData('startDate', $('#startDate').val());
			grid1.setPostData('endDate', $('#endDate').val());
			grid1.setPostData('trCode', $('#trCode').val());
			grid1.queryByPage(1);
		});
	});

	// 分頁查詢
	function queryDataByPage(pageNum) {
		grid1.queryByPage(pageNum);
	}

	// 取得幣別名稱
	function getcurrencyName(currency) {
		var currencyName = emptyIfNull(currency);
		$.each(/*[[${session.SYSTEM_PARAMETER['CURRENCY_JD']}]]*/, function(i, obj) {
			if (obj.parameterCode == currency) {
				currencyName = emptyIfNull(obj.parameterName);
				return;
			}
		});

		return currencyName;
	}

	// 取得交易類別名稱
	function getSadpTrCodeName(sadpTrCode) {
		var sadpTrCodeName = emptyIfNull(sadpTrCode);
		$.each(/*[[${session.SYSTEM_PARAMETER['TRANSACTION_CODE_JD']}]]*/, function(i, obj) {
			if (obj.parameterCode == sadpTrCode) {
				sadpTrCodeName = emptyIfNull(obj.parameterName);
				return;
			}
		});
		return sadpTrCodeName;
	}

	function emptyIfNull(obj) {
		return (obj == null ? '' : obj)
	}
	/*]]>*/
	</script>
</body>
</html>
