<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 保單收益分配
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span>
												<p style="margin-left: 40px;margin-top: -15px;">
													保單號碼:<span style="margin-right: 15px;" th:text="${policyNo}"></span>
													要保人:<span style="margin-right: 15px;" th:text="${vo.lipmName}"></span>
													被保險人:<span style="margin-right: 15px;" th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span>
												</p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div style="padding: 20px;background: #FFFFFF;">
												累計單位撥回數：<span style="margin-right: 30px;" th:text="${#numbers.formatDecimal((sumUnits != null ? sumUnits : 0), 1,'COMMA',4,'POINT')}"></span> 累計現金撥回金額：<span style="margin-right: 30px;" th:text="${sumAmount}"></span>
											</div>
											<div class="wht">
												<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
													<thead>
													<tr>
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">基準日<br></th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">發放日<br></th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="3" width="120">帳戶單位<br></th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4">撥回率<br></th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="5">匯率使用日<hr class="splitLine">參考匯率 <br></th>
														<th scope="col" data-tablesaw-priority="7">撥回方式<br></th>
														<th scope="col" data-tablesaw-priority="8">單位數<br></th>
														<th scope="col" data-tablesaw-priority="9">現金<br></th>
														<th class="text-left" scope="col" data-tablesaw-priority="10">電匯日期</th>
													</tr>
													</thead>
													<tbody>
													<tr class="h65 noEvent" th:each="vo1 : ${info}">
														<td class="text-left table3" style="width:100px">
															<span th:text="${vo1.invtName != null ? vo1.invtName : '-'}"></span>
															<p class="enSmall" th:text="${vo1.invtNo != null ? vo1.invtNo : '-'}"></p>
														</td>
														<td>
															<span class="enSmall enSmallDate" th:text="${vo1.compuDate != null ? vo1.compuDate : '-'}"></span>
														</td>
														<td>
															<span class="enSmall enSmallDate" th:text="${vo1.trDate != null ? vo1.trDate : '-'}"></span>
														</td>
														<td>
															<p class="marginTop25" th:text="${vo1.expeUnits != null ? vo1.expeUnits  : '-'}"></p>
														</td>
														<td>
															<span class="enSmall enSmallDate" th:text="${vo1.inprRate != null ? vo1.inprRate : '-'}"></span>
														</td>
														<td>
															<span th:text="${vo1.trDate != null ? vo1.trDate : '-'}"></span>
															<hr class="splitLine">
															<p class="marginTop25 enSmall enSmallDate" th:text="${vo1.exchRate != null ? vo1.exchRate : '-'}"></p>
														</td>
														<td class="text-left table3" style="width:100px" th:switch="${vo1.trCode}">
															<th:block th:case="'01'">現金</th:block>
															<th:block th:case="'00'">再投資</th:block>
															<th:block th:case="*">-</th:block>
														</td>
														<td class="text-left " th:text="${#numbers.formatDecimal((vo1.units != null ? vo1.units : 0), 1,'COMMA',4,'POINT')}">
														</td>
														<td class="text-left " th:text="${vo1.expeNtd != null ? vo1.expeNtd : '-'}">
														</td>
														<td class="text-left " th:text="${vo1.payDate != null ? vo1.payDate : '-'}">
														</td>
													</tr>
													</tbody>
												</table>
												<div class="ps-area">
													<p class="text-ps">※所有數值顯示至小數第二位，因系統實際計算至小數第六位，故參考帳戶價值可能會有些微誤差</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer></script>
</body>
</html>
