<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li>
		                    <a href="policy-inquiry.html">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="javascript:;">保單詳細資訊</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
				        <div class="bg3 list1">
				            <div class="mycigna3 listing-area">
				                <div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
				                    <div class="col-xs-12 col-sm-9 col-md-10" id="list2">
				                        <div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 生存/滿期給付資料
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="policyQuery">回保單查詢結果清單</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
												<p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span></p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
				                            <div class="wht">
				                                 <table id="listing5" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" cellspacing="0" width="100%">
				                                    <thead>
				                                        <tr>
				                                            <th class="text-left">給付種類</th>
				                                            <th>實付金額</th>
				                                            <th>受款人</th> 
				                                            <th>給付方式</th>
				                                            <th>給付日期</th>
				                                            <th>匯款資訊</th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                        <tr class="h65 noEvent" th:each="vo1: ${vo.payments}">
				                                            <td th:text="${vo1.payReas != null ? session.SYSTEM_PARAMETER['LIPAYF_REAS'][vo1.payReas].parameterValue : ''}"></td>
				                                            <td th:text="${vo1.payAmount}"></td>
				                                            <td th:text="${vo1.payName}"></td>
				                                            <td th:text="${vo1.payMethod != null ? session.SYSTEM_PARAMETER['LIPAYF_METH'][vo1.payMethod].parameterValue : ''}"></td>
				                                            <td th:text="${vo1.bookDate}"></td>
															<td><span class="tablesaw-cell-content">
				                                                <th:block th:text="${vo1.bankCode}"></th:block><br>
				                                                <th:block th:text="${vo1.remitAt}"></th:block>
				                                            </span></td>
				                                        </tr>
				                                    </tbody>
				                                </table>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer></script>
</body>
</html>

