<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policy-inquiry.html">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 投資損益及投報率
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="policyQuery">回保單查詢結果清單</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
												<p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span> 保單幣別:<span th:text="${vo.currency}"></span></p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="wht">
												<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
													<thead>
													<div style="padding: 20px;">計算至 年/月/日 止</div>
													<tr class="table2">
														<th> 投資標的</th>
														<th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">幣別</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">投資<br>效益<br>等級</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">持有成本(A)</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">單位數<br>金額(B)<br></th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">參考净值(C) </th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">匯率使用日<hr style="margin: 0;">參考匯率 </th>

														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">參考帳戶價值<br/>(E=B*C*D)</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8">累計投資收益<br>(F=E-A)</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="10">參考<br>報酬率(%)</th>
													</tr>
													</thead>
													<tbody>
													<tr >
														<td>
															百達基金(盧森堡)生物科技
															<p class="enSmall">(CPES1)</p>
														</td>
														<td>
															美金
														</td>
														<td>
															RR2
														</td>
														<td>
															<p class="marginTop26">43.000</p>
														</td>
														<td>
															<p class="marginTop26">123.81</p>
															<p class="marginTop26"00</p>
														</td>
														<td>
															<p class="marginTop26">32.09</p>
														</td>
														<td>
															<p class="marginTop26">2014/11/10
															<p class="marginTop25 enSmall enSmallDate">26.1633</p></p>
														</td>
														<td>
															<p class="marginTop26">15122</p>
														</td>
														<td>
															<p class="marginTop26">15122</p>
														</td>
														<td>
															<p class="marginTop26">3%</p>
														</td>
													</tr>
													<tr class="h80 tr-blue tr-total">
														<td class="text-left table3">總計</td>
														<td class="hid1 hid2"></td>
														<td class="hid1 hid2"></td>
														<td class="hid1 hid2">
															<p><span class="point"></span></p>
														</td>
														<td class="hid1 hid2"></td>
														<td class="hid1 hid2"></td>
														<td class="hid1 hid2"></td>
														<td class="hid1 hid2"><span class="point"></span></td>
														<td>278,567<i class="my5">NTD</i></td>
														<td class="hid1 hid2"></td>
													</tr>
													</tbody>
												</table>
												<div class="statement1 wht">
													<p class="text-ps">備註：</p>
													<ol class="text-ps">
														<li>所有數值顯示至小數第二位，因系統實際計算至小數第六位，故參考帳戶價值可能會有些微誤差</li>
														<li>平均單位淨值＝[(前期末單位數 X 前期末平均單位淨值) +當期申購金額] / (前期末單位數+當期申購單位數)</li>
														<li>總平均報酬率 = 累計各基金之[(A*B)/(A*C)]-1</li>
														<li>現金配息不列入平均報酬率之計算</li>
														<li>
															若投資標的仍有結餘單位數，而平均單位淨值顯示為 0 者，係因該投資標的全數結清後，在途之收益分配實際配入該投資標的所產生，故不列入平均單位淨值之計算，該投資標的之平均報酬率以 NA 表示
														</li>
														<li>本網頁資料僅供參考，若因電腦系統作業問題致與實際資料不符，應以本公司實際資料為準</li>
													</ol>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer></script>
</body>
</html>