<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div class="row-offcanvas row-offcanvas-left">
									<div th:replace="fragments/policy-nav"></div>
									<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
										<div class="box-border">
											<div class="tb3 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-up mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 保費費用
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span>
												<p style="margin-left: 40px;margin-top: -15px;">
													保單號碼:<span style="margin-right: 15px;" th:text="${policyNo}"></span>
													要保人:<span style="margin-right: 15px;" th:text="${vo.lipmName}"></span>
													被保險人:<span style="margin-right: 15px;" th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span>
												</p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
<!--											<div class="wht">-->
<!--												<form class="form-inline grey wht" id="collapseSearchBar">-->
<!--													<div class="col-sm-12 input-inline text-right">-->
<!--														<div>-->
<!--															<label>日期</label>-->
<!--															<input id="startDate" type="text" class="datepicker" placeholder="YYYY/MM/DD" autocomplete="off"/>-->
<!--															<br class="hid2"/><span class="dateFix">至</span>-->
<!--															<input id="endDate" type="text" class="datepicker" placeholder="YYYY/MM/DD" autocomplete="off"/>-->
<!--															<button id="searchBtn" type="button" class="btn-form btn-search">搜尋</button>-->
<!--														</div>-->
<!--													</div>-->
<!--												</form>-->
<!--											</div>-->
											<div class="tb3 top0 mobile-toggle" data-toggle="true">
												<i class="fas fa-chevron-down hid2 mobile"></i>
												<i class="fas fa-chevron-up hid1"></i> 交易明細
											</div>
											<div class="mobile-toggle-panel specialHeight toggle-hide">
												<table id="grid1" class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2">
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">交易日期</th>
														<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">實繳金額</th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="left">(-)保費費用</th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="6" class="text-left">(+)利息</th>
														<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="7" class="text-left">(=)實繳金額</th>
													</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
											<div class="col-md-12 wht box-border no-borderTop">
												<div class="col-md-5 col-md-offset-5">
													<nav>
														<ul class="pagination center1">
															<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一頁</span></a></li>
															<li class=""><a href="#">1 <span class="sr-only">(current)</span></a></li>
															<li class="disabled"><a href="#" aria-label="next"><span aria-hidden="true">下一頁</span></a></li>
														</ul>
													</nav>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer th:replace="fragments/footer"></footer></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var grid1;
	var policyType = /*[[${#strings.substring(param.policyNo[0],0,2)}]]*/;
	var fractionDigits = 0;
	if (policyType == 'UH') {
		fractionDigits = 2;
	}

	$(function() {

		hideLoadingModal();

		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy/mm/dd'
		});

		// 建立保費費用 grid
		grid1 = new eserviceGrid();
		grid1.sGridId = '#grid1';
		grid1.sQueryUrl = /*[[@{/getPremTransList?policyNo=} + ${param.policyNo[0]}]]*/;
		grid1.sRowClass = 'h65';
		grid1.aoColumns = [
			{
				// 交易日期
				'fnRender': function(oRow) {
					return oRow.prdtBookDate;
				},
				'tdClass': 'enThin text-left',
				'rwdName': '交易日期'
			},
			{
				'fnRender': function(oRow) {
					return formatNumber(oRow.prdtRcpAmt, fractionDigits);
				},
				'tdClass': 'enThin text-left',
				'rwdName': '實繳金額'
			},
			{
				'fnRender': function(oRow) {
					return formatNumber(oRow.cost, fractionDigits);
				},
				'rwdName': '保費費用'
			},
			{
				// (+)利息
				'fnRender': function(oRow) {
					return formatNumber(oRow.prdtInvestAmt, fractionDigits);
				},
				'rwdName': '(+)利息'
			},
			{
				// (=)實繳金額
				'fnRender': function(oRow) {
					return formatNumber(oRow.prdtRcpAmt, fractionDigits);
				},
				'rwdName': '(=)實繳金額'
			}
		];
		grid1.fnInitComplete = function() {
			if (grid1.rownum() == 0) {
				openAlert('查無資料');
				return false;
			}
		};

		grid1.queryByPage(1);

		// 查詢
		$('#searchBtn').click(function() {
			if ($('#startDate').val() != '' && $('#endDate').val() != '') {
				if ($('#startDate').val() > $('#endDate').val()) {
					//openAlert('結束日期不能小於開始日期');
					openAlert($('#E0003').val());
					return false;
				}
			}

			grid1.setPostData('startDate', $('#startDate').val());
			grid1.setPostData('endDate', $('#endDate').val());
			grid1.queryByPage(1);
		});
	});

	function queryDataByPage(pageNum) {
		grid1.queryByPage(pageNum);
	}
	/*]]>*/
	</script>
</body>
</html>
