<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
	<div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
					<ul class="breadcrumb detail1">
						<li>
							<a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li>
							<a href="policy-inquiry.html">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
						</li>
						<li class="active">
							<a href="javascript:;">保單詳細資訊</a>
						</li>
					</ul>
				</div>
				<div class="row mb-4" style="padding: 0 15px">
					<!---->
					<div class="grey listing1 fullContent">
						<div class="bg3 list1">
							<div class="mycigna3 listing-area">
								<div th:replace="fragments/policy-nav"></div>
								<div class="col-xs-12 col-sm-9 col-md-10" id="list2">
									<div class="box-border">
										<table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
											<thead>
											<div class="tb3 top0">
												<i class="fa foo-angle-down"></i> 解約金試算
												<div class="dropdown pull-right r30">
													<a class="btn-return" href="returnPolicy">回保單查詢結果清單</a>
												</div>
											</div>
											<div class="my1 marginTop20">
												<p class="pull-left visible-xs">
													<button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
												</p>
												<i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
												<span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
												<p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span>
													保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span></p>
												<div class="insuranceID_phone" th:text="${policyNo}"></div>
											</div>
											<div class="col-sm-12 nopd all-left-list">
												<table class="tablesaw tablesaw-stack no-border wht col-table" data-tablesaw-mode="stack">
													<tbody>
													<tr class="noEvent borderTop">
														<th class="hid1 hid2" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">解約金試算</th>
														<td><b class="tablesaw-cell-label mobile-b">解約金試算</b> <span class="mobile-span">計算至 <th:block th:text="${amountVo.policyDate}"></th:block> 止</span></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="tb3 top0 mobile-toggle" data-toggle="true">
												<i class="fa hid2 foo-angle-down mobile"></i>
												<i class="fa foo-angle-up hid1"></i> 預估解約金試算
											</div>
											<div class="mobile-toggle-panel toggle-hide">
												<table class="tablesaw tablesaw-stack wht table4row" data-tablesaw-mode="stack">
													<thead>
													<tr class="table2 noEvent">
														<th class="text-left" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">保單(帳戶)價值</th>
														<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">預估解約金額</th>
													</tr>
													</thead>
													<tbody>
													<tr class="h55 noEvent" th:each="vo1: ${cancelMoneys}">
														<td class="text-left">
															<th:block th:text="${amountVo.policyVal != null} ? ${#numbers.formatDecimal(amountVo.policyVal, 0, 'DEFAULT', 4, 'POINT')} : 0 "></th:block>
														</td>
														<td th:text="${vo1.FSZ2_AMT}"></td>
													</tr>
													</tbody>
												</table>
											</div>
											</tbody>
										</table>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>