<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
    <div th:replace="fragments/header :: top"></div>
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
        <div class="content">
            <div class="page-inner">
                <div class="mt-2 mb-4">
                    <ul class="breadcrumb detail1">
                        <li>
                            <a href="#">保單管理 </a> <i class="fa fa-angle-right fa-lg ble"></i>
                        </li>
                        <li>
                            <a href="policyQuery">保單查詢</a> <i class="fa fa-angle-right fa-lg ble"></i>
                        </li>
                        <li class="active">
                            <a href="javascript:;">保單詳細資訊</a>
                        </li>
                    </ul>
                </div>
                <div class="row mb-4" style="padding: 0 15px">
                    <div class="grey listing1 fullContent">
                        <div class="bg3 list1">
                            <div class="mycigna3 listing-area">
                                <div class="row-offcanvas row-offcanvas-left">
                                    <div th:replace="fragments/policy-nav"></div>
                                    <div class="col-xs-12 col-sm-9 col-md-10" id="list2">
                                        <div class="box-border">
                                            <div class="tb3 mobile-toggle" data-toggle="true">
                                                <i class="fa hid2 foo-angle-up mobile"></i>
                                                <i class="fa foo-angle-up hid1"></i> 投資標的淨值
                                                <div class="dropdown pull-right r30">
                                                    <a class="btn-return" href="returnPolicy">回保單查詢結果清單</a>
                                                </div>
                                            </div>
                                            <div class="my1 marginTop20">
                                                <p class="pull-left visible-xs">
                                                    <button type="button" class="btn btn-xs" data-toggle="offcanvas" id="tog-nav"><i class="fa fa-bars fa-2x"></i></button>
                                                </p>
                                                <i class="foo-business_7 foo-2x hidden-xs"></i><span th:text="${vo.prodName}"></span>
                                                <span class=""></span><span class="insuranceID_pc" th:text="${policyNo}"></span>
                                                <p style="margin-left: 40px;margin-top: -15px;">保單號碼:<span th:text="${policyNo}"></span> 要保人:<span th:text="${vo.lipmName}"></span> 被保險人:<span th:text="${vo.lipiName}"></span>
                                                    保單幣別:<span th:text="${vo.currency != null ? session.SYSTEM_PARAMETER['CURRENCY'][vo.currency].parameterValue : ''}"></span></p>
                                                <div class="insuranceID_phone" th:text="${policyNo}"></div>
                                            </div>
                                            <div class="wht">
                                                <div id="policyInfoDiv" class="col-md-12 down20"
                                                     style="padding-bottom: 0px">
                                                    <table class="tablesaw tablesaw-stack no-border wht col-table"
                                                           data-tablesaw-mode="stack">
                                                        <tr class="noEvent">
                                                            <th class="hid1 hid2" scope="col">基金名稱</th>
                                                            <td>
                                                                <b class="tablesaw-cell-label mobile-b">基金名稱</b>
                                                                <span class="mobile-span">
												<div class="selector-box">
													<select id="invtList" class="selector" title="請選擇基金">
														<option value="">請選擇基金...</option>
														<th:block th:each="portfolioVo : ${portfolioList}">
															<option th:value="${portfolioVo.invtNo}"
                                                                    th:attr="data-exchcurr=${portfolioVo.invtExchCurr},data-exchcurrname=${portfolioVo.currency},data-invtname=${portfolioVo.invtName},data-riskbenelevel=${portfolioVo.riskBeneLevel}">
																<th:block th:text="${portfolioVo.invtName}"/>
															</option>
														</th:block>
													</select>
												</div>
												</span>
                                                            </td>
                                                            <th class="hid1 hid2" scope="col">基金幣別</th>
                                                            <td id="invtExchCurrNameTd">
                                                            </td>
                                                            <th class="hid1 hid2" scope="col">風險收益等級</th>
                                                            <td id="riskBeneLevelTd">
                                                            </td>
                                                        </tr>
                                                        <tr class="noEvent">
                                                            <th class="hid1 hid2" scope="col">查詢區間</th>
                                                            <td colspan="5">
                                                                <div class="col-sm-12" style="padding-left: 0px">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <div class="radio-btn checkedRadio">
                                                                                <i>
                                                                                    <input type="radio"
                                                                                           name="qryRadioType" value="A"
                                                                                           title="最近一個營業日"
                                                                                           checked="checked"/>
                                                                                </i>
                                                                            </div>
                                                                            最近一個月走勢圖
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12" style="padding-left: 0px">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <div class="radio-btn">
                                                                                <i>
                                                                                    <input type="radio"
                                                                                           name="qryRadioType" value="B"
                                                                                           title="最近三個月走勢圖"/>
                                                                                </i>
                                                                            </div>
                                                                            最近三個月走勢圖
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12" style="padding-left: 0px">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <div class="radio-btn">
                                                                                <i>
                                                                                    <input type="radio"
                                                                                           name="qryRadioType" value="C"
                                                                                           title="指定年月"/>
                                                                                </i>
                                                                            </div>
                                                                            指定年月
                                                                        </label>
                                                                        <label>
                                                                            <div style="width: 100px">
                                                                                <div class="selector-box">
                                                                                    <select id="qryYear"
                                                                                            class="selector"
                                                                                            title="請選擇年份">
                                                                                        <th:block
                                                                                                th:each="year : ${rocYearMenu}">
                                                                                            <option th:value="${year}">
                                                                                                <th:block
                                                                                                        th:text="${year}"/>
                                                                                            </option>
                                                                                        </th:block>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </label>&nbsp;年&nbsp;
                                                                        <label>
                                                                            <div style="width: 100px">
                                                                                <div class="selector-box">
                                                                                    <select id="qryMonth"
                                                                                            class="selector"
                                                                                            title="請選擇月份">
                                                                                        <option value="01" label="01"/>
                                                                                        <option value="02" label="02"/>
                                                                                        <option value="03" label="03"/>
                                                                                        <option value="04" label="04"/>
                                                                                        <option value="05" label="05"/>
                                                                                        <option value="06" label="06"/>
                                                                                        <option value="07" label="07"/>
                                                                                        <option value="08" label="08"/>
                                                                                        <option value="09" label="09"/>
                                                                                        <option value="10" label="10"/>
                                                                                        <option value="11" label="11"/>
                                                                                        <option value="12" label="12"/>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </label>&nbsp;月
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3" style="padding-left: 0px">
                                                                    <button id="searchBtn" type="button"
                                                                            class="btn-form btn-search">搜尋
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="chartDiv" class="mobile-toggle-panel specialHeight" style="display: none">
                                                <table class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
                                                    <tr>
                                                        <td>
                                                            <div id="container" style="min-width: 310px; height: 400px;margin: 0 auto">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="netValueDiv" class="mobile-toggle-panel specialHeight" style="display: none">
                                                <table id="grid1" class="tablesaw tablesaw-stack wht" data-tablesaw-mode="stack">
                                                    <thead>
                                                    <tr class="table2">
                                                        <th class="text-center" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">日期</th>
                                                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="text-center">淨值</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="fragments/footer"></footer>
</script>
<script th:src="@{/plugin/highcharts/highcharts.js}"></script>
<script th:src="@{/plugin/highcharts/modules/exporting.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
    var paymentMap = [[${session.SYSTEM_PARAMETER.CURRENCY}]]
	$(function() {
		$('#invtList').change(function() {
			// 基金幣別
			$('#invtExchCurrNameTd').html("<b class='tablesaw-cell-label mobile-b'>基金幣別</b><span class='mobile-span'>" + paymentMap[$(this).find('option:selected').data('exchcurr')].parameterValue + "</span>");
			// 風險收益等級
			$('#riskBeneLevelTd').html("<b class='tablesaw-cell-label mobile-b'>風險收益等級</b><span class='mobile-span'>" + $(this).find('option:selected').data('riskbenelevel') + "</span>");
		});
		$('#searchBtn').click(function() {
			if ($('#invtList').val() == '') {
				openAlert('請選擇基金名稱');
				return false;
			}

			var invtName = $('#invtList').find('option:selected').data('invtname');
			var exchCurr = $('#invtList').find('option:selected').val();
			var queryType = $('div.checkedRadio input[name="qryRadioType"]').val();
			var queryMonth = (parseInt($('#qryYear').val(), 10) + 1911) + '/' + $('#qryMonth').val();
			var formData = {
				exchangeCode : exchCurr,
				queryType : queryType,
				queryMonth : queryMonth,
				policyNo: [[${policyNo}]]
			};
			$.ajax({
				url : /*[[@{/getExchRateChartList}]]*/,
				contentType: 'application/json',
				type: "POST",
				data:  JSON.stringify(formData)
			}).done(function(response) {
				if (response.result == 'SUCCESS') {
					if ($(response.resultData).size() == 0) {
						openAlert('查無資料');
						$('#chartDiv').hide();
						$('#netValueDiv').hide();
						return false;
					}
					$('#chartDiv').show();
					$('#netValueDiv').show();
					$('#grid1 #tableResult').html('');

					var dataX = [];
					var dataY1 = [];
					var dataY2 = [];
					$.each(response.resultData, function(i, obj) {
						if (obj.sellPrice != null) {
							dataX.push(twDate(obj.effectiveDate).substring(4, 10).replace('/', '-'));
							dataY1.push(obj.sellPrice);
							var rowHtml = '';
							rowHtml += '<tr>';
							rowHtml += '	<td class="text-center" width="50%">' + twDate(obj.effectiveDate) + '</td>';
							rowHtml += '	<td class="text-center" width="50%">' + emptyIfNull(obj.sellPrice) + '</td>';
							rowHtml += '</tr>';
							$('#grid1 tbody').append(rowHtml);
						}
					});

					$('#container').highcharts({
						chart: {
							type: 'spline'
						},
						colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
						title: {
							text: invtName
						},
						subtitle: {
							text: '淨值走勢圖'
						},
						xAxis: {
// 							reversed: true,
							tickInterval: 5,
							categories: dataX
						},
						yAxis: {
							title: {
								text: '淨值'
							},
							labels: {
								formatter: function() {
									return this.value;
								}
							}
						},
						tooltip: {
							crosshairs: true,
							shared: true
						},
						plotOptions: {
							spline: {
								marker: {
									radius: 4,
									lineColor: '#666666',
									lineWidth: 1
								}
							}
						},
						series: [{
							name: '淨值',
							dataLabels: {
								color: 'green'
							},
							marker: {
								symbol: 'square'
							},
							data: dataY1
						}]
					});
				}
			});
		});
	});
	/*]]>*/

</script>
</script>
</body>
</html>