<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="javascript:;">保單查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row">
									<div class="card-title tb3" id="titleList">
										<i class="foo-business_15 foo-2x"></i>查詢條件 
									</div>
								</div>
							</div>
							<div class="card-body clearfix bg3" style="padding: 0;">
                                 
					            <div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" id="form1">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3"> 保單號碼 </label>
										<div class="col-sm-9">
											<input name="policyNo" type="text" placeholder="輸入欲查詢的保單號碼" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 要保人姓名 </label>
										<div class="col-sm-9">
											<input name="lipmName" type="text" placeholder="輸入欲查詢的要保人姓名" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 被保險人姓名 </label>
										<div class="col-sm-9">
											<input name="lipiName" type="text" placeholder="輸入欲查詢的被保險人姓名" class="form-control" />
										</div>
									</div>  
									<div class="form-group">
										<label class="col-sm-3"> 商品名稱  </label>
										<div class="col-sm-9">
											<input name="prodName" type="text" placeholder="輸入欲查詢的商品名稱 " class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group"> 
									</div> 
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 要保人身分證號 </label>
										<div class="col-sm-9">
											<input name="lipmId" type="text" placeholder="輸入欲查詢的要保人身分證號" class="form-control" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 被保人身分證號 </label>
										<div class="col-sm-9">
											<input name="lipiId" type="text" placeholder="輸入欲查詢的被保人身分證號" class="form-control" />
										</div>
									</div> 
								</div>	
									<div class="clearfix form-actions">
										<div class="col-md-offset-5 col-md-7">
											<button class="btn btn-info" type="button" onclick="onSubmit()">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
											<button class="btn" type="reset">
												<i class="my-icon fa fa-undo bigger-110"></i>
												重新輸入
											</button>
										</div>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							    </div>
					        </div>
						</div>
					</div>
				</div>
				<div class="card-body clearfix" style="padding: 0;display: none;" id="dashboardContent" >
					<!--<section class="fullContent" id="dashboardContent">
				        <div class="container bg3 bgSpace box-border">-->
				            <div class="my1">
				                <i class="foo-business_1 foo-2x"></i> 保障總覽
				                <span class="my2">共 4 張</span> 
				            </div>
				            <div class="blocked">
				                <div id="qtpie-list" class="centered">
				                    <div id="circleAll">
				                        <svg viewbox="0 0 200 200">
				                            <path class="product1" data-pie="20" data-desc="意外險" />
				                            <path class="product2 active" data-pie="20" data-desc="投資型" />
				                            <path class="product3" data-pie="20" data-desc="萬能險/年金險" />
				                            <path class="product4 active" data-pie="20" data-desc="健康險" />
				                            <path class="product5" data-pie="20" data-desc="壽險" />
				                        </svg>
				                        <div class="circle">
				                            <a href="protect2.html" class="btn-circle"><span>我的保障</span></a>
				                        </div>
				                    </div>
				                    <ul>
				                        <li class="pdt1"><i class="foo-medical_14 foo-2x"></i>意外險</li>
				                        <li class="pdt2 active"><i class="foo-medical_4 foo-2x"></i><span>投資型</span></li>
				                        <li class="pdt3" style="width:165px;"><i class="foo-medical_4 foo-2x"></i><span>萬能險/年金險</span></li>
				                        <li class="pdt4 active"><i class="foo-medical_1 foo-2x"></i><span>健康險</span></li>
				                        <li class="pdt5"><i class="foo-object_27 foo-2x"></i>壽險</li>
				                    </ul>
				                </div>
				            </div>
				        <!--</div>
				    </section>-->
		        </div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row"> 
									<div class="card-title tb1 card-title-span">
										<span class="active">所有查詢結果保單(<span>X筆</span>) </span>
										<span>有效保單(<span>X筆</span>) </span>
										<span>停效保單(<span>X筆</span>) </span>
										<span>失效保單(<span>X筆</span>) </span>
									</div> 
								</div>
							</div>
							<div class="card-body clearfix" style="padding: 0;">
                                <div class="my1" style="margin-bottom:0">
									<i class="foo-business_23 foo-lg"></i> 查詢結果清單 <span class="my2b" id="policyCount"></span>
				                </div>
								<div id="policyContent"></div>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
		var payModeMap = {}
		$(function(){
			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/getPayModeList}]]*/,
				success : function(response) {
					if(response.result == "SUCCESS"){
						response.resultData.forEach(function(item, index){
							payModeMap[item.KEY] = item.VALUE
						})
					}
				}
			})
			search()
		})

		function search() {
			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				data: JSON.stringify({
					policyNo: $("input[name='policyNo']").val(),
					lipmName: $("input[name='lipmName']").val(),
					lipmId: $("input[name='lipmId']").val(),
					lipiName: $("input[name='lipiName']").val(),
					lipiId: $("input[name='lipiId']").val(),
					prodName: $("input[name='prodName']").val(),
				}),
				url : /*[[@{/getPolicyList}]]*/,
				success : function(response) {
					console.log(response);
					if(response.result == "SUCCESS"){
						html = ''
						$("#policyCount").text('共 ' + response.resultData.length + ' 張')
						response.resultData.forEach(function(item, index){
									html += '<div class="">' +
										'<table class="tablesaw tablesaw-stack tablesawA">' +
											'<thead>' +
												'<tr class="table2">' +
													'<th class="text-left item400">保單號碼</th>' +
													'<th scope="col" class="item400">險種名稱</th>' +
													'<th scope="col" class="item400">要保人姓名</th>' +
													'<th scope="col" class="item400">要保人ID</th>' +
													'<th scope="col" class="item360">被保人姓名</th>' +
													'<th scope="col" class="item450">被保人ID</th>' +
													'<th scope="col" class="item400">招攬人</th> ' +
												'</tr>' +
											'</thead>' +
											'<tbody>' +
												"<tr onclick=\"javascript:postPolicyListType('listing1', '" + item.policyNo + "')\">" +
													'<td class="table3">' + item.policyNo + '</td>' +
													'<td class="hid1 hid2">' + item.prodName + ' </td>' +
													'<td class="hid1 hid2">' + item.lipmName + '</td>' +
													'<td class="hid1 hid2">' + item.lipmId + '</td>' +
													'<td class="hid1 hid2 enThin">' + item.lipiName + '</td>' +
													'<td class="hid1 hid2">' + item.lipiId + '</td>' +
													'<td class="hid1 hid2">' + item.agent + '</td> ' +
												'</tr> ' +
											'</tbody> ' +
											'<thead>' +
												'<tr class="table2">' +
													'<th class="text-left item400">保單狀態</th>' +
													'<th scope="col" class="item400">投保始期</th>' +
													'<th scope="col" class="item400">保額</th>' +
													'<th scope="col" class="item400">應繳保費</th>' +
													'<th scope="col" class="item360">繳別</th>' +
													'<th scope="col" class="item450">繳費年期</th>' +
													'<th scope="col" class="item400">繳費方式</th> ' +
												'</tr>' +
											'</thead>' +
											'<tbody>' +
												"<tr onclick=\"javascript:postPolicyListType('listing1', '" + item.policyNo + "')\">" +
													'<td class="table3">有效</td>' +
													'<td class="hid1 hid2">' + item.effectiveDate + '</td>' +
													'<td class="hid1 hid2">' + item.mainAmount + '</td>' +
													'<td class="hid1 hid2">' + item.lipiTablPrem + '</td>' +
													'<td class="hid1 hid2 enThin">' + payModeMap[item.paymentMode] +'</td>' +
													'<td class="hid1 hid2">' + item.premYear + ' </td>' +
													'<td class="hid1 hid2">' + (item.paymentMethod == null ? '' : item.paymentMethod) + '</td> ' +
												'</tr> ' +
											'</tbody>' +
										'</table>' +
									'</div>'
							});
							$("#policyContent").html(html)
					}
				},
				error : function() {
					openAlert('error!')
				}
	    	});
		}

		function onSubmit(){
			var Insured = $('input[name=lipiName]').val();
			var Insured_Card = $('input[name=lipiId]').val();
			if(Insured!=="" || Insured_Card!==""){
				$("#dashboardContent").show()
			} else {
				$("#dashboardContent").hide()
			}
			search()
		}
/*]]>*/
</script>
</body>

</html>
