<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<th:block th:replace="fragments/head"/>
</head>

<body>
<div class="wrapper sidebar_minimize">
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<div th:replace="fragments/nav"></div>
    <div class="main-panel" style="position: absolute;">
		<div class="content">
			<div class="page-inner">
				<div class="mt-2 mb-4">
		            <ul class="breadcrumb detail1">
		                <li>
		                    <a href="#">保單管理  </a> <i class="fa fa-angle-right fa-lg ble"></i>
		                </li>
		                <li class="active">
		                    <a href="javascript:;">保單查詢</a>
		                </li>
		            </ul>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row">
									<div class="card-title tb3" id="titleList">
										<i class="foo-business_15 foo-2x"></i>查詢條件 
									</div>
								</div>
							</div>
							<div class="card-body clearfix bg3" style="padding: 0;">
                                 
					            <div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" id="form1">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3"> 保單號碼 </label>
										<div class="col-sm-9">
											<input type="text" placeholder="輸入欲查詢的保單號碼" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 要保人姓名 </label>

										<div class="col-sm-9">
											<input type="text" placeholder="輸入欲查詢的要保人姓名" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 被保險人姓名 </label>

										<div class="col-sm-9">
											<input type="text" name="Insured" placeholder="輸入欲查詢的被保險人姓名" class="form-control" />
										</div>
									</div>  
									<div class="form-group">
										<label class="col-sm-3"> 商品名稱  </label>
										<div class="col-sm-9">
											<input type="text" placeholder="輸入欲查詢的商品名稱 " class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group"> 
									</div> 
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 要保人身分證號 </label>

										<div class="col-sm-9">
											<input type="text" placeholder="輸入欲查詢的要保人身分證號" class="form-control" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 no-padding-right"> 被保人身分證號 </label>

										<div class="col-sm-9">
											<input type="text" name="Insured_Card" placeholder="輸入欲查詢的被保人身分證號" class="form-control" />
										</div>
									</div> 
								</div>	
									<div class="clearfix form-actions">
										<div class="col-md-offset-5 col-md-7">
											<button class="btn btn-info" type="button" onclick="onSubmit()">
												<i class="my-icon fa fa-check bigger-110"></i>
												查詢
											</button>
											<button class="btn" type="reset">
												<i class="my-icon fa fa-undo bigger-110"></i>
												重新輸入
											</button>
										</div>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							    </div>
					        </div>
						</div>
					</div>
				</div>
				<div class="card-body clearfix" style="padding: 0;display: none;" id="dashboardContent" >
					<!--<section class="fullContent" id="dashboardContent">
				        <div class="container bg3 bgSpace box-border">-->
				            <div class="my1">
				                <i class="foo-business_1 foo-2x"></i> 保障總覽
				                <span class="my2">共 4 張</span> 
				            </div>
				            <div class="blocked">
				                <div id="qtpie-list" class="centered">
				                    <div id="circleAll">
				                        <svg viewbox="0 0 200 200">
				                            <path class="product1" data-pie="20" data-desc="意外險" />
				                            <path class="product2 active" data-pie="20" data-desc="投資型" />
				                            <path class="product3" data-pie="20" data-desc="萬能險/年金險" />
				                            <path class="product4 active" data-pie="20" data-desc="健康險" />
				                            <path class="product5" data-pie="20" data-desc="壽險" />
				                        </svg>
				                        <div class="circle">
				                            <a href="protect2.html" class="btn-circle"><span>我的保障</span></a>
				                        </div>
				                    </div>
				                    <ul>
				                        <li class="pdt1"><i class="foo-medical_14 foo-2x"></i>意外險</li>
				                        <li class="pdt2 active"><i class="foo-medical_4 foo-2x"></i><span>投資型</span></li>
				                        <li class="pdt3"><i class="foo-medical_19 foo-2x"></i>萬能險/年金險</li>
				                        <li class="pdt4 active"><i class="foo-medical_1 foo-2x"></i><span>健康險</span></li>
				                        <li class="pdt5"><i class="foo-object_27 foo-2x"></i>壽險</li>
				                    </ul>
				                </div>
				            </div>
				        <!--</div>
				    </section>-->
		        </div>
				<div class="row mb-4">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-head-row"> 
									<div class="card-title tb1 card-title-span">
										<span class="active">所有查詢結果保單(<span>X筆</span>) </span>
										<span>有效保單(<span>X筆</span>) </span>
										<span>停效保單(<span>X筆</span>) </span>
										<span>失效保單(<span>X筆</span>) </span>
									</div> 
								</div>
							</div>
							<div id="policyContent" class="card-body clearfix" style="padding: 0;">
                                <div class="my1" style="margin-bottom:0">
				                    <i class="foo-business_23 foo-lg"></i> 查詢結果清單 <span class="my2b">共 3 張</span>
				                </div>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="fragments/footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
		$(function(){
			$.ajax({
				type : 'POST',
				dataType : "JSON",
				contentType : 'application/json',
				url : /*[[@{/getPolicyList}]]*/,
				success : function(response) {
					console.log(response);
					if(response.result == "SUCCESS"){
						html = ''
						response.resultData.forEach(function(item, index){
								$("#policyContent").append(
									'<div class="">' +
										'<table class="tablesaw tablesaw-stack tablesawA">' +
											'<thead>' +
												'<tr class="table2">' +
													'<th class="text-left item400">保單號碼</th>' +
													'<th scope="col" class="item400">險種名稱</th>' +
													'<th scope="col" class="item400">要保人姓名</th>' +
													'<th scope="col" class="item400">要保人ID</th>' +
													'<th scope="col" class="item360">被保人姓名</th>' +
													'<th scope="col" class="item450">被保人ID</th>' +
													'<th scope="col" class="item400">招攬人</th> ' +
												'</tr>' +
											'</thead>' +
											'<tbody>' +
												'<tr>' +
													'<td class="table3">' + item.policyNo + '</td>' +
													'<td class="hid1 hid2">' + item.prodName + ' </td>' +
													'<td class="hid1 hid2">' + item.lipmName + '</td>' +
													'<td class="hid1 hid2">' + item.lipmId + '</td>' +
													'<td class="hid1 hid2 enThin">' + item.lipiName + '</td>' +
													'<td class="hid1 hid2">' + item.lipiId + '</td>' +
													'<td class="hid1 hid2">陳文倫</td> ' +
												'</tr> ' +
											'</tbody> ' +
											'<thead>' +
												'<tr class="table2">' +
													'<th class="text-left item400">保單狀態</th>' +
													'<th scope="col" class="item400">投保始期</th>' +
													'<th scope="col" class="item400">保額</th>' +
													'<th scope="col" class="item400">應繳保費</th>' +
													'<th scope="col" class="item360">繳別</th>' +
													'<th scope="col" class="item450">繳費年期</th>' +
													'<th scope="col" class="item400">繳費方式</th> ' +
												'</tr>' +
											'</thead>' +
											'<tbody>' +
												'<tr>' +
													'<td class="table3">有效</td>' +
													'<td class="hid1 hid2">' + item.effectiveDate + '</td>' +
													'<td class="hid1 hid2">' + item.mainAmount + '</td>' +
													'<td class="hid1 hid2">' + item.lipiTablPrem + '</td>' +
													'<td class="hid1 hid2 enThin">年繳</td>' +
													'<td class="hid1 hid2">' + item.premYear + ' </td>' +
													'<td class="hid1 hid2">信用卡</td> ' +
												'</tr> ' +
											'</tbody>' +
										'</table>' +
									'</div>'
								)
							});
					}
				},
				error : function() {
					openAlert('error!')
				}
	    	});
		})

		function noteStatusStr(policyNo, noteStatus) {
			if (noteStatus == '0') {
				chart2Map[0].policyNos.push(policyNo)
				return '照會編輯中'
			}
			if (noteStatus == '1') {
				chart2Map[1].policyNos.push(policyNo)
				return '照會覆核中'
			}
			if (noteStatus == '9') {
				chart2Map[2].policyNos.push(policyNo)
				return '照會完成'
			}
		}

		function noteVerifyResultStr(status) {
			if (status == '0') {
				return '未覆核'
			}
			if (status == 'V') {
				return '核可'
			}
			if (status == 'R') {
				return '退件'
			}
		}

		function levelStateStr(policyNo, levelState) {
			result = ''
			levelStateMap.forEach(function(item,index){
				if (item.value == levelState) {
					item.policyNos.push(policyNo)
					result = item.label
				}
			})
			return result
		}

		function initChart() {
			labels = []
			data = []
			chart2Map.forEach(function(item,index){
				labels.push(item.label + ' ' + item.policyNos.length + '件')
				data.push(item.policyNos.length)
			})

			myDoughnutChart2 = new Chart(doughnutChart2, {
				type: 'doughnut',
				data: {
					datasets: [{
						data: data,
						backgroundColor: ['#59d05d','#fdaf4b','#f3545d','#1d7af3']
					}],
						labels: labels
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});

				labels1 = []
				data1 = []
				levelStateMap.forEach(function(item,index){
					labels1.push(item.label + ' ' + item.policyNos.length + '件')
					data1.push(item.policyNos.length)
				})

				myDoughnutChart = new Chart(doughnutChart, {
					type: 'doughnut',
					data: {
						datasets: [{
							data: data1,
							backgroundColor: ['#1d7af3','#59d05d','#f3545d']
						}],

						labels: labels1
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend : {
							position: 'left'
						},
						layout: {
							padding: {
								left: 20,
								right: 0,
								top: 20,
								bottom: 10
							}
						}
					}
				});
		}
/*]]>*/
</script>
</body>

</html>
