<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>滿期｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">滿期</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 滿期
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-4">
						2<span class="hid1">. 設定滿期金匯款帳戶</span>
					</li>
					<li class="step3 active col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認資料</h2>
				<div class="loan1">					
					<div class="">
						<label for="checkBox12" class="col-sm-10 col-sm-offset-2">保單：<th:block th:text="${maturityVo.policyNo}"/></label>
					</div>
					<div class="col-sm-8 col-sm-offset-2 grey2 ptop30 greyBox">
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">要保人：</label>
							<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.customerName}"/></p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">被保險人：</label>
							<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.insuredName}"/></p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">滿期金受益人：</label>
							<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.beneficiaryName}"/></p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">投保始期：</label>
							<p type="text" class="col-sm-7">
								<th:block th:text="${maturityVo.effectiveDate}"/>
							</p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">保險金額：</label>
							<p type="text" class="col-sm-7">
								<th:block th:text="${maturityVo.mainAmount != null} 
									? ${#numbers.formatDecimal(maturityVo.mainAmount, 0, 'DEFAULT', 0, 'COMMA')}"/>
							</p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">滿期日期：</label>
							<p type="text" class="col-sm-7">
								<th:block th:text="${maturityVo.expireDate}"/>
							</p>
						</div>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">滿期金額：</label>
							<p type="text" class="col-sm-7">
								依保單條款約定之滿期金給付
							</p>
						</div>
						<br/>
						<h2>領款方式</h2>
						<div class="check-list3 ">
							<label for="" class="col-sm-5 orange">領款方式：</label>
							<p type="text" class="col-sm-7">
								<th:block th:if="${maturityVo.paymentMethod eq '01'}">電匯</th:block>
								<th:block th:if="${maturityVo.paymentMethod eq '02'}">郵寄支票</th:block>
							</p>
						</div>
						<th:block th:if="${maturityVo.paymentMethod eq '01'}">
							<div class="check-list3 ">
								<label for="" class="col-sm-5 orange">匯款帳戶：</label>
								<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.accountName}"/></p>
							</div>
							<div class="check-list3 ">
								<label for="" class="col-sm-5 orange">銀行名稱：</label>
								<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.bankName}"/></p>
							</div>
							<div class="check-list3 ">
								<label for="" class="col-sm-5 orange">分行名稱：</label>
								<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.branchName}"/></p>
							</div>
							<div class="check-list3 ">
								<label for="" class="col-sm-5 orange">帳號：</label>
								<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.accountNumber}"/></p>
							</div>
						</th:block>
						<th:block th:if="${maturityVo.paymentMethod eq '02'}">
							<div class="check-list3 ">
								<label for="" class="col-sm-5 orange">地址：</label>
								<p type="text" class="col-sm-7"><th:block th:text="${maturityVo.postalCode}"/> <th:block th:text="${maturityVo.postalAddr}"/></p>
							</div>
						</th:block>
					</div>
					<div class="form-group">
						<label class="col-sm-10 col-sm-offset-2 error" style="font-size:16px">
						請依步驟操作完成後本次申請始為有效<br/>
						1.下載PDF後請簽名並拍照或掃描儲存為電子影像檔，並備妥身分證、存簿(郵寄支票者免)之電子影像檔<br/>
						2.至線上申請＞我的申請紀錄＞選擇滿期補件＞將申請書、身分證、存簿電子影像檔一併上傳至系統<br/>
						3.申請紀錄狀態由待補件變更為處理中，代表已完成本次申請
						</label>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2 ptop30">
					<div class="marginTop25"></div>
					<div class="col-md-12 two-buttons">
						<button type="button" id="deny" class="btn-signup">上一步</button>
						<button id="go" class="btn-signup">下載PDF</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${maturityVo}]]*/;
		$(function() {
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/maturity2}]]*/, formData);
			});
			
			// 確認送出
			$('#go').click(function() {
				var url = '/eservice/downloadMaturityPDF?' + $.param(formData);
				url = url.replace(/%5B/g, '').replace(/%5D/g, '');
				window.open(url);
			});
		});
	/*]]>*/
	</script>
</body>

</html>