<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更投資標的及配置比例｜臺銀人壽保單網路服務</title>
	<link th:href="@{/css/tmp-radio.css}" rel="stylesheet"/>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更投資標的及配置比例</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更投資標的及配置比例
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-3">
						2<span class="hid1">. 選擇轉出投資標的</span>
					</li>
					<li class="step3b col-xs-3">
						3<span class="hid1">. 選擇轉入投資標的</span>
					</li>
					<li class="step4 col-xs-3">
						4<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇欲轉出投資標的及比例</h2>
				<div class="loan1">
	                <div class="check-title">設定投資標的轉出百分比</div>
	                <div class="grey2">
	                    <br>
	                    <table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
	                        <thead>
	                            <tr class="table2 orange2">
	                                <th class="text-left item180" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
	                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">單位數
	                                    <br><span class="enSmall ">A</span></th>
	                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">最近匯率
	                                    <br><span class="enSmall">(匯率日)</span></th>
	                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">最近單位淨值
	                                    <br><span class="enSmall ">台幣B/淨值日</span></th>
	                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">參考帳戶價值
	                                    <br><span class="enSmall ">A*B</span></th>
	                                <th class="item140" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出百分比</th>
	                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出金額</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        	<th:block th:if="${protfolioList} != null">
									<th:block th:each="vo, rowStat : ${protfolioList}">
										<th:block th:if="${#strings.startsWith(vo.invtNo,'RT')} == false">
										 	<tr class="h65 tr-odd-noEvent">
				                             	<td class="text-left"><th:block th:text="${vo.invtName}"/>
				                                    <p class="enSmall">(<th:block th:text="${vo.invtNo}"/>)</p>
				                                </td>
				                                <td><th:block th:text="${vo.safpNetUnits}"/></span></td>
				                                <td>
				                                    <p><th:block th:text="${vo.exchRateBuy}"/></p>
				                                    <span class="enSmall"><th:block th:text="${vo.exchRateDate} != null ? ${#dates.format(vo.exchRateDate, 'yyyy/MM/dd')}"/></span>
				                                </td>
				                                <td>
				                                    <p><th:block th:text="${vo.netValueSell}"/><i class="my5">NTD</i></p>
				                                    <!--p class="marginTop25">653.81<i class="my5">USD</i></p-->
				                                    <span class="enSmall"><th:block th:text="${vo.netValueDate} != null ? ${#dates.format(vo.netValueDate, 'yyyy/MM/dd')}"/></span>
				                                </td>
				                                <td>
				                                    <p><th:block th:text="${#numbers.formatDecimal(vo.acctValue, 0, 'COMMA', 2, 'POINT')}"/><i class="my5">NTD</i></p>
				                                </td>
				                                <td>
				                                    <input style="width: 60px;" type="text" class="invts" maxlength="3" onkeyup="chgPercentage(this)" th:attr="id='switchPercentage'+${vo.invtNo}"/>%
				                                </td>
				                                <td>
				                                	<span th:attr="id='outAmt' + ${vo.invtNo}" class="calculate">0</span><i class="my5">NTD</i>
				                                	<input type="hidden" th:attr="id='invtNo'+${vo.invtNo},value=${vo.invtNo}"/>
				                                	<input type="hidden" th:attr="id='invtName'+${vo.invtNo},value=${vo.invtName}"/>
				                                	<input type="hidden" th:attr="id='exchRateBuy'+${vo.invtNo},value=${vo.exchRateBuy}"/>
				                                	<input type="hidden" th:attr="id='netValueSell'+${vo.invtNo},value=${vo.netValueSell}"/>
				                                	<input type="hidden" th:attr="id='acctValue'+${vo.invtNo},value=${vo.acctValue}"/>
				                                </td>
				                            </tr>
			                            </th:block>
									</th:block>
								</th:block>
	                        </tbody>
	                    </table>
	                </div>
	                <input type="hidden" id="totalAmt" value="0">
	                <div class="invst2total"> 總轉出金額 <span class="chNormal">NTD </span><span id="totalAmtShow" class="orange">0</span></div>
	                <div class="statement1 wht">
	                    <p class="text-ps">備註：</p>
	                    <p class="text-ps">※每一投資標的轉出金額不得低於NTD 2,000，但轉出百分比設定為100%則不受此限制</p>
	                </div>
					<div class="col-md-12 two-buttons">
						<a href="fundSwitch1">
							<button id="deny" class="btn-signup">上一步</button>
						</a>
						<button id="go" class="btn-signup">下一步</button>
					</div>
				</div>
			</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = {};
		formData.policyNoList = /*[[${transFundSwitchVo.policyNoList}]]*/;
		formData.riskLevel = /*[[${transFundSwitchVo.riskLevel}]]*/;
		$(function() {
			// 下一步事件
			$('#go').click(function() {
				var fundSwitchOut = [];
				jQuery('.invts').each(function() {
					if ($(this).val() != "" && $(this).val() != "0") {
						var fundCode = $(this).attr("id").replace("switchPercentage","");
						var acctValId = "#acctValue" + fundCode;
						var fundNameTagId = "#invtName" + fundCode;
						var invt = {};
						invt.fundCode = fundCode;
						invt.fundName = $(fundNameTagId).val();
						invt.switchPercentage = $(this).val();
						invt.switchAmount = new Number($(this).val()) / 100 * new Number($(acctValId).val());
						fundSwitchOut.push(invt);
					}
				});
				if (fundSwitchOut.length == 0) {
					openAlert("請選擇欲轉出投資標的及比例");
					return false;
				}
				formData.switchOutJsonData = JSON.stringify(fundSwitchOut);
				postWithFormData(/*[[@{/fundSwitch3}]]*/, formData);
			});
		});

		function chgPercentage(obj) {
			if(obj.value >= 100){
				obj.value=100;
			} else if (obj.value < 0) {
				obj.value=0;
			}
			var fundCode = obj.id.replace("switchPercentage","");
			var tagId = "#outAmt" + fundCode;
			var acctValTagId = "#acctValue" + fundCode;
			var outAmt = obj.value / 100 * $(acctValTagId).val();
			var tmpAmt = formatNumber(outAmt, 2);
			$(tagId).html(tmpAmt);
			//totalOut = new Number(totalOut) + new Number(tmpAmt);
			//$('#totalAmtShow').html(totalOut);

			var totalOut = 0;
			jQuery('.calculate').each(function() {
			    var currentElement = $(this);
			    //totalOut = new Number(totalOut) + new Number(currentElement.html().replace(",",""));
			    totalOut += Number(currentElement.html().replace(/,/g,""));
			});
			$('#totalAmtShow').html(formatNumber(totalOut, 2));
		}
	/*]]>*/
	</script>
</body>

</html>