<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更收費管道｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更收費管道</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更收費管道
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-4">
						2<span class="hid1">. 設定收費管道</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請設定收費管道</h2>
				<div class="col-md-8 col-md-offset-2">
					<form class="form-horizontal no-borderBottom marginTop20" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2">收費管道：</label>
							<div class="col-sm-9">
								<th:block th:each="key : ${session.SYSTEM_PARAMETER['ONLINE_CHANGE_PAYMENT_METHOD'].keySet()}">
									<div class="radio inline">
										<label>
											<div class="radio-btn">
												<i><input type="radio" name="radio-btn" 
														th:value="${key}" onclick="changeRadio(this);"/>
												</i>
											</div> <th:block th:text="${session.SYSTEM_PARAMETER['ONLINE_CHANGE_PAYMENT_METHOD'].get(key).parameterValue}"/>
										</label>
									</div>
								</th:block>
							</div>
							<span id="policyNo" class="colorBlack" style="display:none">
								<th:block th:if="${transPaymethodVo != null}">
									<th:block th:each="policyNo : ${transPaymethodVo.policyNoList}">
										<th:block th:text="${policyNo}"/>
									</th:block>
								</th:block>
							</span>
							<div class="col-sm-12" style="width: 120%">
								<div class="tabs">
									<!-- TAB 1 -->
									<article id="tab_3" class="tab">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="grey2">
												<div class="check-title depo2">付款人資訊</div>
												<div class="check-list3 ">
													<label for="" class="col-sm-3">付款人：</label>
													<p type="text" class="col-sm-9">
														<th:block th:if="${session.USER_DETAIL != null}">
															<th:block th:text="${session.USER_DETAIL.userName}"/>
														</th:block>
													</p>
												</div>
												<div class="check-list3 ">
													<label for="" class="col-sm-3">支付工具：</label>
													<p type="text" class="col-sm-9">信用卡</p>
												</div>
												<div class="check-list3 ">
													<label for="" class="col-sm-3 lineHigh32">信用卡別：</label>
													<div class="col-sm-9">
														<div class="selector-box col-sm-6">
															<select class="selector" id="cardType">
																<th:block th:each="key : ${session.SYSTEM_PARAMETER['CARD_TYPE'].keySet()}">
																	<option th:value="${key}" th:utext="${session.SYSTEM_PARAMETER['CARD_TYPE'].get(key).parameterValue}"/>
																</th:block>
															</select>
														</div>
													</div>
												</div>
												<div class="check-list3 ">
													<label for="" class="col-sm-3">信用卡卡號：</label>
													<div class="col-sm-8">
														<input id="cardNo1" name="cardNo1" maxlength="4" type="text" class="credit1"/> -
														<input id="cardNo2" name="cardNo2" maxlength="4" type="text" class="credit1"/> -
														<input id="cardNo3" name="cardNo3" maxlength="4" type="text" class="credit1"/> -
														<input id="cardNo4" name="cardNo4" maxlength="4" type="text" class="credit1"/>
													</div>
												</div>
												<div class="check-list3 ">
													<label for="" class="col-sm-3 lineHigh32">有效期限：</label>
													<div class="col-sm-9">
														<div class="selector-box col-sm-3">
															<select class="selector" id="month">
																<option th:each="month : ${monthList}"
																	th:value="${month}"
																	th:utext="${month}"/>
															</select>
														</div>
														<div class="col-sm-1 lineHigh32">/</div>
														<div class="selector-box col-sm-3">
															<select class="selector" id="year">
																<option th:each="year : ${yearList}"
																	th:value="${year}"
																	th:utext="${year}"/>
															</select>
														</div>
														<div class="col-sm-2 lineHigh32 colorGray">(MM/YY)</div>
													</div>
												</div>
											</div>
										</section>
									</article>
									<!-- TAB 2 -->
									<article class="tab tab-hide" id="tab_4">
										<section id="tab_frame_print1" class="tab-frame">
											<div class="grey2">
												<div class="check-title depo2">匯款資訊</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">帳戶名稱</label>
													<div class="col-sm-8 ">
														<th:block th:if="${session.USER_DETAIL != null}">
															<th:block th:text="${session.USER_DETAIL.userName}"/>
														</th:block>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">銀行名稱</label>
													<div class="col-sm-5">
														<div>
															<select id="bankName" name="bankName" data-placeholder="選擇銀行" class="wht">
																<option value=""></option>
															</select>
														</div>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">分行名稱</label>
													<div class="col-sm-5">
														<div>
															<select class="selector wht" id="branches" name="branches" data-placeholder="選擇分行">
																<option value=""></option>
															</select>
														</div>
													</div>
												</div>
												<div class="check-list2 grey2">
													<label for="" class="col-sm-3">帳號</label>
													<div class="col-sm-9">
														<input type="text" id="accountNo" maxlength="14" class="col-sm-11" value=""/> </div>
												</div>
											</div>
										</section>
									</article>
								</div>
							</div>
						</div>
					</form>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_01602'] != null} 
						? ${session.PAGE_WORDING['WORDING_01602'].parameterValue}"/>
				</div>
			<div class="clearfix"></div>
			<div class="col-md-12 two-buttons">
				<a href="paymentMethod1">
					<button id="deny" class="btn-signup">上一步</button>
				</a>
				<th:block th:if="${loginUserType eq 'member'}">
					<button id="go" class="btn-signup">下一步</button>
				</th:block>
			</div>
		</div>
		</div>
	</section>
	<!--  權限警告 -->
	<div class="modal fade in" id="modal-container-payment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 center1 grey2">
					<div style="padding:20px 10px">
						欲變更付款人
					</div>
					<p style="width:500px;margin:auto">
						請下載<a href="http://www.twfhclife.com.tw/PDF/e-form.pdf" target="_blank" class="underline">信用卡付款委託書</a>，填寫完後傳真：02-27845218 或郵寄臺銀人壽：(10682)台北市大安區敦化南路二段 69 號 2 ~ 8 樓
					</p>
					<p>
						<a>
							<button class="btn-login lock2" data-dismiss="modal" aria-label="Close">確定</button>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!--  end -->

	<!--  信用卡卡號 -->
	<div class="modal fade in" id="modal-container-payment-credit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content lock-up">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body apply2 center1 grey2">
					<div style="padding:20px 10px">
						欲變更信用卡卡號 
					</div>
					<p style="width:500px;margin:auto">
						請下載<a href="#" target="_blank" class="underline">信用卡付款委託書</a>，填寫完後郵寄臺銀人壽：(10682)台北市大安區敦化南路二段 69 號 2 ~ 8 樓
					</p>
					<p>
						<a>
							<button class="btn-login lock2" data-dismiss="modal" aria-label="Close">確定</button>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transPaymethodVo}]]*/;
		$(function(){
			$("#bankName").chosen({
				allow_single_deselect:true, 
				search_contains: true
			});
			
			$("#branches").chosen({
				allow_single_deselect:true, 
				search_contains: true
			});
			
			// 銀行下拉選單
			var bankUrl = /*[[@{/getBankList}]]*/;
			var branchesUrl = /*[[@{/getBranchesList}]]*/;
			eserviceOption.bankBranches('#bankName', bankUrl, '#branches', branchesUrl);
			
			// 設定寬度
			$('.chosen-container').width('207px');
			
			// 下一步事件
			$('#go').click(function() {
				formData.paymethod = $('input[name="radio-btn"]:checked').val();
				
				if (formData.paymethod == null) {
					/* openAlert('請選擇一種繳費方式'); */
					openAlert($('#E0075').val());
					return false;
				}
				
				// 信用卡
				if (formData.paymethod == '9') {
					if ($('#cardNo1').val() == '' || $('#cardNo2').val() == '' || $('#cardNo3').val() == '' || $('#cardNo4').val() == '') {
						/* openAlert('請輸入信用卡卡號'); */
						openAlert($('#E0076').val());
						return false;
					}
					formData.cardType = $('#cardType').val();
					formData.cardNo = ($('#cardNo1').val() + $('#cardNo2').val() + $('#cardNo3').val() + $('#cardNo4').val());
					formData.validMm =  $('#month').val();
					formData.validYy =  $('#year').val();
				}
				
				// 銀行轉帳
				if (formData.paymethod == '6') {
					if (!$('#bankName').val()) {
						/* openAlert('請選擇銀行名稱'); */
						openAlert($('#E0077').val());
						return false;
					}
					if (!$('#branches').val()) {
						/* openAlert('請選擇分行名稱'); */
						openAlert($('#E0078').val());
						return false;
					}
					if (!$('#accountNo').val()) {
						/* openAlert('請輸入銀行帳號'); */
						openAlert($('#E0079').val());
						return false;
					} else {
						if(!/^\d+$/.test($('#accountNo').val())){
							/* openAlert('銀行帳號僅為數字'); */
							openAlert($('#E0053').val());
							return false;
						}
					}

					formData.bankId = $('#bankName').val();
					formData.bankName = $('#bankName :selected').text();
					formData.branchId = $("#branches").val();
					formData.branchName = $('#branches :selected').text();
					formData.accountNo = $('#accountNo').val();
					formData.accountName = /*[[${session.USER_DETAIL != null} ? ${session.USER_DETAIL.userName}]]*/;
				}
				
				postWithFormData(/*[[@{/paymentMethod3}]]*/, formData);
			});
		});
		
		function changeRadio(val) {
			$('#tab_3').hide().siblings().hide();
			$('#tab_4').hide().siblings().hide();
			
			if ("9" == $(val).val()) {
				// 顯示信用卡資訊
				$('#tab_3').show().siblings().hide();
			} else if("6" == $(val).val()) {
				$('#tab_4').show().siblings().hide();
			} else {
				$('#tab_3').hide().siblings().hide();
			}
		}
	/*]]>*/
	</script>
</body>

</html>