<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">領取方式：</th>
							<td>
								<th:block th:text="${transRewardVo != null and transRewardVo.rewardModeOld != null and session.SYSTEM_PARAMETER['REWARD_TYPE'][transRewardVo.rewardModeOld] != null} 
									? ${session.SYSTEM_PARAMETER['REWARD_TYPE'][transRewardVo.rewardModeOld].parameterValue}"/>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div class="col-sm-12 hid-title3">
	<i class="fas fa-chevron-down fa orange"></i>
</div>
<table class="hid-body col-sm-12" id="">
	<tbody>
		<tr class="">
			<td>
				<table class="hid-body col-sm-12" id="">
					<tbody>
						<tr class="">
							<th class="hid-th w40p">領取方式：</th>
							<td>
								<th:block th:text="${transRewardVo != null and transRewardVo.rewardMode != null and session.SYSTEM_PARAMETER['REWARD_TYPE'][transRewardVo.rewardMode] != null} 
									? ${session.SYSTEM_PARAMETER['REWARD_TYPE'][transRewardVo.rewardMode].parameterValue}"/>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>