<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>增值回饋分享金領取方式｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更增值回饋分享金領取方式</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更增值回饋分享金領取方式
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
				<div class="activated">
					<figure><img src="img/check1.png" alt="check"/></figure>
					<h2>申請成功！</h2>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_00403'] != null} 
						? ${session.PAGE_WORDING['WORDING_00403'].parameterValue}"/>
					<!-- p>系統將於每日下午3:00處理您送出的申請。<br/>
						增值回饋分享金領取方式變更約需3個工作天進行作業，您可隨時至「我的申請紀錄」掌握最新處理進度。</p -->
				</div>
			</div>
			<div class="mystyle3">
				<div class="col-md-12 two-buttons">
					<a href="apply1">
						<button id="deny" class="btn-signup">回線上申請首頁
						</button>
					</a>
					<a href="apply2">
						<button id="go" class="btn-signup">看我的申請紀錄
						</button>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
</body>

</html>