<div class="check-title">轉出基金</div>
<div class="grey2">
	<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
		<thead>
			<tr class="table2 orange2">
				<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
				<!-- <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出百分比</th> -->
				<th:block  th:if="not ${#lists.isEmpty(listTransFundConversionVo)}">
					<th:block th:if="not ${#lists.isEmpty(listTransFundConversionVo[0])}">
						<th:block th:with="outInvestment=${listTransFundConversionVo[0]}">
							<th:block th:if="${outInvestment[0].ratio !=null && outInvestment[0].ratio !=0}" >
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出百分比</th>
							</th:block>
							<th:block th:if="${outInvestment[0].value !=null  && outInvestment[0].value !=0 }" >
								<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉出單位數</th>
							</th:block>
						</th:block>
					</th:block>
				</th:block>
			</tr>
		</thead>
		<tbody>
		<th:block  th:if="not ${#lists.isEmpty(listTransFundConversionVo)}">
			<th:block th:if="not ${#lists.isEmpty(listTransFundConversionVo[0])}">
				<th:block th:each="from : ${listTransFundConversionVo[0]}">
						<tr class="h90 tr-odd-noEvent">
							<td class="text-left" >
								<th:block th:text="${from.invtName != null} ?${from.invtName}"  ></th:block>
								<p class="enSmall"  th:text="(${from.invtNo != null} ?${from.invtNo})"></p>
							</td>
							<th:block th:if="${from.ratio != null && from.ratio !=0}" >
								<td th:text="${from.ratio} +'%'"></td>
							</th:block>
							<th:block th:if="${from.value != null && from.value !=0}" >
								<td th:text="${from.value}"></td>
							</th:block>
						</tr>
				</th:block>
			</th:block>
		</th:block>			
		</tbody>
	</table>
</div>
<div class="center1 ptop30" style="background: #fff;"><img src="img/arrow-down.png" id="img-trans"></div>
<div class="check-title">轉入基金</div>
<div class=" grey2">
	<table class="tablesaw tablesaw-stack wht w100p" data-tablesaw-mode="stack">
		<thead>
		<tr class="table2 orange2">
			<th class="text-left" scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">投資標的</th>
			<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="">轉入百分比</th>
		</tr>
		</thead>
		<tbody>
		<th:block  th:if="not ${#lists.isEmpty(listTransFundConversionVo)}">	
			<th:block th:if="not ${#lists.isEmpty(listTransFundConversionVo[1])}">
				<th:block th:each="from : ${listTransFundConversionVo[1]}">
					<tr class="h90 tr-odd-noEvent">
						<td class="text-left" >
							<th:block th:text="${from.invtName != null} ?${from.invtName}"  ></th:block>
							<p class="enSmall"  th:text="(${from.invtNo != null} ?${from.invtNo})"></p>
						</td>
						<td th:text="${from.ratio != null}?${from.ratio} +'%'"></td>
					</tr>
				</th:block>
			</th:block>
		</th:block>	
		</tbody>
	</table>
</div>