<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>已持有投資標的轉換｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">已持有投資標的轉換</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 已持有投資標的轉換
			</div>
			<div class="">
				<ul class="step">
					<li class="step1  col-xs-2">
			            1<span class="hid1">. 選擇保單</span>
			        </li>
			        <li class="step2  col-xs-2">
			            2<span class="hid1">. 接受條件</span>
			        </li>
			        <li class="step3b  col-xs-2">
			            3<span class="hid1">. 選擇轉出基金</span>
			        </li>
			        <li class="step3b active col-xs-3">
			            4<span class="hid1">. 選擇轉入基金</span>
			        </li> 
			        <li class="step4   col-xs-3">
			            5<span class="hid1">. 確認資料與密碼</span>
			        </li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>設定新投資標的比例</h2>
				<div class="loan1">
					<div class="tb3 top0">
						<!-- <span class="pull-left chMiddle colorBlack">可轉入金額：<span class="chNormal">NTD </span><span class="colorBlue" >
							<th:block th:text="${investmentPortfolioVo != null} ? ${investmentPortfolioVo[0].safpNetAmt}:''"/>
						</span></span> -->
						<span class="pull-right colorBlack">投資風險屬性：<span class="colorBlue" >
							<th:block th:text="${investmentPortfolioVo != null} ? ${investmentPortfolioVo[0].invtRiskBeneLevel}:''"/>	
						</span></span>
					</div>

					<div class="check-title">新投資標的比例</div>
					<div class="plus-list">
						<div class="col-sm-6">新投資標的</div>
						<div class="col-sm-3"></div>
						<div class="col-sm-2">輸入百分比</div>
						<div class="col-sm-1"></div>
					</div>

					<div class="check-body grey2">
						<div id="fundContent">
							 <!-- <div class="check-list2 newfund">
								<div style="width: 100%;display: inline-block;">
									<div class="col-sm-2">
										<div class="selector-box">
											<select class="selector">
												<option>基金公司</option>
												<option> </option>
												<option> </option>
												<option> </option>
											</select>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="selector-box">
											<select class="selector">
												<option>基金幣別</option>
												<option>人民幣</option>
												<option>臺幣</option>
											</select>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="selector-box">
											<select class="selector">
												<option>基金類型</option>
												<option> </option>
												<option> </option>
												<option> </option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="selector-box">
										<select class="selector">
											<option>瀚亞投資-印尼股票基金A <span>(CPEDU)</span></option>
											<option>瀚亞投資-印尼股票基金A <span>(CPEDU)</span></option>
											<option>瀚亞投資-印尼股票基金A <span>(CPEDU)</span></option>
											<option >瀚亞投資-印尼股票基金A <span>(CPEDU)</span></option> 
										</select>
									</div>
								</div>
								<div class="col-sm-3"><a href="#" class="inv2">我要瞭解基金內容</a></div>
								<div class="col-sm-2 r1"><input type="text" class="col-sm-10">%</div>
								<div class="col-sm-1">
									<a class="btn-cancel" onclick="removeInvestmentList(this)">删除</a>
								</div>
							</div>  -->
						</div>

						<div class="check-list2 center1">
							<button class="btn-login invst2btn" id="add-check-list"    onclick="addInvestment()"><i class="fa fa-plus-circle fa-lg"></i> 新增投資標的</button>
						</div>
						<div class="invst2total"> 總百分比 : <span id="showConutPercentage">0</span> %</div>

						<div class="statement1 wht">
							<p class="text-ps">備註：</p>
							<ol class="text-ps" id="parameterValueByProportionFund4">
								<li>若您的投資風險屬性為保守型，您可選擇保守型的基金RR1~RR2。</li>
								<li>若您的投資風險屬性為穩健型，您可選擇保守型及穩健型的基金RR1~RR4。</li>
								<li>若您的投資風險屬性為積極型型，您可選擇保守型、穩健型及積極型型的基金RR1~RR5。</li>
								<li>為確保保險商品符合您的投資能力及風險性，投資風險屬性若有變更，本公司將以您最新的風險屬性作為名下所有保單日後變更的評估依據。</li>
							</ol>
						</div>


					</div>

				</div>
			</div>
			<div class="col-md-12 two-buttons">
				<a href="javascript:void(0);"><button id="deny" class="btn-signup">上一步</i></button></a>
				<a href="javascript:void(0);"><button id="go" class="btn-signup">下一步</i></button></a>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var investmentPortfolioVoList = /*[[${investmentPortfolioVo}]]*/;
		$(function() {
			//獲取條款備注信息
		var parameterValueByProportion = /*[[${parameterValueByProportion}]]*/;
			if (parameterValueByProportion!= undefined && parameterValueByProportion != null && parameterValueByProportion != ''){
			$("#parameterValueByProportionFund4").html(parameterValueByProportion);
			}
			//搜索选项
			initSearchItems();
		initNewInvestments();
		//根據保單號或者保單類型獲取最大小值
		investmentLimitSize();
			//公司选项变更
			$("body").on('change', "[name='companysItem']", function(){
				filterAndRestItems($(this).parent().parent().parent().parent())
			})
			//币别选项变更
			$("body").on('change', "[name='currencysItem']", function(){
				filterAndRestItems($(this).parent().parent().parent().parent())
			})
			//基金选项变更
			$("body").on('change', "[name='invSelect']", function(){
				$(this).parent().parent().parent().find("[name='toUri']").attr("href", [[${uri}]] + $(this).val())
			})
		});
	//獲取當前保單的新投資標的數據	
	var newInvestments
	function initNewInvestments() {
		let ownInvtNos = []
		let  policyNo="";
		if(investmentPortfolioVoList!=null){
			policyNo=investmentPortfolioVoList[0].policyNo
		}
		investmentPortfolioVoList.forEach(element => {
			ownInvtNos.push({invtNo: element.invtNo})
		});
		let data = {policyNo: policyNo, ownInvestments: ownInvtNos}
		$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/fund4NewInvestments}]]*/,
				data : JSON.stringify(data),
				success : function(response) {
					if(response.result == "ERROR") {
						openAlert(response.resultMsg);
					} else {
						newInvestments = response.resultData
					}
				},
				error : function() {
					/* openAlert('系統發生錯誤!'); */
					openAlert($('#E0018').val());
				}
			});
	}
	var investmentInputSize;
	//根據保單號或者保單類型獲取最大小值
	//傳其中一個即可(保單號 ||  保單類型)
	function  investmentLimitSize(){
		let  policyNo="";
		if(investmentPortfolioVoList!=null){
			policyNo=investmentPortfolioVoList[0].policyNo
		}
		let data = {policyNo: policyNo}
		$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : /*[[@{/investmentRatioSizeLimit}]]*/,
				data : JSON.stringify(data),
				success : function(response) {
					if(response.result == "ERROR") {
						openAlert(response.resultMsg);
					} else {
						investmentInputSize = response.resultData
					}
				},
				error : function() {
					/* openAlert('系統發生錯誤!'); */
					openAlert($('#E0018').val());
				}
			});
	}
	//獲取公司與幣別數據信息
	var companysItems = []
	var currencysItems = []
	function initSearchItems() {
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : /*[[@{/getInvestmentConversionSearchItem}]]*/,
			data : JSON.stringify({policyNo: investmentPortfolioVoList[0].policyNo}),
			success : function(response) {
				if(response.result == "ERROR") {
					openAlert(response.resultMsg);
				} else {
					companysItems = response.resultData.companys
					currencysItems = response.resultData.currencys
				}
			},
			error : function() {
				openAlert($('#E0018').val());
			}
		});
	}
	//將新投資標的數據進行顯示
	function addInvestment(){
			//根据保单号，持有基金查询可转入基金
			var item = '<div class="check-list2 newfund" id="investment_template">'
              +'<div style="width: 100%;display: inline-block;">'
                              +'<div class="col-sm-2">'
                           +' <div class="selector-box">'
                            +'  <select name="companysItem" class="selector">'
								$(companysItems).each(function(index, e){
								if (e != null) {
									item += '<option value="' + e.VALUE +  '"> ' + e.KEY + '</option>'
								}
								})
							item = item +' </select>'
                            +'</div>'
                         +' </div>'
                         +' <div class="col-sm-2">'
                          +'  <div class="selector-box">'
                          +'    <select  name="currencysItem" class="selector">'
								$(currencysItems).each(function(index, e){
								 if (e != null) {
									item += '<option value="' + e.VALUE +  '"> ' + e.KEY + '</option>'
								 }
						 		})
							 item = item + '    </select>'
                          +'  </div>'
                         +' </div>'
                          +'</div>'
                         +'<div class="col-sm-6">'
                         +'   <div class="selector-box">'
                         +'     <select class="selector" name="invSelect">'
						$(newInvestments).each(function(index, e){
							if (e != null) {
								item += '<option invtName="' + e.invtName + '" value="' + e.invtNo +  '"> ' + e.invtName +' <span>(' + e.invtNo + ')</span></option>'
							}
						})
						item = item +'</select>'
                         +'  </div>'
                         +' </div>'
                         +'       <div class="col-sm-3"><a target="_blank" name="toUri" href="#" class="inv2">我要瞭解基金內容</a></div>'

                         +'       <div class="col-sm-2"><input type="text" onblur="showNumberPercentage(this)"  name="ratio" max="'+investmentInputSize.ratioMaxSize+'" min="'+investmentInputSize.ratioMinSize+'" class="col-sm-10" value="0">%</div>'
                         
						 +'       <div class="col-sm-1">'
						 +'       	<a class="btn-cancel" onclick="removeInvestmentList(this)">删除</a>'
						 +'       </div>'
                         +'       <div class="clearfix"></div>'
                         +' </div> '
    		$('#fundContent').append(filterAndRestItems($(item)));
    	}
	
		function filterAndRestItems(vm) {
			arr = $(newInvestments).filter(function(index, e) {
				return e.company == $(vm).find("[name='companysItem'] option:selected").val()
			}).filter(
				function(index, e) {
					return e.invtExchCurr == $(vm).find("[name='currencysItem'] option:selected").val()
				}
			)
			let html = ''
			var isFirst = true
			$(arr).each(function(index, e){
				if (isFirst) {
					$(vm).find("[name='toUri']").attr("href", [[${uri}]] + e.invtNo)
					isFirst = false
				}
				html += '<option invtName="' + e.invtName + '" value="' + e.invtNo +  '"> ' + e.invtName +' <span>(' + e.invtNo + ')</span></option>'
			})
			$(vm).find("[name='invSelect']").html(html)
			return $(vm)
		}
		//刪除新投資標的欄目
    	function removeInvestmentList(obj){
    		$(obj).parent().parent('.newfund').remove();
			let  va=	$(obj).parent().parent('.newfund').find("input[name='ratio']").val();
			console.log('-----va---------',va);
			let  j=	$("#showConutPercentage").text();
			let  i=parseInt(j)-parseInt(va);
		   $("#showConutPercentage").text(i);
    	}
		//計算百分比
		function showNumberPercentage(obj){
			console.log('-----Output---------',obj);
			//var  showOutputDate=0;
			var  showObj=   $(obj).val();
				console.log('-----showObj---------',showObj);
					if(showObj<investmentInputSize.ratioMinSize){
						let minMessage="新投資標的轉入百分比不能小於"+investmentInputSize.ratioMinSize+"%";
						openAlert(minMessage);
						$(obj).val(investmentInputSize.ratioMinSize);
					} else  if(showObj>investmentInputSize.ratioMaxSize){
						let maxMessage="新投資標的轉入百分比不能大於"+investmentInputSize.ratioMaxSize+"%";
						openAlert(maxMessage);
						$(obj).val(investmentInputSize.ratioMaxSize);
					}
				//進行循環獲取其他的input的百分比		
					//var numArr = new Array();
					let  i=0;
				$("input[name='ratio']").each(function(){
          			 // numArr.push($(this).val());//添加至数组
					i+=parseInt($(this).val());
					if(i>100){
						openAlert("當前保單新投資標總百分比不能大於100%,還請調整其他基金百分比.");
					}				
       			 });
				if(i>100){
					openAlert("當前保單新投資標總百分比不能大於100%,還請調整其他基金百分比.");
					i=100;
					return  false;
				}		
				//設置百分比
			$("#showConutPercentage").text(i);
			};	
    //進行驗證提交時所有的百分比不能超過100
		function  inputValidation(){
			 let  j=0;
			$("input[name='ratio']").each(function(){
					j+=parseInt($(this).val());			
       			 });
			 if( j>100 || j<100 ){
				return false;
			  }		
			return  true;		
		}	
	//進行計算每個百分比不能輸入為0	
		function  inputValidationMin(obj){
			var boo = true;
			 for(var i=0; i<obj.length; i++){
				console.log("111111111",obj[i].ratio);
					if(obj[i].ratio<1){
						boo = false;
						 break;
					}
			 }
			 return  boo;	
		}
	//驗證基金部不能重複
	function  fundValidation(obj){
		var boo = true;
			for(var i=0; i<obj.length; i++)
			{
				for(var j=i+1; j<obj.length;j++)
				{
					if(obj[i].invtNo==obj[j].invtNo){
						 boo = false;
						 break;
					}
				}
			}
			return  boo;		
		}	
	//提交点击下一步
		$("#go").click(function(){
			 	if(!inputValidation()){
					openAlert("當前保單新投資標總百分比之和不是100%,還請調整其他基金百分比.");
					return false;
				 }	
				var formData = {};
				var numArr = new Array();
				var numInvestment = [];
				$("#fundContent").children().each(function(index, e) {
					let sel = $(e).find("[name='invSelect'] option:selected")
					numInvestment.push({"invtName": sel.attr("invtName"), "invtNo": sel.val(), "ratio": $(e).find("input[name='ratio']").val(), "policyNo": investmentPortfolioVoList[0].policyNo});
				})	
				if(!fundValidation(numInvestment)){
					openAlert("當前保單新投資標不能重複選擇,還請重新選擇");
					return false;
				}
				//console.log("111111111",!inputValidationMin(numInvestment));
				 if(!inputValidationMin(numInvestment)){
					openAlert("當前保單新投資標中有百分比之為0%,還請基金百分比.");
					return false;
				 }
				//console.log('-----newObj---------',numInvestment);
				formData.numInvestment = JSON.stringify(numInvestment);
				formData.investmentsList = JSON.stringify(investmentPortfolioVoList);
				postWithFormData(/*[[@{/fund5}]]*/, formData);
		});
		//回退上上一步
		$("#deny").click(function(){	
				var formData = {};
				formData.policyNo=investmentPortfolioVoList[0].policyNo;
				postWithFormData(/*[[@{/fund3}]]*/, formData);
		});
	/*]]>*/
	</script>
</body>

</html>