<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>更改基本資料｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更基本資料</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更基本資料
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-6">
						1<span class="hid1">. 變更資料</span>
					</li>
					<li class="step3 active col-xs-6">
						2<span class="hid1">. 確認資料</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認資料</h2>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2"> 姓名： </div>
					<div class="col-sm-8">
						<th:block th:if="${loginUserType eq 'member'}">
							<th:block th:if="${session.USER_DETAIL == null}">
								<th:block th:text="${session.LOGIN_USER_ID}"/>
							</th:block>
							<th:block th:if="${session.USER_DETAIL != null}">
							    <th:block th:switch="${session.USER_DETAIL.userNameBase64 == ''}">
								    <th:block th:case="false">
									    <img th:width="${session.USER_DETAIL.userNameBase64 != null} ? ${#strings.length(session.USER_DETAIL.userNameBase64) * 20}" height="23px" th:src="|data:image/svg+xml;base64, ${session.USER_DETAIL.userNameBase64}|" />
								    </th:block>
									<th:block th:case="true">
									    <th:block th:text="${session.USER_DETAIL.userName}"/>
									</th:block>
							    </th:block>
							</th:block>
						</th:block>
						
						<th:block th:if="${loginUserType eq 'admin'}">
							<span>內部人員帳號</span>
						</th:block>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">手機號碼：</label>
					</div>
					<div class="col-sm-8" th:classappend="${#strings.equals(transCustInfoVo.mobile,transCustInfoVo.mobileOld)} ? '' : 'orange'">
						<th:block th:text="${transCustInfoVo != null} ? ${transCustInfoVo.mobile}"/>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-2 col-sm-offset-2">
						<label for="" clasee="col-sm-2">電子信箱：</label>
					</div>
					<div class="col-sm-8" th:classappend="${#strings.equals(transCustInfoVo.email,transCustInfoVo.emailOld)} ? '' : 'orange'">
						<th:block th:text="${transCustInfoVo != null} ? ${transCustInfoVo.email}"/>
						<i class="foo-ok-circle foo-lg"></i>
					</div>
				</div>
				<div class="change1">
					<div class="col-sm-4 col-sm-offset-2" style="left:-16px">
						<label>線上申請進度通知方式：</label>
					</div>
					<th:block th:if="${transCustInfoVo != null}">
						<th:block th:if="${transCustInfoVo.smsFlag == '1'}">
							<div class="col-sm-2" th:classappend="${#strings.equals(transCustInfoVo.smsFlag,transCustInfoVo.smsFlagOld)} ? '' : 'orange'">
								手機簡訊
							</div>
						</th:block>
						<th:block th:if="${transCustInfoVo.mailFlag == '1'}">
							<div class="col-sm-2" th:classappend="${#strings.equals(transCustInfoVo.mailFlag,transCustInfoVo.mailFlagOld)} ? '' : 'orange'">
								電子郵件
							</div>
						</th:block>
					</th:block>
				</div>
				<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_NA102'] != null} 
					? ${session.PAGE_WORDING['WORDING_NA102'].parameterValue}"/>
				<div class="col-md-8 col-md-offset-2 two-buttons">
				    <a href="changeInfo1">
						<button id="deny" class="btn-signup">上一步</button>
				    </a>
					<button id="go" class="btn-signup">確認送出</button>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script src="js/eservice/form.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transCustInfoVo}]]*/;
		$(function() {
			$('#go').click(function() {
				postWithFormData(/*[[@{/changeInfoSuccess}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>