<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>變更年金給付方式｜臺銀人壽保單網路服務</title>
	<link th:href="@{/css/tmp-radio.css}" rel="stylesheet"/>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner has-special-note fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">變更年金給付方式</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 變更年金給付方式
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-4">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 active col-xs-4">
						2<span class="hid1">. 選擇年金給付方式</span>
					</li>
					<li class="step3 col-xs-4">
						3<span class="hid1">. 確認資料並輸入密碼</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請選擇年金給付方式</h2>
				<div class="loan1">
					<label for="checkBox12" class="col-sm-10 col-sm-offset-2 enNormal">保單號碼：
						<span id="policyNo" class="colorBlack">
							<th:block th:if="${transAnnuityMethodVo != null}">
								<th:block th:each="policyNo : ${transAnnuityMethodVo.policyNoList}">
									<th:block th:text="${policyNo}"/>
								</th:block>
							</th:block>
						</span>
					</label>
					<div class="check-list col-sm-8 col-sm-offset-2 grey2">
						<div class="col-sm-11 col-sm-offset-1 mode2select marginTop20">
							<label for="" class="col-sm-3 col-sm-offset-1 text-right">年金給付方式：</label>
							<label for="" class="col-sm-5 pll pmd" th:with="oldKey=(${transAnnuityMethodVo.annuityMethodOld})">
								<th:block th:id="method" th:each="key : ${session.SYSTEM_PARAMETER['ANNUITY_METHOD_TYPE'].keySet()}">
									<th:block th:switch="${optionList}">
									   <th:block th:case="null">
									       <!-- null 不控制，全部顯示 -->
									       <input type="radio" name="radio-btn" th:value="${key}"
	                                            th:attr="disabled=${#strings.equals(oldKey,key) ? 'disabled' : 'false'}"/> 
	                                        <th:block th:text="${session.SYSTEM_PARAMETER['ANNUITY_METHOD_TYPE'].get(key).parameterValue}"/>
	                                        <br/>
									   </th:block>
									   <th:block th:case="*">
									       <!-- 不是 null, 一定要檢查 -->
									       <th:block th:if="${#lists.contains(optionList, key)}">
                                                <input type="radio" name="radio-btn" th:value="${key}"
		                                            th:attr="disabled=${#strings.equals(oldKey,key) ? 'disabled' : 'false'}"/> 
		                                        <th:block th:text="${session.SYSTEM_PARAMETER['ANNUITY_METHOD_TYPE'].get(key).parameterValue}"/>
		                                        <br/>
									       </th:block>
									   </th:block>
									</th:block>
								</th:block>
							</label>
						</div>
						
						<!-- 保證期間 start -->
						<div class="col-sm-11 col-sm-offset-1 mode2select marginTop20">
							<label for="" class="col-sm-3 col-sm-offset-1 text-right" th:if="${listPeriod!=null and !listPeriod.empty}">年金保證期間(年)：</label>
							<label for="" class="col-sm-5 pll pmd">
								<th:block th:id="period" th:each="strPeriod : ${listPeriod}">
									<input type="radio" th:id="|Period_${strPeriod}|" name="radio-btn-period" th:value="${strPeriod}" th:text="${strPeriod}"/>
	                                <br/>
								</th:block>
							</label>
						</div>
						<!-- 保證期間 end -->
					</div>
					<div class="clearfix"></div>
					<th:block th:utext="${session.PAGE_WORDING != null and session.PAGE_WORDING['WORDING_00202'] != null} 
						? ${session.PAGE_WORDING['WORDING_00202'].parameterValue}"/>
					<!-- div class="statement1 wht col-sm-8 col-sm-offset-2">
						<p class="text-ps">備註：</p>
						<ol class="text-ps">
							<li>※投資型保單於變更年金給付方式時，須同時設定每期保費金額</li>
							<li>※每期保費可設定之金額範圍會隨商品類型、被保險人年紀及附加之附約而有所差異</li>
						</ol>
					</div -->
				</div>
				<div class="col-md-12 two-buttons">
					<a href="annuityPayMethod1">
						<button id="deny" class="btn-signup">上一步</button>
					</a>
					<th:block th:if="${loginUserType eq 'member'}">
						<button id="go" class="btn-signup">下一步</button>
					</th:block>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var formData = /*[[${transAnnuityMethodVo}]]*/;
		$(function() {
			// 下一步事件
			 $('input[name="radio-btn"]').change(function()
			 {
				  var ameth = 	$('input[name="radio-btn"]:checked').val() ;   	
				  $('input[name="radio-btn-period"]').prop('checked', false);//清除radio-btn-period
				  if (ameth == "T") {							 
					  		$('input[name="radio-btn-period"]').prop("disabled", true);	
						 }
				  else
				  {
						 $('input[name="radio-btn-period"]').prop("disabled", false);	
						
					 }
	
 				 
 			});
			$('#go').click(function() {
				var annuityMethod = $('input[name="radio-btn"]:checked').val();
				if (annuityMethod == null) {
					/* openAlert("請選擇一種年金給付方式"); */
					openAlert($('#E0039').val());
					return false;
				}
				
				if (formData.annuityMethodOld == annuityMethod) {
					/* openAlert("已是當前年金給付方式!"); */
					openAlert($('#E0040').val());
					return false;
				}

				var period = $('input[name="radio-btn-period"]:checked').val();
				if (annuityMethod=='T'){
					var period = $('input[name="radio-btn-period"]:checked').val();
					/*一次給付不可選擇保證期間*/
					if ( period==undefined ){
						//do nothing.
					}else{
						$('input[name="radio-btn-period"]').prop('checked', false);//清除radio-btn-period
						alert('一次給付不可選擇保證期間!!');
						return false;
					}
				}else{
					/** UP,UQ,UR僅開放一次給付及年給付 **/
					/** 非一次給付,且畫面有保證期間選項,則保證期間為必選 **/
				
					//alert('annuityMethod is not T now.');
					//alert('radio-btn-period='+$('input[name="radio-btn-period"]').length);
					//alert('period.checked.val:'+period);

					if( $('input[name="radio-btn-period"]').length==0 ){
						formData.guaranteePeriod = '';
					}else{
						if ( period==undefined ){
							alert('非一次給付,保證期間為必選!!');
							return false;
						}
						formData.guaranteePeriod = period;
					}

				}

				formData.annuityMethod = annuityMethod;
				postWithFormData(/*[[@{/annuityPayMethod3}]]*/, formData);
			});
		});
	/*]]>*/
	</script>
</body>

</html>