<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.policy.dao.AgentDao">

	<resultMap id="AgentMap" type="com.twfhclife.eservice.policy.model.AgentVo" >
		<result column="AGENT_CODE" property="agentCode"/>
		<result column="ABBR_NAME" property="abbrName"/>
		<result column="REC_CODE" property="recCode"/>
		<result column="AGIN_SEQ" property="aginSeq"/>
		<result column="TEL_1" property="tel1"/>
		<result column="TEL_2" property="tel2"/>
		<result column="INVE_AREA" property="inveArea"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		AGENT_CODE
		,ESERVICE.DBO.FN_DEBASE64(ABBR_NAME) ABBR_NAME
		,REC_CODE
		,AGIN_SEQ
		,ESERVICE.DBO.FN_GETHIDDENCODE(1, ESERVICE.DBO.FN_DEBASE64(TEL_1), '*', 4, 3) AS TEL_1
		,ESERVICE.DBO.FN_DEBASE64(TEL_2) TEL_2
		,ESERVICE.DBO.FN_GETHIDDENCODE(2, ESERVICE.DBO.FN_DEBASE64(INVE_AREA), '○', 8, null) AS INVE_AREA
	</sql>
	
	<sql id="whereClause">
		<where>
			<if test="agentVo.agentCode != null and agentVo.agentCode != ''"> AND UPPER(AGENT_CODE) = UPPER(#{agentVo.agentCode}) </if>
			<if test="agentVo.abbrName != null and agentVo.abbrName != ''"> AND ESERVICE.DBO.FN_DEBASE64(ABBR_NAME) = #{agentVo.abbrName} </if>
			<if test="agentVo.recCode != null and agentVo.recCode != ''"> AND REC_CODE = #{agentVo.recCode} </if>
			<if test="agentVo.aginSeq != null"> AND AGIN_SEQ = #{agentVo.aginSeq} </if>
			<if test="agentVo.tel1 != null and agentVo.tel1 != ''"> AND TEL_1 = #{agentVo.tel1} </if>
			<if test="agentVo.tel2 != null and agentVo.tel2 != ''"> AND TEL_2 = #{agentVo.tel2} </if>
			<if test="agentVo.inveArea != null and agentVo.inveArea != ''"> AND INVE_AREA = #{agentVo.inveArea} </if>
		</where>
	</sql>
	
	<!-- 取得招攬人查詢結果 -->
	<select id="getAgentList" resultMap="AgentMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.AGENT
		<include refid="whereClause" />
	</select>
	
	<!-- 取得招攬人查詢結果 -->
	<select id="getAgent" resultMap="AgentMap">
		SELECT TOP 1 
			<include refid="Base_Column_List" />
		FROM
			ESERVICE.DBO.AGENT
		WHERE
			UPPER(AGENT_CODE) = UPPER(#{agentCode})
	</select>
	
	<!-- 取得合作對象 -->
	<select id="getAgentOptionList" resultMap="AgentMap">
		SELECT 
			DISTINCT AGENT_CODE
			,ESERVICE.DBO.FN_DEBASE64(ABBR_NAME) ABBR_NAME 
		FROM 
			ESERVICE.DBO.AGENT
		<where>
			<if test="agentCode != null and agentCode != ''"> 
				AND UPPER(AGENT_CODE) = UPPER(#{agentCode})
			</if>
		</where>
		ORDER BY 
			AGENT_CODE
	</select>

</mapper>