<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
	<title>保單理賠醫起通｜臺銀人壽保單網路服務</title>
</head>

<body>
	<div th:replace="fragments/header :: top"></div>
	<header th:replace="fragments/header :: header"></header>
	<th:block th:if="${showUserDataInfo}">
		<div th:replace="fragments/header :: alert_mobile"></div>
		<div th:replace="fragments/header :: alert_container"></div>
		<div th:replace="fragments/header :: compensation_processing"></div>
		<div th:replace="fragments/header :: compensation_incomplete"></div>
		<div th:replace="fragments/header :: application_processing"></div>
		<div th:replace="fragments/header :: application_complete"></div>
		<div th:replace="fragments/header :: compensation_complete"></div>
		<div th:replace="fragments/header :: payment_notification"></div>
		<div th:replace="fragments/header :: payonline_template"></div>
	</th:block>
	<!--major 3 tabs-->
	<div th:replace="fragments/header :: majorTabs (funId='apply1')"></div>
	<section class="grey applyInner fullContent">
		<div class="container bg3">
			<ul class="breadcrumb detail1">
				<li>
					<a href="apply1">線上申請</a> <i class="fa fa-angle-right fa-lg ble"></i>
				</li>
				<li class="active">
					<a href="javascript:;">保單理賠醫起通</a>
				</li>
			</ul>
		</div>
		<div class="container bg3 box-border">
			<div class="tb3 top0 nopd">
				<i class="fas fa-edit"></i> 保單理賠醫起通
			</div>
			<div class="">
				<ul class="step">
					<li class="step1 col-xs-3">
						1<span class="hid1">. 選擇保單</span>
					</li>
					<li class="step2 col-xs-3">
						2<span class="hid1">. 接受條款</span>
					</li>
					<li class="step3 col-xs-3">
						3<span class="hid1">. 填寫申請資料</span>
					</li>
					<li class="step4 active col-xs-3">
						4<span class="hid1">. 資料及一次性密碼確認</span>
					</li>
				</ul>
			</div>
			<div class="mystyle3">
				<h2>請確認以下申請資料</h2>
				<div class="loan1">
					<div class="col-sm-8 col-sm-offset-2 ptop30 greyBox">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-4">申請項目：</label>
								<div class="col-sm-8">
									<th:block th:each="from : ${#strings.arraySplit(claimVo.applyItem, ',')}">
										<th:block th:each="vo : ${session.APPLICATION_ITEMS}">
											<th:block th:if="${from eq vo.value.parameterValue}"> 
												<label th:inline="text">[[${ vo.value.parameterName}]]</label>
											</th:block>
										</th:block>
									</th:block>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">保單號碼：</label>
								<div class="col-sm-8">
									<th:block th:text="${claimVo.policyNo}"/>
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="tb3 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 事故者資料
							</div>
							<div class="mobile-toggle-panel">
								<div class="form-group">
									<label class="col-sm-4">事故人：</label>
									<div class="col-sm-8">會員本人</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">被保險人姓名：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.name}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">身份證字號：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.idNo}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">出生年月日：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.birdate}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">聯絡電話：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.tel}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">行動電話：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.phone}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">E-MAIL：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.mail}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4">聯絡地址：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.address}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">與主被保險人(員工關係)：</label>
									<div class="col-sm-8 col-sm-offset-4">
										<th:block th:if="${session.RELATION_ITEMS != null}">
											<th:block th:each="vo : ${session.RELATION_ITEMS}">
												<th:block th:if="${claimVo.relation eq vo.value.parameterValue}">
													<th:block th:inline="text">[[${vo.value.parameterName}]]</th:block>
												</th:block>
											</th:block>
										</th:block>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">被保險人是否投保別家保險公司之保險：</label>
									<div class="col-sm-8 col-sm-offset-4">
										<th:block th:if="${claimVo.otherCompanyInsured eq 'Y'}">有</th:block>
										<th:block th:if="${claimVo.otherCompanyInsured eq 'N'}">沒有</th:block>
									</div>
								</div>
									<div class="form-group">
										<label class="col-sm-4">保險公司名稱：</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.otherInsuCompany}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">保險種類：</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.otherInsuType}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">保險金額：</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.otherInsuAmout}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">同時申請理賠：</label>
										<div class="col-sm-8">
											<th:block th:if="${claimVo.otherInsuClaim eq 'Y'}">是</th:block>
											<th:block th:if="${claimVo.otherInsuClaim eq 'N'}">否</th:block>
										</div>
									</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="tb3 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 保險事故
							</div>
							<div class="mobile-toggle-panel">
								<div class="form-group">
									<label class="col-sm-4">事故種類：</label>
									<div class="col-sm-8">
										<th:block th:if="${session.APPLICATION_ITEMS != null}">
											<th:block th:each="vo : ${session.APPLICATION_ITEMS}">
												<th:block th:if="${claimVo.accidentCause eq vo.value.parameterValue}">
													<th:block th:inline="text">[[${vo.value.parameterName}]]</th:block>
												</th:block>
											</th:block>
										</th:block>
									</div>
								</div>
								<th:block th:if="${claimVo.accidentCause eq '1'}">
									<div class="form-group">
										<label class="col-sm-4">診斷病名: </label>
										<div class="col-sm-8"><th:block th:text="${claimVo.diseaseName}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">該疾病初診日:</label>
										<div class="col-sm-8">
											<th:block th:text="${claimVo.accidentDate}"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">曾就診之醫院:</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.hospital}"/></div>
									</div>
								</th:block>
								<th:block th:if="${claimVo.accidentCause eq '2'}">
									<div class="form-group">
										<label class="col-sm-4">事故當時職業：</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.job}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">發生時間：</label>
										<div class="col-sm-8">
											<th:block th:text="${claimVo.accidentDate}"/>
											<th:block th:text="${claimVo.accidentTime}"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">事故地點：</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.accidentLocation}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">事故原因及送醫經過詳情:<br/> (請述明就診醫院名稱)</label>
										<div class="col-sm-8"><th:block th:text="${claimVo.accidentDescr}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4">是否報警：</label>
										<div class="col-sm-8">
											<th:block th:if="${claimVo.callPolice eq 'Y'}">是</th:block>
											<th:block th:if="${claimVo.callPolice eq 'N'}">否</th:block>
										</div>
									</div>
									<th:block th:if="${claimVo.callPolice eq 'Y'}">
										<div class="form-group">
											<label class="col-sm-4">事故處理單位：</label>
											<div class="col-sm-8"><th:block th:text="${claimVo.policeStation}"/></div>
										</div>
										<div class="form-group">
											<label class="col-sm-4">承辦警員：</label>
											<div class="col-sm-8"><th:block th:text="${claimVo.policeName}"/></div>
										</div>
										<div class="form-group">
											<label class="col-sm-4">警方電話：</label>
											<div class="col-sm-8"><th:block th:text="${claimVo.policePhone}"/></div>
										</div>
										<div class="form-group">
											<label class="col-sm-4">報案日期：</label>
											<div class="col-sm-8">
												<th:block th:text="${claimVo.policeDate}"/>
												<th:block th:text="${claimVo.policeTime}"/>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="tb3 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 壽險公會理賠聯盟鏈授權專區
							</div>
							<div class="mobile-toggle-panel">
								<div class="form-group">
									<label class="col-sm-4">理賠醫起通說明：</label>
									<div class="col-sm-8"  th:inline="text">
										[[${session.PAGE_WORDING != null and session.PAGE_WORDING['MEDICAL_TREATMENT_PAGE'] != null} ? ${session.PAGE_WORDING['MEDICAL_TREATMENT_PAGE'].parameterValue} : '
										即日起，使用本公司線上理賠申請服務時，可一併授權本公司將您的理賠申請資料，透過「中華民國人壽保險商業同業公會」建制之「理賠醫起通」服務傳送予您有投保之保險公司（該保險公司須有參與理賠醫起通），免除以往須向不同保險公司分別提出理賠申請之不便。
									']]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12" style="padding-right: 40px;">
										<span style="color: #ff5300; font-size: 16px">*</span>是否傳送其他醫療單位：</label>
									<div class="col-sm-8  col-sm-offset-4">
										<th:block th:if="${claimVo.fromHospitalId eq 'Y'}">同意</th:block>
										<th:block th:if="${claimVo.fromHospitalId eq 'N'}">不同意</th:block>
									</div>
								</div>
								<th:block th:if="${claimVo.fromHospitalId eq 'Y'}">
									<div class="form-group">
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>醫療單位：</label>
										<th:block th:if="${hospitalList != null}">
											<div class="col-sm-8">
												<th:block th:each="vo : ${hospitalList}">
													<th:block th:if="${claimVo.toHospitalId eq vo.hpid}">
														<th:block th:inline="text">[[${vo.hpName}]]</th:block>
													</th:block>
												</th:block>
											</div>
										</th:block>
									</div>
									<div class="form-group">
										<label class="col-sm-4" style="padding-right: 40px;">分院：</label>
										<th:block th:if="${hospitalList != null}">
											<div class="col-sm-8">
												<th:block th:each="vo : ${hospitalList}">
													<th:block th:if="${claimVo.toHospitalId eq vo.hpid}">
														<th:block th:each="vo1 : ${vo.hpBranch}">
															<th:block th:if="${claimVo.toSubHospitalId eq vo1.subHpId}">
																<th:block th:inline="text">[[${vo1.subHpName}]]</th:block>
															</th:block>
														</th:block>
													</th:block>
												</th:block>
											</div>
										</th:block>
									</div>
								</th:block>
								<th:block th:each="vo :${claimVo.medicalInfo}">
									<hr style="border:1px dashed  #F2F1F1"/>
									<div class="form-group">
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>就診類型：</label>
										<div class="col-sm-8" th:text="${vo.otypeName}"></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">&nbsp;</span>主科別：</label>
										<div class="col-sm-8" th:text="${vo.depName}"></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>子科別：</label>
										<div class="col-sm-8" th:text="${vo.subDepName}"></div>
									</div>
									<div class="form-group" >
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>授權文件類型：</label>
										<div class="col-sm-8" >
											<th:block th:each="vo1, state : ${vo.dtypeList}">
												<th:block th:if="${state.index > 0}">
													,
												</th:block>
												<th:block th:text="${vo1.name}"/>
											</th:block>
										</div>
									</div>
									<div class="form-group" >
										<label class="col-sm-4" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>授權時間區間：</label>
										<div class="col-sm-8" th:text="${vo.hsTime + ' ~ ' + vo.heTime}"/>
									</div>
								</th:block>

								<hr style="border:1px dashed  #F2F1F1" />
								<div class="form-group">
									<label class="col-sm-12" style="padding-right: 40px;"><span style="color: #ff5300; font-size: 16px">*</span>是否傳送其他保險公司：</label>
									<div class="col-sm-8 col-sm-offset-4">
										<th:block th:if="${claimVo.sendAlliance eq 'Y'}">同意</th:block>
										<th:block th:if="${claimVo.sendAlliance eq 'N'}">不同意</th:block>
									</div>
								</div>
								<th:block th:if="${claimVo.sendAlliance eq 'Y'}">
									<div class="form-group">
										<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>授權傳送公司：</label>
										<th:block th:if="${hospitalInsuranceCompanyList != null}">
											<div class="col-sm-8">
												<th:block th:each="from : ${claimVo.toItem}">
													<th:block th:each="vo : ${hospitalInsuranceCompanyList}">
														<th:block th:if="${from eq vo.insuranceId}">
															<th:block th:inline="text">[[${vo.insuranceName}]]</th:block>
														</th:block>
													</th:block>
												</th:block>
											</div>
										</th:block>
									</div>
								</th:block>
								<div class="form-group">
									<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>是否進行數位身份驗證及數位簽署：</label>
									<div class="col-sm-8">
										<th:block th:if="${claimVo.signAgree eq 'Y'}">同意</th:block>
										<th:block th:if="${claimVo.signAgree eq 'N'}">不同意</th:block>
									</div>
								</div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="tb3 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 給付方式
							</div>
							<div class="mobile-toggle-panel">
								<div class="form-group">
									<label class="col-sm-4">指定給付方式：</label>
									<div class="col-sm-8">
										<th:block th:if="${session.PAYMENT_METHOD != null}">
												<th:block th:each="vo : ${session.PAYMENT_METHOD}">
													<th:block th:if="${claimVo.paymentMethod eq vo.value.parameterValue}">
														<th:block th:inline="text">[[${vo.value.parameterName}]]</th:block>
													</th:block>
												</th:block>
										</th:block>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>匯款帳戶：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.accountName}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>銀行名稱：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.bankName}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>分行名稱：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.branchName}"/></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4"><span style="color: #ff5300; font-size: 16px">*</span>帳號：</label>
									<div class="col-sm-8"><th:block th:text="${claimVo.bankAccount}"/></div>
								</div>
<!--								<th:block th:if="${claimVo.paymentMethod eq '1'}">-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">匯款帳戶：</label>-->
<!--										<div class="col-sm-8"><th:block th:text="${claimVo.accountName}"/></div>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">銀行名稱：</label>-->
<!--										<div class="col-sm-8" id="bankName"></div>-->
<!--										<th:block th:text="${claimVo.bankName}"/>-->
<!--										<input type="hidden" id="bankCode" th:value="${claimVo.bankCode}">-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">分行名稱：</label>-->
<!--										<div class="col-sm-8" id="branchName"></div>-->
<!--										<th:block th:text="${claimVo.branchName}"/>-->
<!--										<input type="hidden" id="branchCode" th:value="${claimVo.branchCode}">-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">帳號：</label>-->
<!--										<div class="col-sm-8"><th:block th:text="${claimVo.bankAccount}"/></div>-->
<!--									</div>-->
<!--								</th:block>-->
<!--								<th:block th:if="${claimVo.paymentMethod eq '2'}">-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">郵寄區號:</label>-->
<!--										<div class="col-sm-8"><th:block th:text="${claimVo.bankAccount}"/></div>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label class="col-sm-4">郵寄地址:</label>-->
<!--										<div class="col-sm-8"><th:block th:text="${claimVo.postalAddr}"/></div>-->
<!--									</div>-->
<!--								</th:block>-->
							</div>
						</div>
						<div class="form-horizontal">
							<div class="tb3 mobile-toggle" data-toggle="true">
								<i class="fas fa-chevron-up hid2 mobile"></i>
								<i class="fas fa-chevron-up hid1"></i> 上傳申請應備文件
							</div>
							<input type="hidden" id="fileDataList" th:value="${claimVo.fileDataList}">
							<div class="mobile-toggle-panel">
								<div class="mobile-toggle-panel"  id="fileDatas">
									<!-- <div class="form-group">
										<label class="col-sm-4" style="padding-right: 35px;">理賠申請醫療單據調閱授權同意書：</label>
										<div class="col-sm-8">
											<input type="hidden" id="fileDataList" th:value="${claimVo.fileDataList}">
											Drop Zone
											<div class="col-sm-12 upload-drop-zone boardDotted"> 
											<img src="/static/img/agreepdf.png">
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 ptop30">
					<div class="divider divider88"></div>
					<p class="center1 gray">請輸入驗證碼以完成申請</p>
					<th:block th:replace="fragments/sendSMS"/>
					<div class="marginTop25"></div>
					<div class="col-md-12 two-buttons">
							<button type="button" id="deny" class="btn-signup">上一步</button>
							<button type="button" id="go" class="btn-signup">確認送出</button>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<footer th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var formData = /*[[${claimVo}]]*/;
		$(function() {
			var List = JSON.parse($('#fileDataList').val());
			var name ='';
			for(var i=0; i < List.length ; i++){
			 var imgHtml = '<div class="form-group" >'+
						'<label class="col-sm-4" id="'+List[i].type+'"></label>'+
						'<div class="col-sm-8">'+List[i].fileName+
							'<div class="col-sm-12 upload-drop-zone boardDotted">';
			 if(List[i].fileOrPng == null || List[i].fileOrPng == ""){
				imgHtml +='<img src="" width="50">';
			 }else if (List[i].fileOrPng.indexOf('.pdf') === -1 && List[i].fileOrPng.indexOf('.PDF') === -1) {
				imgHtml +='<img src="data:image/png;base64, ' + List[i].fileBase64+'" width="50">';
			 }else {
				imgHtml +='<embed src="data:application/pdf;base64, ' + List[i].fileBase64+'" type="application/pdf" width=50>';
				// var A = document.createElement("a");  
				// A.setAttribute("href","data:application/pdf;base64, " + List[i].fileBase64);
				// A.setAttribute("target","_blank");
				// document.body.appendChild(A);
				// A.click();
			 }
			 imgHtml +='</div></div></div>';
		     $('#fileDatas').append(imgHtml);
			}
			var uploadFiles = /*[[${session.MEDICAL_TREATMENT_UPLOADFILE}]]*/;
			if (uploadFiles != undefined && uploadFiles != null) {
				$.each(uploadFiles,function(key,value){
					$('#'+key).text(value.parameterName + ':');
				})
			}
			
			var newFiles = []
			JSON.parse(formData.fileDataList).forEach(element => {
				if(element.claimSeqId != null){
					newFiles.push(element);
				}
			});
			formData.fileDataList = JSON.stringify(newFiles);
			// 上一步事件
			$('#deny').click(function() {
				postWithFormData(/*[[@{/medicalTreatment3}]]*/, formData);
			});			
			// 確認送出
			$('#go').click(function() {
				if ($('#InputCert1').val() == '') {
					/* openAlert("請輸入驗證碼"); */
					openAlert($('#E0071').val());
					return false;
				}

				formData.authenticationNum = $('#InputCert1').val();
				formData.sendAlliance = null;
				postWithFormData(/*[[@{/medicalTreatmentSuccess}]]*/, formData);
			});
		});
		// $('#deny').click(function() {
        //         window.location.href="/eservice/medicalTreatment3";
		//   });
		//   $('#go').click(function() {
		//         window.location.href="/eservice/medicalTreatmentSuccess";
		//   });
	/*]]>*/
	</script>
</body>

</html>