<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twfhclife.eservice.web.dao.OptionDao">
	
	<select id="getCityList" resultType="hashmap">
		SELECT ID AS "KEY", CITY AS "VALUE" FROM ESERVICE.DBO.CITY ORDER BY ID
	</select>
	
	<select id="getRegionList" resultType="hashmap" parameterType="string">
		SELECT cast(ID as varchar)  AS "KEY", REGION AS "VALUE" FROM ESERVICE.DBO.REGION WHERE CITY_ID = #{cityId} ORDER BY REGION
	</select>
	
	<select id="getRoadList" resultType="hashmap" parameterType="string">
		SELECT cast(ID as varchar)  AS "KEY", ROAD AS "VALUE" FROM ESERVICE.DBO.ROAD WHERE REGION_ID = #{regionId} ORDER BY ROAD
	</select>
	
	<select id="getBankList" resultType="hashmap">
		SELECT 
			BANK_ID AS "KEY", BANK_NAME AS "VALUE" 
		FROM 
			ESERVICE.DBO.BANK_INFO 
		WHERE BRANCH_ID = 'root'
		AND DISPLAY = 'Y'
		ORDER BY BANK_ID 
	</select>
	
	<select id="getBranchesList" resultType="hashmap" parameterType="string">
		SELECT 
			BRANCH_ID AS "KEY", BRANCH_NAME AS "VALUE" 
		FROM 
			ESERVICE.DBO.BANK_INFO 
		WHERE BRANCH_ID != 'root' AND BANK_ID = #{bankId}
		ORDER BY BRANCH_NAME 
	</select>
	
	<select id="getTransactionCodeList" resultType="hashmap" parameterType="string">
		SELECT
			a.PARAMETER_CODE AS "KEY"
			,a.PARAMETER_NAME AS "VALUE"
		FROM ESERVICE_ADM.DBO.PARAMETER a
		JOIN ESERVICE_ADM.DBO.PARAMETER_CATEGORY b ON a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
		WHERE a.SYSTEM_ID = b.SYSTEM_ID
			AND a.STATUS = b.STATUS
			AND b.STATUS = 1
			AND b.SYSTEM_ID = #{systemId}
			AND b.CATEGORY_CODE = #{categoryCode}
		ORDER BY
			a.SORT_NO
	</select>
	
	<select id="getAreaList" resultType="hashmap">
		SELECT DISTINCT NATN_STATE AS "KEY", NATN_STATE AS "VALUE" FROM ESERVICE.DBO.LINATN_ES
		WHERE NATN_STATE IS NOT NULL ORDER BY NATN_STATE
	</select>
	
	<!-- 保戶於輸入畫面上的國籍，其LINATN/natn_sp_mk的第1,2,3,4,5,8,9字元為Y，
	請於畫面產生控管訊息:本次變更要保人之國籍不受理線上變更，請書面至本公司辦理 -->
	<select id="getCountryList" resultType="hashmap" parameterType="string">
		SELECT 
		    CASE
		        WHEN SUBSTRING(NATN_SP_MK, 1, 5) + SUBSTRING(NATN_SP_MK, 8, 2) LIKE '%Y%' THEN 'DENY'
		        ELSE NATN_CODE
		    END AS "KEY", 
		    NATN_CH_ABBR + '(' + NATN_EN_ABBR + ')' AS "VALUE" 
		FROM ESERVICE.DBO.LINATN_ES
		WHERE NATN_STATE = #{areaId} 
		ORDER BY NATN_CODE
	</select>
	
	<select id="getJobList1" resultType="hashmap" parameterType="string">
		<![CDATA[
		SELECT HATB_TJOB_B AS "KEY", HATB_TJOB_NAME AS "VALUE" FROM ESERVICE.DBO.LIHATB_ES 
		WHERE HATB_TJOB_S = '****' 
		ORDER BY HATB_TJOB_B
		]]>
	</select>
	
	<select id="getJobList2" resultType="hashmap" parameterType="string">
		<![CDATA[
		SELECT HATB_TJOB_M AS "KEY", HATB_TJOB_NAME AS "VALUE" FROM ESERVICE.DBO.LIHATB_ES 
		WHERE HATB_TJOB_S = '0000' 
		AND HATB_TJOB_B = #{jobB}
		ORDER BY HATB_TJOB_B
		]]>
	</select>
	
	<select id="getJobList3" resultType="hashmap" parameterType="string">
		<![CDATA[
		SELECT HATB_TJOB_S + ',' + COALESCE(HATB_JOB_CODE, '0') AS "KEY", HATB_JOB_ABBR AS "VALUE" FROM ESERVICE.DBO.LIHATB_ES 
		WHERE HATB_TJOB_B = #{jobB}
		AND HATB_TJOB_M = #{jobM}
		AND HATB_JOB_ABBR IS NOT NULL
		ORDER BY HATB_TJOB_S
		]]>
	</select>

	<select id="getCompanysList" resultType="map">
		SELECT DISTINCT FUND_ISSUER [KEY], FUND_ISSUER_CODE [VALUE] FROM ESERVICE.DBO.FUND f
		WHERE SUBSTRING(#{policyNo}, 0, 3) = f.product_no
		and status = '00' and (getdate() between (case when START_DATE is null then getdate() else START_DATE end) and (case when END_DATE is null then getdate() else END_DATE end))
	</select>

	<select id="getCurrencysList" resultType="map">
		SELECT DISTINCT (
			SELECT
			a.PARAMETER_NAME
			FROM
			ESERVICE_ADM.DBO.PARAMETER a
			,ESERVICE_ADM.DBO.PARAMETER_CATEGORY b
			WHERE
			a.PARAMETER_CATEGORY_ID = b.PARAMETER_CATEGORY_ID
			AND a.SYSTEM_ID = b.SYSTEM_ID
			AND a.STATUS = b.STATUS
			AND b.STATUS = 1
			AND b.SYSTEM_ID = <include refid="ApConstantsMapper.ESERVICE_SYSTEM_ID"/>
			AND b.CATEGORY_CODE = <include refid="ApConstantsMapper.CURRENCY_PARAMETER_CATEGORY_CODE"/>
			AND a.PARAMETER_CODE = f.CURRENCY
		) [KEY], CURRENCY [VALUE] FROM ESERVICE.DBO.FUND f
		WHERE SUBSTRING(#{policyNo}, 0, 3) = f.product_no
		and status = '00' and (getdate() between (case when START_DATE is null then getdate() else START_DATE end) and (case when END_DATE is null then getdate() else END_DATE end))
	</select>
	
</mapper>